# **üåü 1. B√∂l√ºm: Giri≈ü**

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 1.1 Variables (Deƒüi≈üken Atama)**

### **‚ñ∂Ô∏è 1.1.1 Konu Anlatƒ±mƒ±**

> course = "Techpro Education"

> Yukarƒ±daki ifade course bir variable'dƒ±r. Ve e≈üitliƒüin saƒüƒ±ndaki kƒ±sƒ±m ise value'dir.

> Yeni bir deƒüi≈üken yaratƒ±rken dikkat edilmesi gereken bazƒ± hususlar vardƒ±r. Bunlar deƒüi≈üken isminin √∂zel bir ifade ile ba≈ülamamasƒ±; gereƒüinden uzun veya gereƒüinden kƒ±sa olmamasƒ± gibi birtakƒ±m mantƒ±klƒ± ve zaten dikkat edilecek olan ≈üeylerdir.

In [1]:
# A≈üaƒüƒ±da birtakƒ±m ba≈üarƒ±lƒ± deƒüi≈üken atama i≈ülemi g√∂sterilmi≈ütir.

# Uygun olanlar:

course = 'Techpro Education'
age = 2
name = 'Sedat'
name_2 = 'Emre'
pi_number = 3.14

# Uygun olmayanlar:

4_name = "ƒ∞rem"
pi-number = 3.14

SyntaxError: invalid decimal literal (2535384460.py, line 13)

In [ ]:
# Birden fazla deƒüi≈ükeni tek satƒ±rda atayabiliriz. A≈üaƒüƒ±daki uygun √∂rnekler verilmi≈ütir.

# Uygun olanlar:

name_1, name_2 = 'Emre', 'ƒ∞rem'
name, not_ = 'Emre', 'Ho≈ügeldiniz Emre Bey. Size daha iyi hizmet sunabilmemiz i√ßin bize ya≈üƒ±nƒ±zƒ± s√∂yler misiniz l√ºtfen'
sayƒ±_1, sayƒ±_2 = 123, 321
isim, soyisim, ya≈ü, boy = 'Emre', "√áakƒ±r", 27, 1.81 

# uygun olmayanlar

name_9, name_10 = "Emre"

In [ ]:
# Birden fazla deƒüi≈ükeni tek deƒüer ≈üu ≈üekilde atayabiliriz:

# uygun olanlar: 

name = isim = "Emre"
ya≈ü = doƒüum_ya≈üƒ± = 27

# Uygun olmayanlar:

name, isim = "Emre"
ya≈ü = doƒüum_ya≈üƒ± = 27, 27

In [ ]:
# Deƒüi≈üken atarken √ßok gereksiz kƒ±sa olmamalƒ± deƒüi≈ükenler:

# Uygun olanlar:

first_name = 'emre'
last_name = '√ßakƒ±r'

# Uygun olmayanlar:

first_name = 'emre'
l_n = '√ßakƒ±r'

### **‚ñ∂Ô∏è 1.1.2 Exersizler**

> 1) Kullanƒ±cƒ±dan bir dairenin yarƒ±√ßapƒ±nƒ± alarak, dairenin √ßevresini hesaplayan bir Python programƒ± yazƒ±n.

In [ ]:
yaricap = float(input('L√ºtfen bir yarƒ±√ßap giriniz: '))

pi_number = 3.14
dairenin_cevresi = yaricap * 2 * pi_number

print(int(dairenin_cevresi))

131

> 2. Bir kullanƒ±cƒ±nƒ±n ya≈üƒ±nƒ± ve ortalama uyku s√ºresini alarak, kullanƒ±cƒ±nƒ±n ya≈üƒ±nƒ±n uyku s√ºresiyle √ßarpƒ±mƒ±nƒ± hesaplayan bir Python programƒ± yazƒ±n.

In [ ]:
yas = int(input('Ya≈üƒ±nƒ±zƒ± giriniz: '))
uyku_suresi = int(input('"HAFTA KAPANI≈ûLARI"'))

sonuc = yas * uyku_suresi

print(sonuc)

224

> 3. Kullanƒ±cƒ±dan √º√ß farklƒ± sayƒ± alarak, bu sayƒ±larƒ±n ortalamasƒ±nƒ± bulan bir Python programƒ± yazƒ±n.

In [ ]:
sayi_1 = float(input('1. sayƒ±yƒ± giriniz: '))
sayi_2 = float(input('2. sayƒ±yƒ± giriniz: '))
sayi_3 = float(input('3. sayƒ±yƒ± giriniz: '))

ortalama = (sayi_1 + sayi_2 + sayi_3) / 3

print(int(ortalama))

5

> 4. Kullanƒ±cƒ±dan alƒ±nan bir sƒ±caklƒ±k deƒüerini Fahrenheit'ten Celsius'a √ßeviren bir Python programƒ± yazƒ±n.

In [ ]:
fahrenheit = float(input('Sƒ±caklƒ±k deƒüerini Fahrenheit olarak giriniz: ')) 

celcius = (fahrenheit - 32) / 1.8

print(int(celcius))

50

> 5. Kullanƒ±cƒ±dan alƒ±nan iki sayƒ±nƒ±n karesi farkƒ±nƒ± bulan bir Python programƒ± yazƒ±n.

In [ ]:
sayi_1 = float(input('1. Sayƒ±yƒ± giriniz: '))
sayi_2 = float(input('2. Sayƒ±yƒ± giriniz: '))

kare_fark = (sayi_1 ** 2) - (sayi_2 ** 2)

print(kare_fark)

14985.0

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 1.2 Arithmetic Operations**

> bu konuda herhangi bir konu anlatƒ±mƒ± yapma gereƒüi duymadƒ±m

### **‚ñ∂Ô∏è 1.2.1. Exersizler**

> 1) Kullanƒ±cƒ±dan iki sayƒ± alƒ±n ve bu sayƒ±larƒ±n toplamƒ±nƒ±, farkƒ±nƒ±, √ßarpƒ±mƒ±nƒ± ve b√∂l√ºm√ºn√º hesaplayan bir Python programƒ± yazƒ±n.

In [ ]:
sayi_1 = int(input('1. sayƒ±yƒ± giriniz: '))
sayi_2 = int(input('2. sayƒ±yƒ± giriniz: '))

toplam = sayi_1 + sayi_2
fark = sayi_1 - sayi_2
carpim = sayi_1 * sayi_2
bolum = sayi_1 / sayi_2
bolum_kalansƒ±z = sayi_1 // sayi_2

print(toplam)
print(fark)
print(carpim)
print(bolum)
print(bolum_kalansƒ±z)

14
10
24
6.0
6

> 2. Bir √∂ƒürencinin matematik, fen bilgisi, T√ºrk√ße, sosyal bilgiler ve ƒ∞ngilizce derslerinde aldƒ±ƒüƒ± notlarƒ± i√ßeren bir liste olu≈üturun. Bu notlarƒ± kullanarak, √∂ƒürencinin derslerinin toplam notunu ve ortalama notunu hesaplayƒ±n.

In [ ]:
math = int(input('Matematik Sƒ±nav Sonucu: '))
fen = int(input('Fen Sƒ±nav Sonucu: '))
turkce = int(input('Turkce Sƒ±nav Sonucu: '))
sosyal = int(input('Sosyal Sƒ±nav Sonucu: '))
ingilizce = int(input('ƒ∞ngilizce Sƒ±nav Sonucu: '))

toplam = math + fen + turkce + sosyal + ingilizce
ortalama = (math + fen + turkce + sosyal + ingilizce) / 5

print(toplam)
print(ortalama)

400
80.0

> 3. Kullanƒ±cƒ±dan bir dik √º√ßgenin √º√ß kenar uzunluƒüunu alarak, bu √º√ßgenin alanƒ±nƒ± hesaplayan bir Python programƒ± yazƒ±n.

In [ ]:
sayi_1 = int(input('1. kenar uzunluƒüu: '))
sayi_2 = int(input('2. kenar uzunluƒüu: '))
sayi_3 = int(input('3. kenar uzunluƒüu: '))

if sayi_1 > sayi_2 and sayi_1 > sayi_3:
    max_sayi = sayi_1
    asƒ±l_sayi_1 = sayi_2
    asƒ±l_sayi_2 = sayi_3
elif sayi_2 > sayi_1 and sayi_2 > sayi_3:
    max_sayi = sayi_2
    asƒ±l_sayi_1 = sayi_1
    asƒ±l_sayi_2 = sayi_3
elif sayi_3 > sayi_1 and sayi_3 > sayi_2:
    max_sayi = sayi_3
    asƒ±l_sayi_1 = sayi_1
    asƒ±l_sayi_2 = sayi_2
ucgen_alan = (asƒ±l_sayi_1 * asƒ±l_sayi_2) / 2

print(ucgen_alan)

6.0

6.0

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 1.3 Print()**

### **‚ñ∂Ô∏è 1.3.1 Konu Anlatƒ±mƒ±**

> print() en √ßok kullandƒ±ƒüƒ±mƒ±z function. O sebeple sadece kƒ±sa bilgiler yazƒ±p ge√ßeceƒüim

In [ ]:
# en temel haliye:

print("ƒ∞√ßerisinde string, int, dict vs. t√ºm type'larƒ± yazabileceƒüimiz ve √ßƒ±ktƒ±sƒ±nƒ± alabileceƒüimiz bir fonksyondur.")

ƒ∞√ßerisinde string, int, dict vs. t√ºm type'larƒ± yazabileceƒüimiz ve √ßƒ±ktƒ±sƒ±nƒ± alabileceƒüimiz bir fonksyondur.

In [ ]:
# "sep" operator√º:

print("Emre", "Cakir", sep = "-")   # sep deƒüeri default olarak " " ≈üeklindedir. ona istediƒüimiz herhangi bir ≈üeyi atayabiliyoruz.
print("Emre", "Cakir", sep = "***")
print("Emre", "Cakir", sep = "/")
print("Emre", "Cakir", sep = "üí¢")

Emre-Cakir
Emre***Cakir
Emre/Cakir
Emreüí¢Cakir

In [ ]:
# "end" operator√º:

print("Emre", "Cakir", end = "-")           # normalde end = "\" ≈üeklinde olduƒüu i√ßin her print sonrasƒ± bir satƒ±r a≈üaƒüƒ± gidilir. 
print("Emre", "Cakir", end = "***")
print("Emre", "Cakir", end = "/")
print("Emre", "Cakir", end = "üí¢")

Emre Cakir-Emre Cakir***Emre Cakir/Emre Cakirüí¢

### **‚ñ∂Ô∏è 1.3.2 Exersizler**

> 1. Bir kullanƒ±cƒ±nƒ±n adƒ±nƒ± ve soyadƒ±nƒ± alarak, bu bilgileri bir araya getirip ekrana "Merhaba, [ad] [soyad]!" ≈üeklinde yazdƒ±ran bir Python programƒ± yazƒ±n.

In [ ]:
isim = input('ƒ∞sim: ')
soyisim = input('Soyisim: ')

print('Merhaba, ' + isim + ' ' + soyisim + "!" )

Merhaba, Emre √áakƒ±r!

> 2. Bir kullanƒ±cƒ±dan ya≈üƒ±nƒ± alarak, kullanƒ±cƒ±nƒ±n doƒüum tarihini hesaplayƒ±n ve ekrana "Doƒüum tarihiniz [doƒüum tarihi]!" ≈üeklinde yazdƒ±rƒ±n.

In [ ]:
yas = int(input('Ya≈ü: '))
d_tarih = 2024 - yas

print('Doƒüum tarihiniz: ' + str(d_tarih))

Doƒüum tarihiniz: 1996

> 3. Birka√ß kelime i√ßeren bir liste olu≈üturun ve bu kelimeleri alt alta yazdƒ±rƒ±n, her kelimeyi ayrƒ± bir satƒ±rda g√∂sterin.

In [ ]:
kelime_listem = ['at', 'avrat', 'silah']
print(kelime_listem[0], kelime_listem[1], kelime_listem[2], sep='\n')

at
avrat
silah

> 4. Bir kullanƒ±cƒ±dan bir sayƒ± alarak, bu sayƒ±nƒ±n karesini ve k√ºp√ºn√º ekrana yazdƒ±rƒ±n.

In [ ]:
sayi = int(input('Bir sayƒ± giriniz: '))

kare = sayi ** 2
k√ºp = sayi ** 3

print(f"{sayi}'nin karesi ve k√ºp√º sƒ±rasƒ±yla ≈ü√∂yledir -->", kare, "ve", k√ºp)

21'nin karesi ve k√ºp√º sƒ±rasƒ±yla ≈ü√∂yledir --> 441 ve 9261

> 5. Kullanƒ±cƒ±ya bir kelime veya c√ºmle yazmasƒ±nƒ± isteyin ve bu yazƒ±yƒ± ters √ßevirerek ekrana yazdƒ±rƒ±n.

In [ ]:
metin = input('Bir yazƒ± giriniz: ')

metin[-1::-1]

'erme'

> 6. Kullanƒ±cƒ±dan adƒ±nƒ±, soyadƒ±nƒ± ve ya≈üƒ±nƒ± alarak, bu bilgileri virg√ºlle ayrƒ±lmƒ±≈ü ≈üekilde ekrana yazdƒ±ran bir Python programƒ± yazƒ±n.

In [ ]:
isim = input('ƒ∞sim: ')
soyisim = input('Soyisim: ')
yas = input('Ya≈ü: ')

print(isim, soyisim, yas, sep=', ')

emre, √ßakƒ±r, 28

> 7. Birka√ß kelime i√ßeren bir liste olu≈üturun ve bu kelimeleri alt alta yazdƒ±rƒ±n, ancak her kelimenin sonuna bir nokta koyun.

In [ ]:
birinci_kelime = input('kelime gir: ')
ikinci_kelime = input('kelime gir: ')
ucuncu_kelime = input('kelime gir: ')
dorduncu_kelime = input('kelime gir: ')

my_list = [birinci_kelime, ikinci_kelime, ucuncu_kelime, dorduncu_kelime]

print(my_list[0], my_list[1], my_list[2], my_list[3], sep='.\n', end='.')

emre.
√ßakƒ±r.
irem.
√ßukurlu.

> 8. Bir kullanƒ±cƒ±dan alƒ±nan √º√ß sayƒ±yƒ± toplayarak ekrana yazdƒ±rƒ±n. Ancak, her sayƒ±nƒ±n sonuna bir defa "+" i≈üareti koyarak, toplam i≈ülemin sonuna ise "=" i≈üareti koyarak sonlandƒ±rƒ±n.

In [ ]:
birinci_sayi = int(input('1. Sayƒ±yƒ± Giriniz: '))
ikinci_sayi = int(input('2. Sayƒ±yƒ± Giriniz: '))
ucuncu_sayi = int(input('3. Sayƒ±yƒ± Giriniz: '))

toplam = birinci_sayi + ikinci_sayi + ucuncu_sayi

print(birinci_sayi, '+', ikinci_sayi, '+', ucuncu_sayi, '=', toplam )

12 + 23 + 62 = 97

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 1.4 Input()**

> genel olarak bildiƒüimiz bir fonksiyondu

In [ ]:
yas = input("L√ºtfen Yasinizi Girin: ")
yas = int(yas)
dogum_yili = 2024 - yas
print("Dogum yiliniz: ", dogum_yili)

Dogum yiliniz:  2012

In [ ]:
kilo = float(input("Kilo: "))
boy = float(input("Boy: "))
vke = kilo / boy ** 2 
print("V√ºcut kitle endexiniz: ", vke)

V√ºcut kitle endexiniz:  26.59498412879979

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 1.5 Escape Sequences**

### Hatalardan ka√ßƒ±nmaya yarayan bazƒ± y√∂ntemlerdir.
#### 1) Ters Slash : " \ "
##### Geldiƒüi yerin hemen ardƒ±ndan gelen karakterin t√ºm fonksiyonu √∂l√ºr ve **stringe d√∂n√º≈ü√ºr**. 
#### 2) Ters Slash + n : " \n "
##### **enter** tu≈üu g√∂revi g√∂r√ºr.
#### 3) Ters Slash + t : " \t "
##### **tab** tu≈üu g√∂revi g√∂r√ºr.
#### 4) Ters Slash + b : " \b "
##### **Backspace** tu≈üu g√∂revi g√∂r√ºr.
#### 5) r : r" ... "
##### Bir stringin √∂n√ºne "r" harfini eklersek, o string i√ßerisindeki **t√ºm Escape Sequence operat√∂rleri g√∂rmezden** gelinir.

In [ ]:
# print('I'm python theacher.') soldaki problemi a≈üaƒüƒ±daki gibi a≈üabiliriz:

print('I\'m Python teacher')    # artƒ±k kesme i≈üaretinin fonksiyonu √∂l√ºr ve stringe d√∂n√º≈ü√ºr.

# " \n " --> bir tane enter tu≈üuna basmak demektir: (newline'ƒ±n n'si kullanƒ±lmƒ±≈ütƒ±r)

print("Bu ders √ßok uzadi sanki. \nBi an √∂nce bitse mi acaba")

print("Bet√ºl", "Ayse", "Aytac", sep = "\n") 
print("Bet√ºl", "Ayse", "Aytac", sep = "\t") # \t --> bir tane tab tu≈üuna basmak oluyor.


print("Bu ders √ßok uzadi sanki. \bBi an √∂nce bitse mi acaba") # \b --> bir backspace tu≈üuna basmak oluyor.
print("Bet√ºl", "Ayse", "Aytac", sep = "\b") 

print("Bizde geri \nvites olmaz")
print(r"Bizde geri \nvites olmaz") # burada ki "r", string i√ßerisinde bulunan t√ºm escape'leri yok sayar.

I'm Python teacher
Bu ders √ßok uzadi sanki.
Bi an √∂nce bitse mi acaba
Bet√ºl
Ayse
Aytac
Bet√ºl	Ayse	Aytac
Bu ders √ßok uzadi sanki.Bi an √∂nce bitse mi acaba
Bet√ºAysAytac
Bizde geri
vites olmaz
Bizde geri \nvites olmaz

> 1. Kullanƒ±cƒ±dan bir metin girmesini isteyen bir Python programƒ± yazƒ±n. Ardƒ±ndan, bu metni tersten yazdƒ±rƒ±n ve her karakter arasƒ±na bir bo≈üluk ekleyin.

In [ ]:
metin = input('Bir metin girin: ')

my_list = list(metin[-1::-1])
my_list

for karakter in my_list:
    print(karakter, end=' ')

m u r o y i v e s   k o √ß   a m a   k o √ß   i n e s

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 1.6 Comparison Operators**

### **‚ñ∂Ô∏è 1.6.1 Konu Anlatƒ±mƒ±**

> ### Comparison Operators, Python'da bir deƒüer ile ba≈üka bir deƒüeri kar≈üƒ±la≈ütƒ±rƒ±r. Ve bu kar≈üƒ±la≈ütƒ±rmalarƒ±n  sonucu boolean olarak d√∂ner yani True veya False olarak.

>> 1. Operator, B√ºy√ºkt√ºr ‚û°‚û°‚û° >      

>> 2. Operator, K√º√ß√ºkt√ºr ‚û°‚û°‚û° <     

>> 4. Operator, B√ºy√ºk E≈üittir ‚û°‚û°‚û°    >=     

>> 5. Operator, K√º√ß√ºk E≈üittir ‚û°‚û°‚û°    <=   

>> 6. Operator, E≈üittir ‚û°‚û°‚û°  ==    

>> 7. Operator, E≈üit Deƒüildir ‚û°‚û°‚û°    !=

In [ ]:
print(5 > 4)
print(6 > 6)
print(6 < 6)
print(6 >= 6)
print(6 <= 6)
print(8 == 8)
print(8 == 9)
print(8 != 9)

In [ ]:
type(5 < 7)

In [ ]:
sifre = "1234"

kull_girisi = input("Sifrenizi girin")

sifre == kull_girisi

True

In [ ]:
True > 0.6 # Matematiksel kar≈ülƒ±ƒüƒ± --> 1 > 0.6
False > 2

False

### **‚ñ∂Ô∏è 1.6.2 Exersizler**

> 1. Bir kullanƒ±cƒ±dan bir sayƒ± girmesini isteyin ve bu sayƒ±nƒ±n pozitif, negatif veya sƒ±fƒ±r olduƒüunu belirleyen bir Python programƒ± yazƒ±n.

In [ ]:
sayi = int(input('Bir sayƒ± giriniz: '))

if sayi == 0:
    print('Girilen sayƒ± sƒ±fƒ±rdƒ±r.')
elif sayi > 0:
    print('Girilen sayƒ± pozitiftir.')
else:
    print('Girilen sayƒ± negatiftir.')

Girilen sayƒ± negatiftir.

> 2.Kullanƒ±cƒ±ya iki sayƒ± girmesini isteyin ve bu sayƒ±larƒ±n e≈üit olup olmadƒ±ƒüƒ±nƒ± kontrol eden bir Python programƒ± yazƒ±n.

In [ ]:
birinci_sayi = int(input('Birinci sayƒ±yƒ± giriniz..'))
ikinci_sayi = int(input('ƒ∞kinci sayƒ±yƒ± giriniz..'))

if birinci_sayi == ikinci_sayi:
    print('Girilen sayƒ±lar birbirine e≈üittir.')
else:
    print('Girilen sayƒ±lar birbirine e≈üit deƒüildir.')

Girilen sayƒ±lar birbirine e≈üittir.

> 3. Kullanƒ±cƒ±dan iki farklƒ± sayƒ± girmesini isteyin ve bu sayƒ±larƒ±n b√ºy√ºkl√ºk ili≈ükisini kontrol eden bir Python programƒ± yazƒ±n. Program, kullanƒ±cƒ±nƒ±n girdiƒüi sayƒ±larƒ±n b√ºy√ºk, k√º√ß√ºk veya e≈üit olduƒüunu belirtmelidir.

In [ ]:
birinci_sayi = int(input('Birinci sayƒ±yƒ± giriniz. '))
ikinci_sayi = int(input('ƒ∞kinci sayƒ±yƒ± giriniz. '))

if birinci_sayi == ikinci_sayi:
    print('Sayƒ±lar birbirine e≈üittir.')
elif birinci_sayi > ikinci_sayi:
    print('Birinci sayƒ± daha b√ºy√ºkt√ºr.')
else:
    print('ƒ∞kinci sayƒ± daha b√ºy√ºkt√ºr.')

Birinci sayƒ± daha b√ºy√ºkt√ºr.

> 4. Bir kullanƒ±cƒ±ya bir yƒ±l girmesini isteyin ve bu yƒ±lƒ±n artƒ±k yƒ±l olup olmadƒ±ƒüƒ±nƒ± kontrol eden bir Python programƒ± yazƒ±n. Bir yƒ±lƒ±n artƒ±k yƒ±l olduƒüunu belirleyen kuralƒ± kullanarak programƒ±nƒ±zƒ± olu≈üturun.

In [ ]:
yil = int(input('Bir yƒ±l giriniz: '))

if yil % 4000 == 0:
    print('Girilen yƒ±l Artƒ±k bir yƒ±l deƒüildir.')
elif yil % 100 == 0 and yil % 400 == 0:
    print('Girilen yƒ±l Artƒ±k bir yƒ±ldƒ±r.')
elif yil % 4 == 0:
    print('Girilen yƒ±l Artƒ±k bir yƒ±ldƒ±r.')
else:
    print('Girilen yƒ±l Artƒ±k bir yƒ±l deƒüildir.')

Girilen yƒ±l Artƒ±k bir yƒ±ldƒ±r.

> 5. Kullanƒ±cƒ±ya bir kelime girmesini isteyin ve bu kelimenin palindrom (tersinden de okunu≈üu aynƒ± olan) bir kelime olup olmadƒ±ƒüƒ±nƒ± kontrol eden bir Python programƒ± yazƒ±n.

In [ ]:
kelime = input('Bir kelime giriniz: ')

if not kelime.isalpha():
    print('Yanlƒ±≈ü formatta girdi girilmi≈ütir. ')
elif kelime == kelime[-1::-1]:
    print('Girilen kelime palindorm kelimedir.')
else:
    print('Girilen kelime palindrom kelime deƒüildir.')

Yanlƒ±≈ü formatta girdi girilmi≈ütir.

> 6. Kullanƒ±cƒ±ya bir c√ºmle girmesini isteyin ve bu c√ºmlenin i√ßinde belirli bir kelimenin bulunup bulunmadƒ±ƒüƒ±nƒ± kontrol eden bir Python programƒ± yazƒ±n. Kullanƒ±cƒ±dan ayrƒ±ca aranacak kelimeyi de alƒ±n.

In [ ]:
metin = input('Metni girin: ')
kelime = input('Metin i√ßerisinde aratmak istediƒüiniz kelimeyi yazƒ±nƒ±z: ')

if kelime in metin:
    sayƒ±m = metin.count(kelime)
    print(f'Aradƒ±ƒüƒ±nƒ±z "{kelime}" kelimesi, girmi≈ü olduƒüunuz metin i√ßerisinde {sayƒ±m} defa yer almaktadƒ±r.')
else:
    print(f'Aradƒ±ƒüƒ±nƒ±z "{kelime}" kelimesi, girmi≈ü olduƒüunuz metin i√ßerisinde yer almamaktadƒ±r.')

Aradƒ±ƒüƒ±nƒ± "anne" kelimesi, girmi≈ü olduƒüunuz metin i√ßerisinde 3 defa yer almaktadƒ±r.

> 7. Kullanƒ±cƒ±ya bir sayƒ± girmesini isteyin ve bu sayƒ±nƒ±n asal bir sayƒ± olup olmadƒ±ƒüƒ±nƒ± kontrol eden bir Python programƒ± yazƒ±n. Bir sayƒ±nƒ±n asal olup olmadƒ±ƒüƒ±nƒ± belirleyen kuralƒ± kullanarak programƒ±nƒ±zƒ± olu≈üturun.

In [ ]:
sayi = int(input('Bir sayƒ± giriniz: '))
listem  = [2, 3, 4, 5, 7, ]
bos_liste = []
if sayi == 2:
    bos_liste.append(1)
    print('Girilen sayƒ± asal sayƒ±dƒ±r.')
else:
    for i in listem:
        if sayi % i == 0: 
            bos_liste.append(1)

if bos_liste == []:
    print('Girilen sayƒ± bir asal sayƒ±dƒ±r.')

Girilen sayƒ± bir asal sayƒ±dƒ±r.

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 1.7 ASCII**

>> Her bir karakterin sayƒ±sal bir kar≈üƒ±lƒ±ƒüƒ± varƒ±dƒ±r. Bu deƒüerlere ASCII tablosundan bakabiliyoruz. √ñrneƒüin b√ºy√ºk A'nƒ±n sayƒ±sal deƒüeri 65 iken, k√º√ß√ºk a'nƒ±n sayƒ±sal deƒüeri 97'dir. 

>> ƒ∞ki tane string'i birbiriyle kƒ±yaslarken, Python her bir string'in ilk karakterine bakar. ƒ∞ki string arasƒ±nda ilk karakterinin sayƒ±sal deƒüeri daha b√ºy√ºk olan string diƒüer sring'den b√ºy√ºk oluyor. √ñR: "sedat" > "istanbul" ---> True olarak d√∂nd√ºr√ºr. √á√ºnk√º s harfinin sayƒ±sal deƒüeri 115 iken i harfinin sayƒ±sal deƒüeri 105'tir. 

>> Eƒüer her iki string'de aynƒ± karakter ile ba≈ülƒ±yorsa, Python bu iki string'in farklƒ± karakterlerini bulana kadar kƒ±yaslama devam eder. √ñR: "feda" > "fener" --> False olarak d√∂nd√ºr√ºr. √á√ºnk√º d'nin sayƒ±sal deƒüeri n'den daha k√º√ß√ºkt√ºr.

>> Bu i≈ülemler sadece 2 tane string arasƒ±nda olabilir. Mesela bir string ile bir integer arasƒ±nda yapƒ±lamaz.

‚úÖ **ord() fonksiyounun i√ßine bir string ifadesini yazarsan, sana o string ifadenin ASCI kar≈üƒ±lƒ±ƒüƒ±nƒ± verir. √ñR: ord("a") = 97** 

‚úÖ **chr() fonksiyonu ise ord() fonksiyonunun tam tersini yapar: chr(105) = 'i'**

In [ ]:
print("sedat" > "istanbul") # --> print(115>105) aslƒ±nda yapƒ±lan i≈ülem budur.
print(ord("a"))
print(chr(122))

True
97
z

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 1.8 BOOLEAN**

> bool() fonksiyonu i√ßerisine yazƒ±lan ifadenin boolean kar≈üƒ±lƒ±ƒüƒ±nƒ± verir.

> boolean kar≈üƒ±lƒ±ƒüƒ± false olan ifadeler: "", 0, 0.0, [], (), {}, None, False

In [ ]:
print(bool("sedat"))
print(bool(" "))
print(bool(""))
print(bool(0))
print(bool("0"))
print(bool(0.31211))
print(bool(-20))

True
True
False
False
True
True
True

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 1.8 Logic Expressions**

### **‚ñ∂Ô∏è 1.8.1 Konu Anlatƒ±mƒ±**

#### ƒ∞≈ülem √∂nceliƒüine g√∂re:

#### **not** --> i≈ülem sonucu her zaman true veya false'tƒ±r.

>> Bir ifadenin √∂n√ºne geldiƒüi zaman onun tersini yazdƒ±rƒ±r.

#### **and**

>> Hepsi True ise en sondaki elemanƒ± d√∂nd√ºr√ºr. Bir tane bile False varsa, ilk g√∂rd√ºƒü√º False'u d√∂nd√ºr√ºr.

#### **or**

>> Hepsi False ise en sondakini d√∂nd√ºr√ºr, bir tane bile True varsa ilk g√∂rd√ºƒü√º True'yu d√∂nd√ºr√ºr.

üìù**Dƒ∞PNOT1: Boolean kar≈üƒ±lƒ±ƒüƒ± False olan bir ifadeye biz "Falsy" ifade diyoruz, aynƒ± ≈üekilde tam tersi olana da "Truty" ifade diyoruz.**

üìù**Dƒ∞PNOT2: B√ºt√ºn ko≈üullarƒ±n True olmasƒ±nƒ± istiyorsak and kullanƒ±rƒ±z. Ko≈üullardan bir tanesinin bile True olmasƒ± yetiyorsa or kullanƒ±rƒ±z.**

In [ ]:
print(5 > 5)
print(5 >= 5)
print(not False) # --> True yazdƒ±rƒ±r
print(not True) # --> False yazdƒ±rƒ±r
print("")
print(bool("Techpro"))
print(not "Techpro")
print("")
print(bool(0))
print(not 0)
print("")
print(bool(""))
print(not "")

False
True
True
False

True
False

False
True

False
True

In [ ]:
print(bool(5))
print(5 and 8) # 5 ve 8 ifadelerinin booelan kar≈üƒ±lƒ±ƒüƒ± True olduƒüu i√ßin 8 ifadesini d√∂nd√ºrd√º.
print("---1----")
print(bool(0))
print(5 and 0 and 8) # --> Boolean kar≈üƒ±lƒ±ƒüƒ± False olan ilk ifadeyi d√∂nd√ºrd√ºk.
print("---2----")
print(5 and False and 0 and 8)
print("---3----")
print("" and 0 and False)
print("---4----")
print(5 and 7 and True)
print("---5----")
print(0 or False)
print("---6----")
print(0 or 0.0 or "")
print("---7----")
print(0 or 15 or 20 or True)
print(False or 5 and not 0)
print("---8----")
print(3.14 or True)
print(True or 3.14)
print("---9----")
print(False or not 0 and 6 and "kahoot")
print(True or False and not 0 and 3 or False) # Bu √∂rnekte "True or..." dan sonrasƒ±nƒ±n bi √∂nemi yok. √á√ºnk√º or varsa ve True varsa ilk sƒ±rada direkt onu se√ßer zaten.

True
8
---1----
False
0
---2----
False
---3----

---4----
True
---5----
False
---6----

---7----
15
True
---8----
3.14
True
---9----
kahoot
True

### **‚ñ∂Ô∏è 1.8.2 Exersizler**

> 1. Bir kullanƒ±cƒ±dan iki sayƒ± girmesini isteyin. Bu sayƒ±larƒ±n her ikisinin de pozitif sayƒ±lar olup olmadƒ±ƒüƒ±nƒ± kontrol eden ve sonucu True veya False olarak d√∂nd√ºren bir Python programƒ± yazƒ±n.

In [ ]:
birinci_sayi = int(input('Bir sayƒ± giriniz: '))
ikinci_sayi = int(input('Bir sayƒ± daha giriniz: '))

if birinci_sayi > 0 and ikinci_sayi > 0:
    print(True)
else:
    print(False)

True

> 2. Kullanƒ±cƒ±ya bir ya≈ü girmesini isteyin. Bu ya≈üƒ±n 18 ile 65 arasƒ±nda olup olmadƒ±ƒüƒ±nƒ± kontrol eden ve sonucu True veya False olarak d√∂nd√ºren bir Python programƒ± yazƒ±n.

In [ ]:
yas = int(input('Ya≈ü: '))

if yas > 18 and yas < 65:
    print(True)
else:
    print(False)

True

> 3. Kullanƒ±cƒ±dan bir ≈üehir adƒ± girmesini isteyin. Bu ≈üehir adƒ±nƒ±n "Ankara", "ƒ∞stanbul" veya "ƒ∞zmir" olup olmadƒ±ƒüƒ±nƒ± kontrol eden ve sonucu True veya False olarak d√∂nd√ºren bir Python programƒ± yazƒ±n.

In [ ]:
my_list = ['ankara', 'istanbul', 'izmir']
sehir = input('Bir ≈üehir ismi giriniz: ')

if sehir.lower() in my_list:
    print(True)
else:
    print(False)

False

> 4. Bir kullanƒ±cƒ±ya bir karakter girmesini isteyin. Bu karakter bir rakam ise True, rakam deƒüilse False d√∂nd√ºren bir Python programƒ± yazƒ±n.

In [ ]:
karakter = input('Bir karakter giriniz: ')

if karakter.isdigit():
    print(True)
else:
    print(False)

False

# **üåü 2. B√∂l√ºm: Geli≈üme**

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 2.1 Stringler**

    immutable (elemanlarƒ± deƒüi≈ütirelemez)
    iterable (elemanlarƒ±na index yoluyla ula≈üƒ±labilir ve silicing yapƒ±labilir)

### **‚ñ∂Ô∏è 2.1.1 Konu Anlatƒ±mƒ±**

>> üöß immutable --> Deƒüi≈ütirilemez. (Bir string'e yeniden bir atama yapƒ±lana kadar deƒüi≈ütirilemezler.)

>> üöß iterable --> Bir stringin her bir karakterine ayrƒ± ayrƒ± ula≈üƒ±labilir olmasƒ±dƒ±r. Yani itering edilebilir olmasƒ±dƒ±r. (for d√º≈ü√ºn√ºlebilir)

#### **‚ñ∂ 2.1.1.1 Indexing & Slicing**

In [ ]:
# a) Indexleme sƒ±fƒ±rdan ba≈ülar. A≈üaƒüƒ±daki stringin sƒ±fƒ±rncƒ± indexi "T" harfidir. 
# b) Birinci indexi ise "e" harfidir. 
# c) Sondan ba≈ülayacak olursak da -1 ile ba≈ülar. A≈üaƒüƒ±daki string'in -1 inci karakteri "n" harfidir.

name = "Techpro Education" 

print(name[0])      # T
print(name[5])      # r
print(name[16])     # n --> son harf 16. index oluyor
print(name[-1])     # n --> son harf aynƒ± zamanda -1. index oluyor
print(name[-17])    # T

T
r
n
n
T

In [ ]:
# string i√ßerisinde bellli bir b√∂l√ºm√º iki ≈üekilde yapabiliriz yazdƒ±rabiliriz:

print(name)
print(name[4] + name[5] + name[6])   # Burada 'pro' √ßƒ±ktƒ±sƒ±nƒ± alƒ±rƒ±z ama daha kolay kolu bir alt satƒ±rda
print(name[4:7])                     # Bu i≈üleme SLICING deniyor.  
print(name[8:17])                    # Slicing i≈üleminde son karakter dahil edilmez. √ñrneƒüin burasƒ± 8 ile ba≈ülar ama 17 ile bitmez, 16 ile biter.
print(name[8:17:2])                  # Buradaki 2 sayƒ±sƒ± i≈ülem adƒ±mƒ± (step) dƒ±r. 
print(name[0:6:3])                   # 0'dan ba≈ülayƒ±p 6'ya doƒüru 3'er adƒ±m alayarak gidilir.
print(name[:6:3])                    # "start" kƒ±smƒ±na hi√ßbir ≈üey yazmazsak ilk karakteri alƒ±r. Yani sƒ±fƒ±rƒ±nƒ± index.
print(name[::3])                     # "stop" kƒ±smƒ±na hi√ßbir ≈üey yazmazsak son karakteri alƒ±r. 
print("techpro"[::2])                # sƒ±fƒ±rnƒ±cƒ±yƒ± aldƒ±m, ardƒ±ndan bir karakter atlayƒ±p 2.yi aldƒ±m
print("techpro"[::3])                # sƒ±fƒ±rƒ±ncƒ±yƒ± aldƒ±m, ardƒ±ndan iki karakter atlayƒ±p 3.y√º aldƒ±m
print("techprom"[::3])

Techpro Education
pro
pro
Education
Euain
Th
Th
Thodao
tcpo
tho
tho

In [ ]:
# Slicing yaparak dersten de yazdƒ±rabiliriz. 

print("techpro education"[::-1])         
print("techpro education"[::-2])

# Tersten yazdƒ±rƒ±rken dikkat etmemiz gereken ≈üey "start" ile "stop" noktalarƒ±nƒ±n "step" deƒüeri ile mantƒ±k √ßer√ßevesinde olmasƒ±.

print("techpro education"[12:2:-2])    # 12. indexten ba≈ülar, 2. indexe kadar -2≈üer adƒ±m atlayarak ilerler ve 2. index dahil deƒüildir
print("techpro education"[17:3:-3])    # 17. indexten ba≈ülar, 3. indexe kadar -3er adƒ±m atlayarak ilerler ve 3. index dahil deƒüildir

print("techpro"[1:5:-1])            # Burada 1'den 5'e doƒüru -1'er adƒ±m atlayarak ula≈üƒ±lmasƒ± m√ºmk√ºn deƒüildir.
print("techpro"[5:1:-1])            # start = 5, stop = 1, step = -1 --> 5 den ba≈ülayan bir ≈üey 1'e doƒüru eksilerek devam edebilir.
print("techpro"[5:1])               # start = 5, stop = 1, step =1   --> 5'den ba≈ülayan bir ≈üey 1 de doƒüru artarak gidemez. O y√ºzden bo≈ü string d√∂nd√ºr√ºr.
print("D√ºlgeroƒülu"[2:8:-2])         # start = 2, stop = 8, step = -2 --> 2 den baƒü≈ülayƒ±p 8e doƒüru eksilerek gidilemez.
print("D√ºlgeroƒülu"[8:2:-2])         # start = 8, stop = 2, step = -2 --> 8 den ba≈ülayan bir ≈üey 2'ye doƒüru eksilerek devam edebilir.

noitacude orphcet
niaueopct
aueop
ntu p

rphc


loe

In [ ]:
"tehpro"[1:1]           # Bo≈ü string d√∂nd√ºr√ºr.

''

In [ ]:
# Stringlerde "+" i≈ülemi concate ya da concatinate yapar 
# Stringlerde "*" i≈ülemi ile stringi √ßoƒüaltabiliriz tekrarlƒ± ≈üekilde.

print("Techpro" + "Education")  # iki string arasƒ±nda (√ßƒ±karma i≈ülemi yoktur)
print("Techpro" * 3)            # string ile integer arasƒ±nda yapƒ±labilir ancak string ile float arasƒ±nda olmaz 
print("3" * 4)                  # 4 adet "3" yan yana yazƒ±ldƒ± (b√∂lme i≈ülemi yoktur)

#### **‚ñ∂ 2.1.1.2 String Methods**

> string bir ifadeyi yazdƒ±ktan sonra "." koyarsak, ardƒ±ndan yapƒ±labilecek t√ºm **fonksiyonlara** bize method olarak gelir.

In [ ]:
# upper() ve lower()

print("techpro".upper())        # b√ºy√ºk harfe √ßevirir
print("SeDat".upper())
name = "Emre Cakir"
print(name.upper())
print("TECHPRO".lower())        # k√º√ß√ºk harfe √ßevirir 
print("SeDat".lower())
name = "Emre Cakir"
print(name.lower())

# swapcase()                    

name = "Techpro"
name.swapcase()                 # k√º√ß√ºkleri b√ºy√ºk, b√ºy√ºkleri k√º√ß√ºk harfe √ßevirir. 

# capitalize() 

print("techpro".capitalize())            # sadece ilk kelimenin ilk harfi b√ºy√ºk yapar
print("teChpro √ñRNEƒûƒ∞".capitalize())     # ilk kelimeyi b√ºy√ºtt√ºƒü√º gibi geri kalan her ≈üeyi de k√º√ß√ºlt√ºr. 
print("capitalize bir c√ºmlenin sadece ilk harfini b√ºy√ºk yapar".capitalize())

# title() 

print("emre √ßakƒ±r".title())             # her kelimenin ilk harfini b√ºy√ºk yapar
print("title her c√ºmlenin ilk harfini b√ºy√ºk yapar".title()) 
print("techpro EDUcatiOn".title())      # her kelimenin ilk harfini b√ºy√ºtt√ºƒü√º gibi kelimelerin geri kalanƒ±nƒ± da k√º√ß√ºlt√ºr.

TECHPRO
SEDAT
EMRE CAKIR
techpro
sedat
emre cakir
Techpro
Techpro √∂rneƒüiÃá
Capitalize bir c√ºmlenin sadece ilk harfini b√ºy√ºk yapar
Emre √áakƒ±r
Title Her C√ºmlenin Ilk Harfini B√ºy√ºk Yapar
Techpro Education

### **‚ñ∂Ô∏è 2.1.2 Benim √áalƒ±≈ümalarƒ±m**

#### **‚ñ∂ 2.1.2.1 Methodlar**

##### **1. Method: capitalize()**

> Bu method stringlerin yalnƒ±zca ama yalnƒ±zca ilk karakterini b√ºy√ºk harf yapar.

> ƒ∞lk karakterini b√ºy√ºk harf yaparken geriye kalan t√ºm karakterleri de k√º√ß√ºk harf yapar.

In [ ]:
print('emre √ßakƒ±r eski bir makine m√ºhendisidir '.capitalize())         # sadece ilk harfi b√ºy√ºtt√º.
print('EMRE √áAKIR ESKI BIR MAKINE M√úHENDISIDIR '.capitalize())         # sadece ilk harfi b√ºy√ºt√ºrken, geriye kalan t√ºm harfleri k√º√ß√ºltt√º.
print('eMRe √ßaKIR eSkƒ∞ bir MAKINE m√ºhendisidir '.capitalize())         # sadece ilk harfi b√ºy√ºt√ºrken, geriye kalan t√ºm harfleri k√º√ß√ºltt√º.

Emre √ßakƒ±r eski bir makine m√ºhendisidir
Emre √ßakir eski bir makine m√ºhendisidir
Emre √ßakir eskiÃá bir makine m√ºhendisidir

##### **2. Method: casefold()**

> lower() methoduna √ßok benzer. T√ºrk dili a√ßƒ±sƒ±ndan lower ile hi√ßbir farkƒ± yoktur. Ancak bazƒ± dillerin alfabelerinde '√ü' tarzƒ±nda deƒüi≈üik harfler vardƒ±r. O t√ºr alfabesi olan diller i√ßin uygun bir kullanƒ±mƒ± vardƒ±r.

In [ ]:
print("a√üaan".lower())          # lower() methodu '√ü' harfini tanƒ±yamadƒ±
print("a√üaan".casefold())       # casefold() methodu '√ü' harfini tanƒ±yamadƒ±

a√üaan
assaan

##### **3. Method: center()**

> string'i ortalar. Ve eƒüer parantez i√ßerisinde girdiƒüimiz sayƒ±, string'in uzunluƒüundan fazla ise; fazlalƒ±ƒüƒ±n yarƒ±sƒ±nƒ± stringin saƒüƒ±na ve diƒüer yarƒ±sƒ±nƒ± da soluna bƒ±rakƒ±r. En son string ortalanmƒ±≈ü olur.

> eƒüer √ßift sayƒ± kullanƒ±rsak saƒüa sola e≈üit payla≈ütƒ±rƒ±r. eƒüer tek sayƒ± kullanƒ±rsak sol tarafta bir adet fazlamƒ±≈ü olur.

> center()'in default deƒüerinde space yani bo≈üluk vardƒ±r. Ancak bu bo≈üluƒüu istediƒüimiz her ≈üey ile deƒüi≈ütirebiliyoruz.

> √ñrnek Kullanƒ±m1: 

>> 'emre'.center(12) --> burada 'emre' 4 harflidir. geni≈ülik ise 12'dir. 12 - 4 = 8'dir. O halde 4 bo≈üluk sola 4 bo≈üluk saƒüa eklenir.

> √ñrnek Kullanƒ±m2: 

>> 'emre'.center(12, '-') --> burada 'emre' 4 harflidir. geni≈ülik ise 12'dir. 12 - 4 = 8'dir. Bu √∂rnekte bo≈üluk yerine tire (-) kullanƒ±lmƒ±≈ü. O halde 4 tire sola 4 tire saƒüa eklenir.

> **üö¶UYARIüö¶** Yalnƒ±zca tek bir karakter eklemesi yapƒ±labiliyor, √∂rneƒüin 'e' harfini yazdƒ±rabiliriz ama 'ee' yi yazdƒ±ramayƒ±z saƒüƒ±na ve soluna



> ### **üî• bir string'in len'i eƒüer 5 ise. Bize de sorgulanmaksƒ±zƒ±n en az len'i 10 olan bir string lazƒ±m ise bu metodu kullanabiliriz.üî•**

In [ ]:
print(len('emre cakir'))                    # kullandƒ±ƒüƒ±mƒ±z stringin uzunluƒüu 10 birimdir. O halde biz center(x) ifadesinde x yerine 10'dan b√ºy√ºk sayƒ±lar yazmak zorundayƒ±z.

print('emre cakir'.center(0))               # x (10) > 0 olduƒüu i√ßin herhangi bir etki olamaz.
print('emre cakir'.center(5))               # x (10) > 5 olduƒüu i√ßin herhangi bir etki olamaz.
print('emre cakir'.center(12))              # 12 > x (10) olduƒüu i√ßin, stringi ortalar ve hem saƒüƒ±na hem de soluna 1'er tane bo≈üluk bƒ±rakƒ±r.
print('emre cakir'.center(20))
print('emre cakir'.center(40))
print('emre cakir'.center(80))              # 80 - 10 = 70 olduƒüuna g√∂re, 35 adet sola ve 35 adet saƒüa bo≈üluk bƒ±rakƒ±lƒ±r.
print('emre cakir'.center(160))
print('emre cakir'.center(320))             # 320 - 10 = 310 olduƒüuna g√∂re, 155 adet sola ve 155 adet saƒüa bo≈üluk bƒ±rakƒ±lƒ±r.

10
emre cakir
emre cakir
 emre cakir
     emre cakir
               emre cakir
                                   emre cakir
                                                                           emre cakir
                                                                                                                                                           emre cakir

155

In [ ]:
print('emre cakir'.center(15, '*'))      # 15-10 = 5 olduƒüu i√ßin 3 asteriks sola ve 2 asteriks saƒüa yerle≈ütirilir.
print('emre cakir'.center(26, '/'))      # 26-10 = 16 olduƒüu i√ßin 8 slash sola ve 8 slash saƒüa yerle≈ütirilir.
print('irem'.center(32, '‚ù§'))
print('irem'.center(32, '‚ù§'), 'irem'.center(32, '‚ù§'), 'irem'.center(32, '‚ù§'))

***emre cakir**
////////emre cakir////////
‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§irem‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§
‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§irem‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§ ‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§irem‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§ ‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§irem‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§

>> √ñrnek: Kullanƒ±cƒ±dan isim soyisim iste. Bizim bu isim soyismi database'imize ekleyebilmemiz i√ßin en az 25 karakter olduƒüunu kabul edelim. "result_name" isimli deƒüi≈ükende istenilen ≈üartƒ± saƒülayan bir isim soyisim yazƒ±lƒ± olsun.

In [ ]:
isim_soyisim = input('ƒ∞sim Soyisim: ')
result_name = isim_soyisim.center(25)
print("ƒ∞stenilen isim soyismin karakter sayƒ±sƒ± -->",len(result_name))

ƒ∞stenilen isim soyismin karakter sayƒ±sƒ± --> 25

##### **4. Method: count()**

> count() bir strin i√ßerisinde ne bir karakter veya ba≈üka bir string'in ne kadar olduƒüunu saymamƒ±zƒ± saƒülar. 

> casesensitive'dir. Yani b√ºy√ºk E ile k√º√ß√ºk e ba≈üka ≈üeylerdir farklƒ± sayƒ±lƒ±r.

> ge√ßerli bir sayma yapƒ±lmadƒ±ysa hata vermez.

> string.count(**value, start, end**)

>> **value**: required. A string. sayƒ±lacak olan deƒüer budur. (default deƒüeri 0'dƒ±r)

>> **start**: optional. A integer. saymaya nereden ba≈ülanacaƒüƒ±nƒ± belirler. (default deƒüeri 0'dƒ±r)

>> **end**: optional. A integer. saymaya nereye kadar devam edeceƒüini belirler. (default deƒüeri string sonudur)

In [ ]:
# a≈üaƒüƒ±dakiler gibi tek karakter arayabiliyoruz:

print('Emre √áakƒ±r'.count("e"))
print('Emre √áakƒ±r'.count("E"))
print('emre √áakƒ±r'.count("e"))

# ayni ≈üekilde birden b√ºy√ºk karakterleri de arayabiliyoruz:

print('emre √ßakƒ±rƒ±n dedesinin adƒ± da emreydi. emre olmak mirastƒ±r bu s√ºlalede'.count('emre'))

1
1
2
3

In [ ]:
print('emre √áakƒ±r'.count("e", 2))       # 2. indexten itibaren sayƒ±lacaƒüƒ± i√ßin 0. indexteki 'e' harfi sayƒ±lmadƒ±.
print('emre √ßakƒ±rƒ±n dedesinin adƒ± da emreydi. emre olmak mirastƒ±r bu s√ºlalede'.count('e', 3, 28))       # 3. indexten 28. indexe kadar olan kƒ±sƒ±mda ne kadar e varsa onu saydƒ±k.

1
3

In [ ]:
# count'un kullanƒ±mƒ±na dair bir √∂rneƒüi kendi kafamdan yazdƒ±m.

isim = input('ƒ∞sim: ')
soy_isim = input('Soyisim: ')
print('Girdƒüiniz isim soyisim:', isim, soy_isim )
aranan_yazƒ± = 'abdu'
print('Aranan yazƒ±:', aranan_yazƒ±)
isim_soyisim = isim + ' ' + soy_isim 
isim_uzunluk = len(isim)
soyisim_uzunluk = len(soy_isim)
isim_soyisim_uzunluk = isim_uzunluk + soyisim_uzunluk

print('Aranan yazƒ± girilen soyisimde ≈üu kadar bulunmu≈ütur -->',(isim_soyisim.count(aranan_yazƒ±, isim_uzunluk, isim_soyisim_uzunluk)))

Girdƒüiniz isim soyisim: abdullah abdurrahman
Aranan yazƒ±: abdu
Aranan yazƒ± girilen soyisimde ≈üu kadar bulunmu≈ütur --> 1

##### **5. Method: encode()**

> encode, ≈üifrelemek, kodlamak, ≈üifreye √ßevirmek anlamƒ±na gelir.

> ileri seviye bir konudur. O y√ºzden detaylƒ± bir ara≈ütƒ±rma ve inceleme yapmadƒ±m. A≈üaƒüƒ±da bazƒ± y√ºzeyler ≈üeyler bulunmaktadƒ±r.

In [ ]:
'emre cakir'.encode()

b'emre cakir'

In [ ]:
txt = "My name is St√•le"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [ ]:
txt = "My name is St√•le"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [ ]:
txt = "My name is St√•le"

print(txt.encode(encoding="utf-8",errors="backslashreplace"))
print(txt.encode(encoding="utf-8",errors="ignore"))
print(txt.encode(encoding="utf-8",errors="namereplace"))
print(txt.encode(encoding="utf-8",errors="replace"))
print(txt.encode(encoding="utf-8",errors="xmlcharrefreplace"))

b'My name is St\xc3\xa5le'
b'My name is St\xc3\xa5le'
b'My name is St\xc3\xa5le'
b'My name is St\xc3\xa5le'
b'My name is St\xc3\xa5le'

In [ ]:
# unicode string
string = 'pyth√∂n!'

# print string
print('The string is:', string)

# default encoding to utf-8
string_utf = string.encode()

# print result
print('The encoded version is:', string_utf)

The string is: pyth√∂n!
The encoded version is: b'pyth\xc3\xb6n!'

##### **6. Method: endswith()**

> bir string'in sonunun neyle bittiƒüini √∂ƒürenebildiƒüimiz bir methoddur. 

> √ßƒ±ktƒ±larƒ± boolean olarak True veya False'dur. Sorgumuz doƒüru ise √ßƒ±ktƒ±mƒ±z True'diir.

> ba≈ülangƒ±√ß ve biti≈ü noktalarƒ±nƒ± optional olarak belirtebiliyoruz.

> string.endswirh(value, start, end)

>> string'in sonu valeu ile mi bitiyor diye sorgularƒ±z. 

>> start deƒüerini girdiysek, bu stringin ba≈ülangƒ±√ß noktasƒ±dƒ±r.

>> end deƒüerini girdiysek bu da stringin son noktasƒ±dƒ±r. √ñrneƒüin string normalde re harfiyle bitiyorsa ve bizim end deƒüerimi -1 ise, stringimizin sonu r ile bitiyor gibi oluyor. √ß√ºnk√º -1 dahil olmuyor her zamanki gibi

> sorguyu tek bir karakterle yapmak zorunda deƒüiliz.

In [ ]:

print('emre'.endswith('e'))             # emre'nin sonu e ile bitmektedir.
print('emre'.endswith('re'))            # tek bir karakter girmez zorunda deƒüiliz.
print("-1-".center(10, '*'))
print('emre'.endswith('r', 0, -1))
print('Sen benim nereli olduƒüumu biliyor musun?'.endswith('n', 0, -1))
print("-2-".center(10, '*'))
print('Sen benim nereli olduƒüumu biliyor musun?'.endswith('musun?'))
print('Sen benim nereli olduƒüumu biliyor musun?'.endswith('musun'))
print("-3-".center(10, '*'))
print('emre'.endswith('r'))

True
True
***-1-****
True
True
***-2-****
True
False
***-3-****
False

##### **7. Method: expandtabs()**

> 'yazƒ±\tyazƒ±'.expandtabs() 

> yukarƒ±daki 'yazƒ±\tyazƒ±' stringinde tab karakteri kullanƒ±lmƒ±≈ütƒ±r. ƒ∞ki tane yazƒ±nƒ±n ortasƒ±ndaki tab karakterinin ka√ß space'tan olu≈üacaƒüƒ±nƒ± belirleyen bir methoddur.

> default halinde tabsize=8 space'dir. Bunu deƒüi≈ütirmek istiyorsak parantez i√ßerisine sayƒ± girmemiz yeterlidir.

> **yalnƒ±zca ilk g√∂rd√ºƒü√º tab karakterini kabul eder**

In [ ]:
'Emre\t√áakƒ±r'.expandtabs(12)
'ƒ∞rem\tS√ºheyla\t√áukurlu'.expandtabs(4)      # burada yer alan ikinci \t bizim i√ßin √∂nemli deƒüil artƒ±k

'ƒ∞rem    S√ºheyla √áukurlu'

##### **8. Method: find() and rfind()**

> bu metod ile aradƒ±ƒüƒ±m bir karakterin string i√ßerisinde ka√ßƒ±ncƒ± indexte olduƒüunu g√∂rebiliyoruz. (find soldan rfind saƒüdan ba≈ülar)

> aradƒ±ƒüƒ±mƒ±z karakter birden fazla yerde varsa √∂nemli olan ilk index neredeyse onu kabul eder.

> tek bir karakter yerine birden fazla karakterli yapƒ±larƒ± da aratabiliriz. 

> 'sen benim en g√ºzel g√ºnahƒ±msƒ±n'.find(' en ')

>> yukarƒ±daki √∂rnekte 'sen' i√ßerisindeki 'en' yi saymaz. veya 'benim' i√ßerisindeki 'en'i de saymaz. 'benim en g√ºzel' i√ßerisindeki ' en ' i alƒ±r.

> 'sen benim en g√ºzel g√ºnahƒ±msƒ±n'.find('en', 2, 12) 

>> yukarƒ±daki √∂rnekte stringin 2. indexinden 12. indexine kadar olan ksƒ±mƒ±nda 'en''yi arar

> ***Eƒüer aradƒ±ƒüƒ± ≈üeyi bulmazsa -1 d√∂nd√ºr√ºr***

In [ ]:
print('12345678'.find('3'))
print('emre'.find('e'))
print('emre √ßakƒ±r'.find('a'))
print('s√ºheylaha'.find('ha'))          # heyla yerine sadece h yazsaydƒ±k deƒüi≈üe
print('sen benim en g√ºzel g√ºnahƒ±msƒ±n'.find(' en '))     # g√ºzel bir uygulama

# ba≈üka bir kullanƒ±m:

print('sen benim en g√ºzel g√ºnahƒ±msƒ±n'.find('en', 3, 12))           # stringin 3. indexinden ba≈ülar 12.'ye kadar devam eden aralƒ±kta 'en' ifadesini arar
print('sen benim en g√ºzel g√ºnahƒ±msƒ±n'.find('en', 3,))              # end kƒ±smƒ±nƒ± bo≈ü bƒ±rakmak stringin tamamƒ±nƒ± kabul et anlamƒ±na gelmektedir.
print('sen benim en g√ºzel g√ºnahƒ±msƒ±n'.find('ƒ±n', -1, 0 ))         # bu ≈üekilde tersten arama diye bi ≈üey yok doƒüal olarak. o y√ºzden √ßƒ±ktƒ±sƒ± -1'dir

2
0
6
7
9
5
5
-1

##### **9. Method: format()**

> braces --> {} 

> stringler i√ßerisinde braces kullanarak stringleri formatlarƒ±z

> √∂rneklerle anlamaya √ßalƒ±≈ümak en g√ºzeli:

In [ ]:
# 1. Y√∂ntem: Deƒüi≈üken Atayarak Formatlamak

txt_a = "My name is {name}, I'm {age} years old.".format(name = "John", age = 28)

# 2. Y√∂ntem: Numaralandƒ±rarak Formatlamak

txt_b = "My name is {0}, I'm {1} years old.".format("John", 28)

# 3. Y√∂ntem: Bo≈ü Bƒ±rakarak Formatlamak

txt_c = "My name is {}, I'm {} years old.".format("John", 28)

print(txt_a)        
print(txt_b)        
print(txt_c)

My name is John, I'm 28 years old.
My name is John, I'm 28 years old.
My name is John, I'm 28 years old.

In [ ]:
# herhangi bir sƒ±nƒ±rlamamƒ±z yok. 

txt3 = "My name is {name}, I'm {age} years old. Her name is {hname} and her age is {hage}.".format(name = "John", age = 28, hname = 'ƒ∞rem', hage = 25)  # 1. Y√∂ntem: Deƒüi≈üken Atayarak Formatlamak
txt4 = "My name is {0}, I'm {1} years old. Her name is {2} and her age is {3}.".format("John", 28, 'ƒ∞rem', 25)                                          # 2. Y√∂ntem: Numaralandƒ±rarak Formatlamak
txt5 = "My name is {}, I'm {} years old. Her name is {} and her age is {}.".format("John", 28, 'ƒ∞rem', 25)                                              # 3. Y√∂ntem: Bo≈ü Bƒ±rakarak Formatlamak

print(txt3)
print(txt4)
print(txt5)

My name is John, I'm 28 years old. Her name is ƒ∞rem and her age is 25.
My name is John, I'm 28 years old. Her name is ƒ∞rem and her age is 25.
My name is John, I'm 28 years old. Her name is ƒ∞rem and her age is 25.

***‚≠êFormatting Methods‚≠ê*** 

>> a≈üaƒüdaki h√ºcrede sƒ±rasƒ±yla bir takƒ±m formatlama operat√∂rleri g√∂receksin:

In [ ]:
# :<

txt = "We had {sayi:<8} chickens. {sayi_2:<8} chickens are died.".format(sayi = 49, sayi_2 = 16)       # sayi'nƒ±n saƒüƒ±na  8 adet space bƒ±rakƒ±r, diƒüer y√∂ntemleri uygularsak daha pratik oluyor.
print(txt)

# :>

txt = "We had {sayi:>3} chickens. {sayi_2:>3} chickens are died.".format(sayi = 49, sayi_2 = 16)       # sayi'nƒ±n soluna  3 adet space bƒ±rakƒ±r   
print(txt)

# :^

txt = "We had {sayi:^5} chickens. {sayi_2:^5} chickens are died.".format(sayi = 49, sayi_2 = 16)       # sayi'nƒ±n soluna  3 tane saƒüƒ±na, 2 adet soluna space bƒ±rakƒ±r
print(txt)

# :=

txt = "We had {sayi:=8} chickens. {sayi_2:=8} chickens are died.".format(sayi = 49, sayi_2 = -16)       # eƒüer sayƒ±nƒ±n √∂n√ºnde - i≈üareti varsa onu en sola atar
print(txt)

# :+

txt = "We had {sayi:+} chickens. {sayi_2:+} chickens are died.".format(sayi = 49, sayi_2 = -16)       # hem bo≈üluk buraktƒ±rƒ±r hem de sayƒ±larƒ±n √∂n√ºne artƒ± koyar. Ama eƒüer negatif bi sayƒ± varsa ona dokunmaz
print(txt)

# :-

txt = "We had {sayi:-} chickens. {sayi_2:-} chickens are died.".format(sayi = 49, sayi_2 = -16)       # sadece negatif sayƒ±larƒ±n eksi i≈üaretli olmasƒ±nƒ± saƒülar
print(txt)

# :

txt = "We had {sayi: } chickens. {sayi_2: } chickens are died.".format(sayi = 49, sayi_2 = -16)       # pozitif sayƒ±lardan √∂nce ekstra bir bo≈üluk bƒ±rakƒ±r
print(txt)

# :,

txt = "We had {sayi:,} chickens. {sayi_2:,} chickens are died.".format(sayi = 49000000, sayi_2 = 16000)       # binler basamaƒüƒ±na bir virg√ºl ekler.
print(txt)

# :_

txt = "We had {sayi:_} chickens. {sayi_2:_} chickens are died.".format(sayi = 49000000, sayi_2 = 16000)       # binler basamaƒüƒ±na bir underscore ekler.
print(txt)

# :b

txt = "The binary version of {0} is {0:b}".format(5)                # binary formatta g√∂serir bir sayƒ±yƒ±

print(txt)

We had 49       chickens. 16       chickens are died.
We had  49 chickens.  16 chickens are died.
We had  49   chickens.  16   chickens are died.
We had       49 chickens. -     16 chickens are died.
We had +49 chickens. -16 chickens are died.
We had 49 chickens. -16 chickens are died.
We had  49 chickens. -16 chickens are died.
We had 49,000,000 chickens. 16,000 chickens are died.
We had 49_000_000 chickens. 16_000 chickens are died.
The binary version of 5 is 101

In [ ]:
txt = "We had {sayi:,} chickens. {sayi_2:,} chickens are died.".format(sayi = 49000000, sayi_2 = 16000)       
print(txt)       # binler basamaƒüƒ±na bir virg√ºl ekler.

txt = "We had {sayi:_} chickens. {sayi_2:_} chickens are died.".format(sayi = 49000000, sayi_2 = 16000)       
print(txt)       # binler basamaƒüƒ±na bir underscore ekler.

txt = "The price is {:.2f} dollars.".format(45)        
print(txt)       # burada 2 yerine ka√ß yazarsak, 45.0000 ≈üeklinde o sayƒ± kadar sƒ±fƒ±r koyar.

txt = "You scored {:.0%}".format(0.25)                 
print(txt)       # burada 0 yerine ka√ß yazarsak, 25.000 ≈üeklinde o sayƒ± kadar sƒ±fƒ±r ekler

We had 49,000,000 chickens. 16,000 chickens are died.
We had 49_000_000 chickens. 16_000 chickens are died.
The price is 45.00 dollars.
You scored 25%

In [ ]:
# EN √ñNEMLƒ∞1:

txt = "The price is {:.2f} dollars.".format(45)         # burada 2 yerine ka√ß yazarsak, virg√ºlden sonra o kadar sƒ±fƒ±r koyar.
print(txt)

txt = "The price is {:.5f} dollars.".format(45)         # burada 5 tane sƒ±fƒ±r koyulacak mesela
print(txt)

txt = "The price is {:.0f} dollars.".format(45)         # burada 5 tane sƒ±fƒ±r koyulacak mesela
print(txt)

# EN √ñNEMLƒ∞2:

txt = "You scored {:%}".format(0.25)                    # bir √∂nceki gibi, ka√ß yazarsak o kadar sƒ±fƒ±r koyar
print(txt)

txt = "You scored {:.2%}".format(0.25)
print(txt)

txt = "You scored {:.0%}".format(0.25)                  # burada 0 yerine ka√ß yazarsak, 25.000 ≈üeklinde o sayƒ± kadar sƒ±fƒ±r ekler
print(txt)

The price is 45.00 dollars.
The price is 45.00000 dollars.
The price is 45 dollars.
You scored 25.000000%
You scored 25.00%
You scored 25%

In [ ]:
# √∂nemli bir uygulama:

txt = "We had {sayi:,} chickens. {sayi_2:,} chickens are died.".format(sayi = 49000000, sayi_2 = 16000)       # binler basamaƒüƒ±na bir virg√ºl ekler.
print(txt.replace(",", "."))

We had 49.000.000 chickens. 16.000 chickens are died.

##### **10. Method: format_map()**

> format() ile aynƒ± g√∂revi g√∂r√ºyor ancak bir farkla

> format_map() kullanmak i√ßin bir dictionary e ihtiya√ß var.

> Dict'in her bir key'ini curly braces i√ßine yazarƒ±z ve bize o keye kar≈üƒ±lƒ±k gelen value'yi yazdƒ±rƒ±r.

In [ ]:
first_name = input('ƒ∞sim: ')
last_name = input('Soyisim: ')
city = input('Doƒüum ≈ûehri: ')
birth = int(input('Doƒüum Yƒ±lƒ±: '))

my_dict = {
    'first': first_name.title(),
    'last': last_name.title(),
    'from': city.title(),
    'birth': birth,    
    'age': (2024 - birth)
}

txt_1 = ('My name is {first}. My last name is {last}. I was born in {from} at {birth}. Now, I\'m {age} years old.').format_map(my_dict)
print(txt_1)

My name is Emre. My last name is √áakƒ±r. I was born in Istanbul at 1996. Now, I'm 28 years old.

In [ ]:
dict_hobbies = {
    'sport': 'Football',
    'series': 'Braking Bad',
    'actrist': 'Al Pacino',
    'city': 'Amsterdam'
    }

txt_best = 'My favorite spor is {sport}. I watched {series} twice. I admire {actrist} and I want to live in {city}'.format_map(dict_hobbies)

print(txt_best)

My favorite spor is Football. I watched Braking Bad twice. I admire Al Pacino and I want to live in Amsterdam

##### **11. Method: index() and rindex()**

> index bulmaya yarayan method [index soldan, rindex saƒüdan aramaya ba≈ülar]

> Bu methodu kullanarak bir string'in ba≈üka bir string i√ßerisinde ka√ßƒ±ncƒ± index'te olduƒüunu √∂ƒüreniriz.

> Tek bir karakter aratƒ±labileceƒüi gibi, birden fazla karakterden olu≈üan string'de aratƒ±labilir.

> ***Eƒüer deƒüer bulunamazsa hata verir***

In [ ]:
cell = "ebcde"
cell.index("c")

2

In [ ]:
string = 'Benim Adƒ±m Emre. Her Zaman Olduƒüu Gibi ≈ûimdi de Emre\'yim.'
print('K√º√ß√ºk a\'nƒ±n string i√ßerisindeki index\'i  -->',string.index('a'))        # casesentsitive di. b√ºy√ºk aslƒ±nda 6. indexte ancak bizim aradƒ±ƒüƒ±mƒ±z k√º√ß√ºk a olduƒüu i√ßin 22 √ßƒ±ktƒ±sƒ±nƒ± alƒ±rƒ±z
print('B√ºy√ºk A\'nƒ±n string i√ßerisindeki index\'i  -->',string.index('A')) 
print("--")
print(string.index('dƒ±m'))

K√º√ß√ºk a'nƒ±n string i√ßerisindeki index'i  --> 22
K√º√ß√ºk a'nƒ±n string i√ßerisindeki index'i  --> 22
B√ºy√ºk A'nƒ±n string i√ßerisindeki index'i  --> 6
B√ºy√ºk A'nƒ±n string i√ßerisindeki index'i  --> 6
--
7

In [ ]:
txt = 'Benim sevgilim Emre d√ºnyanƒ±n en iyi Emre\'sidir'
name = 'Emre'

print(txt.index(name, 20))          # txt isimli string'in 20. indexinden sonra gelen ilk name deƒüi≈ükenini arar 

print('techpro education is the best education course in the world!'.index('edu', 15 ))     # ba≈üta verilmi≈ü olan string'in 15. indexinden sonra gelen ilk 'edu' stringinin indexini arar

test_string = "1234gfg4321"
print(test_string.index('gfg', 1, 10))          # 1. indexten ba≈ülar 10. indexe kadar ge√ßen aralƒ±kta 'gfg' yi arar.

36
30
4

In [ ]:
print('sen benim en g√ºzel g√ºnahƒ±msƒ±n'.find('1', 3, 12))           # stringin 3. indexinden ba≈ülar 12.'ye kadar devam eden aralƒ±kta 'en' ifadesini arar

-1

##### **12. Method: isalnum()**

> bir string'in alfabetik-numeric olup olmadƒ±ƒüƒ±nƒ± sorgularƒ±z. hem alfabetik hem de numeric ise true d√∂nd√ºr√ºr

> ba≈üka bi deyi≈üle, string eƒüer sadece harflerden olu≈üuyorsa, sadece sayƒ±lardan olu≈üuyorsa ve hem harf hem yazƒ±dan olu≈üuyorsa true d√∂nd√ºr√ºr. Eƒüer string i√ßerisinde bir bo≈üluk dahi olsa onu √∂zel karakterden sayar.

In [ ]:
print('B'.isalnum())            # sadece harf
print('2'.isalnum())            # sadece sayƒ±
print('B2'.isalnum())           # hem sayƒ± hem harf
print('B 2'.isalnum())          # arada bir bo≈üluk olduƒüu i√ßin False d√∂nd√ºr√ºr
print('B-2'.isalnum())          # arada bir tane tire olduƒüu i√ßin False d√∂nd√ºr√ºr
print('Emre √áakƒ±r'.isalnum())

print('Erkin √áakƒ±r T√ºrkiyelidir ama ≈üuanda Hollanda\'da ya≈üƒ±yor'.isalnum())

True
True
True
False
False
False
False

##### **13. Method: isalpha()**

> string'in sadece alfabetik olup olmadƒ±ƒüƒ±nƒ± sorgularƒ±z:

> sadece alfabetik ise True d√∂nd√ºr√ºr

In [ ]:
name = 'Emre'

print(name.isalpha())

name_1= 'Emre1'

print(name_1.isalpha())

name_2 = 'Emre √áakƒ±r'

print(name_2.isalpha())

True
False
False

##### **14. Method: isdecimal() & isdigit() & isnumeric()**

> string i√ßerisinde sadece rakamlar mƒ± var diye kontrol ederiz

> 3 method birbirinin yerini tutar. Detaylarƒ± anla≈üƒ±lmayacak seviyede. ƒ∞stediƒüini se√ß

In [ ]:
string = '1231135'              # sadece rakamlardan olu≈üuyor
print(string.isdecimal())
string = '1231135a'             # harf var       
print(string.isdecimal())
string = '123 1231'             # bo≈üluk var
print(string.isdecimal())
string = '12.2'                 # nokta var
print(string.isdecimal())
string = '-12'                 # tire var
print(string.isdecimal())

True
False
False
False
False

In [ ]:
string = '1231135'              # sadece rakamlardan olu≈üuyor
print(string.isdigit())
string = '1231135a'             # harf var       
print(string.isdigit())
string = '123 1231'             # bo≈üluk var
print(string.isdigit())
string = '12.2'                 # nokta var
print(string.isdigit())
string = '-12'                 # tire var
print(string.isdigit())

True
False
False
False
False

In [ ]:
string = '1231135'              # sadece rakamlardan olu≈üuyor
print(string.isnumeric())
string = '1231135a'             # harf var       
print(string.isnumeric())
string = '123 1231'             # bo≈üluk var
print(string.isnumeric())
string = '12.2'                 # nokta var
print(string.isnumeric())
string = '-12'                 # tire var
print(string.isnumeric())

True
False
False
False
False

##### **15. Method: isidentifier()**

> Bu method isalnum() methoduna √ßok benziyor. Hem string hem sayƒ± ise True yazdƒ±rƒ±r. Tek bir farkla:

> isidentifier(), rakamla ba≈ülayan stringleri False d√∂nd√ºr√ºr.

In [ ]:
print('Emre21'.isidentifier())      # herhangi bi yerde sayƒ± olmasƒ± sorun deƒüil ba≈üta olmasƒ±n yeter
print('Emreee'.isidentifier())
print('21Emre'.isidentifier())      # Eƒüer rakamla ba≈ülarsa kabul olmuyor
print('Emre-21'.isidentifier())     # √∂zel karakter kabul etmiyor isalnum() gibi
print('Emre 21'.isidentifier())

True
True
False
False
False

##### **16. Method: islower()**

In [ ]:
print('emre √ßakƒ±r'.islower())
print('Emre √áakƒ±r'.islower())
print('emre √ßakƒ±R'.islower())

True
False
False

##### **17. Method: isprintable()**

> anladƒ±ƒüƒ±m kadarƒ±yla bazƒ± ka√ßƒ±≈ü y√∂ntemlerini false d√∂nd√ºr√ºyor bir tanƒ±mlayamadƒ±ƒüƒ± simgeler falan olursa muhtemelen

In [ ]:
txt = 'Emre √áakƒ±r'
print(txt.isprintable())
txt = 'Emre_√áakƒ±r'
print(txt.isprintable())
txt = 'Emre1√áakƒ±r2'
print(txt.isprintable())
txt = '2'
print(txt.isprintable())
txt = '-2'
print(txt.isprintable())
txt = '‚ù§'
print(txt.isprintable())
print('----')
txt = 'emre\t√ßakƒ±r'
print(txt.isprintable())
txt = 'emre\n√ßakƒ±r'
print(txt.isprintable())
txt = 'Emre\' √áakƒ±r'            # bu garipmi≈ü
print(txt.isprintable())

True
True
True
True
True
True
----
False
False
True

##### **18. Method: isspace()**

        Eƒüer bir string i√ßerisindeki t√ºm karakterler a≈üaƒüƒ±daki ifadelerden olu≈üuyorsa True d√∂nd√ºr√ºr. Onun haricinde false d√∂nd√ºr√ºr bir tane bile bunlar dƒ±≈üƒ±nda bir ≈üey varsa.
    
    Whitespace: Alfabe dƒ±≈üƒ± karakterler ya da Aralƒ±klama Karakterleri olarak ge√ßiyor bu a≈üaƒüƒ±dakiler:
    ' ' - Space
    \t - Horizontal tab
    \n - Newline
    \v - Vertical tab
    \f - Feed
    \r - Carriage return

In [ ]:
string = "\n\t\n"
print(string.isspace())

string = 'Geeksforgeeks'
print(string.isspace())

string = '\n \n \n'
print(string.isspace())

string = 'Geeks\nfor\ngeeks'
print( string.isspace())

True
False
True
False

##### **19. Method: istitle()**

> eƒüer string title() metotu ile d√ºzenlenmi≈ü bir string gibi ise True d√∂nd√ºr√ºr. Deƒüilse False d√∂nd√ºr√ºr.

In [ ]:
print('emre √ßakƒ±r'.istitle())
print('emre √áakƒ±r'.istitle())
print('EmrE √áakƒ±r'.istitle())
print('Emre√ßakƒ±r'.istitle())
print('Emre √áakƒ±r'.istitle())

False
False
False
True
True

##### **20. Method: isupper()**

> eƒüer string upper() metotu ile d√ºzenlenmi≈ü bir string gibi ise True d√∂nd√ºr√ºr. Deƒüilse False d√∂nd√ºr√ºr.

In [ ]:
print('Emre'.isupper())
print('EMRe'.isupper())
print('EmRe'.isupper())
print('EMRE'.isupper())
print('EMRE √áAKIR'.isupper())

False
False
False
True
True

##### **21. Method: join()**

    Bir string'in i√ßine bir ≈üeyler serpi≈ütiriyor
    Eƒüer bir liste sadece string'lerden olu≈üuyorsa listeyi string'e √ßevirebilir

In [ ]:
print('-'.join('Emre'))
print('*'.join('Emre'))
print('-*-'.join('Emre'))
print('$'.join(' Emre '))

E-m-r-e
E*m*r*e
E-*-m-*-r-*-e
 $E$m$r$e$
geeks

In [ ]:
print("".join(['1', '2', '3', '4']))
print("*".join(['e', 'm', 'r', 'e']))
print("*".join(['ee', 'mm', 'rr', 'ee']))

1234
e*m*r*e
ee*mm*rr*ee

In [ ]:
list1 = ('1', '2', '3', '4')
s = "-"
txt = s.join(list1)
print(txt)

1-2-3-4

str

In [ ]:
dict1 = {'Emre': 1, 'ƒ∞rem': 2, 'S√ºheyla': 3}

txt = '_#_'.join(dict1)     # bir dict'in key'lerini kullabiliyoruz

print(txt)

Emre_#_ƒ∞rem_#_S√ºheyla

##### **23. Method: lower()**

In [ ]:
print('Emre √áakƒ±r'.lower())
print('emre √ßakƒ±r'.lower())
print('emre_√áakƒ±r'.lower())

emre √ßakƒ±r
emre √ßakƒ±r
emre_√ßakƒ±r

> bir stringin solunda sildirmek istediƒüimiz ≈üeyleri sildiririz. Eƒüer bir ≈üey belirtmezsek, bo≈üluk varsa bo≈üluƒüu siler

In [ ]:
print('  Emre √áakƒ±r'.lstrip())
print('**Emre √áakƒ±r'.lstrip())      # burada silmediƒüini bir alt satƒ±rda √∂zel olarak belirterek sildirebiliyoruz
print('**Emre √áakƒ±r'.lstrip('**'))
print('**Emre**√áakƒ±r***'.lstrip('**'))  # parantez i√ßerisinde belirtilenler sadece stringin ba≈üƒ±nda ise ge√ßerli olur

Emre √áakƒ±r
**Emre √áakƒ±r
Emre √áakƒ±r
Emre**√áakƒ±r***

In [ ]:
string = "++++x...y!!z* geeksforgeeks"
print(string.lstrip("+.!*xyz"))         # illa tam olarak birebir aynƒ±sƒ±nƒ± yazmamƒ±za gerek yok. i√ßerdiƒüi ≈üeyi i√ßerse yeter

string2 = 'a1x2 a1a x3?a?xx Emre √áakƒ±r'
print(string2.lstrip('a213?x '))        # bu ≈üekilde detaylƒ± bilgi girersek temizliƒüi doƒüru yapabilir

 geeksforgeeks
Emre √áakƒ±r

In [ ]:
# illa bo≈üluk silmek zorunda deƒüiliz:

print('Emre √áakƒ±r'.lstrip('Em'))         # ba≈ü kƒ±sƒ±mdaki Em'i sildirebiliriz

re √áakƒ±r

##### **25. Method: partition()**

> stringler i√ßerisinde bir ≈üey aratƒ±rƒ±z ve arattƒ±ƒüƒ±mƒ±z ≈üeyi bir ayra√ß olarak kullanƒ±p ikiye b√∂leriz t√ºm stringi 

> Her zaman 3 elemanlƒ± bir tuple elde ederiz anladƒ±ƒüƒ±m kadarƒ±yla

In [ ]:
print('Emre √áakƒ±r Bir Makine M√ºhendisiydi Eskiden'.partition('Bir'))
print('Emre √áakƒ±r Bir Makine M√ºhendisiydi Eskiden'.partition(' Bir '))
print('Emre √áakƒ±r Bir Makine M√ºhendisiydi Eskiden'.partition('Emre'))
print('Emre √áakƒ±r Bir Makine M√ºhendisiydi Eskiden'.partition(' Eskiden'))

('Emre √áakƒ±r ', 'Bir', ' Makine M√ºhendisiydi Eskiden')
('Emre √áakƒ±r', ' Bir ', 'Makine M√ºhendisiydi Eskiden')
('', 'Emre', ' √áakƒ±r Bir Makine M√ºhendisiydi Eskiden')
('Emre √áakƒ±r Bir Makine M√ºhendisiydi', ' Eskiden', '')

In [ ]:
print('bu Emre √áakƒ±r Emre deƒüildir.'.partition('Emre'))     # Eƒüer arattƒ±ƒüƒ±mƒ±z ≈üeyden iki tane varsa, ilk denk geldiƒüini dikkate alƒ±r.

('bu ', 'Emre', ' √áakƒ±r Emre deƒüildir.')

In [ ]:
print('Emre √áakƒ±r Bir Makine M√ºhendisiydi Eskiden'.partition('S√ºheyla'))          # eƒüer arattƒ±ƒüƒ±mƒ±z ≈üey yoksa, tipik olarak a≈üaƒüƒ±daki gibi bir √ßƒ±ktƒ± alƒ±rƒ±z.

('Emre √áakƒ±r Bir Makine M√ºhendisiydi Eskiden', '', '')

In [ ]:
string = 'Emre √áakƒ±r Bir Makine M√ºhendisiydi Eskiden'.partition('S√ºheyla')
type(string)

tuple

In [ ]:
# √ßok g√ºzel bir √ßalƒ±≈üma:

url = "https://www.example.com/index.html"
result = url.partition("//")
result = result[2].partition("/")
print(result[0])

www.example.com

##### **26. Method: replace()**

In [ ]:
print('Serhat √áakƒ±r'.replace('Serhat', 'Emre'))     # klasik kullanƒ±mƒ± budur

Emre √áakƒ±r

In [ ]:
print('emre √ßakƒ±r emre √ßakƒ±r emre √ßakƒ±r emre √ßakƒ±r'.replace('emre', 'X', 2))        # bu replace i≈ülemini yalnƒ±zca 2 kez yapmamƒ±zƒ± saƒüladƒ±

X √ßakƒ±r X √ßakƒ±r emre √ßakƒ±r emre √ßakƒ±r

> find() ba≈ütan ba≈ülar aramaya, rfind() ise sondan ba≈ülar aramaya.

In [ ]:
print('let it be, let it be, let it be'.find('it'))
print('let it be, let it be, let it be'.rfind('it'))

print('emreemre'.find('e'))
print('emreemre'.rfind('e'))

4
26
0
7

> index() ba≈ütan ba≈ülar saymaya, rindex() sondan ba≈ülar

In [ ]:
print('emre √áakƒ±r'.index('e'))
print('emre √áakƒ±r'.rindex('e'))

0
3

##### **29. Method: partition() and rpartition()**

> partition() soldan ba≈ülar aramaya, rpartition() saƒüdan ba≈ülar

In [ ]:
print('Emre √áakƒ±r Bir Makine M√ºhendisiydi Bir Eskiden'.partition('Bir'))            # soldan ilk Bir
print('Emre √áakƒ±r Bir Makine M√ºhendisiydi Bir Eskiden'.rpartition('Bir'))           # saƒüdan ilk Bir
len('Emre √áakƒ±r Bir Makine M√ºhendisiydi Bir Eskiden'.rpartition('Eskiden'))        # saƒüdan ilk Bir

('Emre √áakƒ±r ', 'Bir', ' Makine M√ºhendisiydi Bir Eskiden')
('Emre √áakƒ±r Bir Makine M√ºhendisiydi ', 'Bir', ' Eskiden')

3

##### **30. Method: split()**

> bir karakter se√ßeriz ve string'i o karakterin olduƒüu yerlerden ayƒ±rƒ±r. Ayrƒ±ca tek bir karakter yerine birden fazlasƒ±nƒ± da se√ßebiliriz.

> split olarak belirlenen karakteri siler

In [ ]:
print('Benim, adƒ±m, Emre, √áakƒ±r'.split(','))          # virg√ºller ayrak olarak kullanƒ±ldƒ±
print('Benim, adƒ±m, Emre, √áakƒ±r'.split(', '))         # virg√ºle ve bo≈üluk olan her yer ayrak olarak kullanƒ±ldƒ±
print('Benim, adƒ±m, Emre, √áakƒ±r'.split('Emre'))       # Emre ayra√ß olarak kullanƒ±ldƒ±. Emre'nin silindiƒüine dikkat et
print('Benim, adƒ±m, Emre, √áakƒ±r'.split(', Emre, '))   # (1)Daha d√ºzg√ºn bir split se√ßimi, √ßƒ±ktƒ±nƒ±n daha d√ºzg√ºn olmasƒ±nƒ± saƒülar
print('Benim adƒ±m Emre √áakƒ±r'.split(' '))             # (2)Daha d√ºzg√ºn bir split se√ßimi, √ßƒ±ktƒ±nƒ±n daha d√ºzg√ºn olmasƒ±nƒ± saƒülar

['Benim', ' adƒ±m', ' Emre', ' √áakƒ±r']
['Benim', 'adƒ±m', 'Emre', '√áakƒ±r']
['Benim, adƒ±m, ', ', √áakƒ±r']
['Benim, adƒ±m', '√áakƒ±r']
['Benim', 'adƒ±m', 'Emre', '√áakƒ±r']

In [ ]:
print('Benim adƒ±m Emre √áakƒ±r'.split(' ', maxsplit=1))           # maxsplit, belirlenen split'in en fazla ka√ß defa uygulanacaƒüƒ±nƒ± g√∂sterir
print('Benim adƒ±m Emre √áakƒ±r'.split(' ', 1))                    # maxsplit yazmasak da olur
print('--#--')
print('Benim adƒ±m Emre √áakƒ±r'.split(' ', maxsplit=2))           # belirlediƒüimiz split aracƒ±nƒ±n 2 defa uygulandƒ±ƒüƒ±nƒ±, 3. ye geldikten sonra durduƒüunu g√∂rebiliriz
print('Benim adƒ±m Emre √áakƒ±r'.split(' ', 2))                    # maxsplit yazmasak da olur 
print('--#--')
print('Benim adƒ±m Emre √áakƒ±r'.split(' ', 4))           
print('Benim adƒ±m Emre √áakƒ±r'.split(' ', 12))                   # string i√ßerisindeki sayƒ±yƒ± a≈üarsak sorun yok max uygulama yapƒ±p ge√ßer 
print('--#--')
print('split()\'in i√ßine hi√ßbir ≈üey yazmazsak, space olarak algƒ±lar -->','Benim adƒ±m Emre √áakƒ±r'.split())

['Benim', 'adƒ±m Emre √áakƒ±r']
['Benim', 'adƒ±m Emre √áakƒ±r']
--#--
['Benim', 'adƒ±m', 'Emre √áakƒ±r']
['Benim', 'adƒ±m', 'Emre √áakƒ±r']
--#--
['Benim', 'adƒ±m', 'Emre', '√áakƒ±r']
['Benim', 'adƒ±m', 'Emre', '√áakƒ±r']
--#--
split()'in i√ßine hi√ßbir ≈üey yazmazsak, space olarak algƒ±lar --> ['Benim', 'adƒ±m', 'Emre', '√áakƒ±r']

##### **31. Method: strip() anda lstrip()**

> Ba≈ütan ve sondan bo≈üluklar siler (lstrip sadece solundan siler)

> Eƒüer farklƒ± bi ≈üey belirtirsek bo≈üluk yerine onu siler

In [ ]:
print('     Emre √áakƒ±r      '.strip())              # ba≈üta ve sondaki t√ºm bo≈üluklarƒ± sildi
print('     Emre √áakƒ±r      '.strip(" "))           # ortalardaki hi√ßbir ≈üey ile ilgilenmez bu metod
print('--#--')
print('*****Emre √áakƒ±r******'.strip('*'))           # ba≈üta ve sondaki asteriksleri sildi
print('     Emre √áakƒ±r******'.strip('*'))           # sondaki asteriksleri sildi ama ba≈ütaki bo≈üluƒüa dokunmadƒ±
print('--#--')
print('     Emre √áakƒ±r******'.strip('*'))           # sondaki asteriksleri sildi ama ba≈ütaki bo≈üluƒüa dokunmadƒ±
print('     Emre √áakƒ±r******'.strip('* '))          # Eƒüer bi tarafta bo≈üluk diƒüer tarafta asteriks gibi durum olursa, iki karkateri de yazarsak metot gerekeni yapar
print('--#--')
print('yxzyxEmre √áakƒ±rzyxzyz'.strip('xyz'))         # ba≈üta ve sodna x, y ve z harflerinin rastgele dizilimleri var. Bizim strip komuduna bu 3 harfi yazmamƒ±z yeter
print('yxzyxEmre √áakƒ±rzyxzyz'.strip('xyz'))         # ba≈üta ve sodna x, y ve z harflerinin rastgele dizilimleri var. Bizim strip komuduna bu 3 harfi yazmamƒ±z yeter
print('--#--')
print('Emre √áakƒ±r'.strip('√áakƒ±r'))                  # Bu ≈üekilde doƒürudan kelime de kaldƒ±rabiliriz.

Emre √áakƒ±r
Emre √áakƒ±r
--#--
Emre √áakƒ±r
     Emre √áakƒ±r
--#--
     Emre √áakƒ±r
Emre √áakƒ±r
--#--
Emre √áakƒ±r
Emre √áakƒ±r
--#--
Emre

In [ ]:
print('  Emre √áakƒ±r'.lstrip())
print('**Emre √áakƒ±r'.lstrip())      # burada silmediƒüini bir alt satƒ±rda √∂zel olarak belirterek sildirebiliyoruz
print('**Emre √áakƒ±r'.lstrip('**'))
print('**Emre**√áakƒ±r***'.lstrip('**'))  # parantez i√ßerisinde belirtilenler sadece stringin ba≈üƒ±nda ise ge√ßerli olur

##### **32. Method: splitlines()**

> \n, \r, \r\n, \x1c, \x1d, ... , \u2029 

> splitlines() metodu yukarƒ±daki karakterlere g√∂re split olur.

In [ ]:

string = "Cat\nBat\nSat\nMat\nXat\nEat"

print (string.splitlines( )) 

print('India\nJapan\nUSA\nUK\nCanada\n'.splitlines())

['Cat', 'Bat', 'Sat', 'Mat', 'Xat', 'Eat']
['India', 'Japan', 'USA', 'UK', 'Canada']

##### **33. Method: startswith()**

> Eƒüer bir string bizim belirttiƒüimiz ≈üekilde ba≈ülamƒ±≈üsa True d√∂nd√ºr√ºr, aksi halde false

In [ ]:
var = "Geeks for Geeks"

print(var.startswith("Geeks"))
print(var.startswith("Hello"))

True
False

In [ ]:
text = "geeks for geeks."

result = text.startswith('for geeks', 6)        # text'in 6. karakteri f'dir yani for geeks'dir.
print(result)

result = text.startswith('for', 6, 9)           # text'in 6. karakteri ile 9. karakteri arasƒ±nda for vardƒ±r. (9 dahil deƒüil)
print(result)

result = text.startswith('for', 6, 8)           # text'in 6. karakteri ile 8. karakteri arasƒ±nda for yoktur fo vardƒ±r sadece. (8 dahil deƒüil)
print(result)

True
True
False

##### **34. Method: swapcase()**

> B√ºy√ºk harfleri k√º√ß√ºk hale √ßevirir, k√º√ß√ºk harfleri b√ºy√ºk harfe √ßevirir

In [ ]:
print('EMRE √ßakƒ±r'.swapcase())

emre √áAKIR

##### **35. Method: title()**

> string i√ßerisindeki t√ºm kelimelerin b√ºy√ºk harfle ba≈ülayƒ±p k√º√ß√ºk harfle devam etmesini saƒülar

In [ ]:
print('EMRE √áAKIR GARƒ∞P Bƒ∞R ADAMDIR'.title())
print('emre √ßakƒ±r garip bir adamdƒ±r'.title())
print('eMre √áAKIR gAriP bƒ∞r aDaMdIr'.title())

Emre √áakir GariÃáp BiÃár Adamdir
Emre √áakƒ±r Garip Bir Adamdƒ±r
Emre √áakir Garip BiÃár Adamdir

##### **36. Method: translate()**

> √ßok anlamadƒ±m. ASCII sayƒ±larƒ±yla ilgili bi ≈üeydi. ≈ûimdilik vakit ayƒ±rmama deƒüeceƒüini d√º≈ü√ºnmediƒüim i√ßin ge√ßiyorum bu metodu

##### **37. Method: upper()**

> t√ºm string'i b√ºy√ºk harfle yazdƒ±rƒ±r.

In [ ]:
print('emre √ßakƒ±r garip bir adamdƒ±r'.upper())
print('eMre √áAKIR gAriP bƒ∞r aDaMdIr'.upper())

EMRE √áAKIR GARIP BIR ADAMDIR
EMRE √áAKIR GARIP Bƒ∞R ADAMDIR

##### **38. Method: zfill()**

> stringin ba≈üƒ±na 0 ekleriz

In [ ]:
txt = 'Emre √áakƒ±r Garip Bir Adamdƒ±r'
print('txt deƒüi≈ükeninin karakter sayƒ±sƒ± --> ',len(txt))
print('--#--')
print(txt.zfill(30))        # 30, 28'den iki fazla olduƒüu i√ßin 2 tane sƒ±fƒ±r ekledik ba≈üƒ±na
print(txt.zfill(60))        # 30, 28'den 32 fazla olduƒüu i√ßin 32 tane sƒ±fƒ±r ekledik ba≈üƒ±na
print('--#--')
number = "6041"
print(number.zfill(8)) 
print('--#--')
number = "+6041"
print(number.zfill(8))

txt deƒüi≈ükeninin karakter sayƒ±sƒ± -->  28
--#--
00Emre √áakƒ±r Garip Bir Adamdƒ±r
00000000000000000000000000000000Emre √áakƒ±r Garip Bir Adamdƒ±r
--#--
00006041
--#--
+0006041

#### **‚ñ∂ 2.1.2.2 Exersizler**

##### **1Ô∏è‚É£ Kullanƒ±cƒ±dan bir c√ºmle girmesini isteyin. O c√ºmle i√ßerisinde hangi haflerden ka√ßar tane olduƒüunun √ßƒ±ktƒ±sƒ±nƒ± alƒ±n.**
        √ñR:     √ñrnek String : google.com'
                Beklenen √áƒ±ktƒ±:  {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
# Benim √ß√∂z√ºm√ºm:

text = input('Bir c√ºmle veya metin giriniz: ')
text_length = len(text)
print('Girilen metin:',text)
empty_list = []
empty_dict = {}
for character in text:
    char_count = text.count(character)
    if char_count >= 1 and character not in empty_list: 
        empty_list.append(character)
        empty_list.append(char_count)
empty_list_length = len(empty_list)
for i in range(0, empty_list_length, 2):
    empty_dict.update({empty_list[i]: empty_list[i+1]})
    
print(empty_dict)

Girilen metin: emre √ßakƒ±r
{'e': 2, 'm': 1, 'r': 2, ' ': 1, '√ß': 1, 'a': 1, 'k': 1, 'ƒ±': 1}

In [ ]:
# w3resource √ß√∂z√ºm√º:

text = input('Bir c√ºmle veya metin giriniz: ')
print('Girilen metin:',text)
dict = {}
for n in text:
    keys = dict.keys()
    if n in keys:
        dict[n] += 1
    else:
        dict[n] = 1

print(dict)

Girilen metin: emre √ßakƒ±r
{'e': 2, 'm': 1, 'r': 2, ' ': 1, '√ß': 1, 'a': 1, 'k': 1, 'ƒ±': 1}

##### **2Ô∏è‚É£ Girilen bir stringin ilk iki ve son iki harfinin birle≈ütirilmesiyle elde edilen yeni bir string olu≈üturun. Girilen stringin karakter sayƒ±sƒ± 2'den az ise Empty String √ßƒ±ktƒ±sƒ±nƒ± d√∂nd√ºr√ºn.**
        √ñR:     Sample String : 'w3resource'
                Expected Result : 'w3ce'
                Sample String : 'w3'
                Expected Result : 'w3w3'
                Sample String : ' w'
                Expected Result : Empty String

In [ ]:
# Benim √ß√∂z√ºm√ºm:

string = input('Bir kelime giriniz: ')
string_length = len(string)
left_side = string[:2]
right_side = string[-2:]
new_string = left_side + right_side
message = 'Empty String'
if string_length < 2:
    print(message)
else:
    print(new_string)

emem

In [ ]:
# w3resource √ß√∂z√ºm√º:

def string_both_ends(str):
    if len(str) < 2:
        return 'empty string'       # buraya print girince olmuyor garip bi ≈üekilde

    return str[0:2] + str[-2:]

print(string_both_ends('w3resource'))  
print(string_both_ends('w3'))         
print(string_both_ends('w'))

w3ce
w3w3
empty string

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 2.2 If Clauses**

    if konusu ile ilgili anlatƒ±lacak bi ≈üey yok. ≈ûarta baƒülƒ± i≈ülemler yaparƒ±z. A≈üaƒüƒ±daki √∂rnek de bir if yapsƒ±nƒ±n nasƒ±l √ßalƒ±≈üƒ±tƒüƒ±nƒ± a√ßƒ±klƒ±yor.

In [ ]:
doƒüru_sayƒ±sƒ± = int(input("Ka√ß doƒürun var? "))
if doƒüru_sayƒ±sƒ± <= 5:
    print("Dahi misin?")
elif doƒüru_sayƒ±sƒ± <= 10:
    print("≈üaka mƒ±sƒ±n sen?")
elif doƒüru_sayƒ±sƒ± <= 15:
    print("s√ºpersin")
else:
    print("Ge√ßersiz bir deƒüer girdiniz.")

s√ºpersin

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 2.3 Range()**

    Range() fonksiyonu ile belli bir aralƒ±kta tam sayƒ± √ºretiriz

In [ ]:
print(range(4, 10))                # g√∂r√ºnt√ºleyebilmek i√ßin farklƒ± bir fonksiyona ihtiya√ß vardƒ±r. (4 dahil, 10 dahil deƒüil) (iterable'dƒ±r, elemanlarƒ±na ula≈üabiliriz)

print(list(range(4, 10)))          # liste olu≈üturma FONKSƒ∞YONU kullanƒ±lmƒ±≈ütƒ±r. 

print(range(4, 10)[1])             # iterable olma √∂zelliƒüi'dir. list ve tuple ile √ßalƒ±≈üabilmesi bunun bir kanƒ±tƒ±dƒ±r. 

print(list(range(10)))             # herhangi bir ba≈ülangƒ±√ß noktasƒ± vermezsek 0'dan ba≈ülar

print(list(range(1, 10, 2)))       # buradaki "2", range'in artƒ±≈ü hƒ±zƒ±dƒ±r.

print(list(range(-5, 10, 2)))

print(list(range(5, 10, -1)))             # 5'den ba≈üalyƒ±p -1 adƒ±m ile 10'a gidemeyiz. bo≈ü liste d√∂nd√ºr√ºr

range(4, 10)
[4, 5, 6, 7, 8, 9]
5
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[-5, -3, -1, 1, 3, 5, 7, 9]
[]

In [ ]:
# Soru: 1 - 50 arasƒ±ndaki √ßift sayƒ±larƒ± yazdƒ±ralƒ±m:
print(list(range(2, 51, 2)))

# Soru: 1 - 50 arasƒ±ndaki tek sayƒ±larƒ± yazdƒ±ralƒ±m:
print(list(range(1, 50, 2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 2.4 Lists**

    ƒ∞√ßerisinde her t√ºrden veriyi saklayabilen bir Collective Type'dƒ±r. 
    
    mutable (elemanlarƒ± deƒüi≈ütirilebilir)

    iterable (elemanlarƒ±na index yoluyla ula≈üƒ±labilir ve silicing yapƒ±labilir)

### **‚ñ∂Ô∏è 2.4.1 Konu Anlatƒ±mƒ±**

In [ ]:
# 1. list olu≈üturma y√∂ntemi: (√ñnerilir, daha yoƒüun tercih edilir)

liste_1 = [1, 2, 3.154, "Mustafa", False]
print("1. liste -->", liste_1)

# 2. list olu≈ütumra y√∂ntemi:

liste_2 = list("Techpro")                   # bu y√∂ntemle liste olu≈üturmak i√ßin iterable bir ≈üey yazmak gerekir.
print("2. liste -->", liste_2)

# liste eleman sayƒ±sƒ±nƒ± bulma, len() foknsiyonu kullanarak:

print("liste_1'ƒ±n eleman sayƒ±sƒ± -->", len(liste_1))             # len() fonksiyonu iterable olan her t√ºr√ºn eleman sayƒ±sƒ±nƒ± hesaplar, stringlerde olduƒüu gibi listelerde de vardƒ±r. Mesela integar'larda eror verir.
print("liste_2'ƒ±n eleman sayƒ±sƒ± -->", len(liste_2))

1. liste --> [1, 2, 3.154, 'Mustafa', False]
2. liste --> ['T', 'e', 'c', 'h', 'p', 'r', 'o']
liste_1'ƒ±n eleman sayƒ±sƒ± --> 5
liste_2'ƒ±n eleman sayƒ±sƒ± --> 7

In [ ]:
# bo≈ü liste olu≈üturma:

bo≈ü_liste_1 = []
print("1. y√∂ntem ile olu≈üturulan bo≈ü list -->", bo≈ü_liste_1)

bo≈ü_liste_2 = list()
print("2. y√∂ntem ile olu≈üturulan bo≈ü list -->", bo≈ü_liste_2)

1. y√∂ntem ile olu≈üturulan bo≈ü list --> []
2. y√∂ntem ile olu≈üturulan bo≈ü list --> []

In [ ]:
# slicing:

ortaya_karƒ±≈üƒ±k = [3, 4.4, "Orkun", False, [1, 2, 3, 4, 5]]

print("ortaya_karƒ±≈üƒ±k listesinin 1. indexi --> ", ortaya_karƒ±≈üƒ±k[1])
print("\nüí• Yani, listeler de stringler gibi iterable olduƒüu i√ßin indexlerini kullanarak elemanlarƒ±na ula≈üabiliyoruz basit√ße")
ortaya_karƒ±≈üƒ±k[1:4]             # 1. index dahil 4. index dahil deƒüil...

ortaya_karƒ±≈üƒ±k listesinin 1. indexi -->  4.4

üí• Yani, listeler de stringler gibi iterable olduƒüu i√ßin indexlerini kullanarak elemanlarƒ±na ula≈üabiliyoruz basit√ße

[4.4, 'Orkun', False]

In [ ]:
# mutable √∂zelliƒüi:

potpori = ["Seyda", 3.14, True, 7, [1, 2, 3, 4, 5, 6]]
print("Eleman deƒüi≈ümeden √∂nce potpori isimli liste   -->",potpori)
potpori[0] = "Bet√ºl"              
print("Eleman deƒüi≈ütikten sonra potpori isimli liste -->",potpori)

Eleman deƒüi≈ümeden √∂nce potpori isimli liste   --> ['Seyda', 3.14, True, 7, [1, 2, 3, 4, 5, 6]]
Eleman deƒüi≈ütikten sonra potpori isimli liste --> ['Bet√ºl', 3.14, True, 7, [1, 2, 3, 4, 5, 6]]

    üèπ append() methodu --> listenin sonuna eleman ekler

In [ ]:
sayƒ±lar_1 = [1, 2, 3, 4, 5]
sayƒ±lar_1.append(6)
sayƒ±lar_1.append(7)         # append() yalnƒ±zca 1 adet eleamn eklenebiliyor. o y√ºzden 7'yi ayrƒ± bi satƒ±rda ekledim.
sayƒ±lar_1

[1, 2, 3, 4, 5, 6, 7]

    üèπ insert() methodu --> listeye eleman ekler ama ka√ßƒ±ncƒ± indekse eklemek istersek oraya ekler. eƒüer string eklemeye kalkarsak string'in her bir item'ƒ±nƒ± ayrƒ± ayrƒ± ekler

In [ ]:
sayƒ±lar_2 = [11, 12, 13, 14, 15]
print("Eleman eklenmeden √∂nce sayƒ±lar_2 isimli liste     -->", sayƒ±lar_2)

sayƒ±lar_2.insert(1, 20)         # 1. indexe 20 sayƒ±sƒ±nƒ± ekler
print("Eleman eklendikten sonra sayƒ±lar_2 isimli liste   -->", sayƒ±lar_2)

sayƒ±lar_2.insert(-1, 16)        # -1. indexe 16 sayƒ±sƒ±nƒ± ekler
print("Eleman eklendikten sonra sayƒ±lar_2 isimli liste   -->", sayƒ±lar_2)

sayƒ±lar_2.insert(199, 17)       # 199 elemandan daha az eleman olduƒüu i√ßin en sona ekler
print("Eleman eklendikten sonra sayƒ±lar_2 isimli liste   -->", sayƒ±lar_2)

Eleman eklenmeden √∂nce sayƒ±lar_2 isimli liste     --> [11, 12, 13, 14, 15]
Eleman eklendikten sonra sayƒ±lar_2 isimli liste   --> [11, 20, 12, 13, 14, 15]
Eleman eklendikten sonra sayƒ±lar_2 isimli liste   --> [11, 20, 12, 13, 14, 16, 15]
Eleman eklendikten sonra sayƒ±lar_2 isimli liste   --> [11, 20, 12, 13, 14, 16, 15, 17]

    üèπ extend() methodu --> append'e benzer. append sadece 1 eleman eklerken extend ile birden fazla eleman ekleyebiliyoruz

In [ ]:
liste_2 = [1, 2, 3]
liste_2.extend([4, 5])                  # 4 ve 5 sayƒ±larƒ± listeye eklendi
print(liste_2)

liste_2.extend("Techpro")                   # her bir elemanƒ± tek tek ekler
print(liste_2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'T', 'e', 'c', 'h', 'p', 'r', 'o']

    üèπ not: Listelerde replace() metodu yok.

    üèπ remove() methodu --> listeden item sileriz: Eƒüer silmek istediƒüimiz eleman listede yoksa hata verir. Bir ≈üey yazmazsak hata verir.

In [ ]:
sayƒ±lar_3 = [1, 2, 3, 2, 5, 3, 4, 2, 6, 4, 5]
sayƒ±lar_3.remove(2)     # listede g√∂rd√ºƒü√º ilk 2'yi siler
print(sayƒ±lar_3)

isimler_1 = ["Fulya", "Serhat", "Aslan"]
isimler_1.remove("Serhat")
print(isimler_1)

[1, 3, 2, 5, 3, 4, 2, 6, 4, 5]
['Fulya', 'Aslan']

    üèπ pop() methodu --> index'ine g√∂re elemanƒ± silebiliyoruz. bir ≈üey yazmazsak son elemanƒ± siler. bo≈ü listede kullanƒ±rsak hata alƒ±rƒ±z.

In [ ]:
sayƒ±lar_1 = [1, 2, 3, 4, 5]
print("listenin eski hali -->",sayƒ±lar_1)
print("pop() metodu ile silinen eleman -->",sayƒ±lar_1.pop())             # listenin son elemanƒ±nƒ± siler ve sildiƒüi item'ƒ± bize bildirir.
print("listenin son hali  -->",sayƒ±lar_1)

listenin eski hali --> [1, 2, 3, 4, 5]
pop() metodu ile silinen eleman --> 5
listenin son hali  --> [1, 2, 3, 4]

In [ ]:
print("pop() metodu kullanƒ±larak 2. indexteki silinen eleman: ", sayƒ±lar_1.pop(2))        # listenin 2. itemini siler, yani indexi 6 olan item siler.
print("pop() metodu kullanƒ±larak 0. indexteki silinen eleman: ", isimler_1.pop(0))        # sildiƒüi elemanƒ± √ßƒ±ktƒ± olarak yazdƒ±rƒ±r

pop() metodu kullanƒ±larak 2. indexteki silinen eleman:  4
pop() metodu kullanƒ±larak 0. indexteki silinen eleman:  Aslan

    üèπ count() methodu --> liste i√ßerisinde bir item'dan ka√ß tane olduƒüunu g√∂sterir
    
    √áok √ñnemli: matematiksel olarak olarak birbirine e≈üit ifadeler varsa hepsini aynƒ± eleman sayar. √ñr: False'ƒ±n matematiksel kar≈üƒ±lƒ±ƒüƒ± SIFIR'dƒ±r. 0.00'ƒ±n da matematik kar≈üƒ±lƒ±ƒüƒ± SIFIR'dƒ±r. O halde 2 adet SIFIR saymƒ±≈ü olur. Aynƒ± ≈üey bir de True (1, 1.0 vs) i√ßin ge√ßerlidir. Ba≈üka bi √∂rneƒüi yok zaten.

In [ ]:
sayƒ±lar_5 = [1, 2, 3, 2, 4, 3, 5, 1, 2, 4]
print(sayƒ±lar_5.count(3))                              # listede ka√ß tane 3 varsa onu sayar ve √ßƒ±ktƒ±sƒ±nƒ± bize verir:

karƒ±≈üƒ±k = [1, 0.0, False, 2, True, 1, 1.0, 0]
print(karƒ±≈üƒ±k.count(0))                               # karƒ±≈üƒ±k listesindeki sƒ±fƒ±rlar: karƒ±≈üƒ±k[1], karƒ±≈üƒ±k[2], karƒ±≈üƒ±k[-1]. Yani 0.0 veya False'u da sƒ±fƒ±r olarak alƒ±r.

print(karƒ±≈üƒ±k.count(False))

2
3
3

    üèπ clear() methodu --> listeleri temizler ve bo≈ü listeye √ßevirir

In [ ]:
sayƒ±lar_2 = [10, 11, 20, 20, 12, 13, 14, 16, 15, 17, 17]
sayƒ±lar_2.clear()                   # sayƒ±lar_2 listesini bo≈ü liste haline getirdik. clear kullanarak ba≈üka hi√ßbir ≈üey yapamayƒ±z.
sayƒ±lar_2

[]

    üèπ del fonksiyonu --> listeleri tamamen hafƒ±zadan siler

In [ ]:
del sayƒ±lar_2                   # bu komudu √ßalƒ±≈ütƒ±rdƒ±ktan sonra sayƒ±lar_2 listesi tamamen silindi.

    üèπ sort() methodu --> listeleri b√ºy√ºkten k√º√ß√ºƒüe doƒüru sƒ±ralar. bunu kullanƒ±rken listenin i√ßerisindeki item'larƒ±n benzer type'ta olduƒüuna dikkat et. mesela int ile float benzer tiptedir ama string deƒüildir. [sort(reverse=True) b√ºy√ºkten k√º√ß√ºƒüe sƒ±ralar]

In [ ]:
sayƒ±lar_6 = [4, 8.3, 3, 5.5, 15, 26.0, 41, 12]
sayƒ±lar_6.sort()                            # bunu kullandƒ±ktan sonra artƒ±k liste yenilenir
print(sayƒ±lar_6)
sayƒ±lar_6.sort(reverse=True)                # b√ºy√ºkten k√º√ß√ºƒüe doƒüru sƒ±ralama. Reverse'un default hali False'tur. Onu True'ya √ßeviririz.
print(sayƒ±lar_6)

[3, 4, 5.5, 8.3, 12, 15, 26.0, 41]
[41, 26.0, 15, 12, 8.3, 5.5, 4, 3]

In [ ]:
isimler_2 = ["Murat", "ay≈üe", "seyda", "mehmet"]                # stringleri ASCII tabosundaki deƒüerlerine g√∂re sƒ±ralanƒ±r [M < a < m < s]
isimler_2.sort()
print(isimler_2)
isimler_2.sort(reverse=True)                                # b√ºy√ºkten k√º√ß√ºƒüe doƒüru sƒ±ralar.
print(isimler_2)
# ord() fonksiyonu ile bir harfin ASCII deƒüerini √∂ƒüreniriz.

print(ord("M"))
print(ord("a"))
print(ord("s"))
print(ord("m"))

['Murat', 'ay≈üe', 'mehmet', 'seyda']
['seyda', 'mehmet', 'ay≈üe', 'Murat']
77
97
115
109

    üèπ append() methodu --> listenin sonuna eleman ekler
    
    üèπ insert() methodu --> listeye eleman ekler ama ka√ßƒ±ncƒ± indekse eklemek istersek oraya ekler. eƒüer string eklemeye kalkarsak string'in her bir item'ƒ±nƒ± ayrƒ± ayrƒ± ekler

    üèπ extend() methodu --> append'e benzer. append sadece 1 eleman eklerken extend ile birden fazla eleman ekleyebiliyoruz

    üèπ not: Listelerde replace() metodu yok.

    üèπ remove() methodu --> listeden item sileriz: Eƒüer silmek istediƒüimiz eleman listede yoksa hata verir. Bir ≈üey yazmazsak hata verir.

    üèπ pop() methodu --> index'ine g√∂re elemanƒ± silebiliyoruz. bir ≈üey yazmazsak son elemanƒ± siler. bo≈ü listede kullanƒ±rsak hata alƒ±rƒ±z.

    üèπ count() methodu --> liste i√ßerisinde bir item'dan ka√ß tane olduƒüunu g√∂sterir

    üèπ clear() methodu --> listeleri temizler ve bo≈ü listeye √ßevirir

    üèπ sort() methodu --> listenin elemanlarƒ±nƒ± k√º√ß√ºkten b√ºy√ºƒüe doƒüru sƒ±ralar.
    
    üèπ sort(reverse=True) --> listenin elemanlarƒ±nƒ± b√ºy√ºkten k√º√ß√ºƒüe doƒüru sƒ±ralar

In [ ]:
print([1, 2, 3] + [3, 5])              # listelerde toplama

print([1, 2, 3] * 3)                    # listelerde √ßarpma

[1, 2, 3, 3, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 2.5 Tuples**

    Tuple'lar da Listeler gibi Collection Type'lardan bir tanesidir. ƒ∞√ßerisinde her telden veri olabiliyor listelerdeki gibi.

    immutable (elemanlarƒ± deƒüi≈ütirilemez)

    iterable (elemanlarƒ±na index yoluyla ula≈üƒ±labilir ve silicing yapƒ±labilir)

### **‚ñ∂Ô∏è 2.5.1 Konu Anlatƒ±mƒ±**

In [ ]:
# tuple olu≈üturma, 1. y√∂ntem:
tuple_1 = tuple("Techpro")
print("1. y√∂ntem ile olu≈üturulan tuple -->", tuple_1)

# 2. y√∂ntem:
tuple_2 = ("Techpro",)      # vieg√ºle dikkat
print("2. y√∂ntem ile olu≈üturulan tuple -->", tuple_2)

# 3. y√∂ntem:
tuple_3 = 3, 14         # tercih edilmez
print("3. y√∂ntem ile olu≈üturulan tuple -->", tuple_3)

1. y√∂ntem ile olu≈üturulan tuple --> ('T', 'e', 'c', 'h', 'p', 'r', 'o')
2. y√∂ntem ile olu≈üturulan tuple --> ('Techpro',)
3. y√∂ntem ile olu≈üturulan tuple --> (3, 14)

In [ ]:
print(tuple([1, 2, 3, 4, 5]))      # listler iterable olduƒüu i√ßin, bir liste tuple'a d√∂n√º≈üebiliyor

name = "Ba≈üak"
tuple(name)

(1, 2, 3, 4, 5)

('B', 'a', '≈ü', 'a', 'k')

In [ ]:
tuple([1, 2, 3, 4, 5], [6, 4])        # tuple() fonksiyonu i√ßerisinde en fazla 1 tane eleman olmalƒ±. hata verir

tuple(123)                            # integar object iterable olmadƒ±ƒüƒ± i√ßin hata verir

TypeError: tuple expected at most 1 argument, got 2

In [ ]:
print((1, 2, 3) + (3, 5))               # tuple'larda toplam

print((1, 2, 3) * 3)                    # tuple'larda √ßarpma

("Techpro", 3, False) + ("Sedat",)      # Sedat'tan sonra virg√ºl eklemeseydik hata verirdi!!!!!

tuple_2[0] = "Meltem"                   # tuple'ƒ±n herhangi bir elemanƒ± deƒüi≈ütirlemez. Sadece tuple komple deƒüi≈ütirlebilir. (immutble √∂zelliƒüi)

del tuple_2[3]                          # tuple'larƒ±n i√ßerisinden bir ≈üey silemiyoruz (immutable)

(1, 2, 3, 3, 5)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

('Techpro', 3, False, 'Sedat')

    Indexing & Slicing

In [ ]:
tuple_2 = ("Aslan", 4, True, ["Tulay", 5, 6], ("Zeynep", 2, 3.14))
print(tuple_2[3])
print(tuple_2[3][0])
print(tuple_2[4][2])
print(tuple_2[1:4])
print(tuple_2[3:0:-1])

['Tulay', 5, 6]
Tulay
3.14
(4, True, ['Tulay', 5, 6])
(['Tulay', 5, 6], True, 4)

In [ ]:
tuple_2[3]                     # bir liste √ßaƒüƒ±rdƒ±k
print(tuple_2[3].append(7))    # artƒ±k bir liste metodu kullanabiliriz. istisnadƒ±r √ß√ºnk√º sadece list'ler mutable'dƒ±r.
print(tuple_2)                 # burada tuple deƒüi≈ümedi, tuple i√ßerisinde bir liste deƒüi≈üti o kadar.

None
('Aslan', 4, True, ['Tulay', 5, 6, 7], ('Zeynep', 2, 3.14))

    Tuple metodlarƒ±  : sadece 2 adet metod vardƒ±r

    ‚è≥ count() metodu : bir item'dan tuple i√ßerisinde ka√ß tane olduƒüunu sayar

In [ ]:
tuple_3 = (1, 2, 5, 2, 1, 3, 4, 1, 2, 3, 2)

print(tuple_3.count(2))            # 4 adet 2 var tuple_3 i√ßerisinde
tuple_3.count("a")          # 0 adet "a" var tuple_3 i√ßerisinde, yani yok

4

0

    ‚è≥ index() metodu : bir item'in tuple i√ßerisinde ka√ßƒ±ncƒ± index'te olduƒüunu g√∂sterir

In [ ]:
print(tuple_3.index(5))        # 5 item'ƒ± tuple_3 i√ßerisinde 2. indexte yer alƒ±yor.

tuple_3.index(2)               # ilk g√∂rd√ºƒü√º elemanƒ±n indexini verir.

2

1

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 2.6 Dictionaries**

    collection type'larƒ±n bir √ºyesidir, list ve tuple tarzƒ±nda.

    ancak burada item'larƒ± ikili gruplar halinde saklƒ±yoruz -->      
    
            {key1:value1, key2:value2, key3:value3}  
    
    tarzƒ±ndadƒ±r. her bir key&value √ßifti 1 adet elemanƒ± olu≈üturmaktadƒ±r.

    > mutable (deƒüi≈ütirilebilir) - deƒüi≈ütirilebilirdir, listeler gibi

    > iterable'dƒ±r --> item'larƒ±na tek tek ula≈üƒ±labilir

### **‚ñ∂Ô∏è 2.6.1 Konu Anlatƒ±mƒ±**

#### **‚ñ∂ 2.6.1.1 Dictionary Olu≈üturma**

In [ ]:
# 1. dictionary olu≈üturma ≈üekli:
a = {}
# .2 dictionary olu≈üturma ≈üekli:
b = dict()      # bu fonksiyon biraz daha √∂zeldir ve spesifik noktalarda kullanƒ±lƒ±r

print(a)
print(b)

{}
{}

In [1]:
# 1. dictionary olu≈üturma ≈üekli:
dict_1 = {'key1':'valu2', 'key2':'value2'}              # iki elemanlƒ±dƒ±r
print("dict_1 isimli dictionary             :",dict_1)
print("dict_1 dictionary'nin eleman sayƒ±ƒ±sƒ± :",len(dict_1))

dict_1 isimli dictionary             : {'key1': 'valu2', 'key2': 'value2'}
dict_1 dictionary'nin eleman sayƒ±ƒ±sƒ± : 2

In [ ]:
# a≈üaƒüƒ±daki gibi input ile de deƒüer girebiliyoruz

dict_3 = {'name': input('ƒ∞sminizi giriniz: ')}

dict_3

#### **‚ñ∂ 2.6.1.2 Dictionary Methods**

    üì£ items() methodu --> dictionary'nin elemanlarƒ±nƒ± yazdƒ±rƒ±r. her elemanƒ± farklƒ± tuple i√ßerisine koyarak bir liste halinde sunar. Yani, her bir tuple i√ßerisinde iki √ßift eleman olacak ≈üekilde bir √ßƒ±ktƒ± alƒ±rƒ±z; bu iki elemandan birincisi dictionary'nin key'idir, diƒüeri ise value'sidir.

In [6]:
list(dict_1.items())          # liste i√ßerisindeki tuple'lara key:value √ßiftlerini yazdƒ±rƒ±r,

('key1', 'valu2')

    üì£ keys() methodu --> dictionary'nin key'lerini √ßaƒüƒ±rƒ±r

In [ ]:
dict_1.keys()           # dictionary i√ßerisindeki key'ler

dict_keys(['key1', 'key2'])

    üì£ values() methodu --> dictionary'nin value'lerini √ßaƒüƒ±rƒ±r

In [ ]:
dict_1.values()        # dictionary i√ßerisindeki value'ler

In [ ]:
dict_2 = {'name': '√∂mer', 'age': 30, 'job': 'Data scientist'}

print("Dictionary i√ßerisindeki key'ler   :",dict_2.keys())           # bu ≈üekilde bu dict'te ne t√ºr bilgiler olduƒüunu g√∂rebiliyoruz 

print("Dictionary i√ßerisindeki value'lar :",dict_2.values())         # eƒüer key'leri biliyorsak, yanƒ±tlarla ilgileniyor olabiliriz doƒürudan

Dictionary i√ßerisindeki key'ler   : dict_keys(['name', 'age', 'job'])
Dictionary i√ßerisindeki value'lar : dict_values(['√∂mer', 30, 'Data scientist'])

In [ ]:
dict_2[0]               # dict'ler iterable'dƒ±r ancak bizim bildiƒüimiz y√∂ntemlerle ula≈üƒ±lamzlar. Bunun yerine key'leri kullanƒ±lƒ±r o y√ºzden slicing'de yok

KeyError: 0

    üì£ update() methodu --> dict'lere yeni key:value ekler yani yeni eleman ekler. Bunu yaparken bir dict formatƒ±nda yazƒ±lƒ±r

In [2]:
dict_friend = {
    'friend_1': 'Erkin',
    'friend_2': 'Ozan',
    'friend_3': 'ƒ∞rem',
    'friend_4': 'Osman',
    'friend_5': 'Hacer'
}

dict_friend.update({'friend_6': 'Ceren', 'friend_7': 'bet√ºl'})

         # direkt deƒüi≈üken olarak da kullanabiliriz, bb zaten bir dictionary

dict_friend

{'friend_1': 'Erkin',
 'friend_2': 'Ozan',
 'friend_3': 'ƒ∞rem',
 'friend_4': 'Osman',
 'friend_5': 'Hacer',
 'friend_6': 'Ceren',
 'friend_7': 'bet√ºl'}

    üì£ clear() methodu --> dictionary'nin i√ßini bo≈üaltƒ±r, bo≈ü dictionary elde ederiz

In [ ]:
dict_friend.clear()
dict_friend

{}

    üì£ pop() methodu --> dictionary'den eleman siler. <key kullanarak eleman sileriz>. pop'u bo≈ü bƒ±rakƒ±rsak hata verir

In [ ]:
dict_11 = {
    '√∂ƒürenci1': ('orkun', 32, 'data_science'),
    True: 1, 
    3.14: 'pi_number'
}

print(dict_11.pop(3.14))               # sildiƒüimiz elemanƒ±n value'su √ßƒ±ktƒ± olarak gelir kar≈üƒ±mƒ±z
print(dict_11)

pi_number
{'√∂ƒürenci1': ('orkun', 32, 'data_science'), True: 1}

#### **‚ñ∂ 2.6.1.3 Bo≈ü Dictionary Olu≈üturma**

In [ ]:
empty_dict = {}                
print(empty_dict)

#### **‚ñ∂ 2.6.1.4 Keys**

    KEYS >> key'ler string olmak zorunda deƒüil

In [ ]:
# dict'lerde bir deƒüere ula≈ümak i√ßin index deƒüil key deƒüerleri kullanƒ±lƒ±r

print("'name' key'ine kar≈üƒ±lƒ±k gelen value ‚û°", dict_2['name'])
print("'age' key'ine kar≈üƒ±lƒ±k gelen value  ‚û°", dict_2['age'])
print("'job' key'ine kar≈üƒ±lƒ±k gelen value  ‚û°", dict_2['job'])

In [ ]:
dict_4 = {0: 'zero', 1: 'one', 2: 'two'}

print(dict_4)

print(dict_4[0])               # burada √ßaƒüƒ±rƒ±lan ≈üey index deƒüil key'dir. dict_4'√ºn 0 olan key'i olmasaydƒ± hata verecekti

print(dict_4.keys())
print(dict_4.values())

{0: 'zero', 1: 'one', 2: 'two'}
zero
dict_keys([0, 1, 2])
dict_values(['zero', 'one', 'two'])

In [ ]:
dict_5 = {False: 0, True: 1}            # boolean'lar key olabiliyorlar
print(dict_5)

dict_6 = {3.14: 'pi_number'}            # float'lar da key olabiliyor
print(dict_6)

dict_8 = {(1, 2, 3): 'sayƒ±lar_listesi'} # tuple'lar key olabilir    
print(dict_8)

{False: 0, True: 1}
{3.14: 'pi_number'}
{(1, 2, 3): 'sayƒ±lar_listesi'}

    üìí Not: Dict'lerin key kƒ±smƒ±na liste koyamayƒ±z sadece. ama tuple'larƒ± koyabiliyoruz

In [ ]:
dict_7 = {[1, 2, 3]: 'sayƒ±lar_listesi'} # listeler key olamaz, √ß√ºnk√º deƒüi≈ütirilebilirler

TypeError: unhashable type: 'list'

#### **‚ñ∂ 2.6.1.5 Values**

    üìí Not: listeler ve tuple'larƒ±n her ikisi de value olarak kullanƒ±labilir. liste kullanƒ±rsak deƒüi≈üiklik yapabiliriz sonradan, tuple kullanƒ±rsak deƒüi≈üiklik yapƒ±lamaz

In [ ]:
dict_9 = {'√∂ƒürenci1': ['orkun', 32, 'data_science'], '√∂ƒürenci2': ['bilkay', 25, 'python_developer']}        
print("g√ºncellemeden √∂nceki hali -->",dict_9)
print(dict_9.keys())
print(dict_9['√∂ƒürenci2'])                          # √ßƒ±ktƒ±yƒ± liste olarak aldƒ±k. artƒ±k liste'ye g√∂re i≈ülemler yapabiliriz. eƒüer tuple olsaydƒ± deƒüi≈üiklik yapamazdƒ±k
dict_9['√∂ƒürenci2'][1] = 36                  # 2. √∂ƒürencinin ya≈üƒ±nƒ± 36 olarak deƒüi≈ütirdik, eskiden 25ti
print("g√ºncellemeden sonraki hali -->",dict_9)

g√ºncellemeden √∂nceki hali --> {'√∂ƒürenci1': ['orkun', 32, 'data_science'], '√∂ƒürenci2': ['bilkay', 25, 'python_developer']}
dict_keys(['√∂ƒürenci1', '√∂ƒürenci2'])
['bilkay', 25, 'python_developer']
g√ºncellemeden sonraki hali --> {'√∂ƒürenci1': ['orkun', 32, 'data_science'], '√∂ƒürenci2': ['bilkay', 36, 'python_developer']}

#### **‚ñ∂ 2.6.1.6 dict() Fonksiyonu**

In [ ]:
# dict() fonksiyonu ile a≈üaƒüƒ±daki gibi dict'ler olu≈üturabiliriz

dict_10 = dict(one = 1, two = 2, three = 3)
print(dict_10)

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
# √ßok √∂nemli bir detay:
# bu y√∂ntemle dictionary olu≈ütururken normal bir variable atƒ±yormu≈üuz gibi d√º≈ü√ºnmeliyiz. Yani key deƒüerimiz asla bir rakam ve √∂zel karakter olmamalƒ±:

dict(0 = "zero", 1 = "one")         # bu ≈üekilde de yapƒ±lamƒ±yor. deƒüi≈üken tanƒ±mlƒ±yormu≈ü gibi d√º≈ü√ºnmek lazƒ±m. deƒüi≈üken tanƒ±mlarken deƒüi≈ükenin sayƒ± olmasƒ± nasƒ± m√ºmk√ºn deƒüilse burada da izin vermez

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3425412105.py, line 4)

#### **‚ñ∂ 2.6.1.7 (List + Tuple) dan Dictionary Elde Etme**

In [7]:
liste_1 = [('name', 'sedat'), ('name2', 'murat'), ('name3', 'ebru')]        # bu t√ºr ikili tuple'larƒ± listeye √ßevirebiliriz. 
print(">> bu bir list'dir       :",liste_1)
print(">> bu bir dictioanry'dir :",dict(liste_1))               # bu t√ºr bir y√∂ntemde kullanƒ±labilir. onun dƒ±≈üƒ±nda √ßok mantƒ±klƒ± olmayabilir

>> bu bir list'dir       : [('name', 'sedat'), ('name2', 'murat'), ('name3', 'ebru')]
>> bu bir dictioanry'dir : {'name': 'sedat', 'name2': 'murat', 'name3': 'ebru'}

#### **‚ñ∂ 2.6.1.8 Dictionary'den Liste Elde Etme**

In [ ]:
# a≈üaƒüƒ±daki y√∂ntem ile dictionary'nin key'lerinden olu≈üan bir list elde edebiliyoruz:

print(list(dict_9))

# ancak a≈üaƒüƒ±daki gibi yaparsak doƒürudan dictionary'yi list'e √ßevirebiliriz:

print(list(dict_9.items()))

['√∂ƒürenci1', '√∂ƒürenci2']
[('√∂ƒürenci1', ['orkun', 32, 'data_science']), ('√∂ƒürenci2', ['bilkay', 36, 'python_developer'])]

    üìí Not: dictionary ile yapamayacaƒüƒ±mƒ±z ≈üeyleri listelere √ßevirip o ≈üekilde de yapabiliriz:

In [ ]:
liste_2 = list(dict_9.items())
print(liste_2[0])              # normalde dict'in sƒ±fƒ±rƒ±ncƒ± elemanƒ± olamazken listeye √ßevirip indexleme ve slicing gibi ≈üeyler yapabiliriz.
print(liste_2[0:2])            # bir dict ile slicing i≈ülemi yapƒ±lamazken onu list'e √ßevirerek slicing yapabiliyoruz

('√∂ƒürenci1', ['orkun', 32, 'data_science'])
[('√∂ƒürenci1', ['orkun', 32, 'data_science']), ('√∂ƒürenci2', ['bilkay', 36, 'python_developer'])]

In [ ]:
dict_friend = {'friend_1': 'Erkin', 'friend_2': 'Ozan', 'friend_3': 'ƒ∞rem'}
len(dict_friend)                # ka√ß elemanƒ± var-yani ka√ß tane key:value √ßifti var √∂ƒürenebiliriz

3

#### **‚ñ∂ 2.6.1.9 Yeni Eleman Ekleme ve Value Deƒüi≈ütirme**

In [ ]:
# olmayan bir key'a bir value atayabiliyoruz (mutable √∂zelliƒüi):

dict_friend['friend_4'] = "Osman"           # artƒ±k dict_friend'e yeni bir key:value eklemi≈ü olduk
print(dict_friend)

# ayrƒ±ca bir key'e ait value'yu da deƒüi≈ütirebiliyoruz:

dict_friend['friend_2'] = 'Osman'           
print(dict_friend)

# del fonksiyonu ile silmeler yapƒ±labiliyor:

del dict_friend['friend_4']
print(dict_friend)

{'friend_1': 'Erkin', 'friend_2': 'Osman', 'friend_3': 'ƒ∞rem', 'friend_4': 'Osman'}
{'friend_1': 'Erkin', 'friend_2': 'Osman', 'friend_3': 'ƒ∞rem', 'friend_4': 'Osman'}
{'friend_1': 'Erkin', 'friend_2': 'Osman', 'friend_3': 'ƒ∞rem'}

#### **‚ñ∂ 2.6.1.10 Soru**

> SORU: A≈ûAƒûIDAKƒ∞ Lƒ∞STELERE 1'DEN ONA KADAR OLAN SAYILARI EKLEYƒ∞Nƒ∞Z

    sayƒ±lar = {'tek_sayƒ±lar': [], '√ßift_sayƒ±lar': []}

In [ ]:
# 1. y√∂ntem:
sayƒ±lar = {'tek_sayƒ±lar': [], '√ßift_sayƒ±lar': []}

sayƒ±lar['tek_sayƒ±lar'] = [1, 3, 5, 7, 9]
sayƒ±lar['√ßift_sayƒ±lar'] = [2, 4, 6, 8, 10]

print(sayƒ±lar)

# 2. y√∂ntem:
sayƒ±lar = {'tek_sayƒ±lar': [], '√ßift_sayƒ±lar': []}

sayƒ±lar['tek_sayƒ±lar'].append(1)
sayƒ±lar['tek_sayƒ±lar'].append(3)
sayƒ±lar['tek_sayƒ±lar'].append(5)
sayƒ±lar['tek_sayƒ±lar'].append(7)
sayƒ±lar['tek_sayƒ±lar'].append(9)
sayƒ±lar['√ßift_sayƒ±lar'].append(2)
sayƒ±lar['√ßift_sayƒ±lar'].append(4)
sayƒ±lar['√ßift_sayƒ±lar'].append(6)
sayƒ±lar['√ßift_sayƒ±lar'].append(8)
sayƒ±lar['√ßift_sayƒ±lar'].append(10)

print(sayƒ±lar)

# 3. y√∂ntem: BENƒ∞M FAVORƒ∞M
sayƒ±lar = {'tek_sayƒ±lar': [], '√ßift_sayƒ±lar': []}

sayƒ±lar['tek_sayƒ±lar'].extend(range(1, 10, 2))
sayƒ±lar['√ßift_sayƒ±lar'].extend(range(2, 11, 2))

print(sayƒ±lar)

{'tek_sayƒ±lar': [1, 3, 5, 7, 9], '√ßift_sayƒ±lar': [2, 4, 6, 8, 10]}
{'tek_sayƒ±lar': [1, 3, 5, 7, 9], '√ßift_sayƒ±lar': [2, 4, 6, 8, 10]}
{'tek_sayƒ±lar': [1, 3, 5, 7, 9], '√ßift_sayƒ±lar': [2, 4, 6, 8, 10]}

#### **‚ñ∂ 2.6.1.11 Nested Dictionaries**

> i√ß i√ße yerle≈ütirilmi≈ü olan dictionarie'lerdir nested dictionarie'ler

In [ ]:
myfamily = {"child_1" : {"name" : "Emily", "year": 2004},           # dict i√ßinde dict kullanƒ±lmƒ±≈ütƒ±r
            "child_2" : {"name" : "Tobias", "year": 2007},
            "child_3" : {"name" : "Linus", "year": 2011}}

myfamily

{'child_1': {'name': 'Emily', 'year': 2004},
 'child_2': {'name': 'Tobias', 'year': 2007},
 'child_3': {'name': 'Linus', 'year': 2011}}

In [ ]:
myfamily.keys()     # 3 ayrƒ± key var

dict_keys(['child_1', 'child_2', 'child_3'])

In [ ]:
myfamily.values()   # 3 ayrƒ± key'e ait 3 ayrƒ± value dictionary olarak bulunmaktadƒ±r.

dict_values([{'name': 'Emily', 'year': 2004}, {'name': 'Tobias', 'year': 2007}, {'name': 'Linus', 'year': 2011}])

In [ ]:
myfamily['child_1']['name']

'Emily'

In [ ]:
myfamily = {"child_1" : {"name" : ("Emily", "Rose"), "year": 2004},           
            "child_2" : {"name" : "Tobias", "year": 2007},
            "child_3" : {"name" : "Linus", "year": 2011}}

# Emily'e ula≈üalƒ±m

myfamily['child_1']['name'][0]

'Emily'

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 2.7 Sets**

    Collection type'lardan bir tanesidir.

    diƒüer collection type'lardan ayrƒ±lan √∂zelliƒüi b√ºt√ºn elemanlarƒ±nƒ±n unique yani benzersiz 
    
    olmasƒ±dƒ±r. yani aynƒ± elemandan birden fazla bulunamaz

    >> üö¶√ñNEMLƒ∞üö¶ set'lerin i√ßerisinde list, dictionary ve set(k√ºme) olamaz ama tuple olabilir <<

    mutable'dƒ±r (farklƒ± ≈üekilde uygulamasƒ± var)

    iterable'dƒ±r (farklƒ± ≈üekilde uygulamasƒ± var)

    iki ≈üekilde olu≈üturulu: 1) set() 2) {} 

    >> unordered yapƒ±dadƒ±r yani sƒ±ralamasƒ±z <<

    k√ºmelerde bir sƒ±ralama s√∂z konusu deƒüildir. o y√ºzden de bildiƒüimiz y√∂ntemlerle indexleme yapƒ±lamaz

### **‚ñ∂Ô∏è 2.7.1 Konu Anlatƒ±mƒ±**

#### **‚ñ∂ 2.7.1.1 Set Olu≈üturma**

In [ ]:
print(set('hello'))        # fazlalƒ±klarƒ± siler mesela iki tane "l" vardƒ±r ama bir tane "l" √ßƒ±ktƒ±sƒ± elde edilir.
print(set('Techpro'))      # burada olduƒüu gibii√ßerisinde en fazla 1 adet iterable eleman olmalƒ±dƒ±r daha fazla olamaz
print({'blues', 'green', 'yellow', 'blue', 'black', 'green'})      # tekrar eden elemanlarƒ± atar
print({'mikail', 25, True, 3.14, (4, 5, 6)})   # i√ßerisinde tuple var ama list, dict ve set koyarsak hata verir

{'e', 'o', 'l', 'h'}
{'e', 'o', 'T', 'h', 'c', 'p', 'r'}
{'yellow', 'black', 'blues', 'green', 'blue'}
{True, 3.14, (4, 5, 6), 25, 'mikail'}

#### **‚ñ∂ 2.7.1.2 Bo≈ü Set Olu≈üturma**

In [ ]:
# bo≈ü k√ºme olu≈üturmanƒ±n tek bir y√∂ntemi vardƒ±r:

empty_set = set()               # bo≈ü set olu≈üutrmanƒ±n ba≈üka hi√ßbir y√∂ntemi yoktur
print('Bo≈ü k√ºme --> ',empty_set)            

emty_dict = {}                  # bu ≈üekilde olu≈üturulan bo≈ü set, dict olarak algƒ±lanƒ±r set olarak deƒüil
print('Bo≈ü dictionary -->', emty_dict)

Bo≈ü k√ºme -->  set()
Bo≈ü dictionary --> {}

#### **‚ñ∂ 2.7.1.3 Neden Set Kullanƒ±rƒ±z?**

In [ ]:
# 1 numaralƒ± kƒ±rtasiyeden gelen eksik malzeme bilgileri:
liste_1 = ['kalem', 'silgi', 'kaƒüƒ±t', 'kalem_ucu']

# 2 numaralƒ± kƒ±rtasiyeden gelen eksik malzeme bilgileri:
liste_2 = ['silgi', 'defter', 'kaƒüƒ±t']

# toplamda ihtiya√ß duyulan malzemeler:

print(liste_1 + liste_2)        # bu ≈üekilde yazdƒ±ƒ±rnca birden fazla aynƒ± malzeme yazdƒ±rƒ±lƒ±r √∂r: silgi

print(set(liste_1 + liste_2))   # ancak bu ≈üekilde set yapƒ±p yazdƒ±rƒ±nca t√ºm malzemeler unique hale gelir

['kalem', 'silgi', 'kaƒüƒ±t', 'kalem_ucu', 'silgi', 'defter', 'kaƒüƒ±t']
{'silgi', 'kalem', 'defter', 'kalem_ucu', 'kaƒüƒ±t'}

#### **‚ñ∂ 2.7.1.4 True ve False ƒ∞stisnasƒ±**

In [ ]:
set_1 = {True, 2, 1.00, 5, 0.0, 1.0}       # True ve 1 arasƒ±ndan sadece ilk sƒ±rada yazƒ±lanƒ± yazdƒ±rƒ±r. Aynƒ± ≈üekilde False ve 0.0 i√ßin de ge√ßerli. 
print("True'un matematiksel kar≈üƒ±lƒ±ƒüƒ± 1'dir -->",set_1)   

set_2 = {False, 0.0, 1, 5, 3.5}            # yazdƒ±ƒüƒ±mƒ±z sƒ±ralama o y√ºzden √∂nemli olabilmektedir
print("False'un matematiksel kar≈üƒ±lƒ±ƒüƒ± 0'dƒ±r -->",set_2)

True'un matematiksel kar≈üƒ±lƒ±ƒüƒ± 1'dir --> {0.0, True, 2, 5}
False'un matematiksel kar≈üƒ±lƒ±ƒüƒ± 0'dƒ±r --> {False, 1, 3.5, 5}

#### **‚ñ∂ 2.7.1.5 List ve For ile √áalƒ±≈ümasƒ±**

In [ ]:
# list() ile √ßalƒ±≈üƒ±r --> iterable olduƒüunun kanƒ±tƒ± 

list(set_2)     # artƒ±k b√∂yle bir listede item'lara da ula≈üabiliyoruz

[False, 1, 3.5, 5]

In [ ]:
# for d√∂n√ºg√ºs√º ile de √ßalƒ±≈üabiliyor ayrƒ±ca. -->  iterable olduƒüunun kanƒ±tƒ± 

for i in set_2:
    print(i)

False
1
3.5
5

#### **‚ñ∂ 2.7.1.6 Methods**

    union (birle≈üim), 
    intersection (kesi≈üim), 
    difference (fark) 
    --> bunlar matematikteki k√ºmelerde de olan i≈ülemlerdir

In [ ]:
a = set('suzan')
b = set('yavuz')

print('set a: ',  a, '\nset b: ', b)

set a:  {'u', 'n', 's', 'z', 'a'}
set b:  {'u', 'a', 'z', 'y', 'v'}

    ‚òÄÔ∏è union(): iki set'in birle≈üimi

In [ ]:
a.union(b)      # a birle≈üim b

# OR (farketmez ikisi de olur):

b.union(a)      # b birle≈üim a

# union() methodunun kƒ±sa yolu --> | 

print(a | b)    # bu ≈üekilde union() metodu kullanƒ±labilmektedir
print(b | a)

{'u', 'n', 's', 'a', 'z', 'y', 'v'}
{'u', 'n', 's', 'a', 'z', 'y', 'v'}

    ‚òÄÔ∏è intersection(): iki set'in kesi≈üimi

In [ ]:
# intersection(), yani kesi≈üim:

a.intersection(b)   # a kesi≈üim b demektir (diƒüerinin aynƒ±sƒ±)
b.intersection(a)   # b kesi≈üim a demektir (diƒüerinin aynƒ±sƒ±)

# intersection() methodunun kƒ±sa yolu --> &

print(a & b)        # bu ≈üekilde intersection() metodu kullanƒ±labilmektedir
print(b & a)

{'a', 'z', 'u'}
{'z', 'u', 'a'}

    ‚òÄÔ∏è difference(): iki set'in farkƒ±, birinde olan ama diƒüerinde olmayanlar

In [ ]:
# difference(), yani fark:

print("a fark b: ",a.difference(b))     # a fark b, yani a'da olup b'de olmayan demektir (diƒüeriyla aynƒ± deƒüildir),

print("b fark a: ",b.difference(a))     # b fark a, yani b'de olup a'da olmayan demektir (diƒüeriyla aynƒ± deƒüildir)

# difference() methodunun kƒ±sa yolu --> -

print("a fark b: ",a - b)                       # a.difference(b) demektir
print("b fark a: ",b - a)                       # b.difference(a) demektir

a fark b:  {'n', 's'}
b fark a:  {'y', 'v'}
a fark b:  {'n', 's'}
b fark a:  {'y', 'v'}

In [ ]:
set_3 = set('fƒ±stƒ±k')
set_4 = set('fƒ±ndƒ±k')

print('set_3 --> ',set_3)
print('set_4 --> ',set_4)

print('union() yani birle≈üimleri       --> ', set_3 | set_4)
print('intersection() yani kesi≈üimleri --> ', set_3 & set_4)
print('set_3 fark set_4                --> ', set_3 - set_4)
print('set_4 fark set_3                --> ', set_4 - set_3)

set_3 -->  {'k', 's', 'ƒ±', 't', 'f'}
set_4 -->  {'k', 'n', 'ƒ±', 'd', 'f'}
union() yani birle≈üimleri       -->  {'k', 'n', 's', 'ƒ±', 'd', 't', 'f'}
intersection() yani kesi≈üimleri -->  {'k', 'ƒ±', 'f'}
set_3 fark set_4                -->  {'t', 's'}
set_4 fark set_3                -->  {'n', 'd'}

    ‚òÄÔ∏è symmetric_difference(): birinci sette olan ama ikinci sette olmayan ve aynƒ± ≈üekilde ikinci setten olan ama birinci sette olmayan elemanlarƒ±n birle≈üimidir

In [ ]:
# soru: set_3 ve set_4 i√ßerisinde yer alan itemlerin tek bir yerde yer almasƒ±nƒ± istiyor hoca:

my_set_1 = set_3 - set_4
my_set_2 = set_4 - set_3
my_set_final = my_set_1 | my_set_2

print('Birinci y√∂ntem ile √ß√∂z√ºm       -->', my_set_final)

# or:

my_set_union = set_3 | set_4
my_set_intersection = set_3 & set_4
my_set_final2 = my_set_union - my_set_intersection

print('ƒ∞kinci y√∂ntem ile √ß√∂z√ºm       -->', my_set_final2)

# symmetric_difference() yani bir √∂nceki h√ºcrede yaptƒ±ƒüƒ±mƒ±z olay, iki k√ºme arasƒ±ndakji farklarƒ±n toplamƒ±dƒ±r:

print('symmetric_difference methodu  -->',set_3.symmetric_difference(set_4))

# symmetric_difference() methodunun kƒ±sa yolu --> ^

print('symmetric_difference methodu  -->',set_3 ^ set_4)               # bu ≈üekilde symmetric_difference() metodu kullanƒ±labilmektedir

Birinci y√∂ntem ile √ß√∂z√ºm       --> {'t', 's', 'n', 'd'}
ƒ∞kinci y√∂ntem ile √ß√∂z√ºm       --> {'t', 'n', 's', 'd'}
symmetric_difference methodu  --> {'n', 's', 'd', 't'}
symmetric_difference methodu  --> {'n', 's', 'd', 't'}

In [ ]:
# hocanƒ±n istediƒüi √∂rneƒüi direkt i≈ülemsel olarak yazarsak:

(set_3 | set_4) - (set_3 & set_4)       # √∂nce birle≈üimlerini aldƒ±k, sonra kesi≈üimlerini alƒ±p aradaki farkƒ± bulduk

(set_3 - set_4) | (set_4 - set_3)       # √∂nce farklarƒ± bulduk sonra bu farklarƒ± birle≈ütirdik

{'d', 'n', 's', 't'}

    ‚òÄÔ∏è clear(): set'i komple temizler bo≈ü set elde ederiz

In [ ]:
set_3.clear()
set_3

set()

    ‚òÄÔ∏è remove(): belirlediƒüimiz elemanƒ± siler

In [ ]:
print('remove() √∂ncesi a k√ºmesi   -->', a)
a.remove('s')                               # eƒüer i√ßerisinde olmayan bir eleman olsaydƒ± error verirdi
print('remove() sonrasƒ± a k√ºmesi -->', a)

remove() √∂ncei a k√ºmesi   --> {'u', 'n', 's', 'z', 'a'}
remove() sonrasƒ± a k√ºmesi --> {'u', 'n', 'z', 'a'}

    ‚òÄÔ∏è pop(): rastgele eleman siler

In [ ]:
print('pop() √∂ncei b k√ºmesi   -->', b)
b.pop()
print('pop() sonrasƒ± b k√ºmesi -->', a)

pop() √∂ncei b k√ºmesi   --> {'u', 'a', 'z', 'y', 'v'}
pop() sonrasƒ± b k√ºmesi --> {'u', 'n', 'z', 'a'}

    ‚òÄÔ∏è add(): belirlediƒüimiz tek bir elemanƒ± ekler

In [ ]:
print(set_3)            # bo≈ü k√ºmeydi
set_3.add('a')
print(set_3)

set()
{'a'}

    ‚òÄÔ∏è update(): iterable olan bir eleman ekler. Her bir karakterini ayrƒ± bir eleman olarak ekler

In [ ]:
set_3.update('techpro')
set_3

{'a', 'c', 'e', 'h', 'o', 'p', 'r', 't'}

    ‚òÄÔ∏è issubset(): bir k√ºmenin ba≈üka bir k√ºmenin alt k√ºmesi olup olmadƒ±ƒüƒ±nƒ± sorgularƒ±z

In [ ]:
set_5 = set('selin')
set_6 = set('enes')

print(set_5)
print(set_6)

# set_6'da bulunan t√ºm item'lar set_5'de yer almaktadƒ±r. Yani set_6 k√ºmesi set_5 k√ºmesinin bir subset'i dir.

print(set_5.issubset(set_6))       # set_5 k√ºmesi set_6 k√ºmesinin bir alt k√ºmesi midir? diye sorgular -Hayƒ±r
print(set_6.issubset(set_5))       # set_6 k√ºmesi set_5 k√ºmesinin bir alt k√ºmesi midir? diye sorgular -Evet

{'e', 'n', 'l', 's', 'i'}
{'e', 'n', 's'}
False
True

In [ ]:
# iki aynƒ± k√ºme birbirinin alt k√ºmseisidr:

set_7 = set('sine')
set_8 = set('enis')


set_7.issubset(set_8)

True

# **üåü 3. B√∂l√ºm: Pandas K√ºt√ºphanesi**

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.1 Pandas K√ºt√ºphanesini Import Etme**

    Pandas k√ºt√ºphanesini "pd" olarak import ederiz. Bundan sonra kodlarƒ±mƒ±z pandas deƒüil pd kƒ±saltmasƒ±

In [72]:
import pandas as pd

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.2 Max Column and Max Row Belirleme**

    Tablolarla √ßalƒ±≈üƒ±rken her run dediƒüimizde tablonun t√ºm satƒ±r veya t√ºm s√ºtunlarƒ±nƒ± g√∂rmek istemeyebiliriz. Bu gibi durumlar i√ßin a≈üaƒüƒ±daki uygulamayƒ± yapabiliriz.

    √áalƒ±≈üacaƒüƒ±mƒ±z tablolarƒ± import etmeden √∂nceden bu ayarƒ± yapmakta fayda var.

In [2]:
# a≈üaƒüƒ±daki √∂rneklerde 85 yerine ka√ß yazarsak o kadar column veya row getirilir ekrana. Hangisini kullancaƒüƒ±mƒ±z opsiyonel olduƒüu hi√ß kullanmayabiliriz de.

pd.set_option('display.max_columns',5) 
pd.set_option('display.max_rows', 10)

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.3 Hazƒ±r Tablo √áekme veya Tablo Olu≈üturma**

### **‚ñ∂Ô∏è 3.3.1 Hazƒ±r Tablo √áekme**

    CSV - Comma Seperetad Values 

    ≈ûimdilik sadece CSV dosyalarƒ± √ºzerinde √ßalƒ±≈ütƒ±m. CSV dosyalarƒ±nƒ± "read_csv" metodu ile okuruz.

    okuduƒüumuz her tablo i√ßin Python bir index kolonu ayarlar standart olarak. Ama bazen okuyacaƒüƒ±mƒ±z tabloda daha uygun bir index kolonumuz olur. Bu gibi durumlarda "index_col" kullanarak kolonumuzu index olarak belirleriz.

In [3]:
df_survey = pd.read_csv('SOURCES/survey_results_public.csv', index_col = 'Respondent')
df_schema = pd.read_csv('SOURCES/survey_results_schema.csv', index_col = 'Column')

### **‚ñ∂Ô∏è 3.3.2 Kendi Tablomuzu Olu≈üturma**

    √ñrneƒüin elimizde "people" isimli bir dictionary olsun. Bu dictionary'i "DataFrame" metodunu kullanarak tablo'ya √ßevirebilirz.

In [73]:
people = {
    "first": ["Emre", "ƒ∞rem", "S√ºheyla"],
    "last": ["√áakƒ±r", "√áukurlu", "√áukurlu"],
    "email": ["emrecakir@gmail.com", "iremcukurlu@email.com", "suheylacukurlu@email.com"]
}

In [75]:
df_people = pd.DataFrame(people)

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.4 Tablo G√∂sterimi**

    Bu b√∂l√ºmde √ßalƒ±≈ümamƒ±n ileriki safhalarƒ±nda kullanmak √ºzere olu≈üturmu≈ü olduƒüumuz √º√ß farklƒ± tablonun g√∂sterimi yer alacak:

In [6]:
#1. Tablo: 

df_survey           # Bu tabloda stack owerflow sitesinde yapƒ±lan bir survey'in sonu√ßlarƒ± yer almaktadƒ±r.

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88377,NaN,Yes,...,Appropriate in length,Easy
88601,NaN,No,...,NaN,NaN
88802,NaN,No,...,NaN,NaN
88816,NaN,No,...,NaN,NaN
88863,NaN,Yes,...,Appropriate in length,Easy

In [7]:
#2. Tablo:

df_schema           # "df_survey" isimli tablo'da kullanƒ±lan column isimlerinin a√ßƒ±klamalarƒ± yer almaktadƒ±r.

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [8]:
#3. Tablo:

df_people           # Bizim olu≈üturduƒüumuz 3 farklƒ± ki≈üiye ait isim soyisim ve email adreslerinin yazƒ±lƒ± olduƒüu bir tablo.

     first     last                     email
0     Emre    √áakƒ±r       emrecakir@gmail.com
1     ƒ∞rem  √áukurlu     iremcukurlu@email.com
2  S√ºheyla  √áukurlu  suheylacukurlu@email.com

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.5 Column Yazdƒ±rma**

    Genel olarak iki ≈üekilde tablonun elemanlarƒ±na ula≈üƒ±rƒ±z:

    1. Y√∂ntem: df["Kolon Ba≈ülƒ±ƒüƒ±"]  : TERCƒ∞H EDƒ∞Lƒ∞R. 

    2. Y√∂ntem: df.KolonBa≈ülƒ±ƒüƒ±      : ƒ∞ki sebepten dolayƒ± tercih edilmez. Kolon ba≈ülƒ±klarƒ± metod ismi ile √ßakƒ±≈üabilir. Ve kolon ba≈ülƒ±klarƒ±nda bo≈üluk olabilir.

In [9]:
df_people["last"]           # tablomuzun "last" isimli column'una ula≈ütƒ±k ve o kolondaki t√ºm row'larƒ±n √ßƒ±ktƒ±sƒ±nƒ± aldƒ±k.

0      √áakƒ±r
1    √áukurlu
2    √áukurlu
Name: last, dtype: object

In [10]:
df_survey["MainBranch"]     # tablomuzun "MainBranch" isimli column'una ula≈ütƒ±k ve o kolondaki t√ºm row'larƒ±n √ßƒ±ktƒ±sƒ±nƒ± aldƒ±k.

Respondent
1                   I am a student who is learning to code
2                   I am a student who is learning to code
3        I am not primarily a developer, but I write co...
4                           I am a developer by profession
5                           I am a developer by profession
                               ...
88377                                                  NaN
88601                                                  NaN
88802                                                  NaN
88816                                                  NaN
88863                                                  NaN
Name: MainBranch, Length: 88883, dtype: object

In [11]:
df_schema["QuestionText"]    # tablomuzun "QuestionText" isimli column'una ula≈ütƒ±k ve o kolondaki t√ºm row'larƒ±n √ßƒ±ktƒ±sƒ±nƒ± aldƒ±k.

Column
Respondent      Randomized respondent ID number (not in order ...
MainBranch      Which of the following options best describes ...
Hobbyist                                  Do you code as a hobby?
OpenSourcer           How often do you contribute to open source?
OpenSource      How do you feel about the quality of open sour...
                                      ...
Sexuality       Which of the following do you currently identi...
Ethnicity       Which of the following do you identify as? Ple...
Dependents      Do you have any dependents (e.g., children, el...
SurveyLength    How do you feel about the length of the survey...
SurveyEase      How easy or difficult was this survey to compl...
Name: QuestionText, Length: 85, dtype: object

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.6 info() & shape & head() & columns Metodlar**

### **üó£Ô∏è info()**

    Bu metodu bir tablonƒ±n ka√ß tane column'u var veya ka√ß tane row (etries olarak ge√ßiyor)'u var onu √∂ƒürenebiliyoruz. Ayrƒ±ca her bir column'a ait hangi data type kullanƒ±lmƒ±≈ü ve ka√ß adet row (entries) var onlarƒ± da g√∂rebiliyoruz.

In [12]:
df_people.info()         # 3 entries: 3 adet row (satƒ±r) | 3 columns: 3 adet column (eƒüer varsa, index column'u hari√ß)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   first   3 non-null      object
 1   last    3 non-null      object
 2   email   3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [13]:
df_survey.info()        # 85 entries: 85 adet row (satƒ±r) | 1 columns: 1 adet column (eƒüer varsa, index column'u hari√ß)

<class 'pandas.core.frame.DataFrame'>
Index: 88883 entries, 1 to 88863
Data columns (total 84 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MainBranch              88331 non-null  object
 1   Hobbyist                88883 non-null  object
 2   OpenSourcer             88883 non-null  object
 3   OpenSource              86842 non-null  object
 4   Employment              87181 non-null  object
 5   Country                 88751 non-null  object
 6   Student                 87014 non-null  object
 7   EdLevel                 86390 non-null  object
 8   UndergradMajor          75614 non-null  object
 9   EduOther                84260 non-null  object
 10  OrgSize                 71791 non-null  object
 11  DevType                 81335 non-null  object
 12  YearsCode               87938 non-null  object
 13  Age1stCode              87634 non-null  object
 14  YearsCodePro            74331 non-null  object
 15  CareerSat               72847 non-null  object
 16  JobSat                  70988 non-null  object
 17  MgrIdiot                61159 non-null  object
 18  MgrMoney                61157 non-null  object
 19  MgrWant                 61232 non-null  object
 20  JobSeek                 80555 non-null  object
 21  LastHireDate            79854 non-null  object
 22  LastInt                 67155 non-null  object
 23  FizzBuzz                71344 non-null  object
 24  JobFactors              79371 non-null  object
 25  ResumeUpdate            77877 non-null  object
 26  CurrencySymbol          71392 non-null  object
 27  CurrencyDesc            71392 non-null  object
 28  CompTotal               55945 non-null  float64
 29  CompFreq                63268 non-null  object
 30  ConvertedComp           55823 non-null  float64
 31  WorkWeekHrs             64503 non-null  float64
 32  WorkPlan                68914 non-null  object
 33  WorkChallenge           68141 non-null  object
 34  WorkRemote              70284 non-null  object
 35  WorkLoc                 70055 non-null  object
 36  ImpSyn                  71779 non-null  object
 37  CodeRev                 70390 non-null  object
 38  CodeRevHrs              49790 non-null  float64
 39  UnitTests               62668 non-null  object
 40  PurchaseHow             61108 non-null  object
 41  PurchaseWhat            62029 non-null  object
 42  LanguageWorkedWith      87569 non-null  object
 43  LanguageDesireNextYear  84088 non-null  object
 44  DatabaseWorkedWith      76026 non-null  object
 45  DatabaseDesireNextYear  69147 non-null  object
 46  PlatformWorkedWith      80714 non-null  object
 47  PlatformDesireNextYear  77443 non-null  object
 48  WebFrameWorkedWith      65022 non-null  object
 49  WebFrameDesireNextYear  62944 non-null  object
 50  MiscTechWorkedWith      59586 non-null  object
 51  MiscTechDesireNextYear  64511 non-null  object
 52  DevEnviron              87317 non-null  object
 53  OpSys                   87851 non-null  object
 54  Containers              85366 non-null  object
 55  BlockchainOrg           48175 non-null  object
 56  BlockchainIs            60165 non-null  object
 57  BetterLife              86269 non-null  object
 58  ITperson                87141 non-null  object
 59  OffOn                   86663 non-null  object
 60  SocialMedia             84437 non-null  object
 61  Extraversion            87305 non-null  object
 62  ScreenName              80486 non-null  object
 63  SOVisit1st              83877 non-null  object
 64  SOVisitFreq             88263 non-null  object
 65  SOVisitTo               88086 non-null  object
 66  SOFindAnswer            87816 non-null  object
 67  SOTimeSaved             86344 non-null  object
 68  SOHowMuchTime           68378 non-null  object
 69  SOAccount               87828 non-null  object
 70  SOPartFreq              74692 non-null  object
 71  SOJobs                  88066 non-null  object
 72  EntTeams                87841 non-null  object
 73  SOComm                  88131 non-null  object
 74  WelcomeChange           85855 non-null  object
 75  SONewContent            69560 non-null  object
 76  Age                     79210 non-null  float64
 77  Gender                  85406 non-null  object
 78  Trans                   83607 non-null  object
 79  Sexuality               76147 non-null  object
 80  Ethnicity               76668 non-null  object
 81  Dependents              83059 non-null  object
 82  SurveyLength            86984 non-null  object
 83  SurveyEase              87081 non-null  object
dtypes: float64(5), object(79)
memory usage: 57.6+ MB

In [14]:
df_schema.info()        # 88.883 entries: 88.883 adet row (satƒ±r) | 84 columns: 84 adet column (eƒüer varsa, index column'u hari√ß)

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, Respondent to SurveyEase
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   QuestionText  85 non-null     object
dtypes: object(1)
memory usage: 3.4+ KB

### **üó£Ô∏è shape**

    Bu metod bir data frame in yani tablonun ka√ß tane satƒ±rdan ve ka√ß tane s√ºtundan olu≈ütuƒüunu s√∂yler:

    √ñR: (x, y) --> x : number of rows, y : number of columns

In [15]:
df_people.shape         # bu tablo 3 row ve 3 column'dan olu≈ümaktadƒ±r

(3, 3)

In [16]:
df_survey.shape         # bu tablo 88.883 row ve 84 column'dan olu≈ümaktadƒ±r

(88883, 84)

In [17]:
df_schema.shape         # bu tablo 85 row ve 1 column'dan olu≈ümaktadƒ±r

(85, 1)

### **üó£Ô∏è columns**

    Bir tabloya ait column ba≈ülƒ±klarƒ±nƒ± bir liste halinde bize sunar

In [18]:
df_people.columns

Index(['first', 'last', 'email'], dtype='object')

In [19]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [20]:
df_schema.columns

Index(['QuestionText'], dtype='object')

### **üó£Ô∏è head()**

    Tablolarƒ±mƒ±z g√∂rselle≈ütirirkne ka√ß tane row g√∂z√ºkmesini isitoyrsak onu head() komutunun i√ßine yazarak belirleyebiliriz.

In [21]:
df_people.head(2)           # bu kod, tablomuzun 2 satƒ±rƒ±nƒ±n g√∂z√ºkmesini saƒülar

  first     last                  email
0  Emre    √áakƒ±r    emrecakir@gmail.com
1  ƒ∞rem  √áukurlu  iremcukurlu@email.com

In [22]:
df_survey.head(5)           # bu kod, tablomuzun 5 satƒ±rƒ±nƒ±n g√∂z√ºkmesini saƒülar

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy

In [23]:
df_schema.head(3)           # bu kod, tablomuzun 3 satƒ±rƒ±nƒ±n g√∂z√ºkmesini saƒülar

                                                 QuestionText
Column
Respondent  Randomized respondent ID number (not in order ...
MainBranch  Which of the following options best describes ...
Hobbyist                              Do you code as a hobby?

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.7 iloc() ve loc() Metodlar**

    loc() ve iloc() metodlarƒ±nƒ± kullanarak tablolarƒ±n row'larƒ±na ula≈üƒ±m saƒülƒ±yoruz. √ñrneƒüin ≈üehirlerin hava durumlarƒ±nƒ±n olduƒüu bir tabloda 4. row'daki yani satƒ±rdaki Manisa'nƒ±n cumartesi g√ºn√º ka√ß derece olduƒüunu √∂ƒürenebiliriz.

### **üó£Ô∏è iloc() - _integer location_**

    Yukarƒ±da bahsedilen tanƒ±mƒ± uygularken yalnƒ±zca integer kullanƒ±lan y√∂ntemdir. Yani location kullanarak bir row'a ula≈üacaksan bu row'un ka√ßƒ±ncƒ± indekste olduƒüunu bilmemiz gerekiyor.

In [24]:
print(df_people)

     first     last                     email
0     Emre    √áakƒ±r       emrecakir@gmail.com
1     ƒ∞rem  √áukurlu     iremcukurlu@email.com
2  S√ºheyla  √áukurlu  suheylacukurlu@email.com

In [25]:
df_survey.head(3)

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult

In [26]:
df_schema.head(3)

                                                 QuestionText
Column
Respondent  Randomized respondent ID number (not in order ...
MainBranch  Which of the following options best describes ...
Hobbyist                              Do you code as a hobby?

In [27]:
# √ñrneƒüin a≈üaƒüƒ±da people isimli tablonun sƒ±fƒ±rƒ±ncƒ± indexinde yer alan ƒ∞rem √áukurlu'ya ait t√ºm bilgiler verilmi≈ütir.

df_people.iloc[1]

first                     ƒ∞rem
last                   √áukurlu
email    iremcukurlu@email.com
Name: 1, dtype: object

In [28]:
# √ñrneƒüin a≈üaƒüƒ±da survey isimli tabloda yer alan 3. satƒ±rdaki ki≈üinin ankette verdiƒüi t√ºm cevaplarƒ± yer almaktadƒ±r.

df_survey.iloc[3]

MainBranch                         I am a developer by profession
Hobbyist                                                       No
OpenSourcer                                                 Never
OpenSource      The quality of OSS and closed source software ...
Employment                                     Employed full-time
                                      ...
Sexuality                                 Straight / Heterosexual
Ethnicity                            White or of European descent
Dependents                                                     No
SurveyLength                                Appropriate in length
SurveyEase                                                   Easy
Name: 4, Length: 84, dtype: object

In [29]:
# √ñrneƒüin schema isimli tabloda 1. indexte yer alan "MainBranch" yer almaktadƒ±r.

df_schema.iloc[1]

QuestionText    Which of the following options best describes ...
Name: MainBranch, dtype: object

    üîî iloc() kullanƒ±rken integer kullanmak zorunda olduƒüumuz s√∂yledik. ƒ∞loc √ßaƒüƒ±rarak elde eltteƒüimiz veri zerinden ba≈üka bilgilere de ula≈ümak m√ºmk√ºn elbette. √ñrneƒüin son √∂rnekte df_schema'ya ait olan QuestionText kar≈üƒ±sƒ±nda ne yazdƒ±ƒüƒ±nƒ± tam g√∂remiyoruz yerin dar olmasƒ± sebebiyle. Fakat onu ≈üu ≈üekilde g√∂r√ºnt√ºlemek m√ºmk√ºn:

In [30]:
df_schema.iloc[1]["QuestionText"]

'Which of the following options best describes you today? Here, by "developer" we mean "someone who writes code."'

    üîî Burada da survey tablosunda 3. ki≈üiye ait cevaplardan "SurveyLength" isimli bilgiyi yazdƒ±ralƒ±m:

In [31]:
df_survey.iloc[3]["SurveyLength"]

'Appropriate in length'

    üîî Ya da people tablosunda 1. satƒ±rda yer yalan ƒ∞rem √áukurlu'nun sadece "email" adresini ekrana getirebiliriz:

In [32]:
df_people.iloc[1]["email"]

'iremcukurlu@email.com'

    üîîüîî Ayrƒ±ca iloc() kullanƒ±rken illa tek bir row yani tek bir satƒ±r hakkƒ±nda bilgi yazdƒ±rmak zorunda deƒüiliz. Aynƒ± anda birden fazla row yazdƒ±rmak m√ºmk√ºn. Ayrƒ±ca slicing de yapƒ±labilir.

    Mesela a≈üaƒüƒ±da survey tablosunda yer alan 3 ve 4. rowlarƒ± yazdƒ±rdƒ±k (indexler sƒ±fƒ±rdan ba≈ülarken "Respondent" isimli column'da 1'den ba≈ülƒ±yor. Onu karƒ±≈ütƒ±rmamak lazƒ±m. iloc() kullanƒ±rken index'lere g√∂re hareket edilir)

    Ayrƒ±ca dikkat edilmesi gereken ikinci nokta, birden fazla deƒüer girebilmek i√ßin parantez i√ßerisinde bir k√∂≈üeli parantez daha a√ßmaya ihtiya√ß duyarƒ±z.

In [33]:
df_survey.iloc[[3, 4]]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy

In [34]:
# a≈üaƒüƒ±da aynƒ± anda 3 eleman g√∂r√ºnt√ºledik:

df_survey.iloc[[3, 4, 7]]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
8,I code primarily as a hobby,Yes,...,Appropriate in length,Neither easy nor difficult

In [35]:
# a≈üaƒüƒ±da ise slicing metodunu kullanarak 3 ile 7 arasƒ±ndaki t√ºm row'larƒ± yazdƒ±rabilriiz:

df_survey.iloc[3:7]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
6,"I am not primarily a developer, but I write co...",Yes,...,Too long,Neither easy nor difficult
7,I am a developer by profession,No,...,Appropriate in length,Neither easy nor difficult

In [36]:
df_survey.iloc[1:1000]          # indexler ile "Respondent" karƒ±≈ütƒ±rƒ±lmasƒ±n. iloc ve loc indexleri baz alƒ±r.

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
6,"I am not primarily a developer, but I write co...",Yes,...,Too long,Neither easy nor difficult
...,...,...,...,...,...
999,I am a developer by profession,Yes,...,Appropriate in length,Easy
1000,I am a developer by profession,Yes,...,Appropriate in length,Easy
1001,I am a developer by profession,Yes,...,Appropriate in length,Easy
1002,I am a student who is learning to code,No,...,Too long,Neither easy nor difficult
1003,I code primarily as a hobby,Yes,...,Too long,Neither easy nor difficult

    üîîüîî Ayrƒ±ca iloc() kullanarak row'larƒ± yazdƒ±rƒ±rken i≈üin i√ßine column'larƒ± da dahil edebiliriz:

    √ñrneƒüin bir √∂nceki √∂rnekte g√∂r√ºlt√ºƒü√º gibi survey isimli tablodaki 16. indexte yer alan ki≈üi  (Respondent: 17) MainBranch'a "I am a developer by profession" diye cevap vermi≈ü. O cevaba basit√ße ulabilmek m√ºmk√ºn:

In [37]:
df_survey.iloc[16, 0]

'I am a developer by profession'

In [38]:
df_people

     first     last                     email
0     Emre    √áakƒ±r       emrecakir@gmail.com
1     ƒ∞rem  √áukurlu     iremcukurlu@email.com
2  S√ºheyla  √áukurlu  suheylacukurlu@email.com

In [39]:
df_people.iloc[2]

first                     S√ºheyla
last                      √áukurlu
email    suheylacukurlu@email.com
Name: 2, dtype: object

In [40]:
# a≈üaƒüƒ±daki people tablosunda 2. row'da yer alan s√ºheylanƒ±n gmail adresini bulabildik iloc kullanarak.

df_people.iloc[2, 2]

'suheylacukurlu@email.com'

In [41]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [42]:
df_survey.iloc[1:100, 11]   # 1'den y√ºzde kadar olan row'larƒ±n 11. column'a verdikleri cevaplarƒ± yazdƒ±rdƒ±k

Respondent
2      Developer, desktop or enterprise applications;...
3      Designer;Developer, back-end;Developer, front-...
4                                  Developer, full-stack
5      Academic researcher;Developer, desktop or ente...
6      Data or business analyst;Data scientist or mac...
                             ...
96     Engineer, data;Engineering manager;Marketing o...
97     Data or business analyst;Data scientist or mac...
98     Designer;Developer, back-end;Developer, front-...
99     Academic researcher;Data or business analyst;D...
100    Developer, back-end;Developer, front-end;Devel...
Name: DevType, Length: 99, dtype: object

In [43]:
df_survey.iloc[[1, 100], 11]   # Burada ise 1 ve 100. row'larƒ±n 11. column'daki kar≈üƒ±lƒ±ƒüƒ±nƒ± yadƒ±rdƒ±k.

Respondent
2      Developer, desktop or enterprise applications;...
101                                Developer, full-stack
Name: DevType, dtype: object

    üí† Alƒ±≈ütƒ±rma: yukarƒ±da survey tablosunun t√ºm column ba≈ülƒ±klarƒ± yer almaktadƒ±r. √ñncelikle "Employment" column'unda hangi soruyu sorduklarƒ±nƒ± yazdƒ±r. Ardƒ±ndan da, 100 ile 1000 arasƒ±ndaki ki≈üilerin bu soruya ne cevap verdiklerini yazdƒ±r: 

    Not: survey'e ait t√ºm column'larƒ±n ne anlama geldiƒüi schema isimli tabloda yer almaktadƒ±r.

In [44]:
print(df_schema.iloc[5])       # √∂ncelikle bir √∂nceki kod h√ºcresinden Employment'in 5. column'da olduƒüunu saydƒ±m
print("\nüìç Yukarƒ±daki √ßƒ±tkƒ± tam olarak okunamadƒ±ƒüƒ± i√ßin a≈üaƒüƒ±ya daha a√ßƒ±k halini bƒ±rakƒ±yorum: \n")
print(df_schema.iloc[5]["QuestionText"])
print("\nüìç A≈üaƒüƒ±da yer alan tabloda, 100'den 1000'e kadar olan 'Employment' sorusuna verdiƒüi yanƒ±tlarƒ± g√∂r√ºyoruz.\n")
print(df_survey.iloc[100:1000, 6])

QuestionText    Which of the following best describes your cur...
Name: Employment, dtype: object

üìç Yukarƒ±daki √ßƒ±tkƒ± tam olarak okunamadƒ±ƒüƒ± i√ßin a≈üaƒüƒ±ya daha a√ßƒ±k halini bƒ±rakƒ±yorum:

Which of the following best describes your current employment status?

üìç A≈üaƒüƒ±da yer alan tabloda, 100'den 1000'e kadar olan 'Employment' sorusuna verdiƒüi yanƒ±tlarƒ± g√∂r√ºyoruz.

Respondent
101                 No
102                 No
103                 No
104     Yes, full-time
105                 No
             ...
999                 No
1000                No
1001               NaN
1002    Yes, full-time
1003    Yes, full-time
Name: Student, Length: 900, dtype: object

### **üó£Ô∏è loc() - _location_**

    iloc() ile biz integer sayƒ±larƒ± kullanƒ±rdƒ±k, loc() ile ise doƒürudan ne yazƒ±yorsa onu kullanƒ±rƒ±z. √ñrneƒüin schema tablosunda index'ler string ike survey tablosunda indexler integer'dƒ±r. ƒ∞kisi i√ßin loc() kullanƒ±rken birinde string diƒüerinde integer kullanacaƒüƒ±z.

In [45]:
df_schema

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [46]:
# yukarƒ±da g√∂r√ºld√ºƒü√º gibi index column'unda stringler var. O y√ºzden string kullanacaƒüƒ±z:

df_schema.loc["OpenSourcer"]        # yukarƒ±daki gibi listeyi g√∂rd√ºkten sonra yazdƒ±rmak istediƒüimizi bulmak √ßok kolay olur.

QuestionText    How often do you contribute to open source?
Name: OpenSourcer, dtype: object

In [47]:
df_survey

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88377,NaN,Yes,...,Appropriate in length,Easy
88601,NaN,No,...,NaN,NaN
88802,NaN,No,...,NaN,NaN
88816,NaN,No,...,NaN,NaN
88863,NaN,Yes,...,Appropriate in length,Easy

In [48]:
# yukarƒ±da g√∂r√ºld√ºƒü√º gibi index column'unda integer'lar var. O y√ºzden integer kullanacaƒüƒ±z:

df_survey.loc[3]        # yukarƒ±daki gibi listeyi g√∂rd√ºkten sonra yazdƒ±rmak istediƒüimizi bulmak √ßok kolay olur.

MainBranch      I am not primarily a developer, but I write co...
Hobbyist                                                      Yes
OpenSourcer                                                 Never
OpenSource      The quality of OSS and closed source software ...
Employment                                     Employed full-time
                                      ...
Sexuality                                 Straight / Heterosexual
Ethnicity                                                     NaN
Dependents                                                    Yes
SurveyLength                                Appropriate in length
SurveyEase                             Neither easy nor difficult
Name: 3, Length: 84, dtype: object

In [49]:
df_people

     first     last                     email
0     Emre    √áakƒ±r       emrecakir@gmail.com
1     ƒ∞rem  √áukurlu     iremcukurlu@email.com
2  S√ºheyla  √áukurlu  suheylacukurlu@email.com

In [50]:
# aynƒ± ≈üeklde yukarƒ±da g√∂r√ºld√ºƒü√º gibi people tablosundaki index'lerde string:

df_people.loc[1]

first                     ƒ∞rem
last                   √áukurlu
email    iremcukurlu@email.com
Name: 1, dtype: object

In [51]:
df_people.loc[1, "first"]       # 1. row'daki ki≈üiye ait "first" colonunda ne yer alƒ±yor?

'ƒ∞rem'

In [52]:
df_people.iloc[1, 0]            # yukarƒ±da loc metodu ile kurduƒüumuz yapƒ±nƒ±n √ßok daha anlamlƒ± olduƒüu net

'ƒ∞rem'

In [53]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [54]:
df_survey.loc[1:100, 'WorkRemote']      # loc kullanarak anlamlƒ± sonu√ßlar √ßƒ±karmak i≈üte bu kadar kolay.

Respondent
1                                                    NaN
2                                                    NaN
3                       Less than once per month / Never
4                       Less than once per month / Never
5                                  A few days each month
                             ...
96                                                   NaN
97                                 A few days each month
98                                                   NaN
99                                                   NaN
100    All or almost all the time (I'm full-time remote)
Name: WorkRemote, Length: 100, dtype: object

    üì£ Bir √∂nceki kodu loc() yerine iloc() ile yazdƒ±rmaya kalksaydƒ±k, √∂ncelikle 'WorkRemote' isimli kolonunun ka√ßƒ±ncƒ± sƒ±rada olduƒüunu sayƒ±p ondan sonra yapmamƒ±z gerekecekti.

    üì£ Ayrƒ±ca loc() kullanƒ±rken de 'WorkRemote' nin kar≈üƒ±lƒ±ƒüƒ± olan sayƒ±yƒ± yazarsak kabul olmaz. √á√ºnk√º column'lar i√ßin bir sayƒ± yoktur ama row'lar i√ßin bir index sayƒ±larƒ± vardƒ±r. O y√ºzden row'lar i√ßin integer kullanabilir ama column'lar i√ßin kullanamayƒ±z.

In [55]:
print("A≈üaƒüƒ±daki tablo loc[] metodu kullanƒ±larak yazƒ±lmƒ±≈ütƒ±r. 1'den 100'e kadar olan row'larƒ±n 'WorkRemote' ve 'CodeRev' column'larƒ± arasƒ±ndaki yanƒ±tlarƒ± yazdƒ±rƒ±lmƒ±≈ütƒ±r. \n")

df_survey.loc[1:100, 'WorkRemote':'CodeRev']

A≈üaƒüƒ±daki tablo loc[] metodu kullanƒ±larak yazƒ±lmƒ±≈ütƒ±r. 1'den 100'e kadar olan row'larƒ±n 'WorkRemote' ve 'CodeRev' column'larƒ± arasƒ±ndaki yanƒ±tlarƒ± yazdƒ±rƒ±lmƒ±≈ütƒ±r.

,WorkRemote,WorkLoc,ImpSyn,CodeRev
Respondent,,,,
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,Less than once per month / Never,Home,Average,No
4,Less than once per month / Never,Home,A little below average,No
5,A few days each month,Office,A little above average,"Yes, because I see value in code review"
...,...,...,...,...
96,NaN,NaN,NaN,NaN
97,A few days each month,Office,A little above average,"Yes, because I see value in code review"
98,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN
100,All or almost all the time (I'm full-time remote),Home,A little above average,"Yes, because I see value in code review"

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.7 set_index() Metodu**

    Bu metodu kullanarak bir tablo'nun index column'unu deƒüi≈ütirebiliyoruz.

    √ñrneƒüin poeple tablosunda index olarak pandas ƒ±n standart olarak uyguladƒ±ƒüƒ±m indexler yer almaktadƒ±r. O index column'u yerine pople tablosu i√ßeriisnde yer alan "first" column'unu index column'u olarak tayin edebilirz. B√∂ylelikle iloc yerine loc metodunu kullanarak tabloda daha y√ºksek bir hakimiyet kurabiliriz.

In [56]:
# g√∂r√ºld√ºƒü√º gibi indexler standart pandas indexi:

df_people

     first     last                     email
0     Emre    √áakƒ±r       emrecakir@gmail.com
1     ƒ∞rem  √áukurlu     iremcukurlu@email.com
2  S√ºheyla  √áukurlu  suheylacukurlu@email.com

In [57]:
# a≈üaƒüƒ±daki kod uygulandƒ±ktan sonra artƒ±k first column'unu biz index olarak kullanabileceƒüiz.

df_people.set_index('first')

            last                     email
first
Emre       √áakƒ±r       emrecakir@gmail.com
ƒ∞rem     √áukurlu     iremcukurlu@email.com
S√ºheyla  √áukurlu  suheylacukurlu@email.com

    NOT: YUKARIDAKƒ∞ KODA Bƒ∞Z set_index KULLANDIK AMA A≈ûAƒûIDA G√ñR√úLD√úƒû√ú Gƒ∞Bƒ∞ TABLOMUZ HALA ESKƒ∞ HALƒ∞NDE. √á√úNK√ú YUKARIDAKƒ∞ ƒ∞≈ûLEMƒ∞ HEN√úZ ATAMADIK. ATAMA YAPILDIKTAN SONRA ARTIK DEƒûƒ∞≈ûMƒ∞≈û OLUR TABLO

In [58]:
df_people

     first     last                     email
0     Emre    √áakƒ±r       emrecakir@gmail.com
1     ƒ∞rem  √áukurlu     iremcukurlu@email.com
2  S√ºheyla  √áukurlu  suheylacukurlu@email.com

In [59]:
df_people2 = df_people.set_index('first')
df_people2

            last                     email
first
Emre       √áakƒ±r       emrecakir@gmail.com
ƒ∞rem     √áukurlu     iremcukurlu@email.com
S√ºheyla  √áukurlu  suheylacukurlu@email.com

    Yukarƒ±da da g√∂r√ºld√ºƒü√º √ºzere artƒ±k df_people2 yi biz loc ile kullanabilir hale getirdik.

In [60]:
df_people2.loc['Emre']

# loc[] kullanarak Emre ismine ait soyisim ve email bilgilerine pratik ≈üekilde ula≈ütƒ±k

last                   √áakƒ±r
email    emrecakir@gmail.com
Name: Emre, dtype: object

> **A≈üaƒüƒ±daki gibi reset_index(inplace=True) kullanarak  index'i eski haline d√∂n√º≈üt√ºrebiliriz. Biz burada farklƒ± bi deƒüi≈ükene atadƒ±ƒüƒ±mƒ±z i√ßin anlamlƒ± g√∂z√ºkmeyebilir ama eƒüer aynƒ± deƒüi≈ükene atamƒ±≈ü olsaydƒ±k anlamlƒ± olurdu.**

In [61]:
df_people2.reset_index(inplace=True)
df_people2

     first     last                     email
0     Emre    √áakƒ±r       emrecakir@gmail.com
1     ƒ∞rem  √áukurlu     iremcukurlu@email.com
2  S√ºheyla  √áukurlu  suheylacukurlu@email.com

In [62]:
df_people2 = df_people.set_index('first')
df_people2      # bu tablo bu ≈üekilde kalsƒ±n

            last                     email
first
Emre       √áakƒ±r       emrecakir@gmail.com
ƒ∞rem     √áukurlu     iremcukurlu@email.com
S√ºheyla  √áukurlu  suheylacukurlu@email.com

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.7 sort_index() Metodu**

    Bu metodu kullanarak index column'unu sƒ±ralayabiliriz, mesela alfabetik sƒ±raya g√∂re.

In [63]:
df_schema.sort_index()

                                                    QuestionText
Column
Age            What is your age (in years)? If you prefer not...
Age1stCode     At what age did you write your first line of c...
BetterLife     Do you think people born today will have a bet...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BlockchainOrg  How is your organization thinking about or imp...
...                                                          ...
WorkPlan                 How structured or planned is your work?
WorkRemote                       How often do you work remotely?
WorkWeekHrs     On average, how many hours per week do you work?
YearsCode      Including any education, how many years have y...
YearsCodePro   How many years have you coded professionally (...

[85 rows x 1 columns]

In [64]:
df_schema.sort_index(ascending=False)

                                                    QuestionText
Column
YearsCodePro   How many years have you coded professionally (...
YearsCode      Including any education, how many years have y...
WorkWeekHrs     On average, how many hours per week do you work?
WorkRemote                       How often do you work remotely?
WorkPlan                 How structured or planned is your work?
...                                                          ...
BlockchainOrg  How is your organization thinking about or imp...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BetterLife     Do you think people born today will have a bet...
Age1stCode     At what age did you write your first line of c...
Age            What is your age (in years)? If you prefer not...

[85 rows x 1 columns]

In [65]:
df_schema

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

> **Yukarƒ±da g√∂r√ºld√ºƒü√º gibi afabetik olarak hem A'dan Z'ye hem de Z'den A'ya doƒüru sƒ±ralamam raƒümen orijinl tablo deƒüi≈ümedi. √á√ºnk√º Herhangi bir atama i≈ülemi yapmadƒ±k.**

In [66]:
df_schema2 = df_schema.sort_index()
df_schema2      # bundan sonra alfabetik olarak sƒ±ralanmƒ±≈ü bir schema tablomuz var.

                                                    QuestionText
Column
Age            What is your age (in years)? If you prefer not...
Age1stCode     At what age did you write your first line of c...
BetterLife     Do you think people born today will have a bet...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BlockchainOrg  How is your organization thinking about or imp...
...                                                          ...
WorkPlan                 How structured or planned is your work?
WorkRemote                       How often do you work remotely?
WorkWeekHrs     On average, how many hours per week do you work?
YearsCode      Including any education, how many years have y...
YearsCodePro   How many years have you coded professionally (...

[85 rows x 1 columns]

> **Ya da ≈ü√∂yle yapabiliriz:**

In [67]:
df_people2.sort_index(ascending=False, inplace=True)
df_people2      # ascending=False kullanarak z'den a'ya doƒüru sƒ±raladƒ±k index column'unu. inpalce=True kullanarak da doƒürudan atama yaptƒ±k.
# not: ƒ∞ harfi ingilizcede olmadƒ±ƒüƒ± i√ßin o harfi birinci sƒ±raya atadƒ±.

            last                     email
first
ƒ∞rem     √áukurlu     iremcukurlu@email.com
S√ºheyla  √áukurlu  suheylacukurlu@email.com
Emre       √áakƒ±r       emrecakir@gmail.com

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.8 Filtre Olu≈üturma Y√∂ntemi**

### **‚ñ∂Ô∏è 3.7.1 df_people √ºzerinde uygulamalar**

In [68]:
df_people

     first     last                     email
0     Emre    √áakƒ±r       emrecakir@gmail.com
1     ƒ∞rem  √áukurlu     iremcukurlu@email.com
2  S√ºheyla  √áukurlu  suheylacukurlu@email.com

In [69]:
# a≈üaƒüƒ±da yaptƒ±ƒüƒ±mƒ±z i≈ülem ≈üudur, last == '√áukurlu' olan row'larƒ± True, geri kalanlarƒ± ise False yazdƒ±r.

filt = df_people["last"] == "√áukurlu"
filt

0    False
1     True
2     True
Name: last, dtype: bool

    Yukarƒ±da uyguladƒ±ƒüƒ±mƒ±z filtre i≈ülemini "filt" deƒüi≈ükenine atadƒ±k. filt deƒüi≈ükeni bize soyisimi √ßukurlu olan satƒ±rlarƒ±n True, diƒüer satƒ±rlarƒ±n ise False olduƒüunu s√∂yler. ana tabloda hi√ßbir deƒüi≈üiklik yok yani. Eƒüer biz bu filt deƒüi≈ükenini a≈üaƒüƒ±daki gibi bir loc[] metodu i√ßerisine yazarsak, sadece True olan satƒ±rlar yazdƒ±rƒ±lacak. B√∂ylece column'lar √ºzerinden filtreleme yapƒ±p istediƒüimiz row'u yazdƒ±rabiliyoruz:

In [70]:
# soyismi "√áukurlu" olan satƒ±rlarƒ± yazdƒ±ran filtreleme i≈ülemi:

df_people.loc[filt]

     first     last                     email
1     ƒ∞rem  √áukurlu     iremcukurlu@email.com
2  S√ºheyla  √áukurlu  suheylacukurlu@email.com

In [71]:
# soyismi "√áukurlu" olan isimleri yazdƒ±ran filtreleme i≈ülemi:

df_people.loc[filt, 'first']

1       ƒ∞rem
2    S√ºheyla
Name: first, dtype: object

In [72]:
# ya da soyisimi "√áukurlu" olan emailleri yazdƒ±ran filtrelem i≈ülemi:

df_people.loc[filt, 'email']

1       iremcukurlu@email.com
2    suheylacukurlu@email.com
Name: email, dtype: object

### **‚ñ∂Ô∏è 3.7.2 df_survey √ºzerinde uygulamalar**

In [73]:
df_survey

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88377,NaN,Yes,...,Appropriate in length,Easy
88601,NaN,No,...,NaN,NaN
88802,NaN,No,...,NaN,NaN
88816,NaN,No,...,NaN,NaN
88863,NaN,Yes,...,Appropriate in length,Easy

In [74]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

    A≈üaƒüƒ±da kullanƒ±lan value_couns() metodunu g√∂rmedik daha. √ñzetle, survey tablosundaki cinsiyet'e verilen cevaplarƒ± detaylƒ± olarka yazdƒ±rmƒ±≈ütƒ±r.

In [75]:
df_survey["Sexuality"].value_counts()

Sexuality
Straight / Heterosexual                            70155
Bisexual                                            3440
Gay or Lesbian                                      1798
Bisexual;Straight / Heterosexual                     494
Bisexual;Gay or Lesbian                              114
Bisexual;Gay or Lesbian;Straight / Heterosexual      108
Gay or Lesbian;Straight / Heterosexual                38
Name: count, dtype: int64

In [76]:
# biz a≈üaƒüƒ±ya, cinsiyetini "bisexual" veya "Gay or Lesbian" olarak belirten ki≈üilerin satƒ±rlarƒ±nƒ± yazdƒ±ralƒ±m:

filt_sex = (df_survey["Sexuality"] == "Bisexual") | (df_survey["Sexuality"] == "Gay or Lesbian")

df_survey.loc[filt_sex]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
34,I am a student who is learning to code,Yes,...,Too short,Neither easy nor difficult
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
...,...,...,...,...,...
81093,NaN,Yes,...,Appropriate in length,Easy
83397,NaN,Yes,...,Appropriate in length,Easy
83612,NaN,Yes,...,NaN,NaN
84539,NaN,Yes,...,Appropriate in length,Easy
85961,NaN,Yes,...,Appropriate in length,Difficult

    not: yukarƒ±da g√∂r√ºld√ºƒü√º gibi union simgesi olan | kulanƒ±lmƒ±≈ütƒ±r.

    union (birle≈üim)      :     |
    intersection (kesi≈üim):     &
    difference (fark)     :     -

    symetricdifference     :    ^

In [77]:
# a≈üaƒüƒ±da atƒ±k bu cinsiyet filtresine ait bir deƒüi≈ükenimiz var. Ve bu deƒüi≈üken √ºzerinden daha pratik i≈ülemler yapƒ±labilir

df_survey_sex = df_survey.loc[filt_sex]
df_survey_sex

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
34,I am a student who is learning to code,Yes,...,Too short,Neither easy nor difficult
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
...,...,...,...,...,...
81093,NaN,Yes,...,Appropriate in length,Easy
83397,NaN,Yes,...,Appropriate in length,Easy
83612,NaN,Yes,...,NaN,NaN
84539,NaN,Yes,...,Appropriate in length,Easy
85961,NaN,Yes,...,Appropriate in length,Difficult

In [78]:
filt_sex_profession = df_survey_sex["MainBranch"] == "I am a developer by profession"
df_survey_SexPro = df_survey_sex.loc[filt_sex_profession]
df_survey_SexPro

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
100,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88800,I am a developer by profession,Yes,...,Too long,Neither easy nor difficult
88845,I am a developer by profession,Yes,...,Appropriate in length,Easy
88865,I am a developer by profession,No,...,Appropriate in length,Easy
88868,I am a developer by profession,Yes,...,Appropriate in length,Easy
88873,I am a developer by profession,Yes,...,Appropriate in length,Easy

    Yukarƒ±daki tablonun en altƒ±nda 3.621 rows yazƒ±yor. Yani bizim istediƒüimiz ≈üartlara uyan 3.621 ki≈üi varmƒ±≈ü. Buna shape metodu ile de ula≈üƒ±labilir. Aynƒ± ≈üekilde ana tablomuz olan df_survey'e de ula≈üƒ±labilir. 

    a≈üaƒüƒ±da sizin i√ßin istediƒüimiz ≈üartlarƒ± saƒülayan ki≈üilerin, toplamda ankete katƒ±lan ki≈üilerin y√ºzde ka√ßƒ± olduƒüunu hesaplayacaƒüƒ±m:

In [79]:
rows_sex = df_survey_sex.shape[0]
rows_filter = df_survey_SexPro.shape[0]
rows_nofilter = df_survey.shape[0]

percante = round((rows_filter / rows_nofilter), 2)

print(f"Ankete katƒ±lan {rows_sex} ki≈üi ya 'Bisexual' ya da 'Gay or Lesbian' cinsiyetlerine sahipler. Ve bunlarƒ±n da {rows_filter} tanesi, 'I am a develooper by profession' demi≈ütir.")

print(f"Ankete katƒ±lan toplam insan sayƒ±sƒ±, {rows_nofilter} olduƒüunda g√∂re: ")

print(f"Ankete katƒ±lanlarƒ±n y√ºzde {percante}'u bizim filtrelerimize uygundur.")

Ankete katƒ±lan 5238 ki≈üi ya 'Bisexual' ya da 'Gay or Lesbian' cinsiyetlerine sahipler. Ve bunlarƒ±n da 3621 tanesi, 'I am a develooper by profession' demi≈ütir.
Ankete katƒ±lan toplam insan sayƒ±sƒ±, 88883 olduƒüunda g√∂re:
Ankete katƒ±lanlarƒ±n y√ºzde 0.04'u bizim filtrelerimize uygundur.

    ≈ûimdi de ba≈üka bir alƒ±≈ütƒ±rma yapalƒ±m. Biraz inceleyelim √∂ncelikle.

In [80]:
df_schema

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [81]:
df_schema.loc['YearsCode']['QuestionText']

'Including any education, how many years have you been coding?'

    YearsCode'a 5'den fazla cevap verenlerin ka√ß tanesinde Bechalor's Degree veya Master's Degre yoktur?

In [82]:
df_survey['YearsCode'].value_counts()

YearsCode
5     7047
10    6777
6     6179
4     5729
8     5361
      ...
50      51
47      36
48      31
46      27
49      25
Name: count, Length: 52, dtype: int64

In [83]:
df_survey['EdLevel'].value_counts()

EdLevel
Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)                                              39134
Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)                                           19569
Some college/university study without earning a degree                                10502
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     8642
Associate degree                                                                       2938
Other doctoral degree (Ph.D, Ed.D., etc.)                                              2432
Primary/elementary school                                                              1422
Professional degree (JD, MD, etc.)                                                     1198
I never completed any formal education                                                  553
Name: count, dtype: int64

In [84]:
filt_years = (df_survey['YearsCode'] > "5") & (df_survey['YearsCode'] != "Less than 1 year")    # Less than 1 year bizim d√ºzenimizi bozan bir yanƒ±t olduƒüu i√ßin √ßƒ±kartƒ±yoruz onur
filt_education = (df_survey['EdLevel'] == "Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)") | (df_survey['EdLevel'] == "Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)")

df_years = df_survey.loc[filt_years]

df_final = df_years.loc[~filt_education]        # √áOK √ñNEMLƒ∞. YUKARIDAKƒ∞ filt_education HARƒ∞Cƒ∞NDEKƒ∞LERƒ∞ SE√áTƒ∞K BURADA

ads = df_final[['EdLevel', 'YearsCode']]

ads     # istediƒüimiz sonucu veren tablo budur

,EdLevel,YearsCode
Respondent,,
27,Some college/university study without earning ...,7
37,Associate degree,7
42,"Secondary school (e.g. American high school, G...",8
86,Some college/university study without earning ...,6
88,"Secondary school (e.g. American high school, G...",9
...,...,...
72492,Some college/university study without earning ...,7
82789,"Secondary school (e.g. American high school, G...",9
83000,"Secondary school (e.g. American high school, G...",7
86566,Some college/university study without earning ...,More than 50 years
88863,"Professional degree (JD, MD, etc.)",8

In [85]:
df_survey

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88377,NaN,Yes,...,Appropriate in length,Easy
88601,NaN,No,...,NaN,NaN
88802,NaN,No,...,NaN,NaN
88816,NaN,No,...,NaN,NaN
88863,NaN,Yes,...,Appropriate in length,Easy

In [86]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

    A≈üaƒüƒ±da kullanƒ±lan value_couns() metodunu g√∂rmedik daha. √ñzetle, survey tablosundaki cinsiyet'e verilen cevaplarƒ± detaylƒ± olarka yazdƒ±rmƒ±≈ütƒ±r.

In [87]:
df_survey["Sexuality"].value_counts()

Sexuality
Straight / Heterosexual                            70155
Bisexual                                            3440
Gay or Lesbian                                      1798
Bisexual;Straight / Heterosexual                     494
Bisexual;Gay or Lesbian                              114
Bisexual;Gay or Lesbian;Straight / Heterosexual      108
Gay or Lesbian;Straight / Heterosexual                38
Name: count, dtype: int64

In [88]:
# biz a≈üaƒüƒ±ya, cinsiyetini "bisexual" veya "Gay or Lesbian" olarak belirten ki≈üilerin satƒ±rlarƒ±nƒ± yazdƒ±ralƒ±m:

filt_sex = (df_survey["Sexuality"] == "Bisexual") | (df_survey["Sexuality"] == "Gay or Lesbian")

df_survey.loc[filt_sex]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
34,I am a student who is learning to code,Yes,...,Too short,Neither easy nor difficult
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
...,...,...,...,...,...
81093,NaN,Yes,...,Appropriate in length,Easy
83397,NaN,Yes,...,Appropriate in length,Easy
83612,NaN,Yes,...,NaN,NaN
84539,NaN,Yes,...,Appropriate in length,Easy
85961,NaN,Yes,...,Appropriate in length,Difficult

    not: yukarƒ±da g√∂r√ºld√ºƒü√º gibi union simgesi olan | kulanƒ±lmƒ±≈ütƒ±r.

    union (birle≈üim)      :     |
    intersection (kesi≈üim):     &
    difference (fark)     :     -

    symetricdifference     :    ^

In [89]:
# a≈üaƒüƒ±da atƒ±k bu cinsiyet filtresine ait bir deƒüi≈ükenimiz var. Ve bu deƒüi≈üken √ºzerinden daha pratik i≈ülemler yapƒ±labilir

df_survey_sex = df_survey.loc[filt_sex]
df_survey_sex

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
34,I am a student who is learning to code,Yes,...,Too short,Neither easy nor difficult
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
...,...,...,...,...,...
81093,NaN,Yes,...,Appropriate in length,Easy
83397,NaN,Yes,...,Appropriate in length,Easy
83612,NaN,Yes,...,NaN,NaN
84539,NaN,Yes,...,Appropriate in length,Easy
85961,NaN,Yes,...,Appropriate in length,Difficult

In [90]:
filt_sex_profession = df_survey_sex["MainBranch"] == "I am a developer by profession"
df_survey_SexPro = df_survey_sex.loc[filt_sex_profession]
df_survey_SexPro

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
100,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88800,I am a developer by profession,Yes,...,Too long,Neither easy nor difficult
88845,I am a developer by profession,Yes,...,Appropriate in length,Easy
88865,I am a developer by profession,No,...,Appropriate in length,Easy
88868,I am a developer by profession,Yes,...,Appropriate in length,Easy
88873,I am a developer by profession,Yes,...,Appropriate in length,Easy

    Yukarƒ±daki tablonun en altƒ±nda 3.621 rows yazƒ±yor. Yani bizim istediƒüimiz ≈üartlara uyan 3.621 ki≈üi varmƒ±≈ü. Buna shape metodu ile de ula≈üƒ±labilir. Aynƒ± ≈üekilde ana tablomuz olan df_survey'e de ula≈üƒ±labilir. 

    a≈üaƒüƒ±da sizin i√ßin istediƒüimiz ≈üartlarƒ± saƒülayan ki≈üilerin, toplamda ankete katƒ±lan ki≈üilerin y√ºzde ka√ßƒ± olduƒüunu hesaplayacaƒüƒ±m:

In [91]:
rows_sex = df_survey_sex.shape[0]
rows_filter = df_survey_SexPro.shape[0]
rows_nofilter = df_survey.shape[0]

percante = round((rows_filter / rows_nofilter), 2)

print(f"Ankete katƒ±lan {rows_sex} ki≈üi ya 'Bisexual' ya da 'Gay or Lesbian' cinsiyetlerine sahipler. Ve bunlarƒ±n da {rows_filter} tanesi, 'I am a develooper by profession' demi≈ütir.")

print(f"Ankete katƒ±lan toplam insan sayƒ±sƒ±, {rows_nofilter} olduƒüunda g√∂re: ")

print(f"Ankete katƒ±lanlarƒ±n y√ºzde {percante}'u bizim filtrelerimize uygundur.")

Ankete katƒ±lan 5238 ki≈üi ya 'Bisexual' ya da 'Gay or Lesbian' cinsiyetlerine sahipler. Ve bunlarƒ±n da 3621 tanesi, 'I am a develooper by profession' demi≈ütir.
Ankete katƒ±lan toplam insan sayƒ±sƒ±, 88883 olduƒüunda g√∂re:
Ankete katƒ±lanlarƒ±n y√ºzde 0.04'u bizim filtrelerimize uygundur.

    ≈ûimdi de ba≈üka bir alƒ±≈ütƒ±rma yapalƒ±m. Biraz inceleyelim √∂ncelikle.

In [92]:
df_schema

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [93]:
df_schema.loc['YearsCode']['QuestionText']

'Including any education, how many years have you been coding?'

    YearsCode'a 5'den fazla cevap verenlerin ka√ß tanesinde Bechalor's Degree veya Master's Degre yoktur?

In [94]:
df_survey['YearsCode'].value_counts()

YearsCode
5     7047
10    6777
6     6179
4     5729
8     5361
      ...
50      51
47      36
48      31
46      27
49      25
Name: count, Length: 52, dtype: int64

In [95]:
df_survey['EdLevel'].value_counts()

EdLevel
Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)                                              39134
Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)                                           19569
Some college/university study without earning a degree                                10502
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     8642
Associate degree                                                                       2938
Other doctoral degree (Ph.D, Ed.D., etc.)                                              2432
Primary/elementary school                                                              1422
Professional degree (JD, MD, etc.)                                                     1198
I never completed any formal education                                                  553
Name: count, dtype: int64

In [96]:
filt_years = (df_survey['YearsCode'] > "5") & (df_survey['YearsCode'] != "Less than 1 year")    # Less than 1 year bizim d√ºzenimizi bozan bir yanƒ±t olduƒüu i√ßin √ßƒ±kartƒ±yoruz onur
filt_education = (df_survey['EdLevel'] == "Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)") | (df_survey['EdLevel'] == "Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)")

df_years = df_survey.loc[filt_years]

df_final = df_years.loc[~filt_education]        # √áOK √ñNEMLƒ∞. YUKARIDAKƒ∞ filt_education HARƒ∞Cƒ∞NDEKƒ∞LERƒ∞ SE√áTƒ∞K BURADA

ads = df_final[['EdLevel', 'YearsCode']]

ads     # istediƒüimiz sonucu veren tablo budur

,EdLevel,YearsCode
Respondent,,
27,Some college/university study without earning ...,7
37,Associate degree,7
42,"Secondary school (e.g. American high school, G...",8
86,Some college/university study without earning ...,6
88,"Secondary school (e.g. American high school, G...",9
...,...,...
72492,Some college/university study without earning ...,7
82789,"Secondary school (e.g. American high school, G...",9
83000,"Secondary school (e.g. American high school, G...",7
86566,Some college/university study without earning ...,More than 50 years
88863,"Professional degree (JD, MD, etc.)",8

### **‚ñ∂Ô∏è 3.7.3 Farklƒ± Metodlar**

In [97]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [98]:
df_survey['Gender'].value_counts()

Gender
Man                                                            77919
Woman                                                           6344
Non-binary, genderqueer, or gender non-conforming                597
Man;Non-binary, genderqueer, or gender non-conforming            181
Woman;Non-binary, genderqueer, or gender non-conforming          163
Woman;Man                                                        132
Woman;Man;Non-binary, genderqueer, or gender non-conforming       70
Name: count, dtype: int64

In [99]:
genders = ['Man', 'Woman']
filt = df_survey['Gender'].isin(genders)

In [100]:
df_survey.loc[filt, ['Country', 'Gender']]      # a≈üaƒüƒ±da sadece Man ve Woman olan bireylerin √ºlkeleri yer almaktadƒ±r.

                           Country Gender
Respondent
1                   United Kingdom    Man
2           Bosnia and Herzegovina    Man
3                         Thailand    Man
4                    United States    Man
5                          Ukraine    Man
...                            ...    ...
88182                     Pakistan    Man
88212                        Spain    Man
88282                United States    Man
88377                       Canada    Man
88863                        Spain    Man

[84263 rows x 2 columns]

In [101]:
countries = ['Turkey']
filt = df_survey['Country'].isin(countries)
df_survey.loc[filt]['EdLevel'].value_counts()

EdLevel
Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)                                              521
Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)                                           117
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    109
Some college/university study without earning a degree                                 83
Associate degree                                                                       47
Other doctoral degree (Ph.D, Ed.D., etc.)                                              23
Primary/elementary school                                                              16
I never completed any formal education                                                 12
Name: count, dtype: int64

In [102]:
df_survey['Country'].value_counts()

Country
United States        20949
India                 9061
Germany               5866
United Kingdom        5737
Canada                3395
                     ...
Tonga                    1
Timor-Leste              1
North Korea              1
Brunei Darussalam        1
Chad                     1
Name: count, Length: 179, dtype: int64

    ALI≈ûTIRMA: √úlkelerin Bachelor's Degree alan yazƒ±lƒ±mcƒ±larƒ±n t√ºm yazƒ±lƒ±mƒ±clarƒ±na oranƒ± ka√ßtƒ±r? Ve aynƒ± ≈üekilde Master's Degree i√ßin de ge√ßerli.

In [ ]:
countries = list(set(df_survey['Country']))
countries.pop(0)
countries.sort()

for country in range(0, len(countries)):
    empty_list = []
    empty_list.append(country)
    filt = df_survey['Country'].isin(empty_list)
    filt_All = df_survey.loc[filt]['EdLevel'].shape
    filt_ = df_survey.loc[filt]['EdLevel'].value_counts()
    filt_Bachelor = filt_.loc['Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)']
    filt_Bachelor_percant = int((filt_Bachelor / filt_All) * 100)
    filt_Bachelor_percant = f"{filt_Bachelor_percant}%"
    print(f"Country              : {country[0]}")
    print(f"Number of Participant: {filt_All[0]}")
    print(f"Number of Bacheler's : {filt_Bachelor}")
    print(f"Percant of Bacheler's: {filt_Bachelor_percant}")
    print("\n")

In [124]:
country = ['Turkey', "India"]
filt = df_survey['Country'].isin(country)
filt_All = df_survey.loc[filt]['EdLevel'].shape
filt_ = df_survey.loc[filt]['EdLevel'].value_counts()
filt_Bachelor = filt_.loc['Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)']
filt_Bachelor_percant = int((filt_Bachelor / filt_All) * 100)
filt_Bachelor_percant = f"{filt_Bachelor_percant}%"
print(f"Country              : {country[0]}")
print(f"Number of Participant: {filt_All[0]}")
print(f"Number of Bacheler's : {filt_Bachelor}")
print(f"Percant of Bacheler's: {filt_Bachelor_percant}")

Country              : Turkey
Number of Participant: 10010
Number of Bacheler's : 6085
Percant of Bacheler's: 60%

C:\Users\monstr\AppData\Local\Temp\ipykernel_8168\2166731113.py:6: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  filt_Bachelor_percant = int((filt_Bachelor / filt_All) * 100)

In [ ]:
countries = list(set(df_survey['Country']))
countries.pop(0)
countries.sort()

for country in range(0, len(countries)):
    empty_list = []
    empty_list.append(country)
    filt = df_survey['Country'].isin(empty_list)
    filt_All = df_survey.loc[filt]['EdLevel'].shape
    filt_ = df_survey.loc[filt]['EdLevel'].value_counts()
    filt_Bachelor = filt_.loc['Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)']
    filt_Bachelor_percant = int((filt_Bachelor / filt_All) * 100)
    filt_Bachelor_percant = f"{filt_Bachelor_percant}%"
    print(f"Country              : {country[0]}")
    print(f"Number of Participant: {filt_All[0]}")
    print(f"Number of Bacheler's : {filt_Bachelor}")
    print(f"Percant of Bacheler's: {filt_Bachelor_percant}")
    print("\n")

In [ ]:
country = ['Turkey', "India"]
for i in range(2):
    empty_list = []
    empty_list.append(country)
    filt = df_survey['Country'].isin(empty_list)
    filt_All = df_survey.loc[filt]['EdLevel'].shape
    filt_ = df_survey.loc[filt]['EdLevel'].value_counts()
    filt_Bachelor = filt_.loc['Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)']
    filt_Bachelor_percant = int((filt_Bachelor / filt_All) * 100)
    filt_Bachelor_percant = f"{filt_Bachelor_percant}%"
    print(f"Country              : {country[0]}")
    print(f"Number of Participant: {filt_All[0]}")
    print(f"Number of Bacheler's : {filt_Bachelor}")
    print(f"Percant of Bacheler's: {filt_Bachelor_percant}")

    ALI≈ûTIRMA: √úlkelerin Bachelor's Degree alan yazƒ±lƒ±mcƒ±larƒ±n t√ºm yazƒ±lƒ±mƒ±clarƒ±na oranƒ± ka√ßtƒ±r? Ve aynƒ± ≈üekilde Master's Degree i√ßin de ge√ßerli.

In [ ]:
a = df_survey['Country'].value_counts()
a       # burada t√ºm √ºlkeleri listeledik unique bir bi√ßimde.

my_dict = dict(a)
my_dict     # burada ise bir dictionary'e √ßevirdik.

my_list = my_dict.keys()
my_list = list(my_list)
my_list    # burada √ºlkeleri liste haline getirdik iterable olmasƒ± i√ßin.

for √ºlke in my_list:

    √ºlke = [√ºlke]        # filtrelemek istediƒüimiz ≈üehri bir liste i√ßerisine yazarƒ±z

    filt = df_survey['Country'].isin(√ºlke)   # yalnƒ±zca Turkey olan row'lar True hale getirildi.

    df_survey.loc[filt]         # herhangi bir column belirtmediƒüimiz i√ßin t√ºm Turkey olan row'lar yazdƒ±rƒ±ldƒ±.

    df_survey.loc[filt]['EdLevel']      # bu ≈üekilde t√ºrklerin eƒüitim durumlarƒ±nƒ±n ne olduƒüu tablo haline getirildi

    list_EdLevel = df_survey.loc[filt]['EdLevel'].value_counts()       # bu ≈üekilde de t√ºm yanƒ±tlar unique hale getirildi

    text = "Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)"

    if text in list_EdLevel:
        bachelor_sayƒ±sƒ± = list_EdLevel.loc["Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)"]

        t√ºm_sayƒ± = df_survey.loc[filt]['EdLevel'].shape
        t√ºm_sayƒ± = t√ºm_sayƒ±[0]

        oran = round((bachelor_sayƒ±sƒ± / t√ºm_sayƒ±) * 100)


        print("üü¢ √úlke Adƒ±:", √ºlke[0])
        print("‚ñ∂ Katƒ±lƒ±mcƒ± Sayƒ±sƒ±:", t√ºm_sayƒ±)
        print("‚ñ∂ Lisans Mezunu:", bachelor_sayƒ±sƒ±)
        print("‚ñ∂ Mezun Oranƒ±: " + str(oran) + "%" + "\n")

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.9 Column ƒ∞smi Deƒüi≈ütirme**

In [2]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns',5) 
pd.set_option('display.max_rows', 10)

In [3]:
df_survey = pd.read_csv('SOURCES/survey_results_public.csv', index_col = 'Respondent')
df_schema = pd.read_csv('SOURCES/survey_results_schema.csv', index_col = 'Column')

In [3]:
people = {
    "first": ["Emre", "ƒ∞rem", "S√ºheyla"],
    "last": ["√áakƒ±r", "√áukurlu", "√áukurlu"],
    "email": ["emrecakir@gmail.com", "iremcukurlu@email.com", "suheylacukurlu@email.com"]
}

In [4]:
df_people = pd.DataFrame(people)

In [5]:
df_people

     first     last                     email
0     Emre    √áakƒ±r       emrecakir@gmail.com
1     ƒ∞rem  √áukurlu     iremcukurlu@email.com
2  S√ºheyla  √áukurlu  suheylacukurlu@email.com

    people isimli tablonun column isimlerini a≈üaƒüƒ±daki gibi deƒüi≈ütirebiliriz

In [32]:
df_people.columns = ['first_name','last_name','email'] 
df_people

  first_name last_name                     email
0       Emre     √áakƒ±r       emrecakir@gmail.com
1       ƒ∞rem   √áukurlu     iremcukurlu@email.com
2    S√ºheyla   √áukurlu  suheylacukurlu@email.com

In [33]:
df_people.columns =  [x.upper() for x in df_people.columns] # burada b√ºt√ºn kolon isimlerini b√ºy√ºk harfle yazdƒ±rdƒ±k.
df_people

  FIRST_NAME LAST_NAME                     EMAIL
0       Emre     √áakƒ±r       emrecakir@gmail.com
1       ƒ∞rem   √áukurlu     iremcukurlu@email.com
2    S√ºheyla   √áukurlu  suheylacukurlu@email.com

In [34]:
df_people.columns =  [x.lower() for x in df_people.columns] # burada b√ºt√ºn kolon isimlerini k√º√ß√ºk harfle yazdƒ±rdƒ±k.
df_people

  first_name last_name                     email
0       Emre     √áakƒ±r       emrecakir@gmail.com
1       ƒ∞rem   √áukurlu     iremcukurlu@email.com
2    S√ºheyla   √áukurlu  suheylacukurlu@email.com

In [35]:
df_people.columns = df_people.columns.str.replace('_name' , '')  # Burada ise bir nevi first ve last yazmasƒ±nƒ± saƒüladƒ±k
df_people

     first     last                     email
0     Emre    √áakƒ±r       emrecakir@gmail.com
1     ƒ∞rem  √áukurlu     iremcukurlu@email.com
2  S√ºheyla  √áukurlu  suheylacukurlu@email.com

    √ñNEMLƒ∞: T√ºm column'larƒ± deƒüi≈ütirmek yerine sadece birka√ß tanesini deƒüi≈ütirebiliyoruz:

In [36]:
df_people.columns

Index(['first', 'last', 'email'], dtype='object')

In [37]:
df = df_people.rename(columns = {'last':'last_name','first':'first_name'})
df

  first_name last_name                     email
0       Emre     √áakƒ±r       emrecakir@gmail.com
1       ƒ∞rem   √áukurlu     iremcukurlu@email.com
2    S√ºheyla   √áukurlu  suheylacukurlu@email.com

In [41]:
# eƒüer df_people tablosunda deƒüi≈üikliƒüin uygulanmasƒ±nƒ± istiyorsak:

df_people.rename(columns = {'last':'last_name','first':'first_name'}, inplace=True)

In [42]:
df_people

  first_name last_name                     email
0       Emre     √áakƒ±r       emrecakir@gmail.com
1       ƒ∞rem   √áukurlu     iremcukurlu@email.com
2    S√ºheyla   √áukurlu  suheylacukurlu@email.com

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.10 Verileri Deƒüi≈ütirme**

In [5]:
df_people

     first     last                     email
0     Emre    √áakƒ±r       emrecakir@gmail.com
1     ƒ∞rem  √áukurlu     iremcukurlu@email.com
2  S√ºheyla  √áukurlu  suheylacukurlu@email.com

In [6]:
df_people.loc[1] = ['ƒ∞rem S√ºheyla', '√áukurlu', 'iremScukurlu@email.com']
df_people.loc[2] = ['Ceren ƒ∞layda', '√áukurlu', 'cerenIcukurlu@email.com']

    ƒ∞≈ûTE BU KADAR KOLAY

In [7]:
df_people

          first     last                    email
0          Emre    √áakƒ±r      emrecakir@gmail.com
1  ƒ∞rem S√ºheyla  √áukurlu   iremScukurlu@email.com
2  Ceren ƒ∞layda  √áukurlu  cerenIcukurlu@email.com

    ANCAK DAHA DA KOLAYI VAR:

    Eƒüer 3 tane deƒüil de 100 tane column olsaydƒ±, yukarƒ±daki y√∂ntem yetersiz kalƒ±rdƒ± √ß√ºnk√º b√ºt√ºn column'larƒ± tek tek girmeniz gerekirdi. Ancak a≈üaƒüƒ±daki y√∂ntem m√ºkemmel pratik:

In [8]:
df_people.loc[1 , ['last','email']] = ['√áakƒ±r','iremS√ßakƒ±r@email.com']  # i≈üte b√∂yle :)

In [9]:
df_people

          first     last                    email
0          Emre    √áakƒ±r      emrecakir@gmail.com
1  ƒ∞rem S√ºheyla    √áakƒ±r     iremS√ßakƒ±r@email.com
2  Ceren ƒ∞layda  √áukurlu  cerenIcukurlu@email.com

In [10]:
filt = (df_people['email'] == 'iremS√ßakƒ±r@email.com')
df_people.loc[filt,'last'] = '√áukurlu' 
# Burada √áakƒ±r soysimini √áukurlu ile deƒüi≈ütirmi≈ü olduk.

In [11]:
df_people

          first     last                    email
0          Emre    √áakƒ±r      emrecakir@gmail.com
1  ƒ∞rem S√ºheyla  √áukurlu     iremS√ßakƒ±r@email.com
2  Ceren ƒ∞layda  √áukurlu  cerenIcukurlu@email.com

In [12]:
df_people['last'].str.upper() # b√ºt√ºn soyisimleri b√ºy√ºtt√ºk. Ama ana tabloya i≈ülemesi i√ßn bir sonraki h√ºcreye bak.

0      √áAKIR
1    √áUKURLU
2    √áUKURLU
Name: last, dtype: object

In [13]:
df_people['last'] = df_people['last'].str.upper()
df_people

          first     last                    email
0          Emre    √áAKIR      emrecakir@gmail.com
1  ƒ∞rem S√ºheyla  √áUKURLU     iremS√ßakƒ±r@email.com
2  Ceren ƒ∞layda  √áUKURLU  cerenIcukurlu@email.com

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.11 apply() Metodu**

In [14]:
df_people['email'].apply(len) # len() metodunu t√ºm 'email' column'una uyguladƒ±k ve sonucu yazdƒ±rdƒ±k

0    19
1    20
2    23
Name: email, dtype: int64

In [15]:
df_people       # bir √∂nceki i≈ülem ana tabloyu etkilenmez.

          first     last                    email
0          Emre    √áAKIR      emrecakir@gmail.com
1  ƒ∞rem S√ºheyla  √áUKURLU     iremS√ßakƒ±r@email.com
2  Ceren ƒ∞layda  √áUKURLU  cerenIcukurlu@email.com

In [16]:
df_people['email']= df_people['email'].apply(len) # bu kodu √ßalƒ±≈ütƒ±rarak ana tabloya etki etmi≈ü olduk
df_people

          first     last  email
0          Emre    √áAKIR     19
1  ƒ∞rem S√ºheyla  √áUKURLU     20
2  Ceren ƒ∞layda  √áUKURLU     23

In [17]:
df_people.loc[0, "email"] =  "emrecakir@gmail.com"
df_people.loc[1, "email"] =  "iremS√ßakƒ±r@email.com"
df_people.loc[2, "email"] =  "cerenIcukurlu@email.com"

df_people

C:\Users\monstr\AppData\Local\Temp\ipykernel_17164\4251753290.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'emrecakir@gmail.com' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_people.loc[0, "email"] =  "emrecakir@gmail.com"

          first     last                    email
0          Emre    √áAKIR      emrecakir@gmail.com
1  ƒ∞rem S√ºheyla  √áUKURLU     iremS√ßakƒ±r@email.com
2  Ceren ƒ∞layda  √áUKURLU  cerenIcukurlu@email.com

In [18]:
def update_first(first):
    return first.upper()

df_people['first'] = df_people['first'].apply(update_first)

df_people

          first     last                    email
0          EMRE    √áAKIR      emrecakir@gmail.com
1  ƒ∞REM S√úHEYLA  √áUKURLU     iremS√ßakƒ±r@email.com
2  CEREN ƒ∞LAYDA  √áUKURLU  cerenIcukurlu@email.com

In [19]:
df_people['email'] = df_people['email'].apply(update_first)
df_people

          first     last                    email
0          EMRE    √áAKIR      EMRECAKIR@GMAIL.COM
1  ƒ∞REM S√úHEYLA  √áUKURLU     IREMS√áAKIR@EMAIL.COM
2  CEREN ƒ∞LAYDA  √áUKURLU  CERENICUKURLU@EMAIL.COM

In [20]:
df_people.loc[0] = df_people.loc[0].str.title()
df_people.loc[1] = df_people.loc[1].str.title()
df_people.loc[2] = df_people.loc[2].str.title()

df_people

          first     last                    email
0          Emre    √áakir      Emrecakir@Gmail.Com
1  ƒ∞rem S√ºheyla  √áukurlu     Irems√ßakir@Email.Com
2  Ceren ƒ∞layda  √áukurlu  Cerenicukurlu@Email.Com

In [21]:
df_people.loc[0, "email"] =  "emrecakir@gmail.com"
df_people.loc[1, "email"] =  "iremS√ßakƒ±r@email.com"
df_people.loc[2, "email"] =  "cerenIcukurlu@email.com"
df_people

          first     last                    email
0          Emre    √áakir      emrecakir@gmail.com
1  ƒ∞rem S√ºheyla  √áukurlu     iremS√ßakƒ±r@email.com
2  Ceren ƒ∞layda  √áukurlu  cerenIcukurlu@email.com

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.12 map() Metodu**

In [22]:
df_people

          first     last                    email
0          Emre    √áakir      emrecakir@gmail.com
1  ƒ∞rem S√ºheyla  √áukurlu     iremS√ßakƒ±r@email.com
2  Ceren ƒ∞layda  √áukurlu  cerenIcukurlu@email.com

In [23]:
df_people.map(len)

   first  last  email
0      4     5     19
1     12     7     20
2     12     7     23

In [24]:
df_people

          first     last                    email
0          Emre    √áakir      emrecakir@gmail.com
1  ƒ∞rem S√ºheyla  √áukurlu     iremS√ßakƒ±r@email.com
2  Ceren ƒ∞layda  √áukurlu  cerenIcukurlu@email.com

In [25]:
df_people.map(str.upper)        # ana tabloya uygulamadƒ±k

          first     last                    email
0          EMRE    √áAKIR      EMRECAKIR@GMAIL.COM
1  ƒ∞REM S√úHEYLA  √áUKURLU     IREMS√áAKIR@EMAIL.COM
2  CEREN ƒ∞LAYDA  √áUKURLU  CERENICUKURLU@EMAIL.COM

In [26]:
df_people['first'] = df_people['first'].map({'Emre':'Erkin','IÃáRem S√ºheyla':'Ozan', 'Ceren IÃáLayda':'Emre'})
df_people

   first     last                    email
0  Erkin    √áakir      emrecakir@gmail.com
1    NaN  √áukurlu     iremS√ßakƒ±r@email.com
2    NaN  √áukurlu  cerenIcukurlu@email.com

In [27]:
df_people.loc[0,'last'] = "√áakƒ±r"
df_people.loc[1,'last'] = "√áakƒ±r"
df_people.loc[2,'last'] = "√áakƒ±r"
df_people

   first   last                    email
0  Erkin  √áakƒ±r      emrecakir@gmail.com
1    NaN  √áakƒ±r     iremS√ßakƒ±r@email.com
2    NaN  √áakƒ±r  cerenIcukurlu@email.com

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.13 replace() Metodu**

In [28]:
df_people['first'] = df_people['first'].replace({'Erkin':'Emre','Ozan':'Emre'})

df_people

  first   last                    email
0  Emre  √áakƒ±r      emrecakir@gmail.com
1   NaN  √áakƒ±r     iremS√ßakƒ±r@email.com
2   NaN  √áakƒ±r  cerenIcukurlu@email.com

In [29]:
df_people['last'] = df_people['last'].replace({'√áakƒ±r':'√áAKIR'})
df_people

  first   last                    email
0  Emre  √áAKIR      emrecakir@gmail.com
1   NaN  √áAKIR     iremS√ßakƒ±r@email.com
2   NaN  √áAKIR  cerenIcukurlu@email.com

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.14 Column Ekleme**

In [30]:
df_people['first'] + df_people['last']

0    Emre√áAKIR
1          NaN
2          NaN
dtype: object

In [31]:
df_people['first'] + " " + df_people['last']

0    Emre √áAKIR
1           NaN
2           NaN
dtype: object

    √áOK √ñNEMLƒ∞ A≈ûAƒûIDAKƒ∞:

In [32]:
df_people['full_name'] = df_people['first'] + " " + df_people['last']
df_people

  first   last                    email   full_name
0  Emre  √áAKIR      emrecakir@gmail.com  Emre √áAKIR
1   NaN  √áAKIR     iremS√ßakƒ±r@email.com         NaN
2   NaN  √áAKIR  cerenIcukurlu@email.com         NaN

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.15 Column Silme**

In [33]:
df_people['DENEME'] = df_people['email'][0:3]
df_people

  first   last                    email   full_name                   DENEME
0  Emre  √áAKIR      emrecakir@gmail.com  Emre √áAKIR      emrecakir@gmail.com
1   NaN  √áAKIR     iremS√ßakƒ±r@email.com         NaN     iremS√ßakƒ±r@email.com
2   NaN  √áAKIR  cerenIcukurlu@email.com         NaN  cerenIcukurlu@email.com

In [34]:
df_people.drop(columns=['full_name','DENEME'], inplace=True)
df_people

  first   last                    email
0  Emre  √áAKIR      emrecakir@gmail.com
1   NaN  √áAKIR     iremS√ßakƒ±r@email.com
2   NaN  √áAKIR  cerenIcukurlu@email.com

In [35]:
df_people['email'].str.split('@', expand=True)    # uygulanmadƒ± ana tabloya

               0          1
0      emrecakir  gmail.com
1     iremS√ßakƒ±r  email.com
2  cerenIcukurlu  email.com

In [36]:
df_people

  first   last                    email
0  Emre  √áAKIR      emrecakir@gmail.com
1   NaN  √áAKIR     iremS√ßakƒ±r@email.com
2   NaN  √áAKIR  cerenIcukurlu@email.com

In [37]:
df_people[['new', 'new2']] = df_people['email'].str.split('@', expand=True)
df_people

  first   last                    email            new       new2
0  Emre  √áAKIR      emrecakir@gmail.com      emrecakir  gmail.com
1   NaN  √áAKIR     iremS√ßakƒ±r@email.com     iremS√ßakƒ±r  email.com
2   NaN  √áAKIR  cerenIcukurlu@email.com  cerenIcukurlu  email.com

In [38]:
df_people.drop(columns=['new2'], inplace=True)
df_people

  first   last                    email            new
0  Emre  √áAKIR      emrecakir@gmail.com      emrecakir
1   NaN  √áAKIR     iremS√ßakƒ±r@email.com     iremS√ßakƒ±r
2   NaN  √áAKIR  cerenIcukurlu@email.com  cerenIcukurlu

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.16 Row Ekleme**

In [39]:
df_people = df_people._append({'first' : 'ƒ∞rem'}, ignore_index=True)
df_people

  first   last                    email            new
0  Emre  √áAKIR      emrecakir@gmail.com      emrecakir
1   NaN  √áAKIR     iremS√ßakƒ±r@email.com     iremS√ßakƒ±r
2   NaN  √áAKIR  cerenIcukurlu@email.com  cerenIcukurlu
3  ƒ∞rem    NaN                      NaN            NaN

In [40]:
df_people.loc[3,['last', 'email', 'new']] = ['√áukurlu', 'iremnew@email.com','iremnew']
df_people

  first     last                    email            new
0  Emre    √áAKIR      emrecakir@gmail.com      emrecakir
1   NaN    √áAKIR     iremS√ßakƒ±r@email.com     iremS√ßakƒ±r
2   NaN    √áAKIR  cerenIcukurlu@email.com  cerenIcukurlu
3  ƒ∞rem  √áukurlu        iremnew@email.com        iremnew

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.17 Tablolarƒ± Birle≈ütirme**

In [41]:
new_people = {
    "first" : ["Hacer",'Halise'],
    "last" : ["√áakƒ±r",'√áukurlu'],
    "email" : ["yok",'yok']
}    

df_new_people = pd.DataFrame(new_people)

In [42]:
df_people = df_people._append(df_new_people, ignore_index=True, sort=False) 
# Burada "sort = False" kƒ±smƒ± ne i≈üe yarƒ±yor ben de anlamadƒ±m. Yapmasak da oluyor bizde. 
df_people

    first     last                    email            new
0    Emre    √áAKIR      emrecakir@gmail.com      emrecakir
1     NaN    √áAKIR     iremS√ßakƒ±r@email.com     iremS√ßakƒ±r
2     NaN    √áAKIR  cerenIcukurlu@email.com  cerenIcukurlu
3    ƒ∞rem  √áukurlu        iremnew@email.com        iremnew
4   Hacer    √áakƒ±r                      yok            NaN
5  Halise  √áukurlu                      yok            NaN

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.18 Row Silme**

In [44]:
df_people = df_people.drop(index = 4)

df_people       # 4. index silindi

    first     last                    email            new
0    Emre    √áAKIR      emrecakir@gmail.com      emrecakir
1     NaN    √áAKIR     iremS√ßakƒ±r@email.com     iremS√ßakƒ±r
2     NaN    √áAKIR  cerenIcukurlu@email.com  cerenIcukurlu
3    ƒ∞rem  √áukurlu        iremnew@email.com        iremnew
5  Halise  √áukurlu                      yok            NaN

In [47]:
filt = df_people['last'] == '√áukurlu'
df_people = df_people.drop(index = df_people[filt].index)
df_people

  first   last                    email            new
0  Emre  √áAKIR      emrecakir@gmail.com      emrecakir
1   NaN  √áAKIR     iremS√ßakƒ±r@email.com     iremS√ßakƒ±r
2   NaN  √áAKIR  cerenIcukurlu@email.com  cerenIcukurlu

## **‚ñ∂Ô∏è‚ñ∂Ô∏è 3.19 sort_values()**

In [48]:
df_people = df_people.sort_values(by = 'email', ascending = False )

df_people

  first   last                    email            new
1   NaN  √áAKIR     iremS√ßakƒ±r@email.com     iremS√ßakƒ±r
0  Emre  √áAKIR      emrecakir@gmail.com      emrecakir
2   NaN  √áAKIR  cerenIcukurlu@email.com  cerenIcukurlu

In [49]:
df_people = df_people.sort_values(by = ['last' , 'first'], ascending = False )

df_people

  first   last                    email            new
0  Emre  √áAKIR      emrecakir@gmail.com      emrecakir
1   NaN  √áAKIR     iremS√ßakƒ±r@email.com     iremS√ßakƒ±r
2   NaN  √áAKIR  cerenIcukurlu@email.com  cerenIcukurlu

In [50]:
df_people.sort_values(by = ['last' , 'first'], ascending = [False, True], inplace = True )
df_people

  first   last                    email            new
0  Emre  √áAKIR      emrecakir@gmail.com      emrecakir
1   NaN  √áAKIR     iremS√ßakƒ±r@email.com     iremS√ßakƒ±r
2   NaN  √áAKIR  cerenIcukurlu@email.com  cerenIcukurlu

In [53]:
df_people['new'].sort_values()

2    cerenIcukurlu
0        emrecakir
1       iremS√ßakƒ±r
Name: new, dtype: object