# **🌟 1. Bölüm: Giriş**

## **▶️▶️ 1.1 Variables (Değişken Atama)**

### **▶️ 1.1.1 Konu Anlatımı**

> course = "Techpro Education"

> Yukarıdaki ifade course bir variable'dır. Ve eşitliğin sağındaki kısım ise value'dir.

> Yeni bir değişken yaratırken dikkat edilmesi gereken bazı hususlar vardır. Bunlar değişken isminin özel bir ifade ile başlamaması; gereğinden uzun veya gereğinden kısa olmaması gibi birtakım mantıklı ve zaten dikkat edilecek olan şeylerdir.

In [1]:
# Aşağıda birtakım başarılı değişken atama işlemi gösterilmiştir.

# Uygun olanlar:

course = 'Techpro Education'
age = 2
name = 'Sedat'
name_2 = 'Emre'
pi_number = 3.14

# Uygun olmayanlar:

4_name = "İrem"
pi-number = 3.14

SyntaxError: invalid decimal literal (2535384460.py, line 13)

In [ ]:
# Birden fazla değişkeni tek satırda atayabiliriz. Aşağıdaki uygun örnekler verilmiştir.

# Uygun olanlar:

name_1, name_2 = 'Emre', 'İrem'
name, not_ = 'Emre', 'Hoşgeldiniz Emre Bey. Size daha iyi hizmet sunabilmemiz için bize yaşınızı söyler misiniz lütfen'
sayı_1, sayı_2 = 123, 321
isim, soyisim, yaş, boy = 'Emre', "Çakır", 27, 1.81 

# uygun olmayanlar

name_9, name_10 = "Emre"

In [ ]:
# Birden fazla değişkeni tek değer şu şekilde atayabiliriz:

# uygun olanlar: 

name = isim = "Emre"
yaş = doğum_yaşı = 27

# Uygun olmayanlar:

name, isim = "Emre"
yaş = doğum_yaşı = 27, 27

In [ ]:
# Değişken atarken çok gereksiz kısa olmamalı değişkenler:

# Uygun olanlar:

first_name = 'emre'
last_name = 'çakır'

# Uygun olmayanlar:

first_name = 'emre'
l_n = 'çakır'

### **▶️ 1.1.2 Exersizler**

> 1) Kullanıcıdan bir dairenin yarıçapını alarak, dairenin çevresini hesaplayan bir Python programı yazın.

In [ ]:
yaricap = float(input('Lütfen bir yarıçap giriniz: '))

pi_number = 3.14
dairenin_cevresi = yaricap * 2 * pi_number

print(int(dairenin_cevresi))

131

> 2. Bir kullanıcının yaşını ve ortalama uyku süresini alarak, kullanıcının yaşının uyku süresiyle çarpımını hesaplayan bir Python programı yazın.

In [ ]:
yas = int(input('Yaşınızı giriniz: '))
uyku_suresi = int(input('"HAFTA KAPANIŞLARI"'))

sonuc = yas * uyku_suresi

print(sonuc)

224

> 3. Kullanıcıdan üç farklı sayı alarak, bu sayıların ortalamasını bulan bir Python programı yazın.

In [ ]:
sayi_1 = float(input('1. sayıyı giriniz: '))
sayi_2 = float(input('2. sayıyı giriniz: '))
sayi_3 = float(input('3. sayıyı giriniz: '))

ortalama = (sayi_1 + sayi_2 + sayi_3) / 3

print(int(ortalama))

5

> 4. Kullanıcıdan alınan bir sıcaklık değerini Fahrenheit'ten Celsius'a çeviren bir Python programı yazın.

In [ ]:
fahrenheit = float(input('Sıcaklık değerini Fahrenheit olarak giriniz: ')) 

celcius = (fahrenheit - 32) / 1.8

print(int(celcius))

50

> 5. Kullanıcıdan alınan iki sayının karesi farkını bulan bir Python programı yazın.

In [ ]:
sayi_1 = float(input('1. Sayıyı giriniz: '))
sayi_2 = float(input('2. Sayıyı giriniz: '))

kare_fark = (sayi_1 ** 2) - (sayi_2 ** 2)

print(kare_fark)

14985.0

## **▶️▶️ 1.2 Arithmetic Operations**

> bu konuda herhangi bir konu anlatımı yapma gereği duymadım

### **▶️ 1.2.1. Exersizler**

> 1) Kullanıcıdan iki sayı alın ve bu sayıların toplamını, farkını, çarpımını ve bölümünü hesaplayan bir Python programı yazın.

In [ ]:
sayi_1 = int(input('1. sayıyı giriniz: '))
sayi_2 = int(input('2. sayıyı giriniz: '))

toplam = sayi_1 + sayi_2
fark = sayi_1 - sayi_2
carpim = sayi_1 * sayi_2
bolum = sayi_1 / sayi_2
bolum_kalansız = sayi_1 // sayi_2

print(toplam)
print(fark)
print(carpim)
print(bolum)
print(bolum_kalansız)

14
10
24
6.0
6

> 2. Bir öğrencinin matematik, fen bilgisi, Türkçe, sosyal bilgiler ve İngilizce derslerinde aldığı notları içeren bir liste oluşturun. Bu notları kullanarak, öğrencinin derslerinin toplam notunu ve ortalama notunu hesaplayın.

In [ ]:
math = int(input('Matematik Sınav Sonucu: '))
fen = int(input('Fen Sınav Sonucu: '))
turkce = int(input('Turkce Sınav Sonucu: '))
sosyal = int(input('Sosyal Sınav Sonucu: '))
ingilizce = int(input('İngilizce Sınav Sonucu: '))

toplam = math + fen + turkce + sosyal + ingilizce
ortalama = (math + fen + turkce + sosyal + ingilizce) / 5

print(toplam)
print(ortalama)

400
80.0

> 3. Kullanıcıdan bir dik üçgenin üç kenar uzunluğunu alarak, bu üçgenin alanını hesaplayan bir Python programı yazın.

In [ ]:
sayi_1 = int(input('1. kenar uzunluğu: '))
sayi_2 = int(input('2. kenar uzunluğu: '))
sayi_3 = int(input('3. kenar uzunluğu: '))

if sayi_1 > sayi_2 and sayi_1 > sayi_3:
    max_sayi = sayi_1
    asıl_sayi_1 = sayi_2
    asıl_sayi_2 = sayi_3
elif sayi_2 > sayi_1 and sayi_2 > sayi_3:
    max_sayi = sayi_2
    asıl_sayi_1 = sayi_1
    asıl_sayi_2 = sayi_3
elif sayi_3 > sayi_1 and sayi_3 > sayi_2:
    max_sayi = sayi_3
    asıl_sayi_1 = sayi_1
    asıl_sayi_2 = sayi_2
ucgen_alan = (asıl_sayi_1 * asıl_sayi_2) / 2

print(ucgen_alan)

6.0

6.0

## **▶️▶️ 1.3 Print()**

### **▶️ 1.3.1 Konu Anlatımı**

> print() en çok kullandığımız function. O sebeple sadece kısa bilgiler yazıp geçeceğim

In [ ]:
# en temel haliye:

print("İçerisinde string, int, dict vs. tüm type'ları yazabileceğimiz ve çıktısını alabileceğimiz bir fonksyondur.")

İçerisinde string, int, dict vs. tüm type'ları yazabileceğimiz ve çıktısını alabileceğimiz bir fonksyondur.

In [ ]:
# "sep" operatorü:

print("Emre", "Cakir", sep = "-")   # sep değeri default olarak " " şeklindedir. ona istediğimiz herhangi bir şeyi atayabiliyoruz.
print("Emre", "Cakir", sep = "***")
print("Emre", "Cakir", sep = "/")
print("Emre", "Cakir", sep = "💢")

Emre-Cakir
Emre***Cakir
Emre/Cakir
Emre💢Cakir

In [ ]:
# "end" operatorü:

print("Emre", "Cakir", end = "-")           # normalde end = "\" şeklinde olduğu için her print sonrası bir satır aşağı gidilir. 
print("Emre", "Cakir", end = "***")
print("Emre", "Cakir", end = "/")
print("Emre", "Cakir", end = "💢")

Emre Cakir-Emre Cakir***Emre Cakir/Emre Cakir💢

### **▶️ 1.3.2 Exersizler**

> 1. Bir kullanıcının adını ve soyadını alarak, bu bilgileri bir araya getirip ekrana "Merhaba, [ad] [soyad]!" şeklinde yazdıran bir Python programı yazın.

In [ ]:
isim = input('İsim: ')
soyisim = input('Soyisim: ')

print('Merhaba, ' + isim + ' ' + soyisim + "!" )

Merhaba, Emre Çakır!

> 2. Bir kullanıcıdan yaşını alarak, kullanıcının doğum tarihini hesaplayın ve ekrana "Doğum tarihiniz [doğum tarihi]!" şeklinde yazdırın.

In [ ]:
yas = int(input('Yaş: '))
d_tarih = 2024 - yas

print('Doğum tarihiniz: ' + str(d_tarih))

Doğum tarihiniz: 1996

> 3. Birkaç kelime içeren bir liste oluşturun ve bu kelimeleri alt alta yazdırın, her kelimeyi ayrı bir satırda gösterin.

In [ ]:
kelime_listem = ['at', 'avrat', 'silah']
print(kelime_listem[0], kelime_listem[1], kelime_listem[2], sep='\n')

at
avrat
silah

> 4. Bir kullanıcıdan bir sayı alarak, bu sayının karesini ve küpünü ekrana yazdırın.

In [ ]:
sayi = int(input('Bir sayı giriniz: '))

kare = sayi ** 2
küp = sayi ** 3

print(f"{sayi}'nin karesi ve küpü sırasıyla şöyledir -->", kare, "ve", küp)

21'nin karesi ve küpü sırasıyla şöyledir --> 441 ve 9261

> 5. Kullanıcıya bir kelime veya cümle yazmasını isteyin ve bu yazıyı ters çevirerek ekrana yazdırın.

In [ ]:
metin = input('Bir yazı giriniz: ')

metin[-1::-1]

'erme'

> 6. Kullanıcıdan adını, soyadını ve yaşını alarak, bu bilgileri virgülle ayrılmış şekilde ekrana yazdıran bir Python programı yazın.

In [ ]:
isim = input('İsim: ')
soyisim = input('Soyisim: ')
yas = input('Yaş: ')

print(isim, soyisim, yas, sep=', ')

emre, çakır, 28

> 7. Birkaç kelime içeren bir liste oluşturun ve bu kelimeleri alt alta yazdırın, ancak her kelimenin sonuna bir nokta koyun.

In [ ]:
birinci_kelime = input('kelime gir: ')
ikinci_kelime = input('kelime gir: ')
ucuncu_kelime = input('kelime gir: ')
dorduncu_kelime = input('kelime gir: ')

my_list = [birinci_kelime, ikinci_kelime, ucuncu_kelime, dorduncu_kelime]

print(my_list[0], my_list[1], my_list[2], my_list[3], sep='.\n', end='.')

emre.
çakır.
irem.
çukurlu.

> 8. Bir kullanıcıdan alınan üç sayıyı toplayarak ekrana yazdırın. Ancak, her sayının sonuna bir defa "+" işareti koyarak, toplam işlemin sonuna ise "=" işareti koyarak sonlandırın.

In [ ]:
birinci_sayi = int(input('1. Sayıyı Giriniz: '))
ikinci_sayi = int(input('2. Sayıyı Giriniz: '))
ucuncu_sayi = int(input('3. Sayıyı Giriniz: '))

toplam = birinci_sayi + ikinci_sayi + ucuncu_sayi

print(birinci_sayi, '+', ikinci_sayi, '+', ucuncu_sayi, '=', toplam )

12 + 23 + 62 = 97

## **▶️▶️ 1.4 Input()**

> genel olarak bildiğimiz bir fonksiyondu

In [ ]:
yas = input("Lütfen Yasinizi Girin: ")
yas = int(yas)
dogum_yili = 2024 - yas
print("Dogum yiliniz: ", dogum_yili)

Dogum yiliniz:  2012

In [ ]:
kilo = float(input("Kilo: "))
boy = float(input("Boy: "))
vke = kilo / boy ** 2 
print("Vücut kitle endexiniz: ", vke)

Vücut kitle endexiniz:  26.59498412879979

## **▶️▶️ 1.5 Escape Sequences**

### Hatalardan kaçınmaya yarayan bazı yöntemlerdir.
#### 1) Ters Slash : " \ "
##### Geldiği yerin hemen ardından gelen karakterin tüm fonksiyonu ölür ve **stringe dönüşür**. 
#### 2) Ters Slash + n : " \n "
##### **enter** tuşu görevi görür.
#### 3) Ters Slash + t : " \t "
##### **tab** tuşu görevi görür.
#### 4) Ters Slash + b : " \b "
##### **Backspace** tuşu görevi görür.
#### 5) r : r" ... "
##### Bir stringin önüne "r" harfini eklersek, o string içerisindeki **tüm Escape Sequence operatörleri görmezden** gelinir.

In [ ]:
# print('I'm python theacher.') soldaki problemi aşağıdaki gibi aşabiliriz:

print('I\'m Python teacher')    # artık kesme işaretinin fonksiyonu ölür ve stringe dönüşür.

# " \n " --> bir tane enter tuşuna basmak demektir: (newline'ın n'si kullanılmıştır)

print("Bu ders çok uzadi sanki. \nBi an önce bitse mi acaba")

print("Betül", "Ayse", "Aytac", sep = "\n") 
print("Betül", "Ayse", "Aytac", sep = "\t") # \t --> bir tane tab tuşuna basmak oluyor.


print("Bu ders çok uzadi sanki. \bBi an önce bitse mi acaba") # \b --> bir backspace tuşuna basmak oluyor.
print("Betül", "Ayse", "Aytac", sep = "\b") 

print("Bizde geri \nvites olmaz")
print(r"Bizde geri \nvites olmaz") # burada ki "r", string içerisinde bulunan tüm escape'leri yok sayar.

I'm Python teacher
Bu ders çok uzadi sanki.
Bi an önce bitse mi acaba
Betül
Ayse
Aytac
Betül	Ayse	Aytac
Bu ders çok uzadi sanki.Bi an önce bitse mi acaba
BetüAysAytac
Bizde geri
vites olmaz
Bizde geri \nvites olmaz

> 1. Kullanıcıdan bir metin girmesini isteyen bir Python programı yazın. Ardından, bu metni tersten yazdırın ve her karakter arasına bir boşluk ekleyin.

In [ ]:
metin = input('Bir metin girin: ')

my_list = list(metin[-1::-1])
my_list

for karakter in my_list:
    print(karakter, end=' ')

m u r o y i v e s   k o ç   a m a   k o ç   i n e s

## **▶️▶️ 1.6 Comparison Operators**

### **▶️ 1.6.1 Konu Anlatımı**

> ### Comparison Operators, Python'da bir değer ile başka bir değeri karşılaştırır. Ve bu karşılaştırmaların  sonucu boolean olarak döner yani True veya False olarak.

>> 1. Operator, Büyüktür ➡➡➡ >      

>> 2. Operator, Küçüktür ➡➡➡ <     

>> 4. Operator, Büyük Eşittir ➡➡➡    >=     

>> 5. Operator, Küçük Eşittir ➡➡➡    <=   

>> 6. Operator, Eşittir ➡➡➡  ==    

>> 7. Operator, Eşit Değildir ➡➡➡    !=

In [ ]:
print(5 > 4)
print(6 > 6)
print(6 < 6)
print(6 >= 6)
print(6 <= 6)
print(8 == 8)
print(8 == 9)
print(8 != 9)

In [ ]:
type(5 < 7)

In [ ]:
sifre = "1234"

kull_girisi = input("Sifrenizi girin")

sifre == kull_girisi

True

In [ ]:
True > 0.6 # Matematiksel karşlığı --> 1 > 0.6
False > 2

False

### **▶️ 1.6.2 Exersizler**

> 1. Bir kullanıcıdan bir sayı girmesini isteyin ve bu sayının pozitif, negatif veya sıfır olduğunu belirleyen bir Python programı yazın.

In [ ]:
sayi = int(input('Bir sayı giriniz: '))

if sayi == 0:
    print('Girilen sayı sıfırdır.')
elif sayi > 0:
    print('Girilen sayı pozitiftir.')
else:
    print('Girilen sayı negatiftir.')

Girilen sayı negatiftir.

> 2.Kullanıcıya iki sayı girmesini isteyin ve bu sayıların eşit olup olmadığını kontrol eden bir Python programı yazın.

In [ ]:
birinci_sayi = int(input('Birinci sayıyı giriniz..'))
ikinci_sayi = int(input('İkinci sayıyı giriniz..'))

if birinci_sayi == ikinci_sayi:
    print('Girilen sayılar birbirine eşittir.')
else:
    print('Girilen sayılar birbirine eşit değildir.')

Girilen sayılar birbirine eşittir.

> 3. Kullanıcıdan iki farklı sayı girmesini isteyin ve bu sayıların büyüklük ilişkisini kontrol eden bir Python programı yazın. Program, kullanıcının girdiği sayıların büyük, küçük veya eşit olduğunu belirtmelidir.

In [ ]:
birinci_sayi = int(input('Birinci sayıyı giriniz. '))
ikinci_sayi = int(input('İkinci sayıyı giriniz. '))

if birinci_sayi == ikinci_sayi:
    print('Sayılar birbirine eşittir.')
elif birinci_sayi > ikinci_sayi:
    print('Birinci sayı daha büyüktür.')
else:
    print('İkinci sayı daha büyüktür.')

Birinci sayı daha büyüktür.

> 4. Bir kullanıcıya bir yıl girmesini isteyin ve bu yılın artık yıl olup olmadığını kontrol eden bir Python programı yazın. Bir yılın artık yıl olduğunu belirleyen kuralı kullanarak programınızı oluşturun.

In [ ]:
yil = int(input('Bir yıl giriniz: '))

if yil % 4000 == 0:
    print('Girilen yıl Artık bir yıl değildir.')
elif yil % 100 == 0 and yil % 400 == 0:
    print('Girilen yıl Artık bir yıldır.')
elif yil % 4 == 0:
    print('Girilen yıl Artık bir yıldır.')
else:
    print('Girilen yıl Artık bir yıl değildir.')

Girilen yıl Artık bir yıldır.

> 5. Kullanıcıya bir kelime girmesini isteyin ve bu kelimenin palindrom (tersinden de okunuşu aynı olan) bir kelime olup olmadığını kontrol eden bir Python programı yazın.

In [ ]:
kelime = input('Bir kelime giriniz: ')

if not kelime.isalpha():
    print('Yanlış formatta girdi girilmiştir. ')
elif kelime == kelime[-1::-1]:
    print('Girilen kelime palindorm kelimedir.')
else:
    print('Girilen kelime palindrom kelime değildir.')

Yanlış formatta girdi girilmiştir.

> 6. Kullanıcıya bir cümle girmesini isteyin ve bu cümlenin içinde belirli bir kelimenin bulunup bulunmadığını kontrol eden bir Python programı yazın. Kullanıcıdan ayrıca aranacak kelimeyi de alın.

In [ ]:
metin = input('Metni girin: ')
kelime = input('Metin içerisinde aratmak istediğiniz kelimeyi yazınız: ')

if kelime in metin:
    sayım = metin.count(kelime)
    print(f'Aradığınız "{kelime}" kelimesi, girmiş olduğunuz metin içerisinde {sayım} defa yer almaktadır.')
else:
    print(f'Aradığınız "{kelime}" kelimesi, girmiş olduğunuz metin içerisinde yer almamaktadır.')

Aradığını "anne" kelimesi, girmiş olduğunuz metin içerisinde 3 defa yer almaktadır.

> 7. Kullanıcıya bir sayı girmesini isteyin ve bu sayının asal bir sayı olup olmadığını kontrol eden bir Python programı yazın. Bir sayının asal olup olmadığını belirleyen kuralı kullanarak programınızı oluşturun.

In [ ]:
sayi = int(input('Bir sayı giriniz: '))
listem  = [2, 3, 4, 5, 7, ]
bos_liste = []
if sayi == 2:
    bos_liste.append(1)
    print('Girilen sayı asal sayıdır.')
else:
    for i in listem:
        if sayi % i == 0: 
            bos_liste.append(1)

if bos_liste == []:
    print('Girilen sayı bir asal sayıdır.')

Girilen sayı bir asal sayıdır.

## **▶️▶️ 1.7 ASCII**

>> Her bir karakterin sayısal bir karşılığı varıdır. Bu değerlere ASCII tablosundan bakabiliyoruz. Örneğin büyük A'nın sayısal değeri 65 iken, küçük a'nın sayısal değeri 97'dir. 

>> İki tane string'i birbiriyle kıyaslarken, Python her bir string'in ilk karakterine bakar. İki string arasında ilk karakterinin sayısal değeri daha büyük olan string diğer sring'den büyük oluyor. ÖR: "sedat" > "istanbul" ---> True olarak döndürür. Çünkü s harfinin sayısal değeri 115 iken i harfinin sayısal değeri 105'tir. 

>> Eğer her iki string'de aynı karakter ile başlıyorsa, Python bu iki string'in farklı karakterlerini bulana kadar kıyaslama devam eder. ÖR: "feda" > "fener" --> False olarak döndürür. Çünkü d'nin sayısal değeri n'den daha küçüktür.

>> Bu işlemler sadece 2 tane string arasında olabilir. Mesela bir string ile bir integer arasında yapılamaz.

✅ **ord() fonksiyounun içine bir string ifadesini yazarsan, sana o string ifadenin ASCI karşılığını verir. ÖR: ord("a") = 97** 

✅ **chr() fonksiyonu ise ord() fonksiyonunun tam tersini yapar: chr(105) = 'i'**

In [ ]:
print("sedat" > "istanbul") # --> print(115>105) aslında yapılan işlem budur.
print(ord("a"))
print(chr(122))

True
97
z

## **▶️▶️ 1.8 BOOLEAN**

> bool() fonksiyonu içerisine yazılan ifadenin boolean karşılığını verir.

> boolean karşılığı false olan ifadeler: "", 0, 0.0, [], (), {}, None, False

In [ ]:
print(bool("sedat"))
print(bool(" "))
print(bool(""))
print(bool(0))
print(bool("0"))
print(bool(0.31211))
print(bool(-20))

True
True
False
False
True
True
True

## **▶️▶️ 1.8 Logic Expressions**

### **▶️ 1.8.1 Konu Anlatımı**

#### İşlem önceliğine göre:

#### **not** --> işlem sonucu her zaman true veya false'tır.

>> Bir ifadenin önüne geldiği zaman onun tersini yazdırır.

#### **and**

>> Hepsi True ise en sondaki elemanı döndürür. Bir tane bile False varsa, ilk gördüğü False'u döndürür.

#### **or**

>> Hepsi False ise en sondakini döndürür, bir tane bile True varsa ilk gördüğü True'yu döndürür.

📝**DİPNOT1: Boolean karşılığı False olan bir ifadeye biz "Falsy" ifade diyoruz, aynı şekilde tam tersi olana da "Truty" ifade diyoruz.**

📝**DİPNOT2: Bütün koşulların True olmasını istiyorsak and kullanırız. Koşullardan bir tanesinin bile True olması yetiyorsa or kullanırız.**

In [ ]:
print(5 > 5)
print(5 >= 5)
print(not False) # --> True yazdırır
print(not True) # --> False yazdırır
print("")
print(bool("Techpro"))
print(not "Techpro")
print("")
print(bool(0))
print(not 0)
print("")
print(bool(""))
print(not "")

False
True
True
False

True
False

False
True

False
True

In [ ]:
print(bool(5))
print(5 and 8) # 5 ve 8 ifadelerinin booelan karşılığı True olduğu için 8 ifadesini döndürdü.
print("---1----")
print(bool(0))
print(5 and 0 and 8) # --> Boolean karşılığı False olan ilk ifadeyi döndürdük.
print("---2----")
print(5 and False and 0 and 8)
print("---3----")
print("" and 0 and False)
print("---4----")
print(5 and 7 and True)
print("---5----")
print(0 or False)
print("---6----")
print(0 or 0.0 or "")
print("---7----")
print(0 or 15 or 20 or True)
print(False or 5 and not 0)
print("---8----")
print(3.14 or True)
print(True or 3.14)
print("---9----")
print(False or not 0 and 6 and "kahoot")
print(True or False and not 0 and 3 or False) # Bu örnekte "True or..." dan sonrasının bi önemi yok. Çünkü or varsa ve True varsa ilk sırada direkt onu seçer zaten.

True
8
---1----
False
0
---2----
False
---3----

---4----
True
---5----
False
---6----

---7----
15
True
---8----
3.14
True
---9----
kahoot
True

### **▶️ 1.8.2 Exersizler**

> 1. Bir kullanıcıdan iki sayı girmesini isteyin. Bu sayıların her ikisinin de pozitif sayılar olup olmadığını kontrol eden ve sonucu True veya False olarak döndüren bir Python programı yazın.

In [ ]:
birinci_sayi = int(input('Bir sayı giriniz: '))
ikinci_sayi = int(input('Bir sayı daha giriniz: '))

if birinci_sayi > 0 and ikinci_sayi > 0:
    print(True)
else:
    print(False)

True

> 2. Kullanıcıya bir yaş girmesini isteyin. Bu yaşın 18 ile 65 arasında olup olmadığını kontrol eden ve sonucu True veya False olarak döndüren bir Python programı yazın.

In [ ]:
yas = int(input('Yaş: '))

if yas > 18 and yas < 65:
    print(True)
else:
    print(False)

True

> 3. Kullanıcıdan bir şehir adı girmesini isteyin. Bu şehir adının "Ankara", "İstanbul" veya "İzmir" olup olmadığını kontrol eden ve sonucu True veya False olarak döndüren bir Python programı yazın.

In [ ]:
my_list = ['ankara', 'istanbul', 'izmir']
sehir = input('Bir şehir ismi giriniz: ')

if sehir.lower() in my_list:
    print(True)
else:
    print(False)

False

> 4. Bir kullanıcıya bir karakter girmesini isteyin. Bu karakter bir rakam ise True, rakam değilse False döndüren bir Python programı yazın.

In [ ]:
karakter = input('Bir karakter giriniz: ')

if karakter.isdigit():
    print(True)
else:
    print(False)

False

# **🌟 2. Bölüm: Gelişme**

## **▶️▶️ 2.1 Stringler**

    immutable (elemanları değiştirelemez)
    iterable (elemanlarına index yoluyla ulaşılabilir ve silicing yapılabilir)

### **▶️ 2.1.1 Konu Anlatımı**

>> 🚧 immutable --> Değiştirilemez. (Bir string'e yeniden bir atama yapılana kadar değiştirilemezler.)

>> 🚧 iterable --> Bir stringin her bir karakterine ayrı ayrı ulaşılabilir olmasıdır. Yani itering edilebilir olmasıdır. (for düşünülebilir)

#### **▶ 2.1.1.1 Indexing & Slicing**

In [ ]:
# a) Indexleme sıfırdan başlar. Aşağıdaki stringin sıfırncı indexi "T" harfidir. 
# b) Birinci indexi ise "e" harfidir. 
# c) Sondan başlayacak olursak da -1 ile başlar. Aşağıdaki string'in -1 inci karakteri "n" harfidir.

name = "Techpro Education" 

print(name[0])      # T
print(name[5])      # r
print(name[16])     # n --> son harf 16. index oluyor
print(name[-1])     # n --> son harf aynı zamanda -1. index oluyor
print(name[-17])    # T

T
r
n
n
T

In [ ]:
# string içerisinde bellli bir bölümü iki şekilde yapabiliriz yazdırabiliriz:

print(name)
print(name[4] + name[5] + name[6])   # Burada 'pro' çıktısını alırız ama daha kolay kolu bir alt satırda
print(name[4:7])                     # Bu işleme SLICING deniyor.  
print(name[8:17])                    # Slicing işleminde son karakter dahil edilmez. Örneğin burası 8 ile başlar ama 17 ile bitmez, 16 ile biter.
print(name[8:17:2])                  # Buradaki 2 sayısı işlem adımı (step) dır. 
print(name[0:6:3])                   # 0'dan başlayıp 6'ya doğru 3'er adım alayarak gidilir.
print(name[:6:3])                    # "start" kısmına hiçbir şey yazmazsak ilk karakteri alır. Yani sıfırını index.
print(name[::3])                     # "stop" kısmına hiçbir şey yazmazsak son karakteri alır. 
print("techpro"[::2])                # sıfırnıcıyı aldım, ardından bir karakter atlayıp 2.yi aldım
print("techpro"[::3])                # sıfırıncıyı aldım, ardından iki karakter atlayıp 3.yü aldım
print("techprom"[::3])

Techpro Education
pro
pro
Education
Euain
Th
Th
Thodao
tcpo
tho
tho

In [ ]:
# Slicing yaparak dersten de yazdırabiliriz. 

print("techpro education"[::-1])         
print("techpro education"[::-2])

# Tersten yazdırırken dikkat etmemiz gereken şey "start" ile "stop" noktalarının "step" değeri ile mantık çerçevesinde olması.

print("techpro education"[12:2:-2])    # 12. indexten başlar, 2. indexe kadar -2şer adım atlayarak ilerler ve 2. index dahil değildir
print("techpro education"[17:3:-3])    # 17. indexten başlar, 3. indexe kadar -3er adım atlayarak ilerler ve 3. index dahil değildir

print("techpro"[1:5:-1])            # Burada 1'den 5'e doğru -1'er adım atlayarak ulaşılması mümkün değildir.
print("techpro"[5:1:-1])            # start = 5, stop = 1, step = -1 --> 5 den başlayan bir şey 1'e doğru eksilerek devam edebilir.
print("techpro"[5:1])               # start = 5, stop = 1, step =1   --> 5'den başlayan bir şey 1 de doğru artarak gidemez. O yüzden boş string döndürür.
print("Dülgeroğlu"[2:8:-2])         # start = 2, stop = 8, step = -2 --> 2 den bağşlayıp 8e doğru eksilerek gidilemez.
print("Dülgeroğlu"[8:2:-2])         # start = 8, stop = 2, step = -2 --> 8 den başlayan bir şey 2'ye doğru eksilerek devam edebilir.

noitacude orphcet
niaueopct
aueop
ntu p

rphc


loe

In [ ]:
"tehpro"[1:1]           # Boş string döndürür.

''

In [ ]:
# Stringlerde "+" işlemi concate ya da concatinate yapar 
# Stringlerde "*" işlemi ile stringi çoğaltabiliriz tekrarlı şekilde.

print("Techpro" + "Education")  # iki string arasında (çıkarma işlemi yoktur)
print("Techpro" * 3)            # string ile integer arasında yapılabilir ancak string ile float arasında olmaz 
print("3" * 4)                  # 4 adet "3" yan yana yazıldı (bölme işlemi yoktur)

#### **▶ 2.1.1.2 String Methods**

> string bir ifadeyi yazdıktan sonra "." koyarsak, ardından yapılabilecek tüm **fonksiyonlara** bize method olarak gelir.

In [ ]:
# upper() ve lower()

print("techpro".upper())        # büyük harfe çevirir
print("SeDat".upper())
name = "Emre Cakir"
print(name.upper())
print("TECHPRO".lower())        # küçük harfe çevirir 
print("SeDat".lower())
name = "Emre Cakir"
print(name.lower())

# swapcase()                    

name = "Techpro"
name.swapcase()                 # küçükleri büyük, büyükleri küçük harfe çevirir. 

# capitalize() 

print("techpro".capitalize())            # sadece ilk kelimenin ilk harfi büyük yapar
print("teChpro ÖRNEĞİ".capitalize())     # ilk kelimeyi büyüttüğü gibi geri kalan her şeyi de küçültür. 
print("capitalize bir cümlenin sadece ilk harfini büyük yapar".capitalize())

# title() 

print("emre çakır".title())             # her kelimenin ilk harfini büyük yapar
print("title her cümlenin ilk harfini büyük yapar".title()) 
print("techpro EDUcatiOn".title())      # her kelimenin ilk harfini büyüttüğü gibi kelimelerin geri kalanını da küçültür.

TECHPRO
SEDAT
EMRE CAKIR
techpro
sedat
emre cakir
Techpro
Techpro örneği̇
Capitalize bir cümlenin sadece ilk harfini büyük yapar
Emre Çakır
Title Her Cümlenin Ilk Harfini Büyük Yapar
Techpro Education

### **▶️ 2.1.2 Benim Çalışmalarım**

#### **▶ 2.1.2.1 Methodlar**

##### **1. Method: capitalize()**

> Bu method stringlerin yalnızca ama yalnızca ilk karakterini büyük harf yapar.

> İlk karakterini büyük harf yaparken geriye kalan tüm karakterleri de küçük harf yapar.

In [ ]:
print('emre çakır eski bir makine mühendisidir '.capitalize())         # sadece ilk harfi büyüttü.
print('EMRE ÇAKIR ESKI BIR MAKINE MÜHENDISIDIR '.capitalize())         # sadece ilk harfi büyütürken, geriye kalan tüm harfleri küçülttü.
print('eMRe çaKIR eSkİ bir MAKINE mühendisidir '.capitalize())         # sadece ilk harfi büyütürken, geriye kalan tüm harfleri küçülttü.

Emre çakır eski bir makine mühendisidir
Emre çakir eski bir makine mühendisidir
Emre çakir eski̇ bir makine mühendisidir

##### **2. Method: casefold()**

> lower() methoduna çok benzer. Türk dili açısından lower ile hiçbir farkı yoktur. Ancak bazı dillerin alfabelerinde 'ß' tarzında değişik harfler vardır. O tür alfabesi olan diller için uygun bir kullanımı vardır.

In [ ]:
print("aßaan".lower())          # lower() methodu 'ß' harfini tanıyamadı
print("aßaan".casefold())       # casefold() methodu 'ß' harfini tanıyamadı

aßaan
assaan

##### **3. Method: center()**

> string'i ortalar. Ve eğer parantez içerisinde girdiğimiz sayı, string'in uzunluğundan fazla ise; fazlalığın yarısını stringin sağına ve diğer yarısını da soluna bırakır. En son string ortalanmış olur.

> eğer çift sayı kullanırsak sağa sola eşit paylaştırır. eğer tek sayı kullanırsak sol tarafta bir adet fazlamış olur.

> center()'in default değerinde space yani boşluk vardır. Ancak bu boşluğu istediğimiz her şey ile değiştirebiliyoruz.

> Örnek Kullanım1: 

>> 'emre'.center(12) --> burada 'emre' 4 harflidir. genişlik ise 12'dir. 12 - 4 = 8'dir. O halde 4 boşluk sola 4 boşluk sağa eklenir.

> Örnek Kullanım2: 

>> 'emre'.center(12, '-') --> burada 'emre' 4 harflidir. genişlik ise 12'dir. 12 - 4 = 8'dir. Bu örnekte boşluk yerine tire (-) kullanılmış. O halde 4 tire sola 4 tire sağa eklenir.

> **🚦UYARI🚦** Yalnızca tek bir karakter eklemesi yapılabiliyor, örneğin 'e' harfini yazdırabiliriz ama 'ee' yi yazdıramayız sağına ve soluna



> ### **🔥 bir string'in len'i eğer 5 ise. Bize de sorgulanmaksızın en az len'i 10 olan bir string lazım ise bu metodu kullanabiliriz.🔥**

In [ ]:
print(len('emre cakir'))                    # kullandığımız stringin uzunluğu 10 birimdir. O halde biz center(x) ifadesinde x yerine 10'dan büyük sayılar yazmak zorundayız.

print('emre cakir'.center(0))               # x (10) > 0 olduğu için herhangi bir etki olamaz.
print('emre cakir'.center(5))               # x (10) > 5 olduğu için herhangi bir etki olamaz.
print('emre cakir'.center(12))              # 12 > x (10) olduğu için, stringi ortalar ve hem sağına hem de soluna 1'er tane boşluk bırakır.
print('emre cakir'.center(20))
print('emre cakir'.center(40))
print('emre cakir'.center(80))              # 80 - 10 = 70 olduğuna göre, 35 adet sola ve 35 adet sağa boşluk bırakılır.
print('emre cakir'.center(160))
print('emre cakir'.center(320))             # 320 - 10 = 310 olduğuna göre, 155 adet sola ve 155 adet sağa boşluk bırakılır.

10
emre cakir
emre cakir
 emre cakir
     emre cakir
               emre cakir
                                   emre cakir
                                                                           emre cakir
                                                                                                                                                           emre cakir

155

In [ ]:
print('emre cakir'.center(15, '*'))      # 15-10 = 5 olduğu için 3 asteriks sola ve 2 asteriks sağa yerleştirilir.
print('emre cakir'.center(26, '/'))      # 26-10 = 16 olduğu için 8 slash sola ve 8 slash sağa yerleştirilir.
print('irem'.center(32, '❤'))
print('irem'.center(32, '❤'), 'irem'.center(32, '❤'), 'irem'.center(32, '❤'))

***emre cakir**
////////emre cakir////////
❤❤❤❤❤❤❤❤❤❤❤❤❤❤irem❤❤❤❤❤❤❤❤❤❤❤❤❤❤
❤❤❤❤❤❤❤❤❤❤❤❤❤❤irem❤❤❤❤❤❤❤❤❤❤❤❤❤❤ ❤❤❤❤❤❤❤❤❤❤❤❤❤❤irem❤❤❤❤❤❤❤❤❤❤❤❤❤❤ ❤❤❤❤❤❤❤❤❤❤❤❤❤❤irem❤❤❤❤❤❤❤❤❤❤❤❤❤❤

>> Örnek: Kullanıcıdan isim soyisim iste. Bizim bu isim soyismi database'imize ekleyebilmemiz için en az 25 karakter olduğunu kabul edelim. "result_name" isimli değişkende istenilen şartı sağlayan bir isim soyisim yazılı olsun.

In [ ]:
isim_soyisim = input('İsim Soyisim: ')
result_name = isim_soyisim.center(25)
print("İstenilen isim soyismin karakter sayısı -->",len(result_name))

İstenilen isim soyismin karakter sayısı --> 25

##### **4. Method: count()**

> count() bir strin içerisinde ne bir karakter veya başka bir string'in ne kadar olduğunu saymamızı sağlar. 

> casesensitive'dir. Yani büyük E ile küçük e başka şeylerdir farklı sayılır.

> geçerli bir sayma yapılmadıysa hata vermez.

> string.count(**value, start, end**)

>> **value**: required. A string. sayılacak olan değer budur. (default değeri 0'dır)

>> **start**: optional. A integer. saymaya nereden başlanacağını belirler. (default değeri 0'dır)

>> **end**: optional. A integer. saymaya nereye kadar devam edeceğini belirler. (default değeri string sonudur)

In [ ]:
# aşağıdakiler gibi tek karakter arayabiliyoruz:

print('Emre Çakır'.count("e"))
print('Emre Çakır'.count("E"))
print('emre Çakır'.count("e"))

# ayni şekilde birden büyük karakterleri de arayabiliyoruz:

print('emre çakırın dedesinin adı da emreydi. emre olmak mirastır bu sülalede'.count('emre'))

1
1
2
3

In [ ]:
print('emre Çakır'.count("e", 2))       # 2. indexten itibaren sayılacağı için 0. indexteki 'e' harfi sayılmadı.
print('emre çakırın dedesinin adı da emreydi. emre olmak mirastır bu sülalede'.count('e', 3, 28))       # 3. indexten 28. indexe kadar olan kısımda ne kadar e varsa onu saydık.

1
3

In [ ]:
# count'un kullanımına dair bir örneği kendi kafamdan yazdım.

isim = input('İsim: ')
soy_isim = input('Soyisim: ')
print('Girdğiniz isim soyisim:', isim, soy_isim )
aranan_yazı = 'abdu'
print('Aranan yazı:', aranan_yazı)
isim_soyisim = isim + ' ' + soy_isim 
isim_uzunluk = len(isim)
soyisim_uzunluk = len(soy_isim)
isim_soyisim_uzunluk = isim_uzunluk + soyisim_uzunluk

print('Aranan yazı girilen soyisimde şu kadar bulunmuştur -->',(isim_soyisim.count(aranan_yazı, isim_uzunluk, isim_soyisim_uzunluk)))

Girdğiniz isim soyisim: abdullah abdurrahman
Aranan yazı: abdu
Aranan yazı girilen soyisimde şu kadar bulunmuştur --> 1

##### **5. Method: encode()**

> encode, şifrelemek, kodlamak, şifreye çevirmek anlamına gelir.

> ileri seviye bir konudur. O yüzden detaylı bir araştırma ve inceleme yapmadım. Aşağıda bazı yüzeyler şeyler bulunmaktadır.

In [ ]:
'emre cakir'.encode()

b'emre cakir'

In [ ]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [ ]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [ ]:
txt = "My name is Ståle"

print(txt.encode(encoding="utf-8",errors="backslashreplace"))
print(txt.encode(encoding="utf-8",errors="ignore"))
print(txt.encode(encoding="utf-8",errors="namereplace"))
print(txt.encode(encoding="utf-8",errors="replace"))
print(txt.encode(encoding="utf-8",errors="xmlcharrefreplace"))

b'My name is St\xc3\xa5le'
b'My name is St\xc3\xa5le'
b'My name is St\xc3\xa5le'
b'My name is St\xc3\xa5le'
b'My name is St\xc3\xa5le'

In [ ]:
# unicode string
string = 'pythön!'

# print string
print('The string is:', string)

# default encoding to utf-8
string_utf = string.encode()

# print result
print('The encoded version is:', string_utf)

The string is: pythön!
The encoded version is: b'pyth\xc3\xb6n!'

##### **6. Method: endswith()**

> bir string'in sonunun neyle bittiğini öğrenebildiğimiz bir methoddur. 

> çıktıları boolean olarak True veya False'dur. Sorgumuz doğru ise çıktımız True'diir.

> başlangıç ve bitiş noktalarını optional olarak belirtebiliyoruz.

> string.endswirh(value, start, end)

>> string'in sonu valeu ile mi bitiyor diye sorgularız. 

>> start değerini girdiysek, bu stringin başlangıç noktasıdır.

>> end değerini girdiysek bu da stringin son noktasıdır. Örneğin string normalde re harfiyle bitiyorsa ve bizim end değerimi -1 ise, stringimizin sonu r ile bitiyor gibi oluyor. çünkü -1 dahil olmuyor her zamanki gibi

> sorguyu tek bir karakterle yapmak zorunda değiliz.

In [ ]:

print('emre'.endswith('e'))             # emre'nin sonu e ile bitmektedir.
print('emre'.endswith('re'))            # tek bir karakter girmez zorunda değiliz.
print("-1-".center(10, '*'))
print('emre'.endswith('r', 0, -1))
print('Sen benim nereli olduğumu biliyor musun?'.endswith('n', 0, -1))
print("-2-".center(10, '*'))
print('Sen benim nereli olduğumu biliyor musun?'.endswith('musun?'))
print('Sen benim nereli olduğumu biliyor musun?'.endswith('musun'))
print("-3-".center(10, '*'))
print('emre'.endswith('r'))

True
True
***-1-****
True
True
***-2-****
True
False
***-3-****
False

##### **7. Method: expandtabs()**

> 'yazı\tyazı'.expandtabs() 

> yukarıdaki 'yazı\tyazı' stringinde tab karakteri kullanılmıştır. İki tane yazının ortasındaki tab karakterinin kaç space'tan oluşacağını belirleyen bir methoddur.

> default halinde tabsize=8 space'dir. Bunu değiştirmek istiyorsak parantez içerisine sayı girmemiz yeterlidir.

> **yalnızca ilk gördüğü tab karakterini kabul eder**

In [ ]:
'Emre\tÇakır'.expandtabs(12)
'İrem\tSüheyla\tÇukurlu'.expandtabs(4)      # burada yer alan ikinci \t bizim için önemli değil artık

'İrem    Süheyla Çukurlu'

##### **8. Method: find() and rfind()**

> bu metod ile aradığım bir karakterin string içerisinde kaçıncı indexte olduğunu görebiliyoruz. (find soldan rfind sağdan başlar)

> aradığımız karakter birden fazla yerde varsa önemli olan ilk index neredeyse onu kabul eder.

> tek bir karakter yerine birden fazla karakterli yapıları da aratabiliriz. 

> 'sen benim en güzel günahımsın'.find(' en ')

>> yukarıdaki örnekte 'sen' içerisindeki 'en' yi saymaz. veya 'benim' içerisindeki 'en'i de saymaz. 'benim en güzel' içerisindeki ' en ' i alır.

> 'sen benim en güzel günahımsın'.find('en', 2, 12) 

>> yukarıdaki örnekte stringin 2. indexinden 12. indexine kadar olan ksımında 'en''yi arar

> ***Eğer aradığı şeyi bulmazsa -1 döndürür***

In [ ]:
print('12345678'.find('3'))
print('emre'.find('e'))
print('emre çakır'.find('a'))
print('süheylaha'.find('ha'))          # heyla yerine sadece h yazsaydık değişe
print('sen benim en güzel günahımsın'.find(' en '))     # güzel bir uygulama

# başka bir kullanım:

print('sen benim en güzel günahımsın'.find('en', 3, 12))           # stringin 3. indexinden başlar 12.'ye kadar devam eden aralıkta 'en' ifadesini arar
print('sen benim en güzel günahımsın'.find('en', 3,))              # end kısmını boş bırakmak stringin tamamını kabul et anlamına gelmektedir.
print('sen benim en güzel günahımsın'.find('ın', -1, 0 ))         # bu şekilde tersten arama diye bi şey yok doğal olarak. o yüzden çıktısı -1'dir

2
0
6
7
9
5
5
-1

##### **9. Method: format()**

> braces --> {} 

> stringler içerisinde braces kullanarak stringleri formatlarız

> örneklerle anlamaya çalışmak en güzeli:

In [ ]:
# 1. Yöntem: Değişken Atayarak Formatlamak

txt_a = "My name is {name}, I'm {age} years old.".format(name = "John", age = 28)

# 2. Yöntem: Numaralandırarak Formatlamak

txt_b = "My name is {0}, I'm {1} years old.".format("John", 28)

# 3. Yöntem: Boş Bırakarak Formatlamak

txt_c = "My name is {}, I'm {} years old.".format("John", 28)

print(txt_a)        
print(txt_b)        
print(txt_c)

My name is John, I'm 28 years old.
My name is John, I'm 28 years old.
My name is John, I'm 28 years old.

In [ ]:
# herhangi bir sınırlamamız yok. 

txt3 = "My name is {name}, I'm {age} years old. Her name is {hname} and her age is {hage}.".format(name = "John", age = 28, hname = 'İrem', hage = 25)  # 1. Yöntem: Değişken Atayarak Formatlamak
txt4 = "My name is {0}, I'm {1} years old. Her name is {2} and her age is {3}.".format("John", 28, 'İrem', 25)                                          # 2. Yöntem: Numaralandırarak Formatlamak
txt5 = "My name is {}, I'm {} years old. Her name is {} and her age is {}.".format("John", 28, 'İrem', 25)                                              # 3. Yöntem: Boş Bırakarak Formatlamak

print(txt3)
print(txt4)
print(txt5)

My name is John, I'm 28 years old. Her name is İrem and her age is 25.
My name is John, I'm 28 years old. Her name is İrem and her age is 25.
My name is John, I'm 28 years old. Her name is İrem and her age is 25.

***⭐Formatting Methods⭐*** 

>> aşağdaki hücrede sırasıyla bir takım formatlama operatörleri göreceksin:

In [ ]:
# :<

txt = "We had {sayi:<8} chickens. {sayi_2:<8} chickens are died.".format(sayi = 49, sayi_2 = 16)       # sayi'nın sağına  8 adet space bırakır, diğer yöntemleri uygularsak daha pratik oluyor.
print(txt)

# :>

txt = "We had {sayi:>3} chickens. {sayi_2:>3} chickens are died.".format(sayi = 49, sayi_2 = 16)       # sayi'nın soluna  3 adet space bırakır   
print(txt)

# :^

txt = "We had {sayi:^5} chickens. {sayi_2:^5} chickens are died.".format(sayi = 49, sayi_2 = 16)       # sayi'nın soluna  3 tane sağına, 2 adet soluna space bırakır
print(txt)

# :=

txt = "We had {sayi:=8} chickens. {sayi_2:=8} chickens are died.".format(sayi = 49, sayi_2 = -16)       # eğer sayının önünde - işareti varsa onu en sola atar
print(txt)

# :+

txt = "We had {sayi:+} chickens. {sayi_2:+} chickens are died.".format(sayi = 49, sayi_2 = -16)       # hem boşluk buraktırır hem de sayıların önüne artı koyar. Ama eğer negatif bi sayı varsa ona dokunmaz
print(txt)

# :-

txt = "We had {sayi:-} chickens. {sayi_2:-} chickens are died.".format(sayi = 49, sayi_2 = -16)       # sadece negatif sayıların eksi işaretli olmasını sağlar
print(txt)

# :

txt = "We had {sayi: } chickens. {sayi_2: } chickens are died.".format(sayi = 49, sayi_2 = -16)       # pozitif sayılardan önce ekstra bir boşluk bırakır
print(txt)

# :,

txt = "We had {sayi:,} chickens. {sayi_2:,} chickens are died.".format(sayi = 49000000, sayi_2 = 16000)       # binler basamağına bir virgül ekler.
print(txt)

# :_

txt = "We had {sayi:_} chickens. {sayi_2:_} chickens are died.".format(sayi = 49000000, sayi_2 = 16000)       # binler basamağına bir underscore ekler.
print(txt)

# :b

txt = "The binary version of {0} is {0:b}".format(5)                # binary formatta göserir bir sayıyı

print(txt)

We had 49       chickens. 16       chickens are died.
We had  49 chickens.  16 chickens are died.
We had  49   chickens.  16   chickens are died.
We had       49 chickens. -     16 chickens are died.
We had +49 chickens. -16 chickens are died.
We had 49 chickens. -16 chickens are died.
We had  49 chickens. -16 chickens are died.
We had 49,000,000 chickens. 16,000 chickens are died.
We had 49_000_000 chickens. 16_000 chickens are died.
The binary version of 5 is 101

In [ ]:
txt = "We had {sayi:,} chickens. {sayi_2:,} chickens are died.".format(sayi = 49000000, sayi_2 = 16000)       
print(txt)       # binler basamağına bir virgül ekler.

txt = "We had {sayi:_} chickens. {sayi_2:_} chickens are died.".format(sayi = 49000000, sayi_2 = 16000)       
print(txt)       # binler basamağına bir underscore ekler.

txt = "The price is {:.2f} dollars.".format(45)        
print(txt)       # burada 2 yerine kaç yazarsak, 45.0000 şeklinde o sayı kadar sıfır koyar.

txt = "You scored {:.0%}".format(0.25)                 
print(txt)       # burada 0 yerine kaç yazarsak, 25.000 şeklinde o sayı kadar sıfır ekler

We had 49,000,000 chickens. 16,000 chickens are died.
We had 49_000_000 chickens. 16_000 chickens are died.
The price is 45.00 dollars.
You scored 25%

In [ ]:
# EN ÖNEMLİ1:

txt = "The price is {:.2f} dollars.".format(45)         # burada 2 yerine kaç yazarsak, virgülden sonra o kadar sıfır koyar.
print(txt)

txt = "The price is {:.5f} dollars.".format(45)         # burada 5 tane sıfır koyulacak mesela
print(txt)

txt = "The price is {:.0f} dollars.".format(45)         # burada 5 tane sıfır koyulacak mesela
print(txt)

# EN ÖNEMLİ2:

txt = "You scored {:%}".format(0.25)                    # bir önceki gibi, kaç yazarsak o kadar sıfır koyar
print(txt)

txt = "You scored {:.2%}".format(0.25)
print(txt)

txt = "You scored {:.0%}".format(0.25)                  # burada 0 yerine kaç yazarsak, 25.000 şeklinde o sayı kadar sıfır ekler
print(txt)

The price is 45.00 dollars.
The price is 45.00000 dollars.
The price is 45 dollars.
You scored 25.000000%
You scored 25.00%
You scored 25%

In [ ]:
# önemli bir uygulama:

txt = "We had {sayi:,} chickens. {sayi_2:,} chickens are died.".format(sayi = 49000000, sayi_2 = 16000)       # binler basamağına bir virgül ekler.
print(txt.replace(",", "."))

We had 49.000.000 chickens. 16.000 chickens are died.

##### **10. Method: format_map()**

> format() ile aynı görevi görüyor ancak bir farkla

> format_map() kullanmak için bir dictionary e ihtiyaç var.

> Dict'in her bir key'ini curly braces içine yazarız ve bize o keye karşılık gelen value'yi yazdırır.

In [ ]:
first_name = input('İsim: ')
last_name = input('Soyisim: ')
city = input('Doğum Şehri: ')
birth = int(input('Doğum Yılı: '))

my_dict = {
    'first': first_name.title(),
    'last': last_name.title(),
    'from': city.title(),
    'birth': birth,    
    'age': (2024 - birth)
}

txt_1 = ('My name is {first}. My last name is {last}. I was born in {from} at {birth}. Now, I\'m {age} years old.').format_map(my_dict)
print(txt_1)

My name is Emre. My last name is Çakır. I was born in Istanbul at 1996. Now, I'm 28 years old.

In [ ]:
dict_hobbies = {
    'sport': 'Football',
    'series': 'Braking Bad',
    'actrist': 'Al Pacino',
    'city': 'Amsterdam'
    }

txt_best = 'My favorite spor is {sport}. I watched {series} twice. I admire {actrist} and I want to live in {city}'.format_map(dict_hobbies)

print(txt_best)

My favorite spor is Football. I watched Braking Bad twice. I admire Al Pacino and I want to live in Amsterdam

##### **11. Method: index() and rindex()**

> index bulmaya yarayan method [index soldan, rindex sağdan aramaya başlar]

> Bu methodu kullanarak bir string'in başka bir string içerisinde kaçıncı index'te olduğunu öğreniriz.

> Tek bir karakter aratılabileceği gibi, birden fazla karakterden oluşan string'de aratılabilir.

> ***Eğer değer bulunamazsa hata verir***

In [ ]:
cell = "ebcde"
cell.index("c")

2

In [ ]:
string = 'Benim Adım Emre. Her Zaman Olduğu Gibi Şimdi de Emre\'yim.'
print('Küçük a\'nın string içerisindeki index\'i  -->',string.index('a'))        # casesentsitive di. büyük aslında 6. indexte ancak bizim aradığımız küçük a olduğu için 22 çıktısını alırız
print('Büyük A\'nın string içerisindeki index\'i  -->',string.index('A')) 
print("--")
print(string.index('dım'))

Küçük a'nın string içerisindeki index'i  --> 22
Küçük a'nın string içerisindeki index'i  --> 22
Büyük A'nın string içerisindeki index'i  --> 6
Büyük A'nın string içerisindeki index'i  --> 6
--
7

In [ ]:
txt = 'Benim sevgilim Emre dünyanın en iyi Emre\'sidir'
name = 'Emre'

print(txt.index(name, 20))          # txt isimli string'in 20. indexinden sonra gelen ilk name değişkenini arar 

print('techpro education is the best education course in the world!'.index('edu', 15 ))     # başta verilmiş olan string'in 15. indexinden sonra gelen ilk 'edu' stringinin indexini arar

test_string = "1234gfg4321"
print(test_string.index('gfg', 1, 10))          # 1. indexten başlar 10. indexe kadar geçen aralıkta 'gfg' yi arar.

36
30
4

In [ ]:
print('sen benim en güzel günahımsın'.find('1', 3, 12))           # stringin 3. indexinden başlar 12.'ye kadar devam eden aralıkta 'en' ifadesini arar

-1

##### **12. Method: isalnum()**

> bir string'in alfabetik-numeric olup olmadığını sorgularız. hem alfabetik hem de numeric ise true döndürür

> başka bi deyişle, string eğer sadece harflerden oluşuyorsa, sadece sayılardan oluşuyorsa ve hem harf hem yazıdan oluşuyorsa true döndürür. Eğer string içerisinde bir boşluk dahi olsa onu özel karakterden sayar.

In [ ]:
print('B'.isalnum())            # sadece harf
print('2'.isalnum())            # sadece sayı
print('B2'.isalnum())           # hem sayı hem harf
print('B 2'.isalnum())          # arada bir boşluk olduğu için False döndürür
print('B-2'.isalnum())          # arada bir tane tire olduğu için False döndürür
print('Emre Çakır'.isalnum())

print('Erkin Çakır Türkiyelidir ama şuanda Hollanda\'da yaşıyor'.isalnum())

True
True
True
False
False
False
False

##### **13. Method: isalpha()**

> string'in sadece alfabetik olup olmadığını sorgularız:

> sadece alfabetik ise True döndürür

In [ ]:
name = 'Emre'

print(name.isalpha())

name_1= 'Emre1'

print(name_1.isalpha())

name_2 = 'Emre Çakır'

print(name_2.isalpha())

True
False
False

##### **14. Method: isdecimal() & isdigit() & isnumeric()**

> string içerisinde sadece rakamlar mı var diye kontrol ederiz

> 3 method birbirinin yerini tutar. Detayları anlaşılmayacak seviyede. İstediğini seç

In [ ]:
string = '1231135'              # sadece rakamlardan oluşuyor
print(string.isdecimal())
string = '1231135a'             # harf var       
print(string.isdecimal())
string = '123 1231'             # boşluk var
print(string.isdecimal())
string = '12.2'                 # nokta var
print(string.isdecimal())
string = '-12'                 # tire var
print(string.isdecimal())

True
False
False
False
False

In [ ]:
string = '1231135'              # sadece rakamlardan oluşuyor
print(string.isdigit())
string = '1231135a'             # harf var       
print(string.isdigit())
string = '123 1231'             # boşluk var
print(string.isdigit())
string = '12.2'                 # nokta var
print(string.isdigit())
string = '-12'                 # tire var
print(string.isdigit())

True
False
False
False
False

In [ ]:
string = '1231135'              # sadece rakamlardan oluşuyor
print(string.isnumeric())
string = '1231135a'             # harf var       
print(string.isnumeric())
string = '123 1231'             # boşluk var
print(string.isnumeric())
string = '12.2'                 # nokta var
print(string.isnumeric())
string = '-12'                 # tire var
print(string.isnumeric())

True
False
False
False
False

##### **15. Method: isidentifier()**

> Bu method isalnum() methoduna çok benziyor. Hem string hem sayı ise True yazdırır. Tek bir farkla:

> isidentifier(), rakamla başlayan stringleri False döndürür.

In [ ]:
print('Emre21'.isidentifier())      # herhangi bi yerde sayı olması sorun değil başta olmasın yeter
print('Emreee'.isidentifier())
print('21Emre'.isidentifier())      # Eğer rakamla başlarsa kabul olmuyor
print('Emre-21'.isidentifier())     # özel karakter kabul etmiyor isalnum() gibi
print('Emre 21'.isidentifier())

True
True
False
False
False

##### **16. Method: islower()**

In [ ]:
print('emre çakır'.islower())
print('Emre Çakır'.islower())
print('emre çakıR'.islower())

True
False
False

##### **17. Method: isprintable()**

> anladığım kadarıyla bazı kaçış yöntemlerini false döndürüyor bir tanımlayamadığı simgeler falan olursa muhtemelen

In [ ]:
txt = 'Emre Çakır'
print(txt.isprintable())
txt = 'Emre_Çakır'
print(txt.isprintable())
txt = 'Emre1Çakır2'
print(txt.isprintable())
txt = '2'
print(txt.isprintable())
txt = '-2'
print(txt.isprintable())
txt = '❤'
print(txt.isprintable())
print('----')
txt = 'emre\tçakır'
print(txt.isprintable())
txt = 'emre\nçakır'
print(txt.isprintable())
txt = 'Emre\' Çakır'            # bu garipmiş
print(txt.isprintable())

True
True
True
True
True
True
----
False
False
True

##### **18. Method: isspace()**

        Eğer bir string içerisindeki tüm karakterler aşağıdaki ifadelerden oluşuyorsa True döndürür. Onun haricinde false döndürür bir tane bile bunlar dışında bir şey varsa.
    
    Whitespace: Alfabe dışı karakterler ya da Aralıklama Karakterleri olarak geçiyor bu aşağıdakiler:
    ' ' - Space
    \t - Horizontal tab
    \n - Newline
    \v - Vertical tab
    \f - Feed
    \r - Carriage return

In [ ]:
string = "\n\t\n"
print(string.isspace())

string = 'Geeksforgeeks'
print(string.isspace())

string = '\n \n \n'
print(string.isspace())

string = 'Geeks\nfor\ngeeks'
print( string.isspace())

True
False
True
False

##### **19. Method: istitle()**

> eğer string title() metotu ile düzenlenmiş bir string gibi ise True döndürür. Değilse False döndürür.

In [ ]:
print('emre çakır'.istitle())
print('emre Çakır'.istitle())
print('EmrE Çakır'.istitle())
print('Emreçakır'.istitle())
print('Emre Çakır'.istitle())

False
False
False
True
True

##### **20. Method: isupper()**

> eğer string upper() metotu ile düzenlenmiş bir string gibi ise True döndürür. Değilse False döndürür.

In [ ]:
print('Emre'.isupper())
print('EMRe'.isupper())
print('EmRe'.isupper())
print('EMRE'.isupper())
print('EMRE ÇAKIR'.isupper())

False
False
False
True
True

##### **21. Method: join()**

    Bir string'in içine bir şeyler serpiştiriyor
    Eğer bir liste sadece string'lerden oluşuyorsa listeyi string'e çevirebilir

In [ ]:
print('-'.join('Emre'))
print('*'.join('Emre'))
print('-*-'.join('Emre'))
print('$'.join(' Emre '))

E-m-r-e
E*m*r*e
E-*-m-*-r-*-e
 $E$m$r$e$
geeks

In [ ]:
print("".join(['1', '2', '3', '4']))
print("*".join(['e', 'm', 'r', 'e']))
print("*".join(['ee', 'mm', 'rr', 'ee']))

1234
e*m*r*e
ee*mm*rr*ee

In [ ]:
list1 = ('1', '2', '3', '4')
s = "-"
txt = s.join(list1)
print(txt)

1-2-3-4

str

In [ ]:
dict1 = {'Emre': 1, 'İrem': 2, 'Süheyla': 3}

txt = '_#_'.join(dict1)     # bir dict'in key'lerini kullabiliyoruz

print(txt)

Emre_#_İrem_#_Süheyla

##### **23. Method: lower()**

In [ ]:
print('Emre Çakır'.lower())
print('emre çakır'.lower())
print('emre_Çakır'.lower())

emre çakır
emre çakır
emre_çakır

> bir stringin solunda sildirmek istediğimiz şeyleri sildiririz. Eğer bir şey belirtmezsek, boşluk varsa boşluğu siler

In [ ]:
print('  Emre Çakır'.lstrip())
print('**Emre Çakır'.lstrip())      # burada silmediğini bir alt satırda özel olarak belirterek sildirebiliyoruz
print('**Emre Çakır'.lstrip('**'))
print('**Emre**Çakır***'.lstrip('**'))  # parantez içerisinde belirtilenler sadece stringin başında ise geçerli olur

Emre Çakır
**Emre Çakır
Emre Çakır
Emre**Çakır***

In [ ]:
string = "++++x...y!!z* geeksforgeeks"
print(string.lstrip("+.!*xyz"))         # illa tam olarak birebir aynısını yazmamıza gerek yok. içerdiği şeyi içerse yeter

string2 = 'a1x2 a1a x3?a?xx Emre Çakır'
print(string2.lstrip('a213?x '))        # bu şekilde detaylı bilgi girersek temizliği doğru yapabilir

 geeksforgeeks
Emre Çakır

In [ ]:
# illa boşluk silmek zorunda değiliz:

print('Emre Çakır'.lstrip('Em'))         # baş kısımdaki Em'i sildirebiliriz

re Çakır

##### **25. Method: partition()**

> stringler içerisinde bir şey aratırız ve arattığımız şeyi bir ayraç olarak kullanıp ikiye böleriz tüm stringi 

> Her zaman 3 elemanlı bir tuple elde ederiz anladığım kadarıyla

In [ ]:
print('Emre Çakır Bir Makine Mühendisiydi Eskiden'.partition('Bir'))
print('Emre Çakır Bir Makine Mühendisiydi Eskiden'.partition(' Bir '))
print('Emre Çakır Bir Makine Mühendisiydi Eskiden'.partition('Emre'))
print('Emre Çakır Bir Makine Mühendisiydi Eskiden'.partition(' Eskiden'))

('Emre Çakır ', 'Bir', ' Makine Mühendisiydi Eskiden')
('Emre Çakır', ' Bir ', 'Makine Mühendisiydi Eskiden')
('', 'Emre', ' Çakır Bir Makine Mühendisiydi Eskiden')
('Emre Çakır Bir Makine Mühendisiydi', ' Eskiden', '')

In [ ]:
print('bu Emre Çakır Emre değildir.'.partition('Emre'))     # Eğer arattığımız şeyden iki tane varsa, ilk denk geldiğini dikkate alır.

('bu ', 'Emre', ' Çakır Emre değildir.')

In [ ]:
print('Emre Çakır Bir Makine Mühendisiydi Eskiden'.partition('Süheyla'))          # eğer arattığımız şey yoksa, tipik olarak aşağıdaki gibi bir çıktı alırız.

('Emre Çakır Bir Makine Mühendisiydi Eskiden', '', '')

In [ ]:
string = 'Emre Çakır Bir Makine Mühendisiydi Eskiden'.partition('Süheyla')
type(string)

tuple

In [ ]:
# çok güzel bir çalışma:

url = "https://www.example.com/index.html"
result = url.partition("//")
result = result[2].partition("/")
print(result[0])

www.example.com

##### **26. Method: replace()**

In [ ]:
print('Serhat Çakır'.replace('Serhat', 'Emre'))     # klasik kullanımı budur

Emre Çakır

In [ ]:
print('emre çakır emre çakır emre çakır emre çakır'.replace('emre', 'X', 2))        # bu replace işlemini yalnızca 2 kez yapmamızı sağladı

X çakır X çakır emre çakır emre çakır

> find() baştan başlar aramaya, rfind() ise sondan başlar aramaya.

In [ ]:
print('let it be, let it be, let it be'.find('it'))
print('let it be, let it be, let it be'.rfind('it'))

print('emreemre'.find('e'))
print('emreemre'.rfind('e'))

4
26
0
7

> index() baştan başlar saymaya, rindex() sondan başlar

In [ ]:
print('emre Çakır'.index('e'))
print('emre Çakır'.rindex('e'))

0
3

##### **29. Method: partition() and rpartition()**

> partition() soldan başlar aramaya, rpartition() sağdan başlar

In [ ]:
print('Emre Çakır Bir Makine Mühendisiydi Bir Eskiden'.partition('Bir'))            # soldan ilk Bir
print('Emre Çakır Bir Makine Mühendisiydi Bir Eskiden'.rpartition('Bir'))           # sağdan ilk Bir
len('Emre Çakır Bir Makine Mühendisiydi Bir Eskiden'.rpartition('Eskiden'))        # sağdan ilk Bir

('Emre Çakır ', 'Bir', ' Makine Mühendisiydi Bir Eskiden')
('Emre Çakır Bir Makine Mühendisiydi ', 'Bir', ' Eskiden')

3

##### **30. Method: split()**

> bir karakter seçeriz ve string'i o karakterin olduğu yerlerden ayırır. Ayrıca tek bir karakter yerine birden fazlasını da seçebiliriz.

> split olarak belirlenen karakteri siler

In [ ]:
print('Benim, adım, Emre, Çakır'.split(','))          # virgüller ayrak olarak kullanıldı
print('Benim, adım, Emre, Çakır'.split(', '))         # virgüle ve boşluk olan her yer ayrak olarak kullanıldı
print('Benim, adım, Emre, Çakır'.split('Emre'))       # Emre ayraç olarak kullanıldı. Emre'nin silindiğine dikkat et
print('Benim, adım, Emre, Çakır'.split(', Emre, '))   # (1)Daha düzgün bir split seçimi, çıktının daha düzgün olmasını sağlar
print('Benim adım Emre Çakır'.split(' '))             # (2)Daha düzgün bir split seçimi, çıktının daha düzgün olmasını sağlar

['Benim', ' adım', ' Emre', ' Çakır']
['Benim', 'adım', 'Emre', 'Çakır']
['Benim, adım, ', ', Çakır']
['Benim, adım', 'Çakır']
['Benim', 'adım', 'Emre', 'Çakır']

In [ ]:
print('Benim adım Emre Çakır'.split(' ', maxsplit=1))           # maxsplit, belirlenen split'in en fazla kaç defa uygulanacağını gösterir
print('Benim adım Emre Çakır'.split(' ', 1))                    # maxsplit yazmasak da olur
print('--#--')
print('Benim adım Emre Çakır'.split(' ', maxsplit=2))           # belirlediğimiz split aracının 2 defa uygulandığını, 3. ye geldikten sonra durduğunu görebiliriz
print('Benim adım Emre Çakır'.split(' ', 2))                    # maxsplit yazmasak da olur 
print('--#--')
print('Benim adım Emre Çakır'.split(' ', 4))           
print('Benim adım Emre Çakır'.split(' ', 12))                   # string içerisindeki sayıyı aşarsak sorun yok max uygulama yapıp geçer 
print('--#--')
print('split()\'in içine hiçbir şey yazmazsak, space olarak algılar -->','Benim adım Emre Çakır'.split())

['Benim', 'adım Emre Çakır']
['Benim', 'adım Emre Çakır']
--#--
['Benim', 'adım', 'Emre Çakır']
['Benim', 'adım', 'Emre Çakır']
--#--
['Benim', 'adım', 'Emre', 'Çakır']
['Benim', 'adım', 'Emre', 'Çakır']
--#--
split()'in içine hiçbir şey yazmazsak, space olarak algılar --> ['Benim', 'adım', 'Emre', 'Çakır']

##### **31. Method: strip() anda lstrip()**

> Baştan ve sondan boşluklar siler (lstrip sadece solundan siler)

> Eğer farklı bi şey belirtirsek boşluk yerine onu siler

In [ ]:
print('     Emre Çakır      '.strip())              # başta ve sondaki tüm boşlukları sildi
print('     Emre Çakır      '.strip(" "))           # ortalardaki hiçbir şey ile ilgilenmez bu metod
print('--#--')
print('*****Emre Çakır******'.strip('*'))           # başta ve sondaki asteriksleri sildi
print('     Emre Çakır******'.strip('*'))           # sondaki asteriksleri sildi ama baştaki boşluğa dokunmadı
print('--#--')
print('     Emre Çakır******'.strip('*'))           # sondaki asteriksleri sildi ama baştaki boşluğa dokunmadı
print('     Emre Çakır******'.strip('* '))          # Eğer bi tarafta boşluk diğer tarafta asteriks gibi durum olursa, iki karkateri de yazarsak metot gerekeni yapar
print('--#--')
print('yxzyxEmre Çakırzyxzyz'.strip('xyz'))         # başta ve sodna x, y ve z harflerinin rastgele dizilimleri var. Bizim strip komuduna bu 3 harfi yazmamız yeter
print('yxzyxEmre Çakırzyxzyz'.strip('xyz'))         # başta ve sodna x, y ve z harflerinin rastgele dizilimleri var. Bizim strip komuduna bu 3 harfi yazmamız yeter
print('--#--')
print('Emre Çakır'.strip('Çakır'))                  # Bu şekilde doğrudan kelime de kaldırabiliriz.

Emre Çakır
Emre Çakır
--#--
Emre Çakır
     Emre Çakır
--#--
     Emre Çakır
Emre Çakır
--#--
Emre Çakır
Emre Çakır
--#--
Emre

In [ ]:
print('  Emre Çakır'.lstrip())
print('**Emre Çakır'.lstrip())      # burada silmediğini bir alt satırda özel olarak belirterek sildirebiliyoruz
print('**Emre Çakır'.lstrip('**'))
print('**Emre**Çakır***'.lstrip('**'))  # parantez içerisinde belirtilenler sadece stringin başında ise geçerli olur

##### **32. Method: splitlines()**

> \n, \r, \r\n, \x1c, \x1d, ... , \u2029 

> splitlines() metodu yukarıdaki karakterlere göre split olur.

In [ ]:

string = "Cat\nBat\nSat\nMat\nXat\nEat"

print (string.splitlines( )) 

print('India\nJapan\nUSA\nUK\nCanada\n'.splitlines())

['Cat', 'Bat', 'Sat', 'Mat', 'Xat', 'Eat']
['India', 'Japan', 'USA', 'UK', 'Canada']

##### **33. Method: startswith()**

> Eğer bir string bizim belirttiğimiz şekilde başlamışsa True döndürür, aksi halde false

In [ ]:
var = "Geeks for Geeks"

print(var.startswith("Geeks"))
print(var.startswith("Hello"))

True
False

In [ ]:
text = "geeks for geeks."

result = text.startswith('for geeks', 6)        # text'in 6. karakteri f'dir yani for geeks'dir.
print(result)

result = text.startswith('for', 6, 9)           # text'in 6. karakteri ile 9. karakteri arasında for vardır. (9 dahil değil)
print(result)

result = text.startswith('for', 6, 8)           # text'in 6. karakteri ile 8. karakteri arasında for yoktur fo vardır sadece. (8 dahil değil)
print(result)

True
True
False

##### **34. Method: swapcase()**

> Büyük harfleri küçük hale çevirir, küçük harfleri büyük harfe çevirir

In [ ]:
print('EMRE çakır'.swapcase())

emre ÇAKIR

##### **35. Method: title()**

> string içerisindeki tüm kelimelerin büyük harfle başlayıp küçük harfle devam etmesini sağlar

In [ ]:
print('EMRE ÇAKIR GARİP BİR ADAMDIR'.title())
print('emre çakır garip bir adamdır'.title())
print('eMre ÇAKIR gAriP bİr aDaMdIr'.title())

Emre Çakir Gari̇p Bi̇r Adamdir
Emre Çakır Garip Bir Adamdır
Emre Çakir Garip Bi̇r Adamdir

##### **36. Method: translate()**

> çok anlamadım. ASCII sayılarıyla ilgili bi şeydi. Şimdilik vakit ayırmama değeceğini düşünmediğim için geçiyorum bu metodu

##### **37. Method: upper()**

> tüm string'i büyük harfle yazdırır.

In [ ]:
print('emre çakır garip bir adamdır'.upper())
print('eMre ÇAKIR gAriP bİr aDaMdIr'.upper())

EMRE ÇAKIR GARIP BIR ADAMDIR
EMRE ÇAKIR GARIP BİR ADAMDIR

##### **38. Method: zfill()**

> stringin başına 0 ekleriz

In [ ]:
txt = 'Emre Çakır Garip Bir Adamdır'
print('txt değişkeninin karakter sayısı --> ',len(txt))
print('--#--')
print(txt.zfill(30))        # 30, 28'den iki fazla olduğu için 2 tane sıfır ekledik başına
print(txt.zfill(60))        # 30, 28'den 32 fazla olduğu için 32 tane sıfır ekledik başına
print('--#--')
number = "6041"
print(number.zfill(8)) 
print('--#--')
number = "+6041"
print(number.zfill(8))

txt değişkeninin karakter sayısı -->  28
--#--
00Emre Çakır Garip Bir Adamdır
00000000000000000000000000000000Emre Çakır Garip Bir Adamdır
--#--
00006041
--#--
+0006041

#### **▶ 2.1.2.2 Exersizler**

##### **1️⃣ Kullanıcıdan bir cümle girmesini isteyin. O cümle içerisinde hangi haflerden kaçar tane olduğunun çıktısını alın.**
        ÖR:     Örnek String : google.com'
                Beklenen Çıktı:  {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
# Benim çözümüm:

text = input('Bir cümle veya metin giriniz: ')
text_length = len(text)
print('Girilen metin:',text)
empty_list = []
empty_dict = {}
for character in text:
    char_count = text.count(character)
    if char_count >= 1 and character not in empty_list: 
        empty_list.append(character)
        empty_list.append(char_count)
empty_list_length = len(empty_list)
for i in range(0, empty_list_length, 2):
    empty_dict.update({empty_list[i]: empty_list[i+1]})
    
print(empty_dict)

Girilen metin: emre çakır
{'e': 2, 'm': 1, 'r': 2, ' ': 1, 'ç': 1, 'a': 1, 'k': 1, 'ı': 1}

In [ ]:
# w3resource çözümü:

text = input('Bir cümle veya metin giriniz: ')
print('Girilen metin:',text)
dict = {}
for n in text:
    keys = dict.keys()
    if n in keys:
        dict[n] += 1
    else:
        dict[n] = 1

print(dict)

Girilen metin: emre çakır
{'e': 2, 'm': 1, 'r': 2, ' ': 1, 'ç': 1, 'a': 1, 'k': 1, 'ı': 1}

##### **2️⃣ Girilen bir stringin ilk iki ve son iki harfinin birleştirilmesiyle elde edilen yeni bir string oluşturun. Girilen stringin karakter sayısı 2'den az ise Empty String çıktısını döndürün.**
        ÖR:     Sample String : 'w3resource'
                Expected Result : 'w3ce'
                Sample String : 'w3'
                Expected Result : 'w3w3'
                Sample String : ' w'
                Expected Result : Empty String

In [ ]:
# Benim çözümüm:

string = input('Bir kelime giriniz: ')
string_length = len(string)
left_side = string[:2]
right_side = string[-2:]
new_string = left_side + right_side
message = 'Empty String'
if string_length < 2:
    print(message)
else:
    print(new_string)

emem

In [ ]:
# w3resource çözümü:

def string_both_ends(str):
    if len(str) < 2:
        return 'empty string'       # buraya print girince olmuyor garip bi şekilde

    return str[0:2] + str[-2:]

print(string_both_ends('w3resource'))  
print(string_both_ends('w3'))         
print(string_both_ends('w'))

w3ce
w3w3
empty string

## **▶️▶️ 2.2 If Clauses**

    if konusu ile ilgili anlatılacak bi şey yok. Şarta bağlı işlemler yaparız. Aşağıdaki örnek de bir if yapsının nasıl çalışıtğını açıklıyor.

In [ ]:
doğru_sayısı = int(input("Kaç doğrun var? "))
if doğru_sayısı <= 5:
    print("Dahi misin?")
elif doğru_sayısı <= 10:
    print("şaka mısın sen?")
elif doğru_sayısı <= 15:
    print("süpersin")
else:
    print("Geçersiz bir değer girdiniz.")

süpersin

## **▶️▶️ 2.3 Range()**

    Range() fonksiyonu ile belli bir aralıkta tam sayı üretiriz

In [ ]:
print(range(4, 10))                # görüntüleyebilmek için farklı bir fonksiyona ihtiyaç vardır. (4 dahil, 10 dahil değil) (iterable'dır, elemanlarına ulaşabiliriz)

print(list(range(4, 10)))          # liste oluşturma FONKSİYONU kullanılmıştır. 

print(range(4, 10)[1])             # iterable olma özelliği'dir. list ve tuple ile çalışabilmesi bunun bir kanıtıdır. 

print(list(range(10)))             # herhangi bir başlangıç noktası vermezsek 0'dan başlar

print(list(range(1, 10, 2)))       # buradaki "2", range'in artış hızıdır.

print(list(range(-5, 10, 2)))

print(list(range(5, 10, -1)))             # 5'den başalyıp -1 adım ile 10'a gidemeyiz. boş liste döndürür

range(4, 10)
[4, 5, 6, 7, 8, 9]
5
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[-5, -3, -1, 1, 3, 5, 7, 9]
[]

In [ ]:
# Soru: 1 - 50 arasındaki çift sayıları yazdıralım:
print(list(range(2, 51, 2)))

# Soru: 1 - 50 arasındaki tek sayıları yazdıralım:
print(list(range(1, 50, 2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

## **▶️▶️ 2.4 Lists**

    İçerisinde her türden veriyi saklayabilen bir Collective Type'dır. 
    
    mutable (elemanları değiştirilebilir)

    iterable (elemanlarına index yoluyla ulaşılabilir ve silicing yapılabilir)

### **▶️ 2.4.1 Konu Anlatımı**

In [ ]:
# 1. list oluşturma yöntemi: (Önerilir, daha yoğun tercih edilir)

liste_1 = [1, 2, 3.154, "Mustafa", False]
print("1. liste -->", liste_1)

# 2. list oluştumra yöntemi:

liste_2 = list("Techpro")                   # bu yöntemle liste oluşturmak için iterable bir şey yazmak gerekir.
print("2. liste -->", liste_2)

# liste eleman sayısını bulma, len() foknsiyonu kullanarak:

print("liste_1'ın eleman sayısı -->", len(liste_1))             # len() fonksiyonu iterable olan her türün eleman sayısını hesaplar, stringlerde olduğu gibi listelerde de vardır. Mesela integar'larda eror verir.
print("liste_2'ın eleman sayısı -->", len(liste_2))

1. liste --> [1, 2, 3.154, 'Mustafa', False]
2. liste --> ['T', 'e', 'c', 'h', 'p', 'r', 'o']
liste_1'ın eleman sayısı --> 5
liste_2'ın eleman sayısı --> 7

In [ ]:
# boş liste oluşturma:

boş_liste_1 = []
print("1. yöntem ile oluşturulan boş list -->", boş_liste_1)

boş_liste_2 = list()
print("2. yöntem ile oluşturulan boş list -->", boş_liste_2)

1. yöntem ile oluşturulan boş list --> []
2. yöntem ile oluşturulan boş list --> []

In [ ]:
# slicing:

ortaya_karışık = [3, 4.4, "Orkun", False, [1, 2, 3, 4, 5]]

print("ortaya_karışık listesinin 1. indexi --> ", ortaya_karışık[1])
print("\n💥 Yani, listeler de stringler gibi iterable olduğu için indexlerini kullanarak elemanlarına ulaşabiliyoruz basitçe")
ortaya_karışık[1:4]             # 1. index dahil 4. index dahil değil...

ortaya_karışık listesinin 1. indexi -->  4.4

💥 Yani, listeler de stringler gibi iterable olduğu için indexlerini kullanarak elemanlarına ulaşabiliyoruz basitçe

[4.4, 'Orkun', False]

In [ ]:
# mutable özelliği:

potpori = ["Seyda", 3.14, True, 7, [1, 2, 3, 4, 5, 6]]
print("Eleman değişmeden önce potpori isimli liste   -->",potpori)
potpori[0] = "Betül"              
print("Eleman değiştikten sonra potpori isimli liste -->",potpori)

Eleman değişmeden önce potpori isimli liste   --> ['Seyda', 3.14, True, 7, [1, 2, 3, 4, 5, 6]]
Eleman değiştikten sonra potpori isimli liste --> ['Betül', 3.14, True, 7, [1, 2, 3, 4, 5, 6]]

    🏹 append() methodu --> listenin sonuna eleman ekler

In [ ]:
sayılar_1 = [1, 2, 3, 4, 5]
sayılar_1.append(6)
sayılar_1.append(7)         # append() yalnızca 1 adet eleamn eklenebiliyor. o yüzden 7'yi ayrı bi satırda ekledim.
sayılar_1

[1, 2, 3, 4, 5, 6, 7]

    🏹 insert() methodu --> listeye eleman ekler ama kaçıncı indekse eklemek istersek oraya ekler. eğer string eklemeye kalkarsak string'in her bir item'ını ayrı ayrı ekler

In [ ]:
sayılar_2 = [11, 12, 13, 14, 15]
print("Eleman eklenmeden önce sayılar_2 isimli liste     -->", sayılar_2)

sayılar_2.insert(1, 20)         # 1. indexe 20 sayısını ekler
print("Eleman eklendikten sonra sayılar_2 isimli liste   -->", sayılar_2)

sayılar_2.insert(-1, 16)        # -1. indexe 16 sayısını ekler
print("Eleman eklendikten sonra sayılar_2 isimli liste   -->", sayılar_2)

sayılar_2.insert(199, 17)       # 199 elemandan daha az eleman olduğu için en sona ekler
print("Eleman eklendikten sonra sayılar_2 isimli liste   -->", sayılar_2)

Eleman eklenmeden önce sayılar_2 isimli liste     --> [11, 12, 13, 14, 15]
Eleman eklendikten sonra sayılar_2 isimli liste   --> [11, 20, 12, 13, 14, 15]
Eleman eklendikten sonra sayılar_2 isimli liste   --> [11, 20, 12, 13, 14, 16, 15]
Eleman eklendikten sonra sayılar_2 isimli liste   --> [11, 20, 12, 13, 14, 16, 15, 17]

    🏹 extend() methodu --> append'e benzer. append sadece 1 eleman eklerken extend ile birden fazla eleman ekleyebiliyoruz

In [ ]:
liste_2 = [1, 2, 3]
liste_2.extend([4, 5])                  # 4 ve 5 sayıları listeye eklendi
print(liste_2)

liste_2.extend("Techpro")                   # her bir elemanı tek tek ekler
print(liste_2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'T', 'e', 'c', 'h', 'p', 'r', 'o']

    🏹 not: Listelerde replace() metodu yok.

    🏹 remove() methodu --> listeden item sileriz: Eğer silmek istediğimiz eleman listede yoksa hata verir. Bir şey yazmazsak hata verir.

In [ ]:
sayılar_3 = [1, 2, 3, 2, 5, 3, 4, 2, 6, 4, 5]
sayılar_3.remove(2)     # listede gördüğü ilk 2'yi siler
print(sayılar_3)

isimler_1 = ["Fulya", "Serhat", "Aslan"]
isimler_1.remove("Serhat")
print(isimler_1)

[1, 3, 2, 5, 3, 4, 2, 6, 4, 5]
['Fulya', 'Aslan']

    🏹 pop() methodu --> index'ine göre elemanı silebiliyoruz. bir şey yazmazsak son elemanı siler. boş listede kullanırsak hata alırız.

In [ ]:
sayılar_1 = [1, 2, 3, 4, 5]
print("listenin eski hali -->",sayılar_1)
print("pop() metodu ile silinen eleman -->",sayılar_1.pop())             # listenin son elemanını siler ve sildiği item'ı bize bildirir.
print("listenin son hali  -->",sayılar_1)

listenin eski hali --> [1, 2, 3, 4, 5]
pop() metodu ile silinen eleman --> 5
listenin son hali  --> [1, 2, 3, 4]

In [ ]:
print("pop() metodu kullanılarak 2. indexteki silinen eleman: ", sayılar_1.pop(2))        # listenin 2. itemini siler, yani indexi 6 olan item siler.
print("pop() metodu kullanılarak 0. indexteki silinen eleman: ", isimler_1.pop(0))        # sildiği elemanı çıktı olarak yazdırır

pop() metodu kullanılarak 2. indexteki silinen eleman:  4
pop() metodu kullanılarak 0. indexteki silinen eleman:  Aslan

    🏹 count() methodu --> liste içerisinde bir item'dan kaç tane olduğunu gösterir
    
    Çok Önemli: matematiksel olarak olarak birbirine eşit ifadeler varsa hepsini aynı eleman sayar. Ör: False'ın matematiksel karşılığı SIFIR'dır. 0.00'ın da matematik karşılığı SIFIR'dır. O halde 2 adet SIFIR saymış olur. Aynı şey bir de True (1, 1.0 vs) için geçerlidir. Başka bi örneği yok zaten.

In [ ]:
sayılar_5 = [1, 2, 3, 2, 4, 3, 5, 1, 2, 4]
print(sayılar_5.count(3))                              # listede kaç tane 3 varsa onu sayar ve çıktısını bize verir:

karışık = [1, 0.0, False, 2, True, 1, 1.0, 0]
print(karışık.count(0))                               # karışık listesindeki sıfırlar: karışık[1], karışık[2], karışık[-1]. Yani 0.0 veya False'u da sıfır olarak alır.

print(karışık.count(False))

2
3
3

    🏹 clear() methodu --> listeleri temizler ve boş listeye çevirir

In [ ]:
sayılar_2 = [10, 11, 20, 20, 12, 13, 14, 16, 15, 17, 17]
sayılar_2.clear()                   # sayılar_2 listesini boş liste haline getirdik. clear kullanarak başka hiçbir şey yapamayız.
sayılar_2

[]

    🏹 del fonksiyonu --> listeleri tamamen hafızadan siler

In [ ]:
del sayılar_2                   # bu komudu çalıştırdıktan sonra sayılar_2 listesi tamamen silindi.

    🏹 sort() methodu --> listeleri büyükten küçüğe doğru sıralar. bunu kullanırken listenin içerisindeki item'ların benzer type'ta olduğuna dikkat et. mesela int ile float benzer tiptedir ama string değildir. [sort(reverse=True) büyükten küçüğe sıralar]

In [ ]:
sayılar_6 = [4, 8.3, 3, 5.5, 15, 26.0, 41, 12]
sayılar_6.sort()                            # bunu kullandıktan sonra artık liste yenilenir
print(sayılar_6)
sayılar_6.sort(reverse=True)                # büyükten küçüğe doğru sıralama. Reverse'un default hali False'tur. Onu True'ya çeviririz.
print(sayılar_6)

[3, 4, 5.5, 8.3, 12, 15, 26.0, 41]
[41, 26.0, 15, 12, 8.3, 5.5, 4, 3]

In [ ]:
isimler_2 = ["Murat", "ayşe", "seyda", "mehmet"]                # stringleri ASCII tabosundaki değerlerine göre sıralanır [M < a < m < s]
isimler_2.sort()
print(isimler_2)
isimler_2.sort(reverse=True)                                # büyükten küçüğe doğru sıralar.
print(isimler_2)
# ord() fonksiyonu ile bir harfin ASCII değerini öğreniriz.

print(ord("M"))
print(ord("a"))
print(ord("s"))
print(ord("m"))

['Murat', 'ayşe', 'mehmet', 'seyda']
['seyda', 'mehmet', 'ayşe', 'Murat']
77
97
115
109

    🏹 append() methodu --> listenin sonuna eleman ekler
    
    🏹 insert() methodu --> listeye eleman ekler ama kaçıncı indekse eklemek istersek oraya ekler. eğer string eklemeye kalkarsak string'in her bir item'ını ayrı ayrı ekler

    🏹 extend() methodu --> append'e benzer. append sadece 1 eleman eklerken extend ile birden fazla eleman ekleyebiliyoruz

    🏹 not: Listelerde replace() metodu yok.

    🏹 remove() methodu --> listeden item sileriz: Eğer silmek istediğimiz eleman listede yoksa hata verir. Bir şey yazmazsak hata verir.

    🏹 pop() methodu --> index'ine göre elemanı silebiliyoruz. bir şey yazmazsak son elemanı siler. boş listede kullanırsak hata alırız.

    🏹 count() methodu --> liste içerisinde bir item'dan kaç tane olduğunu gösterir

    🏹 clear() methodu --> listeleri temizler ve boş listeye çevirir

    🏹 sort() methodu --> listenin elemanlarını küçükten büyüğe doğru sıralar.
    
    🏹 sort(reverse=True) --> listenin elemanlarını büyükten küçüğe doğru sıralar

In [ ]:
print([1, 2, 3] + [3, 5])              # listelerde toplama

print([1, 2, 3] * 3)                    # listelerde çarpma

[1, 2, 3, 3, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

## **▶️▶️ 2.5 Tuples**

    Tuple'lar da Listeler gibi Collection Type'lardan bir tanesidir. İçerisinde her telden veri olabiliyor listelerdeki gibi.

    immutable (elemanları değiştirilemez)

    iterable (elemanlarına index yoluyla ulaşılabilir ve silicing yapılabilir)

### **▶️ 2.5.1 Konu Anlatımı**

In [ ]:
# tuple oluşturma, 1. yöntem:
tuple_1 = tuple("Techpro")
print("1. yöntem ile oluşturulan tuple -->", tuple_1)

# 2. yöntem:
tuple_2 = ("Techpro",)      # viegüle dikkat
print("2. yöntem ile oluşturulan tuple -->", tuple_2)

# 3. yöntem:
tuple_3 = 3, 14         # tercih edilmez
print("3. yöntem ile oluşturulan tuple -->", tuple_3)

1. yöntem ile oluşturulan tuple --> ('T', 'e', 'c', 'h', 'p', 'r', 'o')
2. yöntem ile oluşturulan tuple --> ('Techpro',)
3. yöntem ile oluşturulan tuple --> (3, 14)

In [ ]:
print(tuple([1, 2, 3, 4, 5]))      # listler iterable olduğu için, bir liste tuple'a dönüşebiliyor

name = "Başak"
tuple(name)

(1, 2, 3, 4, 5)

('B', 'a', 'ş', 'a', 'k')

In [ ]:
tuple([1, 2, 3, 4, 5], [6, 4])        # tuple() fonksiyonu içerisinde en fazla 1 tane eleman olmalı. hata verir

tuple(123)                            # integar object iterable olmadığı için hata verir

TypeError: tuple expected at most 1 argument, got 2

In [ ]:
print((1, 2, 3) + (3, 5))               # tuple'larda toplam

print((1, 2, 3) * 3)                    # tuple'larda çarpma

("Techpro", 3, False) + ("Sedat",)      # Sedat'tan sonra virgül eklemeseydik hata verirdi!!!!!

tuple_2[0] = "Meltem"                   # tuple'ın herhangi bir elemanı değiştirlemez. Sadece tuple komple değiştirlebilir. (immutble özelliği)

del tuple_2[3]                          # tuple'ların içerisinden bir şey silemiyoruz (immutable)

(1, 2, 3, 3, 5)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

('Techpro', 3, False, 'Sedat')

    Indexing & Slicing

In [ ]:
tuple_2 = ("Aslan", 4, True, ["Tulay", 5, 6], ("Zeynep", 2, 3.14))
print(tuple_2[3])
print(tuple_2[3][0])
print(tuple_2[4][2])
print(tuple_2[1:4])
print(tuple_2[3:0:-1])

['Tulay', 5, 6]
Tulay
3.14
(4, True, ['Tulay', 5, 6])
(['Tulay', 5, 6], True, 4)

In [ ]:
tuple_2[3]                     # bir liste çağırdık
print(tuple_2[3].append(7))    # artık bir liste metodu kullanabiliriz. istisnadır çünkü sadece list'ler mutable'dır.
print(tuple_2)                 # burada tuple değişmedi, tuple içerisinde bir liste değişti o kadar.

None
('Aslan', 4, True, ['Tulay', 5, 6, 7], ('Zeynep', 2, 3.14))

    Tuple metodları  : sadece 2 adet metod vardır

    ⏳ count() metodu : bir item'dan tuple içerisinde kaç tane olduğunu sayar

In [ ]:
tuple_3 = (1, 2, 5, 2, 1, 3, 4, 1, 2, 3, 2)

print(tuple_3.count(2))            # 4 adet 2 var tuple_3 içerisinde
tuple_3.count("a")          # 0 adet "a" var tuple_3 içerisinde, yani yok

4

0

    ⏳ index() metodu : bir item'in tuple içerisinde kaçıncı index'te olduğunu gösterir

In [ ]:
print(tuple_3.index(5))        # 5 item'ı tuple_3 içerisinde 2. indexte yer alıyor.

tuple_3.index(2)               # ilk gördüğü elemanın indexini verir.

2

1

## **▶️▶️ 2.6 Dictionaries**

    collection type'ların bir üyesidir, list ve tuple tarzında.

    ancak burada item'ları ikili gruplar halinde saklıyoruz -->      
    
            {key1:value1, key2:value2, key3:value3}  
    
    tarzındadır. her bir key&value çifti 1 adet elemanı oluşturmaktadır.

    > mutable (değiştirilebilir) - değiştirilebilirdir, listeler gibi

    > iterable'dır --> item'larına tek tek ulaşılabilir

### **▶️ 2.6.1 Konu Anlatımı**

#### **▶ 2.6.1.1 Dictionary Oluşturma**

In [ ]:
# 1. dictionary oluşturma şekli:
a = {}
# .2 dictionary oluşturma şekli:
b = dict()      # bu fonksiyon biraz daha özeldir ve spesifik noktalarda kullanılır

print(a)
print(b)

{}
{}

In [1]:
# 1. dictionary oluşturma şekli:
dict_1 = {'key1':'valu2', 'key2':'value2'}              # iki elemanlıdır
print("dict_1 isimli dictionary             :",dict_1)
print("dict_1 dictionary'nin eleman sayıısı :",len(dict_1))

dict_1 isimli dictionary             : {'key1': 'valu2', 'key2': 'value2'}
dict_1 dictionary'nin eleman sayıısı : 2

In [ ]:
# aşağıdaki gibi input ile de değer girebiliyoruz

dict_3 = {'name': input('İsminizi giriniz: ')}

dict_3

#### **▶ 2.6.1.2 Dictionary Methods**

    📣 items() methodu --> dictionary'nin elemanlarını yazdırır. her elemanı farklı tuple içerisine koyarak bir liste halinde sunar. Yani, her bir tuple içerisinde iki çift eleman olacak şekilde bir çıktı alırız; bu iki elemandan birincisi dictionary'nin key'idir, diğeri ise value'sidir.

In [6]:
list(dict_1.items())          # liste içerisindeki tuple'lara key:value çiftlerini yazdırır,

('key1', 'valu2')

    📣 keys() methodu --> dictionary'nin key'lerini çağırır

In [ ]:
dict_1.keys()           # dictionary içerisindeki key'ler

dict_keys(['key1', 'key2'])

    📣 values() methodu --> dictionary'nin value'lerini çağırır

In [ ]:
dict_1.values()        # dictionary içerisindeki value'ler

In [ ]:
dict_2 = {'name': 'ömer', 'age': 30, 'job': 'Data scientist'}

print("Dictionary içerisindeki key'ler   :",dict_2.keys())           # bu şekilde bu dict'te ne tür bilgiler olduğunu görebiliyoruz 

print("Dictionary içerisindeki value'lar :",dict_2.values())         # eğer key'leri biliyorsak, yanıtlarla ilgileniyor olabiliriz doğrudan

Dictionary içerisindeki key'ler   : dict_keys(['name', 'age', 'job'])
Dictionary içerisindeki value'lar : dict_values(['ömer', 30, 'Data scientist'])

In [ ]:
dict_2[0]               # dict'ler iterable'dır ancak bizim bildiğimiz yöntemlerle ulaşılamzlar. Bunun yerine key'leri kullanılır o yüzden slicing'de yok

KeyError: 0

    📣 update() methodu --> dict'lere yeni key:value ekler yani yeni eleman ekler. Bunu yaparken bir dict formatında yazılır

In [2]:
dict_friend = {
    'friend_1': 'Erkin',
    'friend_2': 'Ozan',
    'friend_3': 'İrem',
    'friend_4': 'Osman',
    'friend_5': 'Hacer'
}

dict_friend.update({'friend_6': 'Ceren', 'friend_7': 'betül'})

         # direkt değişken olarak da kullanabiliriz, bb zaten bir dictionary

dict_friend

{'friend_1': 'Erkin',
 'friend_2': 'Ozan',
 'friend_3': 'İrem',
 'friend_4': 'Osman',
 'friend_5': 'Hacer',
 'friend_6': 'Ceren',
 'friend_7': 'betül'}

    📣 clear() methodu --> dictionary'nin içini boşaltır, boş dictionary elde ederiz

In [ ]:
dict_friend.clear()
dict_friend

{}

    📣 pop() methodu --> dictionary'den eleman siler. <key kullanarak eleman sileriz>. pop'u boş bırakırsak hata verir

In [ ]:
dict_11 = {
    'öğrenci1': ('orkun', 32, 'data_science'),
    True: 1, 
    3.14: 'pi_number'
}

print(dict_11.pop(3.14))               # sildiğimiz elemanın value'su çıktı olarak gelir karşımız
print(dict_11)

pi_number
{'öğrenci1': ('orkun', 32, 'data_science'), True: 1}

#### **▶ 2.6.1.3 Boş Dictionary Oluşturma**

In [ ]:
empty_dict = {}                
print(empty_dict)

#### **▶ 2.6.1.4 Keys**

    KEYS >> key'ler string olmak zorunda değil

In [ ]:
# dict'lerde bir değere ulaşmak için index değil key değerleri kullanılır

print("'name' key'ine karşılık gelen value ➡", dict_2['name'])
print("'age' key'ine karşılık gelen value  ➡", dict_2['age'])
print("'job' key'ine karşılık gelen value  ➡", dict_2['job'])

In [ ]:
dict_4 = {0: 'zero', 1: 'one', 2: 'two'}

print(dict_4)

print(dict_4[0])               # burada çağırılan şey index değil key'dir. dict_4'ün 0 olan key'i olmasaydı hata verecekti

print(dict_4.keys())
print(dict_4.values())

{0: 'zero', 1: 'one', 2: 'two'}
zero
dict_keys([0, 1, 2])
dict_values(['zero', 'one', 'two'])

In [ ]:
dict_5 = {False: 0, True: 1}            # boolean'lar key olabiliyorlar
print(dict_5)

dict_6 = {3.14: 'pi_number'}            # float'lar da key olabiliyor
print(dict_6)

dict_8 = {(1, 2, 3): 'sayılar_listesi'} # tuple'lar key olabilir    
print(dict_8)

{False: 0, True: 1}
{3.14: 'pi_number'}
{(1, 2, 3): 'sayılar_listesi'}

    📒 Not: Dict'lerin key kısmına liste koyamayız sadece. ama tuple'ları koyabiliyoruz

In [ ]:
dict_7 = {[1, 2, 3]: 'sayılar_listesi'} # listeler key olamaz, çünkü değiştirilebilirler

TypeError: unhashable type: 'list'

#### **▶ 2.6.1.5 Values**

    📒 Not: listeler ve tuple'ların her ikisi de value olarak kullanılabilir. liste kullanırsak değişiklik yapabiliriz sonradan, tuple kullanırsak değişiklik yapılamaz

In [ ]:
dict_9 = {'öğrenci1': ['orkun', 32, 'data_science'], 'öğrenci2': ['bilkay', 25, 'python_developer']}        
print("güncellemeden önceki hali -->",dict_9)
print(dict_9.keys())
print(dict_9['öğrenci2'])                          # çıktıyı liste olarak aldık. artık liste'ye göre işlemler yapabiliriz. eğer tuple olsaydı değişiklik yapamazdık
dict_9['öğrenci2'][1] = 36                  # 2. öğrencinin yaşını 36 olarak değiştirdik, eskiden 25ti
print("güncellemeden sonraki hali -->",dict_9)

güncellemeden önceki hali --> {'öğrenci1': ['orkun', 32, 'data_science'], 'öğrenci2': ['bilkay', 25, 'python_developer']}
dict_keys(['öğrenci1', 'öğrenci2'])
['bilkay', 25, 'python_developer']
güncellemeden sonraki hali --> {'öğrenci1': ['orkun', 32, 'data_science'], 'öğrenci2': ['bilkay', 36, 'python_developer']}

#### **▶ 2.6.1.6 dict() Fonksiyonu**

In [ ]:
# dict() fonksiyonu ile aşağıdaki gibi dict'ler oluşturabiliriz

dict_10 = dict(one = 1, two = 2, three = 3)
print(dict_10)

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
# çok önemli bir detay:
# bu yöntemle dictionary oluştururken normal bir variable atıyormuşuz gibi düşünmeliyiz. Yani key değerimiz asla bir rakam ve özel karakter olmamalı:

dict(0 = "zero", 1 = "one")         # bu şekilde de yapılamıyor. değişken tanımlıyormuş gibi düşünmek lazım. değişken tanımlarken değişkenin sayı olması nası mümkün değilse burada da izin vermez

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3425412105.py, line 4)

#### **▶ 2.6.1.7 (List + Tuple) dan Dictionary Elde Etme**

In [7]:
liste_1 = [('name', 'sedat'), ('name2', 'murat'), ('name3', 'ebru')]        # bu tür ikili tuple'ları listeye çevirebiliriz. 
print(">> bu bir list'dir       :",liste_1)
print(">> bu bir dictioanry'dir :",dict(liste_1))               # bu tür bir yöntemde kullanılabilir. onun dışında çok mantıklı olmayabilir

>> bu bir list'dir       : [('name', 'sedat'), ('name2', 'murat'), ('name3', 'ebru')]
>> bu bir dictioanry'dir : {'name': 'sedat', 'name2': 'murat', 'name3': 'ebru'}

#### **▶ 2.6.1.8 Dictionary'den Liste Elde Etme**

In [ ]:
# aşağıdaki yöntem ile dictionary'nin key'lerinden oluşan bir list elde edebiliyoruz:

print(list(dict_9))

# ancak aşağıdaki gibi yaparsak doğrudan dictionary'yi list'e çevirebiliriz:

print(list(dict_9.items()))

['öğrenci1', 'öğrenci2']
[('öğrenci1', ['orkun', 32, 'data_science']), ('öğrenci2', ['bilkay', 36, 'python_developer'])]

    📒 Not: dictionary ile yapamayacağımız şeyleri listelere çevirip o şekilde de yapabiliriz:

In [ ]:
liste_2 = list(dict_9.items())
print(liste_2[0])              # normalde dict'in sıfırıncı elemanı olamazken listeye çevirip indexleme ve slicing gibi şeyler yapabiliriz.
print(liste_2[0:2])            # bir dict ile slicing işlemi yapılamazken onu list'e çevirerek slicing yapabiliyoruz

('öğrenci1', ['orkun', 32, 'data_science'])
[('öğrenci1', ['orkun', 32, 'data_science']), ('öğrenci2', ['bilkay', 36, 'python_developer'])]

In [ ]:
dict_friend = {'friend_1': 'Erkin', 'friend_2': 'Ozan', 'friend_3': 'İrem'}
len(dict_friend)                # kaç elemanı var-yani kaç tane key:value çifti var öğrenebiliriz

3

#### **▶ 2.6.1.9 Yeni Eleman Ekleme ve Value Değiştirme**

In [ ]:
# olmayan bir key'a bir value atayabiliyoruz (mutable özelliği):

dict_friend['friend_4'] = "Osman"           # artık dict_friend'e yeni bir key:value eklemiş olduk
print(dict_friend)

# ayrıca bir key'e ait value'yu da değiştirebiliyoruz:

dict_friend['friend_2'] = 'Osman'           
print(dict_friend)

# del fonksiyonu ile silmeler yapılabiliyor:

del dict_friend['friend_4']
print(dict_friend)

{'friend_1': 'Erkin', 'friend_2': 'Osman', 'friend_3': 'İrem', 'friend_4': 'Osman'}
{'friend_1': 'Erkin', 'friend_2': 'Osman', 'friend_3': 'İrem', 'friend_4': 'Osman'}
{'friend_1': 'Erkin', 'friend_2': 'Osman', 'friend_3': 'İrem'}

#### **▶ 2.6.1.10 Soru**

> SORU: AŞAĞIDAKİ LİSTELERE 1'DEN ONA KADAR OLAN SAYILARI EKLEYİNİZ

    sayılar = {'tek_sayılar': [], 'çift_sayılar': []}

In [ ]:
# 1. yöntem:
sayılar = {'tek_sayılar': [], 'çift_sayılar': []}

sayılar['tek_sayılar'] = [1, 3, 5, 7, 9]
sayılar['çift_sayılar'] = [2, 4, 6, 8, 10]

print(sayılar)

# 2. yöntem:
sayılar = {'tek_sayılar': [], 'çift_sayılar': []}

sayılar['tek_sayılar'].append(1)
sayılar['tek_sayılar'].append(3)
sayılar['tek_sayılar'].append(5)
sayılar['tek_sayılar'].append(7)
sayılar['tek_sayılar'].append(9)
sayılar['çift_sayılar'].append(2)
sayılar['çift_sayılar'].append(4)
sayılar['çift_sayılar'].append(6)
sayılar['çift_sayılar'].append(8)
sayılar['çift_sayılar'].append(10)

print(sayılar)

# 3. yöntem: BENİM FAVORİM
sayılar = {'tek_sayılar': [], 'çift_sayılar': []}

sayılar['tek_sayılar'].extend(range(1, 10, 2))
sayılar['çift_sayılar'].extend(range(2, 11, 2))

print(sayılar)

{'tek_sayılar': [1, 3, 5, 7, 9], 'çift_sayılar': [2, 4, 6, 8, 10]}
{'tek_sayılar': [1, 3, 5, 7, 9], 'çift_sayılar': [2, 4, 6, 8, 10]}
{'tek_sayılar': [1, 3, 5, 7, 9], 'çift_sayılar': [2, 4, 6, 8, 10]}

#### **▶ 2.6.1.11 Nested Dictionaries**

> iç içe yerleştirilmiş olan dictionarie'lerdir nested dictionarie'ler

In [ ]:
myfamily = {"child_1" : {"name" : "Emily", "year": 2004},           # dict içinde dict kullanılmıştır
            "child_2" : {"name" : "Tobias", "year": 2007},
            "child_3" : {"name" : "Linus", "year": 2011}}

myfamily

{'child_1': {'name': 'Emily', 'year': 2004},
 'child_2': {'name': 'Tobias', 'year': 2007},
 'child_3': {'name': 'Linus', 'year': 2011}}

In [ ]:
myfamily.keys()     # 3 ayrı key var

dict_keys(['child_1', 'child_2', 'child_3'])

In [ ]:
myfamily.values()   # 3 ayrı key'e ait 3 ayrı value dictionary olarak bulunmaktadır.

dict_values([{'name': 'Emily', 'year': 2004}, {'name': 'Tobias', 'year': 2007}, {'name': 'Linus', 'year': 2011}])

In [ ]:
myfamily['child_1']['name']

'Emily'

In [ ]:
myfamily = {"child_1" : {"name" : ("Emily", "Rose"), "year": 2004},           
            "child_2" : {"name" : "Tobias", "year": 2007},
            "child_3" : {"name" : "Linus", "year": 2011}}

# Emily'e ulaşalım

myfamily['child_1']['name'][0]

'Emily'

## **▶️▶️ 2.7 Sets**

    Collection type'lardan bir tanesidir.

    diğer collection type'lardan ayrılan özelliği bütün elemanlarının unique yani benzersiz 
    
    olmasıdır. yani aynı elemandan birden fazla bulunamaz

    >> 🚦ÖNEMLİ🚦 set'lerin içerisinde list, dictionary ve set(küme) olamaz ama tuple olabilir <<

    mutable'dır (farklı şekilde uygulaması var)

    iterable'dır (farklı şekilde uygulaması var)

    iki şekilde oluşturulu: 1) set() 2) {} 

    >> unordered yapıdadır yani sıralamasız <<

    kümelerde bir sıralama söz konusu değildir. o yüzden de bildiğimiz yöntemlerle indexleme yapılamaz

### **▶️ 2.7.1 Konu Anlatımı**

#### **▶ 2.7.1.1 Set Oluşturma**

In [ ]:
print(set('hello'))        # fazlalıkları siler mesela iki tane "l" vardır ama bir tane "l" çıktısı elde edilir.
print(set('Techpro'))      # burada olduğu gibiiçerisinde en fazla 1 adet iterable eleman olmalıdır daha fazla olamaz
print({'blues', 'green', 'yellow', 'blue', 'black', 'green'})      # tekrar eden elemanları atar
print({'mikail', 25, True, 3.14, (4, 5, 6)})   # içerisinde tuple var ama list, dict ve set koyarsak hata verir

{'e', 'o', 'l', 'h'}
{'e', 'o', 'T', 'h', 'c', 'p', 'r'}
{'yellow', 'black', 'blues', 'green', 'blue'}
{True, 3.14, (4, 5, 6), 25, 'mikail'}

#### **▶ 2.7.1.2 Boş Set Oluşturma**

In [ ]:
# boş küme oluşturmanın tek bir yöntemi vardır:

empty_set = set()               # boş set oluşutrmanın başka hiçbir yöntemi yoktur
print('Boş küme --> ',empty_set)            

emty_dict = {}                  # bu şekilde oluşturulan boş set, dict olarak algılanır set olarak değil
print('Boş dictionary -->', emty_dict)

Boş küme -->  set()
Boş dictionary --> {}

#### **▶ 2.7.1.3 Neden Set Kullanırız?**

In [ ]:
# 1 numaralı kırtasiyeden gelen eksik malzeme bilgileri:
liste_1 = ['kalem', 'silgi', 'kağıt', 'kalem_ucu']

# 2 numaralı kırtasiyeden gelen eksik malzeme bilgileri:
liste_2 = ['silgi', 'defter', 'kağıt']

# toplamda ihtiyaç duyulan malzemeler:

print(liste_1 + liste_2)        # bu şekilde yazdıırnca birden fazla aynı malzeme yazdırılır ör: silgi

print(set(liste_1 + liste_2))   # ancak bu şekilde set yapıp yazdırınca tüm malzemeler unique hale gelir

['kalem', 'silgi', 'kağıt', 'kalem_ucu', 'silgi', 'defter', 'kağıt']
{'silgi', 'kalem', 'defter', 'kalem_ucu', 'kağıt'}

#### **▶ 2.7.1.4 True ve False İstisnası**

In [ ]:
set_1 = {True, 2, 1.00, 5, 0.0, 1.0}       # True ve 1 arasından sadece ilk sırada yazılanı yazdırır. Aynı şekilde False ve 0.0 için de geçerli. 
print("True'un matematiksel karşılığı 1'dir -->",set_1)   

set_2 = {False, 0.0, 1, 5, 3.5}            # yazdığımız sıralama o yüzden önemli olabilmektedir
print("False'un matematiksel karşılığı 0'dır -->",set_2)

True'un matematiksel karşılığı 1'dir --> {0.0, True, 2, 5}
False'un matematiksel karşılığı 0'dır --> {False, 1, 3.5, 5}

#### **▶ 2.7.1.5 List ve For ile Çalışması**

In [ ]:
# list() ile çalışır --> iterable olduğunun kanıtı 

list(set_2)     # artık böyle bir listede item'lara da ulaşabiliyoruz

[False, 1, 3.5, 5]

In [ ]:
# for dönügüsü ile de çalışabiliyor ayrıca. -->  iterable olduğunun kanıtı 

for i in set_2:
    print(i)

False
1
3.5
5

#### **▶ 2.7.1.6 Methods**

    union (birleşim), 
    intersection (kesişim), 
    difference (fark) 
    --> bunlar matematikteki kümelerde de olan işlemlerdir

In [ ]:
a = set('suzan')
b = set('yavuz')

print('set a: ',  a, '\nset b: ', b)

set a:  {'u', 'n', 's', 'z', 'a'}
set b:  {'u', 'a', 'z', 'y', 'v'}

    ☀️ union(): iki set'in birleşimi

In [ ]:
a.union(b)      # a birleşim b

# OR (farketmez ikisi de olur):

b.union(a)      # b birleşim a

# union() methodunun kısa yolu --> | 

print(a | b)    # bu şekilde union() metodu kullanılabilmektedir
print(b | a)

{'u', 'n', 's', 'a', 'z', 'y', 'v'}
{'u', 'n', 's', 'a', 'z', 'y', 'v'}

    ☀️ intersection(): iki set'in kesişimi

In [ ]:
# intersection(), yani kesişim:

a.intersection(b)   # a kesişim b demektir (diğerinin aynısı)
b.intersection(a)   # b kesişim a demektir (diğerinin aynısı)

# intersection() methodunun kısa yolu --> &

print(a & b)        # bu şekilde intersection() metodu kullanılabilmektedir
print(b & a)

{'a', 'z', 'u'}
{'z', 'u', 'a'}

    ☀️ difference(): iki set'in farkı, birinde olan ama diğerinde olmayanlar

In [ ]:
# difference(), yani fark:

print("a fark b: ",a.difference(b))     # a fark b, yani a'da olup b'de olmayan demektir (diğeriyla aynı değildir),

print("b fark a: ",b.difference(a))     # b fark a, yani b'de olup a'da olmayan demektir (diğeriyla aynı değildir)

# difference() methodunun kısa yolu --> -

print("a fark b: ",a - b)                       # a.difference(b) demektir
print("b fark a: ",b - a)                       # b.difference(a) demektir

a fark b:  {'n', 's'}
b fark a:  {'y', 'v'}
a fark b:  {'n', 's'}
b fark a:  {'y', 'v'}

In [ ]:
set_3 = set('fıstık')
set_4 = set('fındık')

print('set_3 --> ',set_3)
print('set_4 --> ',set_4)

print('union() yani birleşimleri       --> ', set_3 | set_4)
print('intersection() yani kesişimleri --> ', set_3 & set_4)
print('set_3 fark set_4                --> ', set_3 - set_4)
print('set_4 fark set_3                --> ', set_4 - set_3)

set_3 -->  {'k', 's', 'ı', 't', 'f'}
set_4 -->  {'k', 'n', 'ı', 'd', 'f'}
union() yani birleşimleri       -->  {'k', 'n', 's', 'ı', 'd', 't', 'f'}
intersection() yani kesişimleri -->  {'k', 'ı', 'f'}
set_3 fark set_4                -->  {'t', 's'}
set_4 fark set_3                -->  {'n', 'd'}

    ☀️ symmetric_difference(): birinci sette olan ama ikinci sette olmayan ve aynı şekilde ikinci setten olan ama birinci sette olmayan elemanların birleşimidir

In [ ]:
# soru: set_3 ve set_4 içerisinde yer alan itemlerin tek bir yerde yer almasını istiyor hoca:

my_set_1 = set_3 - set_4
my_set_2 = set_4 - set_3
my_set_final = my_set_1 | my_set_2

print('Birinci yöntem ile çözüm       -->', my_set_final)

# or:

my_set_union = set_3 | set_4
my_set_intersection = set_3 & set_4
my_set_final2 = my_set_union - my_set_intersection

print('İkinci yöntem ile çözüm       -->', my_set_final2)

# symmetric_difference() yani bir önceki hücrede yaptığımız olay, iki küme arasındakji farkların toplamıdır:

print('symmetric_difference methodu  -->',set_3.symmetric_difference(set_4))

# symmetric_difference() methodunun kısa yolu --> ^

print('symmetric_difference methodu  -->',set_3 ^ set_4)               # bu şekilde symmetric_difference() metodu kullanılabilmektedir

Birinci yöntem ile çözüm       --> {'t', 's', 'n', 'd'}
İkinci yöntem ile çözüm       --> {'t', 'n', 's', 'd'}
symmetric_difference methodu  --> {'n', 's', 'd', 't'}
symmetric_difference methodu  --> {'n', 's', 'd', 't'}

In [ ]:
# hocanın istediği örneği direkt işlemsel olarak yazarsak:

(set_3 | set_4) - (set_3 & set_4)       # önce birleşimlerini aldık, sonra kesişimlerini alıp aradaki farkı bulduk

(set_3 - set_4) | (set_4 - set_3)       # önce farkları bulduk sonra bu farkları birleştirdik

{'d', 'n', 's', 't'}

    ☀️ clear(): set'i komple temizler boş set elde ederiz

In [ ]:
set_3.clear()
set_3

set()

    ☀️ remove(): belirlediğimiz elemanı siler

In [ ]:
print('remove() öncesi a kümesi   -->', a)
a.remove('s')                               # eğer içerisinde olmayan bir eleman olsaydı error verirdi
print('remove() sonrası a kümesi -->', a)

remove() öncei a kümesi   --> {'u', 'n', 's', 'z', 'a'}
remove() sonrası a kümesi --> {'u', 'n', 'z', 'a'}

    ☀️ pop(): rastgele eleman siler

In [ ]:
print('pop() öncei b kümesi   -->', b)
b.pop()
print('pop() sonrası b kümesi -->', a)

pop() öncei b kümesi   --> {'u', 'a', 'z', 'y', 'v'}
pop() sonrası b kümesi --> {'u', 'n', 'z', 'a'}

    ☀️ add(): belirlediğimiz tek bir elemanı ekler

In [ ]:
print(set_3)            # boş kümeydi
set_3.add('a')
print(set_3)

set()
{'a'}

    ☀️ update(): iterable olan bir eleman ekler. Her bir karakterini ayrı bir eleman olarak ekler

In [ ]:
set_3.update('techpro')
set_3

{'a', 'c', 'e', 'h', 'o', 'p', 'r', 't'}

    ☀️ issubset(): bir kümenin başka bir kümenin alt kümesi olup olmadığını sorgularız

In [ ]:
set_5 = set('selin')
set_6 = set('enes')

print(set_5)
print(set_6)

# set_6'da bulunan tüm item'lar set_5'de yer almaktadır. Yani set_6 kümesi set_5 kümesinin bir subset'i dir.

print(set_5.issubset(set_6))       # set_5 kümesi set_6 kümesinin bir alt kümesi midir? diye sorgular -Hayır
print(set_6.issubset(set_5))       # set_6 kümesi set_5 kümesinin bir alt kümesi midir? diye sorgular -Evet

{'e', 'n', 'l', 's', 'i'}
{'e', 'n', 's'}
False
True

In [ ]:
# iki aynı küme birbirinin alt kümseisidr:

set_7 = set('sine')
set_8 = set('enis')


set_7.issubset(set_8)

True

# **🌟 3. Bölüm: Pandas Kütüphanesi**

## **▶️▶️ 3.1 Pandas Kütüphanesini Import Etme**

    Pandas kütüphanesini "pd" olarak import ederiz. Bundan sonra kodlarımız pandas değil pd kısaltması

In [72]:
import pandas as pd

## **▶️▶️ 3.2 Max Column and Max Row Belirleme**

    Tablolarla çalışırken her run dediğimizde tablonun tüm satır veya tüm sütunlarını görmek istemeyebiliriz. Bu gibi durumlar için aşağıdaki uygulamayı yapabiliriz.

    Çalışacağımız tabloları import etmeden önceden bu ayarı yapmakta fayda var.

In [2]:
# aşağıdaki örneklerde 85 yerine kaç yazarsak o kadar column veya row getirilir ekrana. Hangisini kullancağımız opsiyonel olduğu hiç kullanmayabiliriz de.

pd.set_option('display.max_columns',5) 
pd.set_option('display.max_rows', 10)

## **▶️▶️ 3.3 Hazır Tablo Çekme veya Tablo Oluşturma**

### **▶️ 3.3.1 Hazır Tablo Çekme**

    CSV - Comma Seperetad Values 

    Şimdilik sadece CSV dosyaları üzerinde çalıştım. CSV dosyalarını "read_csv" metodu ile okuruz.

    okuduğumuz her tablo için Python bir index kolonu ayarlar standart olarak. Ama bazen okuyacağımız tabloda daha uygun bir index kolonumuz olur. Bu gibi durumlarda "index_col" kullanarak kolonumuzu index olarak belirleriz.

In [3]:
df_survey = pd.read_csv('SOURCES/survey_results_public.csv', index_col = 'Respondent')
df_schema = pd.read_csv('SOURCES/survey_results_schema.csv', index_col = 'Column')

### **▶️ 3.3.2 Kendi Tablomuzu Oluşturma**

    Örneğin elimizde "people" isimli bir dictionary olsun. Bu dictionary'i "DataFrame" metodunu kullanarak tablo'ya çevirebilirz.

In [73]:
people = {
    "first": ["Emre", "İrem", "Süheyla"],
    "last": ["Çakır", "Çukurlu", "Çukurlu"],
    "email": ["emrecakir@gmail.com", "iremcukurlu@email.com", "suheylacukurlu@email.com"]
}

In [75]:
df_people = pd.DataFrame(people)

## **▶️▶️ 3.4 Tablo Gösterimi**

    Bu bölümde çalışmamın ileriki safhalarında kullanmak üzere oluşturmuş olduğumuz üç farklı tablonun gösterimi yer alacak:

In [6]:
#1. Tablo: 

df_survey           # Bu tabloda stack owerflow sitesinde yapılan bir survey'in sonuçları yer almaktadır.

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88377,NaN,Yes,...,Appropriate in length,Easy
88601,NaN,No,...,NaN,NaN
88802,NaN,No,...,NaN,NaN
88816,NaN,No,...,NaN,NaN
88863,NaN,Yes,...,Appropriate in length,Easy

In [7]:
#2. Tablo:

df_schema           # "df_survey" isimli tablo'da kullanılan column isimlerinin açıklamaları yer almaktadır.

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [8]:
#3. Tablo:

df_people           # Bizim oluşturduğumuz 3 farklı kişiye ait isim soyisim ve email adreslerinin yazılı olduğu bir tablo.

     first     last                     email
0     Emre    Çakır       emrecakir@gmail.com
1     İrem  Çukurlu     iremcukurlu@email.com
2  Süheyla  Çukurlu  suheylacukurlu@email.com

## **▶️▶️ 3.5 Column Yazdırma**

    Genel olarak iki şekilde tablonun elemanlarına ulaşırız:

    1. Yöntem: df["Kolon Başlığı"]  : TERCİH EDİLİR. 

    2. Yöntem: df.KolonBaşlığı      : İki sebepten dolayı tercih edilmez. Kolon başlıkları metod ismi ile çakışabilir. Ve kolon başlıklarında boşluk olabilir.

In [9]:
df_people["last"]           # tablomuzun "last" isimli column'una ulaştık ve o kolondaki tüm row'ların çıktısını aldık.

0      Çakır
1    Çukurlu
2    Çukurlu
Name: last, dtype: object

In [10]:
df_survey["MainBranch"]     # tablomuzun "MainBranch" isimli column'una ulaştık ve o kolondaki tüm row'ların çıktısını aldık.

Respondent
1                   I am a student who is learning to code
2                   I am a student who is learning to code
3        I am not primarily a developer, but I write co...
4                           I am a developer by profession
5                           I am a developer by profession
                               ...
88377                                                  NaN
88601                                                  NaN
88802                                                  NaN
88816                                                  NaN
88863                                                  NaN
Name: MainBranch, Length: 88883, dtype: object

In [11]:
df_schema["QuestionText"]    # tablomuzun "QuestionText" isimli column'una ulaştık ve o kolondaki tüm row'ların çıktısını aldık.

Column
Respondent      Randomized respondent ID number (not in order ...
MainBranch      Which of the following options best describes ...
Hobbyist                                  Do you code as a hobby?
OpenSourcer           How often do you contribute to open source?
OpenSource      How do you feel about the quality of open sour...
                                      ...
Sexuality       Which of the following do you currently identi...
Ethnicity       Which of the following do you identify as? Ple...
Dependents      Do you have any dependents (e.g., children, el...
SurveyLength    How do you feel about the length of the survey...
SurveyEase      How easy or difficult was this survey to compl...
Name: QuestionText, Length: 85, dtype: object

## **▶️▶️ 3.6 info() & shape & head() & columns Metodlar**

### **🗣️ info()**

    Bu metodu bir tablonın kaç tane column'u var veya kaç tane row (etries olarak geçiyor)'u var onu öğrenebiliyoruz. Ayrıca her bir column'a ait hangi data type kullanılmış ve kaç adet row (entries) var onları da görebiliyoruz.

In [12]:
df_people.info()         # 3 entries: 3 adet row (satır) | 3 columns: 3 adet column (eğer varsa, index column'u hariç)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   first   3 non-null      object
 1   last    3 non-null      object
 2   email   3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [13]:
df_survey.info()        # 85 entries: 85 adet row (satır) | 1 columns: 1 adet column (eğer varsa, index column'u hariç)

<class 'pandas.core.frame.DataFrame'>
Index: 88883 entries, 1 to 88863
Data columns (total 84 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MainBranch              88331 non-null  object
 1   Hobbyist                88883 non-null  object
 2   OpenSourcer             88883 non-null  object
 3   OpenSource              86842 non-null  object
 4   Employment              87181 non-null  object
 5   Country                 88751 non-null  object
 6   Student                 87014 non-null  object
 7   EdLevel                 86390 non-null  object
 8   UndergradMajor          75614 non-null  object
 9   EduOther                84260 non-null  object
 10  OrgSize                 71791 non-null  object
 11  DevType                 81335 non-null  object
 12  YearsCode               87938 non-null  object
 13  Age1stCode              87634 non-null  object
 14  YearsCodePro            74331 non-null  object
 15  CareerSat               72847 non-null  object
 16  JobSat                  70988 non-null  object
 17  MgrIdiot                61159 non-null  object
 18  MgrMoney                61157 non-null  object
 19  MgrWant                 61232 non-null  object
 20  JobSeek                 80555 non-null  object
 21  LastHireDate            79854 non-null  object
 22  LastInt                 67155 non-null  object
 23  FizzBuzz                71344 non-null  object
 24  JobFactors              79371 non-null  object
 25  ResumeUpdate            77877 non-null  object
 26  CurrencySymbol          71392 non-null  object
 27  CurrencyDesc            71392 non-null  object
 28  CompTotal               55945 non-null  float64
 29  CompFreq                63268 non-null  object
 30  ConvertedComp           55823 non-null  float64
 31  WorkWeekHrs             64503 non-null  float64
 32  WorkPlan                68914 non-null  object
 33  WorkChallenge           68141 non-null  object
 34  WorkRemote              70284 non-null  object
 35  WorkLoc                 70055 non-null  object
 36  ImpSyn                  71779 non-null  object
 37  CodeRev                 70390 non-null  object
 38  CodeRevHrs              49790 non-null  float64
 39  UnitTests               62668 non-null  object
 40  PurchaseHow             61108 non-null  object
 41  PurchaseWhat            62029 non-null  object
 42  LanguageWorkedWith      87569 non-null  object
 43  LanguageDesireNextYear  84088 non-null  object
 44  DatabaseWorkedWith      76026 non-null  object
 45  DatabaseDesireNextYear  69147 non-null  object
 46  PlatformWorkedWith      80714 non-null  object
 47  PlatformDesireNextYear  77443 non-null  object
 48  WebFrameWorkedWith      65022 non-null  object
 49  WebFrameDesireNextYear  62944 non-null  object
 50  MiscTechWorkedWith      59586 non-null  object
 51  MiscTechDesireNextYear  64511 non-null  object
 52  DevEnviron              87317 non-null  object
 53  OpSys                   87851 non-null  object
 54  Containers              85366 non-null  object
 55  BlockchainOrg           48175 non-null  object
 56  BlockchainIs            60165 non-null  object
 57  BetterLife              86269 non-null  object
 58  ITperson                87141 non-null  object
 59  OffOn                   86663 non-null  object
 60  SocialMedia             84437 non-null  object
 61  Extraversion            87305 non-null  object
 62  ScreenName              80486 non-null  object
 63  SOVisit1st              83877 non-null  object
 64  SOVisitFreq             88263 non-null  object
 65  SOVisitTo               88086 non-null  object
 66  SOFindAnswer            87816 non-null  object
 67  SOTimeSaved             86344 non-null  object
 68  SOHowMuchTime           68378 non-null  object
 69  SOAccount               87828 non-null  object
 70  SOPartFreq              74692 non-null  object
 71  SOJobs                  88066 non-null  object
 72  EntTeams                87841 non-null  object
 73  SOComm                  88131 non-null  object
 74  WelcomeChange           85855 non-null  object
 75  SONewContent            69560 non-null  object
 76  Age                     79210 non-null  float64
 77  Gender                  85406 non-null  object
 78  Trans                   83607 non-null  object
 79  Sexuality               76147 non-null  object
 80  Ethnicity               76668 non-null  object
 81  Dependents              83059 non-null  object
 82  SurveyLength            86984 non-null  object
 83  SurveyEase              87081 non-null  object
dtypes: float64(5), object(79)
memory usage: 57.6+ MB

In [14]:
df_schema.info()        # 88.883 entries: 88.883 adet row (satır) | 84 columns: 84 adet column (eğer varsa, index column'u hariç)

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, Respondent to SurveyEase
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   QuestionText  85 non-null     object
dtypes: object(1)
memory usage: 3.4+ KB

### **🗣️ shape**

    Bu metod bir data frame in yani tablonun kaç tane satırdan ve kaç tane sütundan oluştuğunu söyler:

    ÖR: (x, y) --> x : number of rows, y : number of columns

In [15]:
df_people.shape         # bu tablo 3 row ve 3 column'dan oluşmaktadır

(3, 3)

In [16]:
df_survey.shape         # bu tablo 88.883 row ve 84 column'dan oluşmaktadır

(88883, 84)

In [17]:
df_schema.shape         # bu tablo 85 row ve 1 column'dan oluşmaktadır

(85, 1)

### **🗣️ columns**

    Bir tabloya ait column başlıklarını bir liste halinde bize sunar

In [18]:
df_people.columns

Index(['first', 'last', 'email'], dtype='object')

In [19]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [20]:
df_schema.columns

Index(['QuestionText'], dtype='object')

### **🗣️ head()**

    Tablolarımız görselleştirirkne kaç tane row gözükmesini isitoyrsak onu head() komutunun içine yazarak belirleyebiliriz.

In [21]:
df_people.head(2)           # bu kod, tablomuzun 2 satırının gözükmesini sağlar

  first     last                  email
0  Emre    Çakır    emrecakir@gmail.com
1  İrem  Çukurlu  iremcukurlu@email.com

In [22]:
df_survey.head(5)           # bu kod, tablomuzun 5 satırının gözükmesini sağlar

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy

In [23]:
df_schema.head(3)           # bu kod, tablomuzun 3 satırının gözükmesini sağlar

                                                 QuestionText
Column
Respondent  Randomized respondent ID number (not in order ...
MainBranch  Which of the following options best describes ...
Hobbyist                              Do you code as a hobby?

## **▶️▶️ 3.7 iloc() ve loc() Metodlar**

    loc() ve iloc() metodlarını kullanarak tabloların row'larına ulaşım sağlıyoruz. Örneğin şehirlerin hava durumlarının olduğu bir tabloda 4. row'daki yani satırdaki Manisa'nın cumartesi günü kaç derece olduğunu öğrenebiliriz.

### **🗣️ iloc() - _integer location_**

    Yukarıda bahsedilen tanımı uygularken yalnızca integer kullanılan yöntemdir. Yani location kullanarak bir row'a ulaşacaksan bu row'un kaçıncı indekste olduğunu bilmemiz gerekiyor.

In [24]:
print(df_people)

     first     last                     email
0     Emre    Çakır       emrecakir@gmail.com
1     İrem  Çukurlu     iremcukurlu@email.com
2  Süheyla  Çukurlu  suheylacukurlu@email.com

In [25]:
df_survey.head(3)

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult

In [26]:
df_schema.head(3)

                                                 QuestionText
Column
Respondent  Randomized respondent ID number (not in order ...
MainBranch  Which of the following options best describes ...
Hobbyist                              Do you code as a hobby?

In [27]:
# Örneğin aşağıda people isimli tablonun sıfırıncı indexinde yer alan İrem Çukurlu'ya ait tüm bilgiler verilmiştir.

df_people.iloc[1]

first                     İrem
last                   Çukurlu
email    iremcukurlu@email.com
Name: 1, dtype: object

In [28]:
# Örneğin aşağıda survey isimli tabloda yer alan 3. satırdaki kişinin ankette verdiği tüm cevapları yer almaktadır.

df_survey.iloc[3]

MainBranch                         I am a developer by profession
Hobbyist                                                       No
OpenSourcer                                                 Never
OpenSource      The quality of OSS and closed source software ...
Employment                                     Employed full-time
                                      ...
Sexuality                                 Straight / Heterosexual
Ethnicity                            White or of European descent
Dependents                                                     No
SurveyLength                                Appropriate in length
SurveyEase                                                   Easy
Name: 4, Length: 84, dtype: object

In [29]:
# Örneğin schema isimli tabloda 1. indexte yer alan "MainBranch" yer almaktadır.

df_schema.iloc[1]

QuestionText    Which of the following options best describes ...
Name: MainBranch, dtype: object

    🔔 iloc() kullanırken integer kullanmak zorunda olduğumuz söyledik. İloc çağırarak elde eltteğimiz veri zerinden başka bilgilere de ulaşmak mümkün elbette. Örneğin son örnekte df_schema'ya ait olan QuestionText karşısında ne yazdığını tam göremiyoruz yerin dar olması sebebiyle. Fakat onu şu şekilde görüntülemek mümkün:

In [30]:
df_schema.iloc[1]["QuestionText"]

'Which of the following options best describes you today? Here, by "developer" we mean "someone who writes code."'

    🔔 Burada da survey tablosunda 3. kişiye ait cevaplardan "SurveyLength" isimli bilgiyi yazdıralım:

In [31]:
df_survey.iloc[3]["SurveyLength"]

'Appropriate in length'

    🔔 Ya da people tablosunda 1. satırda yer yalan İrem Çukurlu'nun sadece "email" adresini ekrana getirebiliriz:

In [32]:
df_people.iloc[1]["email"]

'iremcukurlu@email.com'

    🔔🔔 Ayrıca iloc() kullanırken illa tek bir row yani tek bir satır hakkında bilgi yazdırmak zorunda değiliz. Aynı anda birden fazla row yazdırmak mümkün. Ayrıca slicing de yapılabilir.

    Mesela aşağıda survey tablosunda yer alan 3 ve 4. rowları yazdırdık (indexler sıfırdan başlarken "Respondent" isimli column'da 1'den başlıyor. Onu karıştırmamak lazım. iloc() kullanırken index'lere göre hareket edilir)

    Ayrıca dikkat edilmesi gereken ikinci nokta, birden fazla değer girebilmek için parantez içerisinde bir köşeli parantez daha açmaya ihtiyaç duyarız.

In [33]:
df_survey.iloc[[3, 4]]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy

In [34]:
# aşağıda aynı anda 3 eleman görüntüledik:

df_survey.iloc[[3, 4, 7]]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
8,I code primarily as a hobby,Yes,...,Appropriate in length,Neither easy nor difficult

In [35]:
# aşağıda ise slicing metodunu kullanarak 3 ile 7 arasındaki tüm row'ları yazdırabilriiz:

df_survey.iloc[3:7]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
6,"I am not primarily a developer, but I write co...",Yes,...,Too long,Neither easy nor difficult
7,I am a developer by profession,No,...,Appropriate in length,Neither easy nor difficult

In [36]:
df_survey.iloc[1:1000]          # indexler ile "Respondent" karıştırılmasın. iloc ve loc indexleri baz alır.

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
6,"I am not primarily a developer, but I write co...",Yes,...,Too long,Neither easy nor difficult
...,...,...,...,...,...
999,I am a developer by profession,Yes,...,Appropriate in length,Easy
1000,I am a developer by profession,Yes,...,Appropriate in length,Easy
1001,I am a developer by profession,Yes,...,Appropriate in length,Easy
1002,I am a student who is learning to code,No,...,Too long,Neither easy nor difficult
1003,I code primarily as a hobby,Yes,...,Too long,Neither easy nor difficult

    🔔🔔 Ayrıca iloc() kullanarak row'ları yazdırırken işin içine column'ları da dahil edebiliriz:

    Örneğin bir önceki örnekte görültüğü gibi survey isimli tablodaki 16. indexte yer alan kişi  (Respondent: 17) MainBranch'a "I am a developer by profession" diye cevap vermiş. O cevaba basitçe ulabilmek mümkün:

In [37]:
df_survey.iloc[16, 0]

'I am a developer by profession'

In [38]:
df_people

     first     last                     email
0     Emre    Çakır       emrecakir@gmail.com
1     İrem  Çukurlu     iremcukurlu@email.com
2  Süheyla  Çukurlu  suheylacukurlu@email.com

In [39]:
df_people.iloc[2]

first                     Süheyla
last                      Çukurlu
email    suheylacukurlu@email.com
Name: 2, dtype: object

In [40]:
# aşağıdaki people tablosunda 2. row'da yer alan süheylanın gmail adresini bulabildik iloc kullanarak.

df_people.iloc[2, 2]

'suheylacukurlu@email.com'

In [41]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [42]:
df_survey.iloc[1:100, 11]   # 1'den yüzde kadar olan row'ların 11. column'a verdikleri cevapları yazdırdık

Respondent
2      Developer, desktop or enterprise applications;...
3      Designer;Developer, back-end;Developer, front-...
4                                  Developer, full-stack
5      Academic researcher;Developer, desktop or ente...
6      Data or business analyst;Data scientist or mac...
                             ...
96     Engineer, data;Engineering manager;Marketing o...
97     Data or business analyst;Data scientist or mac...
98     Designer;Developer, back-end;Developer, front-...
99     Academic researcher;Data or business analyst;D...
100    Developer, back-end;Developer, front-end;Devel...
Name: DevType, Length: 99, dtype: object

In [43]:
df_survey.iloc[[1, 100], 11]   # Burada ise 1 ve 100. row'ların 11. column'daki karşılığını yadırdık.

Respondent
2      Developer, desktop or enterprise applications;...
101                                Developer, full-stack
Name: DevType, dtype: object

    💠 Alıştırma: yukarıda survey tablosunun tüm column başlıkları yer almaktadır. Öncelikle "Employment" column'unda hangi soruyu sorduklarını yazdır. Ardından da, 100 ile 1000 arasındaki kişilerin bu soruya ne cevap verdiklerini yazdır: 

    Not: survey'e ait tüm column'ların ne anlama geldiği schema isimli tabloda yer almaktadır.

In [44]:
print(df_schema.iloc[5])       # öncelikle bir önceki kod hücresinden Employment'in 5. column'da olduğunu saydım
print("\n📍 Yukarıdaki çıtkı tam olarak okunamadığı için aşağıya daha açık halini bırakıyorum: \n")
print(df_schema.iloc[5]["QuestionText"])
print("\n📍 Aşağıda yer alan tabloda, 100'den 1000'e kadar olan 'Employment' sorusuna verdiği yanıtları görüyoruz.\n")
print(df_survey.iloc[100:1000, 6])

QuestionText    Which of the following best describes your cur...
Name: Employment, dtype: object

📍 Yukarıdaki çıtkı tam olarak okunamadığı için aşağıya daha açık halini bırakıyorum:

Which of the following best describes your current employment status?

📍 Aşağıda yer alan tabloda, 100'den 1000'e kadar olan 'Employment' sorusuna verdiği yanıtları görüyoruz.

Respondent
101                 No
102                 No
103                 No
104     Yes, full-time
105                 No
             ...
999                 No
1000                No
1001               NaN
1002    Yes, full-time
1003    Yes, full-time
Name: Student, Length: 900, dtype: object

### **🗣️ loc() - _location_**

    iloc() ile biz integer sayıları kullanırdık, loc() ile ise doğrudan ne yazıyorsa onu kullanırız. Örneğin schema tablosunda index'ler string ike survey tablosunda indexler integer'dır. İkisi için loc() kullanırken birinde string diğerinde integer kullanacağız.

In [45]:
df_schema

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [46]:
# yukarıda görüldüğü gibi index column'unda stringler var. O yüzden string kullanacağız:

df_schema.loc["OpenSourcer"]        # yukarıdaki gibi listeyi gördükten sonra yazdırmak istediğimizi bulmak çok kolay olur.

QuestionText    How often do you contribute to open source?
Name: OpenSourcer, dtype: object

In [47]:
df_survey

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88377,NaN,Yes,...,Appropriate in length,Easy
88601,NaN,No,...,NaN,NaN
88802,NaN,No,...,NaN,NaN
88816,NaN,No,...,NaN,NaN
88863,NaN,Yes,...,Appropriate in length,Easy

In [48]:
# yukarıda görüldüğü gibi index column'unda integer'lar var. O yüzden integer kullanacağız:

df_survey.loc[3]        # yukarıdaki gibi listeyi gördükten sonra yazdırmak istediğimizi bulmak çok kolay olur.

MainBranch      I am not primarily a developer, but I write co...
Hobbyist                                                      Yes
OpenSourcer                                                 Never
OpenSource      The quality of OSS and closed source software ...
Employment                                     Employed full-time
                                      ...
Sexuality                                 Straight / Heterosexual
Ethnicity                                                     NaN
Dependents                                                    Yes
SurveyLength                                Appropriate in length
SurveyEase                             Neither easy nor difficult
Name: 3, Length: 84, dtype: object

In [49]:
df_people

     first     last                     email
0     Emre    Çakır       emrecakir@gmail.com
1     İrem  Çukurlu     iremcukurlu@email.com
2  Süheyla  Çukurlu  suheylacukurlu@email.com

In [50]:
# aynı şeklde yukarıda görüldüğü gibi people tablosundaki index'lerde string:

df_people.loc[1]

first                     İrem
last                   Çukurlu
email    iremcukurlu@email.com
Name: 1, dtype: object

In [51]:
df_people.loc[1, "first"]       # 1. row'daki kişiye ait "first" colonunda ne yer alıyor?

'İrem'

In [52]:
df_people.iloc[1, 0]            # yukarıda loc metodu ile kurduğumuz yapının çok daha anlamlı olduğu net

'İrem'

In [53]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [54]:
df_survey.loc[1:100, 'WorkRemote']      # loc kullanarak anlamlı sonuçlar çıkarmak işte bu kadar kolay.

Respondent
1                                                    NaN
2                                                    NaN
3                       Less than once per month / Never
4                       Less than once per month / Never
5                                  A few days each month
                             ...
96                                                   NaN
97                                 A few days each month
98                                                   NaN
99                                                   NaN
100    All or almost all the time (I'm full-time remote)
Name: WorkRemote, Length: 100, dtype: object

    📣 Bir önceki kodu loc() yerine iloc() ile yazdırmaya kalksaydık, öncelikle 'WorkRemote' isimli kolonunun kaçıncı sırada olduğunu sayıp ondan sonra yapmamız gerekecekti.

    📣 Ayrıca loc() kullanırken de 'WorkRemote' nin karşılığı olan sayıyı yazarsak kabul olmaz. Çünkü column'lar için bir sayı yoktur ama row'lar için bir index sayıları vardır. O yüzden row'lar için integer kullanabilir ama column'lar için kullanamayız.

In [55]:
print("Aşağıdaki tablo loc[] metodu kullanılarak yazılmıştır. 1'den 100'e kadar olan row'ların 'WorkRemote' ve 'CodeRev' column'ları arasındaki yanıtları yazdırılmıştır. \n")

df_survey.loc[1:100, 'WorkRemote':'CodeRev']

Aşağıdaki tablo loc[] metodu kullanılarak yazılmıştır. 1'den 100'e kadar olan row'ların 'WorkRemote' ve 'CodeRev' column'ları arasındaki yanıtları yazdırılmıştır.

,WorkRemote,WorkLoc,ImpSyn,CodeRev
Respondent,,,,
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,Less than once per month / Never,Home,Average,No
4,Less than once per month / Never,Home,A little below average,No
5,A few days each month,Office,A little above average,"Yes, because I see value in code review"
...,...,...,...,...
96,NaN,NaN,NaN,NaN
97,A few days each month,Office,A little above average,"Yes, because I see value in code review"
98,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN
100,All or almost all the time (I'm full-time remote),Home,A little above average,"Yes, because I see value in code review"

## **▶️▶️ 3.7 set_index() Metodu**

    Bu metodu kullanarak bir tablo'nun index column'unu değiştirebiliyoruz.

    Örneğin poeple tablosunda index olarak pandas ın standart olarak uyguladığım indexler yer almaktadır. O index column'u yerine pople tablosu içeriisnde yer alan "first" column'unu index column'u olarak tayin edebilirz. Böylelikle iloc yerine loc metodunu kullanarak tabloda daha yüksek bir hakimiyet kurabiliriz.

In [56]:
# görüldüğü gibi indexler standart pandas indexi:

df_people

     first     last                     email
0     Emre    Çakır       emrecakir@gmail.com
1     İrem  Çukurlu     iremcukurlu@email.com
2  Süheyla  Çukurlu  suheylacukurlu@email.com

In [57]:
# aşağıdaki kod uygulandıktan sonra artık first column'unu biz index olarak kullanabileceğiz.

df_people.set_index('first')

            last                     email
first
Emre       Çakır       emrecakir@gmail.com
İrem     Çukurlu     iremcukurlu@email.com
Süheyla  Çukurlu  suheylacukurlu@email.com

    NOT: YUKARIDAKİ KODA BİZ set_index KULLANDIK AMA AŞAĞIDA GÖRÜLDÜĞÜ GİBİ TABLOMUZ HALA ESKİ HALİNDE. ÇÜNKÜ YUKARIDAKİ İŞLEMİ HENÜZ ATAMADIK. ATAMA YAPILDIKTAN SONRA ARTIK DEĞİŞMİŞ OLUR TABLO

In [58]:
df_people

     first     last                     email
0     Emre    Çakır       emrecakir@gmail.com
1     İrem  Çukurlu     iremcukurlu@email.com
2  Süheyla  Çukurlu  suheylacukurlu@email.com

In [59]:
df_people2 = df_people.set_index('first')
df_people2

            last                     email
first
Emre       Çakır       emrecakir@gmail.com
İrem     Çukurlu     iremcukurlu@email.com
Süheyla  Çukurlu  suheylacukurlu@email.com

    Yukarıda da görüldüğü üzere artık df_people2 yi biz loc ile kullanabilir hale getirdik.

In [60]:
df_people2.loc['Emre']

# loc[] kullanarak Emre ismine ait soyisim ve email bilgilerine pratik şekilde ulaştık

last                   Çakır
email    emrecakir@gmail.com
Name: Emre, dtype: object

> **Aşağıdaki gibi reset_index(inplace=True) kullanarak  index'i eski haline dönüştürebiliriz. Biz burada farklı bi değişkene atadığımız için anlamlı gözükmeyebilir ama eğer aynı değişkene atamış olsaydık anlamlı olurdu.**

In [61]:
df_people2.reset_index(inplace=True)
df_people2

     first     last                     email
0     Emre    Çakır       emrecakir@gmail.com
1     İrem  Çukurlu     iremcukurlu@email.com
2  Süheyla  Çukurlu  suheylacukurlu@email.com

In [62]:
df_people2 = df_people.set_index('first')
df_people2      # bu tablo bu şekilde kalsın

            last                     email
first
Emre       Çakır       emrecakir@gmail.com
İrem     Çukurlu     iremcukurlu@email.com
Süheyla  Çukurlu  suheylacukurlu@email.com

## **▶️▶️ 3.7 sort_index() Metodu**

    Bu metodu kullanarak index column'unu sıralayabiliriz, mesela alfabetik sıraya göre.

In [63]:
df_schema.sort_index()

                                                    QuestionText
Column
Age            What is your age (in years)? If you prefer not...
Age1stCode     At what age did you write your first line of c...
BetterLife     Do you think people born today will have a bet...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BlockchainOrg  How is your organization thinking about or imp...
...                                                          ...
WorkPlan                 How structured or planned is your work?
WorkRemote                       How often do you work remotely?
WorkWeekHrs     On average, how many hours per week do you work?
YearsCode      Including any education, how many years have y...
YearsCodePro   How many years have you coded professionally (...

[85 rows x 1 columns]

In [64]:
df_schema.sort_index(ascending=False)

                                                    QuestionText
Column
YearsCodePro   How many years have you coded professionally (...
YearsCode      Including any education, how many years have y...
WorkWeekHrs     On average, how many hours per week do you work?
WorkRemote                       How often do you work remotely?
WorkPlan                 How structured or planned is your work?
...                                                          ...
BlockchainOrg  How is your organization thinking about or imp...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BetterLife     Do you think people born today will have a bet...
Age1stCode     At what age did you write your first line of c...
Age            What is your age (in years)? If you prefer not...

[85 rows x 1 columns]

In [65]:
df_schema

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

> **Yukarıda görüldüğü gibi afabetik olarak hem A'dan Z'ye hem de Z'den A'ya doğru sıralamam rağmen orijinl tablo değişmedi. Çünkü Herhangi bir atama işlemi yapmadık.**

In [66]:
df_schema2 = df_schema.sort_index()
df_schema2      # bundan sonra alfabetik olarak sıralanmış bir schema tablomuz var.

                                                    QuestionText
Column
Age            What is your age (in years)? If you prefer not...
Age1stCode     At what age did you write your first line of c...
BetterLife     Do you think people born today will have a bet...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BlockchainOrg  How is your organization thinking about or imp...
...                                                          ...
WorkPlan                 How structured or planned is your work?
WorkRemote                       How often do you work remotely?
WorkWeekHrs     On average, how many hours per week do you work?
YearsCode      Including any education, how many years have y...
YearsCodePro   How many years have you coded professionally (...

[85 rows x 1 columns]

> **Ya da şöyle yapabiliriz:**

In [67]:
df_people2.sort_index(ascending=False, inplace=True)
df_people2      # ascending=False kullanarak z'den a'ya doğru sıraladık index column'unu. inpalce=True kullanarak da doğrudan atama yaptık.
# not: İ harfi ingilizcede olmadığı için o harfi birinci sıraya atadı.

            last                     email
first
İrem     Çukurlu     iremcukurlu@email.com
Süheyla  Çukurlu  suheylacukurlu@email.com
Emre       Çakır       emrecakir@gmail.com

## **▶️▶️ 3.8 Filtre Oluşturma Yöntemi**

### **▶️ 3.7.1 df_people üzerinde uygulamalar**

In [68]:
df_people

     first     last                     email
0     Emre    Çakır       emrecakir@gmail.com
1     İrem  Çukurlu     iremcukurlu@email.com
2  Süheyla  Çukurlu  suheylacukurlu@email.com

In [69]:
# aşağıda yaptığımız işlem şudur, last == 'Çukurlu' olan row'ları True, geri kalanları ise False yazdır.

filt = df_people["last"] == "Çukurlu"
filt

0    False
1     True
2     True
Name: last, dtype: bool

    Yukarıda uyguladığımız filtre işlemini "filt" değişkenine atadık. filt değişkeni bize soyisimi çukurlu olan satırların True, diğer satırların ise False olduğunu söyler. ana tabloda hiçbir değişiklik yok yani. Eğer biz bu filt değişkenini aşağıdaki gibi bir loc[] metodu içerisine yazarsak, sadece True olan satırlar yazdırılacak. Böylece column'lar üzerinden filtreleme yapıp istediğimiz row'u yazdırabiliyoruz:

In [70]:
# soyismi "Çukurlu" olan satırları yazdıran filtreleme işlemi:

df_people.loc[filt]

     first     last                     email
1     İrem  Çukurlu     iremcukurlu@email.com
2  Süheyla  Çukurlu  suheylacukurlu@email.com

In [71]:
# soyismi "Çukurlu" olan isimleri yazdıran filtreleme işlemi:

df_people.loc[filt, 'first']

1       İrem
2    Süheyla
Name: first, dtype: object

In [72]:
# ya da soyisimi "Çukurlu" olan emailleri yazdıran filtrelem işlemi:

df_people.loc[filt, 'email']

1       iremcukurlu@email.com
2    suheylacukurlu@email.com
Name: email, dtype: object

### **▶️ 3.7.2 df_survey üzerinde uygulamalar**

In [73]:
df_survey

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88377,NaN,Yes,...,Appropriate in length,Easy
88601,NaN,No,...,NaN,NaN
88802,NaN,No,...,NaN,NaN
88816,NaN,No,...,NaN,NaN
88863,NaN,Yes,...,Appropriate in length,Easy

In [74]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

    Aşağıda kullanılan value_couns() metodunu görmedik daha. Özetle, survey tablosundaki cinsiyet'e verilen cevapları detaylı olarka yazdırmıştır.

In [75]:
df_survey["Sexuality"].value_counts()

Sexuality
Straight / Heterosexual                            70155
Bisexual                                            3440
Gay or Lesbian                                      1798
Bisexual;Straight / Heterosexual                     494
Bisexual;Gay or Lesbian                              114
Bisexual;Gay or Lesbian;Straight / Heterosexual      108
Gay or Lesbian;Straight / Heterosexual                38
Name: count, dtype: int64

In [76]:
# biz aşağıya, cinsiyetini "bisexual" veya "Gay or Lesbian" olarak belirten kişilerin satırlarını yazdıralım:

filt_sex = (df_survey["Sexuality"] == "Bisexual") | (df_survey["Sexuality"] == "Gay or Lesbian")

df_survey.loc[filt_sex]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
34,I am a student who is learning to code,Yes,...,Too short,Neither easy nor difficult
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
...,...,...,...,...,...
81093,NaN,Yes,...,Appropriate in length,Easy
83397,NaN,Yes,...,Appropriate in length,Easy
83612,NaN,Yes,...,NaN,NaN
84539,NaN,Yes,...,Appropriate in length,Easy
85961,NaN,Yes,...,Appropriate in length,Difficult

    not: yukarıda görüldüğü gibi union simgesi olan | kulanılmıştır.

    union (birleşim)      :     |
    intersection (kesişim):     &
    difference (fark)     :     -

    symetricdifference     :    ^

In [77]:
# aşağıda atık bu cinsiyet filtresine ait bir değişkenimiz var. Ve bu değişken üzerinden daha pratik işlemler yapılabilir

df_survey_sex = df_survey.loc[filt_sex]
df_survey_sex

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
34,I am a student who is learning to code,Yes,...,Too short,Neither easy nor difficult
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
...,...,...,...,...,...
81093,NaN,Yes,...,Appropriate in length,Easy
83397,NaN,Yes,...,Appropriate in length,Easy
83612,NaN,Yes,...,NaN,NaN
84539,NaN,Yes,...,Appropriate in length,Easy
85961,NaN,Yes,...,Appropriate in length,Difficult

In [78]:
filt_sex_profession = df_survey_sex["MainBranch"] == "I am a developer by profession"
df_survey_SexPro = df_survey_sex.loc[filt_sex_profession]
df_survey_SexPro

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
100,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88800,I am a developer by profession,Yes,...,Too long,Neither easy nor difficult
88845,I am a developer by profession,Yes,...,Appropriate in length,Easy
88865,I am a developer by profession,No,...,Appropriate in length,Easy
88868,I am a developer by profession,Yes,...,Appropriate in length,Easy
88873,I am a developer by profession,Yes,...,Appropriate in length,Easy

    Yukarıdaki tablonun en altında 3.621 rows yazıyor. Yani bizim istediğimiz şartlara uyan 3.621 kişi varmış. Buna shape metodu ile de ulaşılabilir. Aynı şekilde ana tablomuz olan df_survey'e de ulaşılabilir. 

    aşağıda sizin için istediğimiz şartları sağlayan kişilerin, toplamda ankete katılan kişilerin yüzde kaçı olduğunu hesaplayacağım:

In [79]:
rows_sex = df_survey_sex.shape[0]
rows_filter = df_survey_SexPro.shape[0]
rows_nofilter = df_survey.shape[0]

percante = round((rows_filter / rows_nofilter), 2)

print(f"Ankete katılan {rows_sex} kişi ya 'Bisexual' ya da 'Gay or Lesbian' cinsiyetlerine sahipler. Ve bunların da {rows_filter} tanesi, 'I am a develooper by profession' demiştir.")

print(f"Ankete katılan toplam insan sayısı, {rows_nofilter} olduğunda göre: ")

print(f"Ankete katılanların yüzde {percante}'u bizim filtrelerimize uygundur.")

Ankete katılan 5238 kişi ya 'Bisexual' ya da 'Gay or Lesbian' cinsiyetlerine sahipler. Ve bunların da 3621 tanesi, 'I am a develooper by profession' demiştir.
Ankete katılan toplam insan sayısı, 88883 olduğunda göre:
Ankete katılanların yüzde 0.04'u bizim filtrelerimize uygundur.

    Şimdi de başka bir alıştırma yapalım. Biraz inceleyelim öncelikle.

In [80]:
df_schema

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [81]:
df_schema.loc['YearsCode']['QuestionText']

'Including any education, how many years have you been coding?'

    YearsCode'a 5'den fazla cevap verenlerin kaç tanesinde Bechalor's Degree veya Master's Degre yoktur?

In [82]:
df_survey['YearsCode'].value_counts()

YearsCode
5     7047
10    6777
6     6179
4     5729
8     5361
      ...
50      51
47      36
48      31
46      27
49      25
Name: count, Length: 52, dtype: int64

In [83]:
df_survey['EdLevel'].value_counts()

EdLevel
Bachelor’s degree (BA, BS, B.Eng., etc.)                                              39134
Master’s degree (MA, MS, M.Eng., MBA, etc.)                                           19569
Some college/university study without earning a degree                                10502
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     8642
Associate degree                                                                       2938
Other doctoral degree (Ph.D, Ed.D., etc.)                                              2432
Primary/elementary school                                                              1422
Professional degree (JD, MD, etc.)                                                     1198
I never completed any formal education                                                  553
Name: count, dtype: int64

In [84]:
filt_years = (df_survey['YearsCode'] > "5") & (df_survey['YearsCode'] != "Less than 1 year")    # Less than 1 year bizim düzenimizi bozan bir yanıt olduğu için çıkartıyoruz onur
filt_education = (df_survey['EdLevel'] == "Bachelor’s degree (BA, BS, B.Eng., etc.)") | (df_survey['EdLevel'] == "Master’s degree (MA, MS, M.Eng., MBA, etc.)")

df_years = df_survey.loc[filt_years]

df_final = df_years.loc[~filt_education]        # ÇOK ÖNEMLİ. YUKARIDAKİ filt_education HARİCİNDEKİLERİ SEÇTİK BURADA

ads = df_final[['EdLevel', 'YearsCode']]

ads     # istediğimiz sonucu veren tablo budur

,EdLevel,YearsCode
Respondent,,
27,Some college/university study without earning ...,7
37,Associate degree,7
42,"Secondary school (e.g. American high school, G...",8
86,Some college/university study without earning ...,6
88,"Secondary school (e.g. American high school, G...",9
...,...,...
72492,Some college/university study without earning ...,7
82789,"Secondary school (e.g. American high school, G...",9
83000,"Secondary school (e.g. American high school, G...",7
86566,Some college/university study without earning ...,More than 50 years
88863,"Professional degree (JD, MD, etc.)",8

In [85]:
df_survey

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,...,Appropriate in length,Easy
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88377,NaN,Yes,...,Appropriate in length,Easy
88601,NaN,No,...,NaN,NaN
88802,NaN,No,...,NaN,NaN
88816,NaN,No,...,NaN,NaN
88863,NaN,Yes,...,Appropriate in length,Easy

In [86]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

    Aşağıda kullanılan value_couns() metodunu görmedik daha. Özetle, survey tablosundaki cinsiyet'e verilen cevapları detaylı olarka yazdırmıştır.

In [87]:
df_survey["Sexuality"].value_counts()

Sexuality
Straight / Heterosexual                            70155
Bisexual                                            3440
Gay or Lesbian                                      1798
Bisexual;Straight / Heterosexual                     494
Bisexual;Gay or Lesbian                              114
Bisexual;Gay or Lesbian;Straight / Heterosexual      108
Gay or Lesbian;Straight / Heterosexual                38
Name: count, dtype: int64

In [88]:
# biz aşağıya, cinsiyetini "bisexual" veya "Gay or Lesbian" olarak belirten kişilerin satırlarını yazdıralım:

filt_sex = (df_survey["Sexuality"] == "Bisexual") | (df_survey["Sexuality"] == "Gay or Lesbian")

df_survey.loc[filt_sex]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
34,I am a student who is learning to code,Yes,...,Too short,Neither easy nor difficult
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
...,...,...,...,...,...
81093,NaN,Yes,...,Appropriate in length,Easy
83397,NaN,Yes,...,Appropriate in length,Easy
83612,NaN,Yes,...,NaN,NaN
84539,NaN,Yes,...,Appropriate in length,Easy
85961,NaN,Yes,...,Appropriate in length,Difficult

    not: yukarıda görüldüğü gibi union simgesi olan | kulanılmıştır.

    union (birleşim)      :     |
    intersection (kesişim):     &
    difference (fark)     :     -

    symetricdifference     :    ^

In [89]:
# aşağıda atık bu cinsiyet filtresine ait bir değişkenimiz var. Ve bu değişken üzerinden daha pratik işlemler yapılabilir

df_survey_sex = df_survey.loc[filt_sex]
df_survey_sex

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
34,I am a student who is learning to code,Yes,...,Too short,Neither easy nor difficult
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
...,...,...,...,...,...
81093,NaN,Yes,...,Appropriate in length,Easy
83397,NaN,Yes,...,Appropriate in length,Easy
83612,NaN,Yes,...,NaN,NaN
84539,NaN,Yes,...,Appropriate in length,Easy
85961,NaN,Yes,...,Appropriate in length,Difficult

In [90]:
filt_sex_profession = df_survey_sex["MainBranch"] == "I am a developer by profession"
df_survey_SexPro = df_survey_sex.loc[filt_sex_profession]
df_survey_SexPro

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
9,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
26,I am a developer by profession,Yes,...,Appropriate in length,Easy
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
60,I am a developer by profession,Yes,...,NaN,NaN
100,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
88800,I am a developer by profession,Yes,...,Too long,Neither easy nor difficult
88845,I am a developer by profession,Yes,...,Appropriate in length,Easy
88865,I am a developer by profession,No,...,Appropriate in length,Easy
88868,I am a developer by profession,Yes,...,Appropriate in length,Easy
88873,I am a developer by profession,Yes,...,Appropriate in length,Easy

    Yukarıdaki tablonun en altında 3.621 rows yazıyor. Yani bizim istediğimiz şartlara uyan 3.621 kişi varmış. Buna shape metodu ile de ulaşılabilir. Aynı şekilde ana tablomuz olan df_survey'e de ulaşılabilir. 

    aşağıda sizin için istediğimiz şartları sağlayan kişilerin, toplamda ankete katılan kişilerin yüzde kaçı olduğunu hesaplayacağım:

In [91]:
rows_sex = df_survey_sex.shape[0]
rows_filter = df_survey_SexPro.shape[0]
rows_nofilter = df_survey.shape[0]

percante = round((rows_filter / rows_nofilter), 2)

print(f"Ankete katılan {rows_sex} kişi ya 'Bisexual' ya da 'Gay or Lesbian' cinsiyetlerine sahipler. Ve bunların da {rows_filter} tanesi, 'I am a develooper by profession' demiştir.")

print(f"Ankete katılan toplam insan sayısı, {rows_nofilter} olduğunda göre: ")

print(f"Ankete katılanların yüzde {percante}'u bizim filtrelerimize uygundur.")

Ankete katılan 5238 kişi ya 'Bisexual' ya da 'Gay or Lesbian' cinsiyetlerine sahipler. Ve bunların da 3621 tanesi, 'I am a develooper by profession' demiştir.
Ankete katılan toplam insan sayısı, 88883 olduğunda göre:
Ankete katılanların yüzde 0.04'u bizim filtrelerimize uygundur.

    Şimdi de başka bir alıştırma yapalım. Biraz inceleyelim öncelikle.

In [92]:
df_schema

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [93]:
df_schema.loc['YearsCode']['QuestionText']

'Including any education, how many years have you been coding?'

    YearsCode'a 5'den fazla cevap verenlerin kaç tanesinde Bechalor's Degree veya Master's Degre yoktur?

In [94]:
df_survey['YearsCode'].value_counts()

YearsCode
5     7047
10    6777
6     6179
4     5729
8     5361
      ...
50      51
47      36
48      31
46      27
49      25
Name: count, Length: 52, dtype: int64

In [95]:
df_survey['EdLevel'].value_counts()

EdLevel
Bachelor’s degree (BA, BS, B.Eng., etc.)                                              39134
Master’s degree (MA, MS, M.Eng., MBA, etc.)                                           19569
Some college/university study without earning a degree                                10502
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     8642
Associate degree                                                                       2938
Other doctoral degree (Ph.D, Ed.D., etc.)                                              2432
Primary/elementary school                                                              1422
Professional degree (JD, MD, etc.)                                                     1198
I never completed any formal education                                                  553
Name: count, dtype: int64

In [96]:
filt_years = (df_survey['YearsCode'] > "5") & (df_survey['YearsCode'] != "Less than 1 year")    # Less than 1 year bizim düzenimizi bozan bir yanıt olduğu için çıkartıyoruz onur
filt_education = (df_survey['EdLevel'] == "Bachelor’s degree (BA, BS, B.Eng., etc.)") | (df_survey['EdLevel'] == "Master’s degree (MA, MS, M.Eng., MBA, etc.)")

df_years = df_survey.loc[filt_years]

df_final = df_years.loc[~filt_education]        # ÇOK ÖNEMLİ. YUKARIDAKİ filt_education HARİCİNDEKİLERİ SEÇTİK BURADA

ads = df_final[['EdLevel', 'YearsCode']]

ads     # istediğimiz sonucu veren tablo budur

,EdLevel,YearsCode
Respondent,,
27,Some college/university study without earning ...,7
37,Associate degree,7
42,"Secondary school (e.g. American high school, G...",8
86,Some college/university study without earning ...,6
88,"Secondary school (e.g. American high school, G...",9
...,...,...
72492,Some college/university study without earning ...,7
82789,"Secondary school (e.g. American high school, G...",9
83000,"Secondary school (e.g. American high school, G...",7
86566,Some college/university study without earning ...,More than 50 years
88863,"Professional degree (JD, MD, etc.)",8

### **▶️ 3.7.3 Farklı Metodlar**

In [97]:
df_survey.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [98]:
df_survey['Gender'].value_counts()

Gender
Man                                                            77919
Woman                                                           6344
Non-binary, genderqueer, or gender non-conforming                597
Man;Non-binary, genderqueer, or gender non-conforming            181
Woman;Non-binary, genderqueer, or gender non-conforming          163
Woman;Man                                                        132
Woman;Man;Non-binary, genderqueer, or gender non-conforming       70
Name: count, dtype: int64

In [99]:
genders = ['Man', 'Woman']
filt = df_survey['Gender'].isin(genders)

In [100]:
df_survey.loc[filt, ['Country', 'Gender']]      # aşağıda sadece Man ve Woman olan bireylerin ülkeleri yer almaktadır.

                           Country Gender
Respondent
1                   United Kingdom    Man
2           Bosnia and Herzegovina    Man
3                         Thailand    Man
4                    United States    Man
5                          Ukraine    Man
...                            ...    ...
88182                     Pakistan    Man
88212                        Spain    Man
88282                United States    Man
88377                       Canada    Man
88863                        Spain    Man

[84263 rows x 2 columns]

In [101]:
countries = ['Turkey']
filt = df_survey['Country'].isin(countries)
df_survey.loc[filt]['EdLevel'].value_counts()

EdLevel
Bachelor’s degree (BA, BS, B.Eng., etc.)                                              521
Master’s degree (MA, MS, M.Eng., MBA, etc.)                                           117
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    109
Some college/university study without earning a degree                                 83
Associate degree                                                                       47
Other doctoral degree (Ph.D, Ed.D., etc.)                                              23
Primary/elementary school                                                              16
I never completed any formal education                                                 12
Name: count, dtype: int64

In [102]:
df_survey['Country'].value_counts()

Country
United States        20949
India                 9061
Germany               5866
United Kingdom        5737
Canada                3395
                     ...
Tonga                    1
Timor-Leste              1
North Korea              1
Brunei Darussalam        1
Chad                     1
Name: count, Length: 179, dtype: int64

    ALIŞTIRMA: Ülkelerin Bachelor's Degree alan yazılımcıların tüm yazılımıclarına oranı kaçtır? Ve aynı şekilde Master's Degree için de geçerli.

In [ ]:
countries = list(set(df_survey['Country']))
countries.pop(0)
countries.sort()

for country in range(0, len(countries)):
    empty_list = []
    empty_list.append(country)
    filt = df_survey['Country'].isin(empty_list)
    filt_All = df_survey.loc[filt]['EdLevel'].shape
    filt_ = df_survey.loc[filt]['EdLevel'].value_counts()
    filt_Bachelor = filt_.loc['Bachelor’s degree (BA, BS, B.Eng., etc.)']
    filt_Bachelor_percant = int((filt_Bachelor / filt_All) * 100)
    filt_Bachelor_percant = f"{filt_Bachelor_percant}%"
    print(f"Country              : {country[0]}")
    print(f"Number of Participant: {filt_All[0]}")
    print(f"Number of Bacheler's : {filt_Bachelor}")
    print(f"Percant of Bacheler's: {filt_Bachelor_percant}")
    print("\n")

In [124]:
country = ['Turkey', "India"]
filt = df_survey['Country'].isin(country)
filt_All = df_survey.loc[filt]['EdLevel'].shape
filt_ = df_survey.loc[filt]['EdLevel'].value_counts()
filt_Bachelor = filt_.loc['Bachelor’s degree (BA, BS, B.Eng., etc.)']
filt_Bachelor_percant = int((filt_Bachelor / filt_All) * 100)
filt_Bachelor_percant = f"{filt_Bachelor_percant}%"
print(f"Country              : {country[0]}")
print(f"Number of Participant: {filt_All[0]}")
print(f"Number of Bacheler's : {filt_Bachelor}")
print(f"Percant of Bacheler's: {filt_Bachelor_percant}")

Country              : Turkey
Number of Participant: 10010
Number of Bacheler's : 6085
Percant of Bacheler's: 60%

C:\Users\monstr\AppData\Local\Temp\ipykernel_8168\2166731113.py:6: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  filt_Bachelor_percant = int((filt_Bachelor / filt_All) * 100)

In [ ]:
countries = list(set(df_survey['Country']))
countries.pop(0)
countries.sort()

for country in range(0, len(countries)):
    empty_list = []
    empty_list.append(country)
    filt = df_survey['Country'].isin(empty_list)
    filt_All = df_survey.loc[filt]['EdLevel'].shape
    filt_ = df_survey.loc[filt]['EdLevel'].value_counts()
    filt_Bachelor = filt_.loc['Bachelor’s degree (BA, BS, B.Eng., etc.)']
    filt_Bachelor_percant = int((filt_Bachelor / filt_All) * 100)
    filt_Bachelor_percant = f"{filt_Bachelor_percant}%"
    print(f"Country              : {country[0]}")
    print(f"Number of Participant: {filt_All[0]}")
    print(f"Number of Bacheler's : {filt_Bachelor}")
    print(f"Percant of Bacheler's: {filt_Bachelor_percant}")
    print("\n")

In [ ]:
country = ['Turkey', "India"]
for i in range(2):
    empty_list = []
    empty_list.append(country)
    filt = df_survey['Country'].isin(empty_list)
    filt_All = df_survey.loc[filt]['EdLevel'].shape
    filt_ = df_survey.loc[filt]['EdLevel'].value_counts()
    filt_Bachelor = filt_.loc['Bachelor’s degree (BA, BS, B.Eng., etc.)']
    filt_Bachelor_percant = int((filt_Bachelor / filt_All) * 100)
    filt_Bachelor_percant = f"{filt_Bachelor_percant}%"
    print(f"Country              : {country[0]}")
    print(f"Number of Participant: {filt_All[0]}")
    print(f"Number of Bacheler's : {filt_Bachelor}")
    print(f"Percant of Bacheler's: {filt_Bachelor_percant}")

    ALIŞTIRMA: Ülkelerin Bachelor's Degree alan yazılımcıların tüm yazılımıclarına oranı kaçtır? Ve aynı şekilde Master's Degree için de geçerli.

In [ ]:
a = df_survey['Country'].value_counts()
a       # burada tüm ülkeleri listeledik unique bir biçimde.

my_dict = dict(a)
my_dict     # burada ise bir dictionary'e çevirdik.

my_list = my_dict.keys()
my_list = list(my_list)
my_list    # burada ülkeleri liste haline getirdik iterable olması için.

for ülke in my_list:

    ülke = [ülke]        # filtrelemek istediğimiz şehri bir liste içerisine yazarız

    filt = df_survey['Country'].isin(ülke)   # yalnızca Turkey olan row'lar True hale getirildi.

    df_survey.loc[filt]         # herhangi bir column belirtmediğimiz için tüm Turkey olan row'lar yazdırıldı.

    df_survey.loc[filt]['EdLevel']      # bu şekilde türklerin eğitim durumlarının ne olduğu tablo haline getirildi

    list_EdLevel = df_survey.loc[filt]['EdLevel'].value_counts()       # bu şekilde de tüm yanıtlar unique hale getirildi

    text = "Bachelor’s degree (BA, BS, B.Eng., etc.)"

    if text in list_EdLevel:
        bachelor_sayısı = list_EdLevel.loc["Bachelor’s degree (BA, BS, B.Eng., etc.)"]

        tüm_sayı = df_survey.loc[filt]['EdLevel'].shape
        tüm_sayı = tüm_sayı[0]

        oran = round((bachelor_sayısı / tüm_sayı) * 100)


        print("🟢 Ülke Adı:", ülke[0])
        print("▶ Katılımcı Sayısı:", tüm_sayı)
        print("▶ Lisans Mezunu:", bachelor_sayısı)
        print("▶ Mezun Oranı: " + str(oran) + "%" + "\n")

## **▶️▶️ 3.9 Column İsmi Değiştirme**

In [2]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns',5) 
pd.set_option('display.max_rows', 10)

In [3]:
df_survey = pd.read_csv('SOURCES/survey_results_public.csv', index_col = 'Respondent')
df_schema = pd.read_csv('SOURCES/survey_results_schema.csv', index_col = 'Column')

In [3]:
people = {
    "first": ["Emre", "İrem", "Süheyla"],
    "last": ["Çakır", "Çukurlu", "Çukurlu"],
    "email": ["emrecakir@gmail.com", "iremcukurlu@email.com", "suheylacukurlu@email.com"]
}

In [4]:
df_people = pd.DataFrame(people)

In [5]:
df_people

     first     last                     email
0     Emre    Çakır       emrecakir@gmail.com
1     İrem  Çukurlu     iremcukurlu@email.com
2  Süheyla  Çukurlu  suheylacukurlu@email.com

    people isimli tablonun column isimlerini aşağıdaki gibi değiştirebiliriz

In [32]:
df_people.columns = ['first_name','last_name','email'] 
df_people

  first_name last_name                     email
0       Emre     Çakır       emrecakir@gmail.com
1       İrem   Çukurlu     iremcukurlu@email.com
2    Süheyla   Çukurlu  suheylacukurlu@email.com

In [33]:
df_people.columns =  [x.upper() for x in df_people.columns] # burada bütün kolon isimlerini büyük harfle yazdırdık.
df_people

  FIRST_NAME LAST_NAME                     EMAIL
0       Emre     Çakır       emrecakir@gmail.com
1       İrem   Çukurlu     iremcukurlu@email.com
2    Süheyla   Çukurlu  suheylacukurlu@email.com

In [34]:
df_people.columns =  [x.lower() for x in df_people.columns] # burada bütün kolon isimlerini küçük harfle yazdırdık.
df_people

  first_name last_name                     email
0       Emre     Çakır       emrecakir@gmail.com
1       İrem   Çukurlu     iremcukurlu@email.com
2    Süheyla   Çukurlu  suheylacukurlu@email.com

In [35]:
df_people.columns = df_people.columns.str.replace('_name' , '')  # Burada ise bir nevi first ve last yazmasını sağladık
df_people

     first     last                     email
0     Emre    Çakır       emrecakir@gmail.com
1     İrem  Çukurlu     iremcukurlu@email.com
2  Süheyla  Çukurlu  suheylacukurlu@email.com

    ÖNEMLİ: Tüm column'ları değiştirmek yerine sadece birkaç tanesini değiştirebiliyoruz:

In [36]:
df_people.columns

Index(['first', 'last', 'email'], dtype='object')

In [37]:
df = df_people.rename(columns = {'last':'last_name','first':'first_name'})
df

  first_name last_name                     email
0       Emre     Çakır       emrecakir@gmail.com
1       İrem   Çukurlu     iremcukurlu@email.com
2    Süheyla   Çukurlu  suheylacukurlu@email.com

In [41]:
# eğer df_people tablosunda değişikliğin uygulanmasını istiyorsak:

df_people.rename(columns = {'last':'last_name','first':'first_name'}, inplace=True)

In [42]:
df_people

  first_name last_name                     email
0       Emre     Çakır       emrecakir@gmail.com
1       İrem   Çukurlu     iremcukurlu@email.com
2    Süheyla   Çukurlu  suheylacukurlu@email.com

## **▶️▶️ 3.10 Verileri Değiştirme**

In [5]:
df_people

     first     last                     email
0     Emre    Çakır       emrecakir@gmail.com
1     İrem  Çukurlu     iremcukurlu@email.com
2  Süheyla  Çukurlu  suheylacukurlu@email.com

In [6]:
df_people.loc[1] = ['İrem Süheyla', 'Çukurlu', 'iremScukurlu@email.com']
df_people.loc[2] = ['Ceren İlayda', 'Çukurlu', 'cerenIcukurlu@email.com']

    İŞTE BU KADAR KOLAY

In [7]:
df_people

          first     last                    email
0          Emre    Çakır      emrecakir@gmail.com
1  İrem Süheyla  Çukurlu   iremScukurlu@email.com
2  Ceren İlayda  Çukurlu  cerenIcukurlu@email.com

    ANCAK DAHA DA KOLAYI VAR:

    Eğer 3 tane değil de 100 tane column olsaydı, yukarıdaki yöntem yetersiz kalırdı çünkü bütün column'ları tek tek girmeniz gerekirdi. Ancak aşağıdaki yöntem mükemmel pratik:

In [8]:
df_people.loc[1 , ['last','email']] = ['Çakır','iremSçakır@email.com']  # işte böyle :)

In [9]:
df_people

          first     last                    email
0          Emre    Çakır      emrecakir@gmail.com
1  İrem Süheyla    Çakır     iremSçakır@email.com
2  Ceren İlayda  Çukurlu  cerenIcukurlu@email.com

In [10]:
filt = (df_people['email'] == 'iremSçakır@email.com')
df_people.loc[filt,'last'] = 'Çukurlu' 
# Burada Çakır soysimini Çukurlu ile değiştirmiş olduk.

In [11]:
df_people

          first     last                    email
0          Emre    Çakır      emrecakir@gmail.com
1  İrem Süheyla  Çukurlu     iremSçakır@email.com
2  Ceren İlayda  Çukurlu  cerenIcukurlu@email.com

In [12]:
df_people['last'].str.upper() # bütün soyisimleri büyüttük. Ama ana tabloya işlemesi içn bir sonraki hücreye bak.

0      ÇAKIR
1    ÇUKURLU
2    ÇUKURLU
Name: last, dtype: object

In [13]:
df_people['last'] = df_people['last'].str.upper()
df_people

          first     last                    email
0          Emre    ÇAKIR      emrecakir@gmail.com
1  İrem Süheyla  ÇUKURLU     iremSçakır@email.com
2  Ceren İlayda  ÇUKURLU  cerenIcukurlu@email.com

## **▶️▶️ 3.11 apply() Metodu**

In [14]:
df_people['email'].apply(len) # len() metodunu tüm 'email' column'una uyguladık ve sonucu yazdırdık

0    19
1    20
2    23
Name: email, dtype: int64

In [15]:
df_people       # bir önceki işlem ana tabloyu etkilenmez.

          first     last                    email
0          Emre    ÇAKIR      emrecakir@gmail.com
1  İrem Süheyla  ÇUKURLU     iremSçakır@email.com
2  Ceren İlayda  ÇUKURLU  cerenIcukurlu@email.com

In [16]:
df_people['email']= df_people['email'].apply(len) # bu kodu çalıştırarak ana tabloya etki etmiş olduk
df_people

          first     last  email
0          Emre    ÇAKIR     19
1  İrem Süheyla  ÇUKURLU     20
2  Ceren İlayda  ÇUKURLU     23

In [17]:
df_people.loc[0, "email"] =  "emrecakir@gmail.com"
df_people.loc[1, "email"] =  "iremSçakır@email.com"
df_people.loc[2, "email"] =  "cerenIcukurlu@email.com"

df_people

C:\Users\monstr\AppData\Local\Temp\ipykernel_17164\4251753290.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'emrecakir@gmail.com' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_people.loc[0, "email"] =  "emrecakir@gmail.com"

          first     last                    email
0          Emre    ÇAKIR      emrecakir@gmail.com
1  İrem Süheyla  ÇUKURLU     iremSçakır@email.com
2  Ceren İlayda  ÇUKURLU  cerenIcukurlu@email.com

In [18]:
def update_first(first):
    return first.upper()

df_people['first'] = df_people['first'].apply(update_first)

df_people

          first     last                    email
0          EMRE    ÇAKIR      emrecakir@gmail.com
1  İREM SÜHEYLA  ÇUKURLU     iremSçakır@email.com
2  CEREN İLAYDA  ÇUKURLU  cerenIcukurlu@email.com

In [19]:
df_people['email'] = df_people['email'].apply(update_first)
df_people

          first     last                    email
0          EMRE    ÇAKIR      EMRECAKIR@GMAIL.COM
1  İREM SÜHEYLA  ÇUKURLU     IREMSÇAKIR@EMAIL.COM
2  CEREN İLAYDA  ÇUKURLU  CERENICUKURLU@EMAIL.COM

In [20]:
df_people.loc[0] = df_people.loc[0].str.title()
df_people.loc[1] = df_people.loc[1].str.title()
df_people.loc[2] = df_people.loc[2].str.title()

df_people

          first     last                    email
0          Emre    Çakir      Emrecakir@Gmail.Com
1  İrem Süheyla  Çukurlu     Iremsçakir@Email.Com
2  Ceren İlayda  Çukurlu  Cerenicukurlu@Email.Com

In [21]:
df_people.loc[0, "email"] =  "emrecakir@gmail.com"
df_people.loc[1, "email"] =  "iremSçakır@email.com"
df_people.loc[2, "email"] =  "cerenIcukurlu@email.com"
df_people

          first     last                    email
0          Emre    Çakir      emrecakir@gmail.com
1  İrem Süheyla  Çukurlu     iremSçakır@email.com
2  Ceren İlayda  Çukurlu  cerenIcukurlu@email.com

## **▶️▶️ 3.12 map() Metodu**

In [22]:
df_people

          first     last                    email
0          Emre    Çakir      emrecakir@gmail.com
1  İrem Süheyla  Çukurlu     iremSçakır@email.com
2  Ceren İlayda  Çukurlu  cerenIcukurlu@email.com

In [23]:
df_people.map(len)

   first  last  email
0      4     5     19
1     12     7     20
2     12     7     23

In [24]:
df_people

          first     last                    email
0          Emre    Çakir      emrecakir@gmail.com
1  İrem Süheyla  Çukurlu     iremSçakır@email.com
2  Ceren İlayda  Çukurlu  cerenIcukurlu@email.com

In [25]:
df_people.map(str.upper)        # ana tabloya uygulamadık

          first     last                    email
0          EMRE    ÇAKIR      EMRECAKIR@GMAIL.COM
1  İREM SÜHEYLA  ÇUKURLU     IREMSÇAKIR@EMAIL.COM
2  CEREN İLAYDA  ÇUKURLU  CERENICUKURLU@EMAIL.COM

In [26]:
df_people['first'] = df_people['first'].map({'Emre':'Erkin','İRem Süheyla':'Ozan', 'Ceren İLayda':'Emre'})
df_people

   first     last                    email
0  Erkin    Çakir      emrecakir@gmail.com
1    NaN  Çukurlu     iremSçakır@email.com
2    NaN  Çukurlu  cerenIcukurlu@email.com

In [27]:
df_people.loc[0,'last'] = "Çakır"
df_people.loc[1,'last'] = "Çakır"
df_people.loc[2,'last'] = "Çakır"
df_people

   first   last                    email
0  Erkin  Çakır      emrecakir@gmail.com
1    NaN  Çakır     iremSçakır@email.com
2    NaN  Çakır  cerenIcukurlu@email.com

## **▶️▶️ 3.13 replace() Metodu**

In [28]:
df_people['first'] = df_people['first'].replace({'Erkin':'Emre','Ozan':'Emre'})

df_people

  first   last                    email
0  Emre  Çakır      emrecakir@gmail.com
1   NaN  Çakır     iremSçakır@email.com
2   NaN  Çakır  cerenIcukurlu@email.com

In [29]:
df_people['last'] = df_people['last'].replace({'Çakır':'ÇAKIR'})
df_people

  first   last                    email
0  Emre  ÇAKIR      emrecakir@gmail.com
1   NaN  ÇAKIR     iremSçakır@email.com
2   NaN  ÇAKIR  cerenIcukurlu@email.com

## **▶️▶️ 3.14 Column Ekleme**

In [30]:
df_people['first'] + df_people['last']

0    EmreÇAKIR
1          NaN
2          NaN
dtype: object

In [31]:
df_people['first'] + " " + df_people['last']

0    Emre ÇAKIR
1           NaN
2           NaN
dtype: object

    ÇOK ÖNEMLİ AŞAĞIDAKİ:

In [32]:
df_people['full_name'] = df_people['first'] + " " + df_people['last']
df_people

  first   last                    email   full_name
0  Emre  ÇAKIR      emrecakir@gmail.com  Emre ÇAKIR
1   NaN  ÇAKIR     iremSçakır@email.com         NaN
2   NaN  ÇAKIR  cerenIcukurlu@email.com         NaN

## **▶️▶️ 3.15 Column Silme**

In [33]:
df_people['DENEME'] = df_people['email'][0:3]
df_people

  first   last                    email   full_name                   DENEME
0  Emre  ÇAKIR      emrecakir@gmail.com  Emre ÇAKIR      emrecakir@gmail.com
1   NaN  ÇAKIR     iremSçakır@email.com         NaN     iremSçakır@email.com
2   NaN  ÇAKIR  cerenIcukurlu@email.com         NaN  cerenIcukurlu@email.com

In [34]:
df_people.drop(columns=['full_name','DENEME'], inplace=True)
df_people

  first   last                    email
0  Emre  ÇAKIR      emrecakir@gmail.com
1   NaN  ÇAKIR     iremSçakır@email.com
2   NaN  ÇAKIR  cerenIcukurlu@email.com

In [35]:
df_people['email'].str.split('@', expand=True)    # uygulanmadı ana tabloya

               0          1
0      emrecakir  gmail.com
1     iremSçakır  email.com
2  cerenIcukurlu  email.com

In [36]:
df_people

  first   last                    email
0  Emre  ÇAKIR      emrecakir@gmail.com
1   NaN  ÇAKIR     iremSçakır@email.com
2   NaN  ÇAKIR  cerenIcukurlu@email.com

In [37]:
df_people[['new', 'new2']] = df_people['email'].str.split('@', expand=True)
df_people

  first   last                    email            new       new2
0  Emre  ÇAKIR      emrecakir@gmail.com      emrecakir  gmail.com
1   NaN  ÇAKIR     iremSçakır@email.com     iremSçakır  email.com
2   NaN  ÇAKIR  cerenIcukurlu@email.com  cerenIcukurlu  email.com

In [38]:
df_people.drop(columns=['new2'], inplace=True)
df_people

  first   last                    email            new
0  Emre  ÇAKIR      emrecakir@gmail.com      emrecakir
1   NaN  ÇAKIR     iremSçakır@email.com     iremSçakır
2   NaN  ÇAKIR  cerenIcukurlu@email.com  cerenIcukurlu

## **▶️▶️ 3.16 Row Ekleme**

In [39]:
df_people = df_people._append({'first' : 'İrem'}, ignore_index=True)
df_people

  first   last                    email            new
0  Emre  ÇAKIR      emrecakir@gmail.com      emrecakir
1   NaN  ÇAKIR     iremSçakır@email.com     iremSçakır
2   NaN  ÇAKIR  cerenIcukurlu@email.com  cerenIcukurlu
3  İrem    NaN                      NaN            NaN

In [40]:
df_people.loc[3,['last', 'email', 'new']] = ['Çukurlu', 'iremnew@email.com','iremnew']
df_people

  first     last                    email            new
0  Emre    ÇAKIR      emrecakir@gmail.com      emrecakir
1   NaN    ÇAKIR     iremSçakır@email.com     iremSçakır
2   NaN    ÇAKIR  cerenIcukurlu@email.com  cerenIcukurlu
3  İrem  Çukurlu        iremnew@email.com        iremnew

## **▶️▶️ 3.17 Tabloları Birleştirme**

In [41]:
new_people = {
    "first" : ["Hacer",'Halise'],
    "last" : ["Çakır",'Çukurlu'],
    "email" : ["yok",'yok']
}    

df_new_people = pd.DataFrame(new_people)

In [42]:
df_people = df_people._append(df_new_people, ignore_index=True, sort=False) 
# Burada "sort = False" kısmı ne işe yarıyor ben de anlamadım. Yapmasak da oluyor bizde. 
df_people

    first     last                    email            new
0    Emre    ÇAKIR      emrecakir@gmail.com      emrecakir
1     NaN    ÇAKIR     iremSçakır@email.com     iremSçakır
2     NaN    ÇAKIR  cerenIcukurlu@email.com  cerenIcukurlu
3    İrem  Çukurlu        iremnew@email.com        iremnew
4   Hacer    Çakır                      yok            NaN
5  Halise  Çukurlu                      yok            NaN

## **▶️▶️ 3.18 Row Silme**

In [44]:
df_people = df_people.drop(index = 4)

df_people       # 4. index silindi

    first     last                    email            new
0    Emre    ÇAKIR      emrecakir@gmail.com      emrecakir
1     NaN    ÇAKIR     iremSçakır@email.com     iremSçakır
2     NaN    ÇAKIR  cerenIcukurlu@email.com  cerenIcukurlu
3    İrem  Çukurlu        iremnew@email.com        iremnew
5  Halise  Çukurlu                      yok            NaN

In [47]:
filt = df_people['last'] == 'Çukurlu'
df_people = df_people.drop(index = df_people[filt].index)
df_people

  first   last                    email            new
0  Emre  ÇAKIR      emrecakir@gmail.com      emrecakir
1   NaN  ÇAKIR     iremSçakır@email.com     iremSçakır
2   NaN  ÇAKIR  cerenIcukurlu@email.com  cerenIcukurlu

## **▶️▶️ 3.19 sort_values()**

In [48]:
df_people = df_people.sort_values(by = 'email', ascending = False )

df_people

  first   last                    email            new
1   NaN  ÇAKIR     iremSçakır@email.com     iremSçakır
0  Emre  ÇAKIR      emrecakir@gmail.com      emrecakir
2   NaN  ÇAKIR  cerenIcukurlu@email.com  cerenIcukurlu

In [49]:
df_people = df_people.sort_values(by = ['last' , 'first'], ascending = False )

df_people

  first   last                    email            new
0  Emre  ÇAKIR      emrecakir@gmail.com      emrecakir
1   NaN  ÇAKIR     iremSçakır@email.com     iremSçakır
2   NaN  ÇAKIR  cerenIcukurlu@email.com  cerenIcukurlu

In [50]:
df_people.sort_values(by = ['last' , 'first'], ascending = [False, True], inplace = True )
df_people

  first   last                    email            new
0  Emre  ÇAKIR      emrecakir@gmail.com      emrecakir
1   NaN  ÇAKIR     iremSçakır@email.com     iremSçakır
2   NaN  ÇAKIR  cerenIcukurlu@email.com  cerenIcukurlu

In [53]:
df_people['new'].sort_values()

2    cerenIcukurlu
0        emrecakir
1       iremSçakır
Name: new, dtype: object